<#include "_inc/_bi_layout.html"/>
<#macro script_import>
</#macro>
<#macro css_import>
</#macro>
<#macro css>
    .weui-cells {
        margin-top: 0;
        background: inherit;
        font-size: 0.6rem;
    }
    table {
        background: #fff;
        margin-bottom: 0!important;
    }
    table a {
        text-decoration: underline;
    }
    th {
        vertical-align: middle!important;
        text-align: center!important;
    }
    td {
        vertical-align: middle!important;
    }
    tr {
        line-height: 1.5rem;
        height: 1.5rem;
    }
    .wy-header {
        background: #f2f2f2;
        margin-top: 2.4rem;
    }
    #seller_rank{
        width: 100%;
        height:4rem;
    }
    #customer_rank{
        width: 100%;
        height:8rem;
    }
</#macro>
<#macro script>
    $(function() {
        dealer(provName, cityName, '', dateType);
        
        initTopHoverTree("gotop", 100, 10, 50);
        
        $('#goback').on('click', function() {
            historyUtils.back();
        });
    });
    var provName = $.cookie(Utils.provCacheName);
    var cityName = $.cookie(Utils.cityCacheName);
    var countryName = $.cookie(Utils.countryCacheName);
    var dateType = $.cookie(Utils.dateTypeCache) == null ? 0 : $.cookie(Utils.dateTypeCache);
    $("#date-div").find(".date").eq(dateType).addClass("active-date");

    var dealerCode = '';
    var dealerName = '';
    
    //做时间的切换选择
    $(".date").click(function(e) {
        var $a = $(e.currentTarget);
        $a.parent().find(".date").removeClass("active-date");
        $a.addClass("active-date");
    });
    function setDateType(type){
        $.cookie(Utils.dateTypeCache, type, { expires: 1 });
        dateType = type;
        dealer(provName, cityName, '', dateType);
    }
    
    //经销商选择
    function setDealer(Code, Name, Area){
        dealerCode = Code;
        dealerName = Name;
        dataArea = Area
        dealer_detail(provName, cityName, '', dateType, dealerCode, dealerName, dataArea);
    }
    
    //经销商
    function dealer(provName, cityName, countryName, dateType){
        Utils.loading();
        $.ajax({
            url:"${CPATH}/biSales/dealer",
            type:"post",
            data:{"provName": provName, "cityName": cityName, countryName: countryName, dateType: dateType},
            dataType:"json"
        }).done(function(data){

            var drTitle = '经销商销售排行';
            if((provName + cityName + countryName).trim() != '' ){
                drTitle = provName + cityName + countryName + drTitle;
            } else {
                drTitle = '全国' + drTitle;
            }
            var $p = $("#p_dealer_rank");
            $p.empty();
            $p.text(drTitle);

            var $tbody = $("#dealer_rank tbody");
            $tbody.empty();
            $tbody.append("<tr><th>经销商</th><th>金额(万元)</th></tr>");
            for(var i = 0; i < data.length; i++){
                var fun = "setDealer('" + data[i].dealerCode + "'" + "," + "'" + data[i].dealerName + "'," + "'" + data[i].data_area + "')";
                $tbody.append("<tr onclick=" + fun +"><td><a href=\"javascript:void();\">" + data[i].dealerName + "</a></td><td class='t-r'>" + data[i].totalAmount + "</td></tr>");
            }
            
            var dataDealerCode = (data[0] != undefined ? data[0].dealerCode : '');
            var dataDealerName = (data[0] != undefined ? data[0].dealerName : '');
            var dataDataArea = (data[0] != undefined ? data[0].data_area : '');

            //调用其他纬度
            dealer_detail(provName, cityName, '', dateType, dataDealerCode, dataDealerName, dataDataArea);
       });
    }
    
    //直营商和产品
    function dealer_detail(provName, cityName, countryName, dateType, dealerCode, dealerName, dataArea){
      Utils.loading();
      $.ajax({
            url:"${CPATH}/biSales/dealerDetail",
            type:"post",
            data:{provName: provName, cityName: cityName, countryName: countryName, dateType: dateType, dataArea: dataArea},
            dataType:"json"
        }).done(function(data){
            //直营商
            //var sellerTitle = dealerName + '销售情况';
            //var $p = $("#p_seller_rank");
            //$p.empty();
            //$p.text(sellerTitle);
            
            //seller_rank(data.sellerList);
            
            var prTitle = dealerName + '产品销售排行';
            var $p = $("#p_product_rank");
            $p.empty();
            $p.text(prTitle);
            
            //产品
            product_rank(data.productList);
       });
    }
    
    /*var sellerOption;
    function seller_rank(sellerList){
        var sellerIdData = [];
        var sellerYData = [];
        var sellerSeriesData = [];
        var seller_rank = document.getElementById('seller_rank');
        var $seller_rank = $(seller_rank);
            
        $seller_rank.height(80);
        for(var i = 0; i < sellerList.length; i++){
            var height = $seller_rank.height();
            $seller_rank.height(height += 16);
            
            sellerIdData.push(sellerList[i].dealerCode);
            sellerYData.push(sellerList[i].sellerName);
            sellerSeriesData.push(sellerList[i].totalAmount);
        }

        var sellerRankChart = echarts.init(seller_rank);
        sellerOption = {
            color: ['#4ac7f5'],
            grid: {
                   left: '2%',
                   right: '15%',
                   bottom: 15,
                   top: 15,
                   containLabel: true
            },
            calculable : true,
            xAxis : {
                show : false,
                name : '金额/万元',
                type : 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis : {
                type : 'category',
                data : sellerYData.reverse(),
                axisLabel : {
                    interval : 0,
                    fontSize : 8
                }
            },
            series : {
                type:'bar',
                barWidth:15,
                data:sellerSeriesData.reverse(),
                label:{
                    normal:{
                           show:true,
                           position:'right',
                           formatter: '{c}万元'
                    }
                },
                sellerIdData : sellerIdData.reverse()
            }
        };
        sellerRankChart.resize();
        sellerRankChart.setOption(sellerOption,true);
        sellerRankChart.on('click',sellerClick);
    }
    function sellerClick(param) {
        if (typeof param.seriesIndex != 'undefined') {
            var sellerName = param.name;
            var sellerId = sellerOption.series.sellerIdData[param.dataIndex];
            seller_product(provName, cityName, '', dateType, sellerName, sellerId);
        }
    }*/
    
    //产品
    function product_rank(productList){
        Utils.close();

        var $tbody = $("#product_rank tbody");
        $tbody.empty();
        $tbody.append("<tr><th>产品</th><th>数量(件)</th><th>金额(万元)</th></tr>");
        for(var i = 0; i < productList.length; i++){
            $tbody.append("<tr><td>" + productList[i].cInvName + "</td><td class='t-r'>" + productList[i].totalNum + "</td><td class='t-r'>" + productList[i].totalAmount + "</td></tr>");
        }

        var $tr = $("#product_rank tbody tr:gt(5)");
        if($tr.length > 0){
            $tr.hide();
            $(".trOpen").show();
            $(".trClose").hide();
            $("#product_rank tfoot").show();
        }else {
            $("#product_rank tfoot").hide();
        }
      
    }
    
    //直营商产品
    /*function seller_product(provName, cityName, countryName, dateType, sellerName, sellerId){
      Utils.loading();
      $.ajax({
            url:"${CPATH}/biSales/productBySeller",
            type:"post",
            data:{provName: provName, cityName: cityName, countryName: countryName, dateType: dateType, sellerId: sellerId},
            dataType:"json"
        }).done(function(data){

            var prTitle = sellerName + '产品销售排行';
            var $p = $("#p_product_rank");
            $p.empty();
            $p.text(prTitle);
            
            //产品
            product_rank(data);
       });
    }*/

</#macro>
<@layout>
<section>
    <div class="bi-body">
        <#include "_inc/_bi_search_box.html"/>
        <header class="wy-header">
            <div id="goback" class="wy-header-icon-back"><span></span></div>
            <div id="p_dealer_rank" class="wy-header-title"></div>
        </header>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell" style="padding: 0">
                <table class="table table-striped table-bordered" id="dealer_rank">
                    <tbody>
                        <tr>
                            <th>
                                经销商
                            </th>
                            <th>
                                金额(万元)
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
<!--        <p class="title" id="p_seller_rank"></p>
        <div id="seller_rank">
        </div>-->
        <p class="title" id="p_product_rank"></p>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell" style="padding: 0">
                <table class="table table-striped table-bordered" id="product_rank">
                    <tbody>
                        <tr>
                            <th>
                                经销商
                            </th>
                            <th>
                                数量(件)
                            </th>
                            <th>
                                金额(万元)
                            </th>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="3">
                          <span class="fr txt-color-red trOpen"><i class="icon-arrow-down2"></i> 查看更多</span>
                          <span class="fr txt-color-red trClose" style="display: none"><i class="icon-arrow-up2"></i> 收起</span>
                        </th>
                      </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
<#include "_inc/_nav_box.html"/>
<span id="gotop" title="返回顶部"><i class="icon-arrow-up2"></i></div>
</@layout>