<#include "_inc/_bi_layout.html"/>
<#macro css>
    section {
        background: #fff;
    }
    .location-wrapper {
        margin-top: 2.4rem;
    }
    .wy-header-title{
        display:inline;
        margin: 0 0 0 3.2rem;
        line-height: 2rem;
        color: #999;
    }
    #relocation{
        display:inline;
    }
    .compare .gather {
        display: inline-block;
        width: 49%;
        border: 0;
        margin-top: 2.4rem;
    }
    .compare .gather:first-child {
        border-right: 1px solid #e0e0e0;
    }
    .compare .gather p,.compare .gather span {
        display: block;
        width: 100%;
        text-align: center;
    }
    #orderAvg {
      width: 100%;
      height: 14rem;
    }

    .map-wrapper {
        width: 100%;
        height: 20rem;
    }
    
    .maps {
        width: 100%;
        height: 100%;
    }
    
    header {
        background: #f9f9f9;
    }
    
    .title {
        display: inline;
        margin-left: 35%;
        background: none;
    }
    .more-dealer {
        display: inline;
	    clear: both;
	    line-height: 2rem;
	    width: 2rem;
	    text-align: center;
	    cursor: pointer;
    }

</#macro>

<#macro script_import>
    <script type='text/javascript' src="${CTPATH}/js/countUp.js"></script>
    <!-- <script type="text/javascript" src="${CTPATH}/js/city-data.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/city-picker.js"></script> -->
    <script type="text/javascript" src="${CTPATH}/json/china-city-map.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/index_map.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/headroom.min.js"></script>    
</#macro>
<#macro script>
    
    var $city = $("#city-name");
    
    var provName = $.cookie(Utils.provCacheName);
    var cityName = $.cookie(Utils.cityCacheName);
    var countryName = $.cookie(Utils.countryCacheName);
    var curProvName = '';
    var dateType = '0';
    
    var strKit = new StrKit();
    
    $(function() { 
        Utils.loading();
        //initWxConfig('${appId!}', '${timestamp!}', '${nonceStr!}', '${signature!}');

        //wxReadyGetLocation(
        //    function(lng, lat, addComp, address) {
        //        $("#lng").val(lng.toFixed(6));
        //        $("#lat").val(lat.toFixed(6));
        //    }
        //);


        dealerSelect.init();
        topTotal();
        initDealerInChinaMap();
        total();

    });


    // 时间切换选择, 如近一天，近一周等
    $(".date").click(function(e) {
        var $a = $(e.currentTarget);
        $a.parent().find(".date").removeClass("active-date");
        $a.addClass("active-date");
    });
    function setDateType(type){
        dateType = type;
        total();
    }
    
    $(document).on('click', '#combin-filter', function() {
    
    }).off("click", "#combin-filter");

    var $combinSearch = $('#combin-filter');
    var $layer = $(".layer");


    $(document).on("click", ".layer", function () { //点击遮罩关闭菜单、组合筛选
        closeCombinSearch();
    }).on('click', '#combin-filter-btn, #dealer-select', function () { //打开组合筛选
        openCombinSearch();
    }).on('click', '#combin-filter .cancel-search-btn', function () { //关闭组合筛选
        closeCombinSearch();
    })

    var dealerSelect = new Headroom($("#dealer-select")[0], {
        tolerance: 5,
        offset: 200,
        classes: {
            initial: "animated",
            pinned: "slideInRight",
            unpinned: "slideOutRight"
        }
    });
    
    //打开组合搜索
    function openCombinSearch() {
        ModalHelper.afterOpen();
        $layer.addClass("layer-show");
        $combinSearch.show().removeClass("slideOutRight").addClass("slideInRight");
    }

    //关闭组合搜索
    function closeCombinSearch() {
        ModalHelper.beforeClose();
        $combinSearch.removeClass("slideInRight").addClass("slideOutRight");
        setTimeout(function() {
            $layer.removeClass("layer-show");
        }, 300);
    }

    var ModalHelper = (function (bodyCls) {
        var scrollTop;
        return {
          afterOpen: function () {
            scrollTop = document.scrollingElement.scrollTop;
            document.body.classList.add(bodyCls);
            document.body.style.top = -scrollTop + "px";
          },
          beforeClose: function () {
            document.body.classList.remove(bodyCls);
            document.scrollingElement.scrollTop = scrollTop;
          }
        };
      })("modal-open");

    //顶部统计
    function topTotal(){
        
        var dealerCount = new CountUp("dealerCount",0, parseInt(${dealerCount!}));
        dealerCount.start();
        var orderCustomerCount = new CountUp("orderCustomerCount",0, parseInt(${orderCustomerCount!}));
        orderCustomerCount.start();
        
        setTimeout(function() {
            $("#dealerCount").addClass('animated pulse');
            setTimeout(function() {
                $("#orderCustomerCount").addClass('animated pulse');
            }, 1000);
        }, 2000);
    }

    var dealerMapId = document.getElementById("dealer_in_china_map");
    var chinaMapCharts = echarts.init(dealerMapId);
    function initDealerInChinaMap() {

        chinaMapCharts.showLoading({
            text: '加载中...',
            effect: 'whirling'
        });
        dataValue = [];
        $.ajax({
            url:"${CPATH}/dealerList",
            type:"post",
            data:{},
            dataType:"json"
        }).done(function(data){
            var dataValue = [];
            var $dealerList = $("#dealerList");
            $dealerList.empty();
            $dealerList.append("<div class='weui-cell'onclick=\"selectDealer('" + "all" + "')\"><div class='weui-cell__hd'>" + "全部" + "</div></div>");
            $.each(data,function(index,el){
                var cityName = el.city_name.replace('市','');
                dataValue.push({'name': cityName, 'value': el.totalAmount});
                $dealerList.append("<div class='weui-cell'onclick=\"selectDealer('" + el.data_area + "')\"><div class='weui-cell__hd'>" + el.dealerName + "</div></div>");
            });
            var option = initOption(dataValue);
            var dealerMapId = document.getElementById("dealer_in_china_map");
            var chinaMapCharts = echarts.init(dealerMapId);
            $(dealerMapId).height(400);
            chinaMapCharts.clear();
            chinaMapCharts.resize();
            $.getJSON(getMapDataUrl(), function(data) {
                echarts.registerMap('china', data);
                chinaMapCharts.setOption(option);
                chinaMapCharts.hideLoading();
                Utils.close();
            });
        });
    }
    
    function getMapDataUrl() {

        if(cityMap[curProvName] == undefined){
            return '${CTPATH}/json/china.json';
        }

        return '${CTPATH}/json/'+cityMap[curProvName]+'/'+ (cityMap[cityName] != undefined ? cityMap[cityName] : cityMap[curProvName]) +'.json';
    }

    function selectDealer(dataArea) {
        Utils.loading();
        $.ajax({
            url:"${CPATH}/selectDealer",
            type:"post",
            data:{dataArea: dataArea},
            dataType:"json"
        }).done(function(data){
            
            $.cookie(Utils.provCacheName, data.provName, { expires: 7 });
            $.cookie(Utils.cityCacheName, data.cityName, { expires: 7 });
            $.cookie(Utils.countryCacheName, data.countryName, { expires: 7 });
            $.ajax({
            async: false,
                type: "GET",
                dataType: 'jsonp',
                jsonp: 'callback',
                jsonpCallback: 'callbackfunction',
                url: "http://api.map.baidu.com/geocoder/v2/?city="+ data.cityName +"&address=" + data.countryName +"&output=json&ak=su3AmHLUcBprpnOLmVHo7r8AljbW8X6t&callback=showLocation",
                contentType: "application/json;utf-8"
            }).done(function(data){
                if(data.status == 0){
                    $.cookie(Utils.longitudeCache, data.result.location.lng, { expires: 7 });
                    $.cookie(Utils.latitudeCache, data.result.location.lat, { expires: 7 });
                }
            });
            total();
            closeCombinSearch();
        });
    }

    function total(){
        Utils.loading();
        $.ajax({
            url:"${CPATH}/total",
            type:"post",
            data:{dateType: dateType},
            dataType:"json"
        }).done(function(data){
            Utils.close();
            var salesTotal = new CountUp("order-sales", 0, parseInt(data.totalOrderAmount));
            salesTotal.start();
            var orderTotal = new CountUp("order-total",0, parseInt(data.totalOrderCount));
            orderTotal.start();
            var customerTotal = new CountUp("order-customer",0, parseInt(data.totalCustomerCount));
            customerTotal.start();
        
            setTimeout(function() {
            $("#order-sales").addClass('animated pulse');
            setTimeout(function() {
            $("#order-total").addClass('animated pulse');
            setTimeout(function() {
            $("#order-customer").addClass('animated pulse');
            }, 1000);
            }, 1000);
            }, 2000);
        });
    }

</#macro>

<@layout>
<section>

    <div class="bi-body">
        <#include "_inc/_bi_search_box.html"/>

        <div class="compare">
            <div class="gather">
                <p>
                    经销商总数(个):<br/><span id="dealerCount"></span>
                </p>
            </div>
            <div class="gather">
                <p>
                    总下单客户数(个):<br/><span id="orderCustomerCount"></span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="divide-line"></div>
        <header>
            <div class="title">经销商分布图</div>
            <div id="combin-filter-btn" class="more-dealer fr font-20"><i class="icon-list"></i></div>
        </header>
        
        <div id="map-wrapper" class="map-wrapper">
            <div id="dealer_in_china_map" class="maps"></div>
        </div>
        <!-- <div class="divide-line"></div> -->
        
        <header>
            <div class="title">经销商汇总信息</div>
        </header>
        <div class="sales-gather">
            <div class="gather">
                <img src="${CTPATH}/images/bi_money.png">
                <p>
                    销售总额(元):<br/><span id="order-sales"></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="gather">
                <img src="${CTPATH}/images/bi_order.png">
                <p>
                    订单总数(笔):<br/><span id="order-total"></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="gather">
                <img src="${CTPATH}/images/bi_customer.png">
                <p>
                    客户总数(个):<br/><span id="order-customer"></span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="divide-line"></div>
        <!-- <div id="orderAvg"></div> -->
        
    </div>
</section>
<img src="${CTPATH}/images/dealer-select.svg" alt="" id="dealer-select">
<div class="layer"></div>
<article id="combin-filter" class="animated slideOutRight">
    <div id="customer">
        <header>
            <div class="weui-search-bar" style="text-align: center" id="searchBar"> <p>选择经销商</p>
<!--                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText">
                        <i class="weui-icon-search"></i>
                        <span>请输入经销商名称</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>-->
            </div>
        </header>
        <article id="infinite">
            <div class="weui-cells" id="dealerList">
                <div class="weui-cell"><div class="weui-cell__hd">加载中。。</div></div>
            </div>
            <div class="weui-loadmore" id="loading" style="display: none;">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
            <div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
                <span class="weui-loadmore__tips">暂无数据</span>
            </div>
        </article>
        <button class="cancel-search-btn">取消</button>
    </div>
</article>
<#include "_inc/_nav_box.html"/>
</@layout>