<#include "_inc/_pc_layout.html"/>
<#macro script_import>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=su3AmHLUcBprpnOLmVHo7r8AljbW8X6t"></script>
    <script type="text/javascript" src="${CTPATH}/js/heatmap.min.js"></script>
</#macro>
<#macro css_import>
</#macro>
<#macro css>
    #customer_rank{
        height: 16rem;
        background: #fff!important;
    }

    #area_rank{
        height: 16rem;
        background: #fff!important;
    }

    #hot_map{
        height: 13.5rem;
    }

    .hot_map{
        height: 18rem;
        background: #fff;
    }
    
    #div_product_rank{
        overflow-y:scroll;
        max-height: 33rem;
    }

    .div_product_rank{
        margin-top: 5px;
        margin-bottom: 5px;
        background: #fff;
    }
    
</#macro>
<#macro script>

    var hotMapType = 0 ;
    var CPATH = '${CPATH}';
    var CTPATH = '${CTPATH}';

    //做地图类型的切换选择
    $(".mapType").click(function(e) {
        var $a = $(e.currentTarget);
        $a.parent().find(".mapType").removeClass("active-mapType");
        $a.addClass("active-mapType");
    });

    //做时间的切换选择
    function setDateType(type) {
        setFilter(type);
        
        if (document.getElementById('china_map').style.display == 'block') 
            renderChinaMap(false);
        if (document.getElementById('prov_map').style.display == 'block') 
            renderProvMap({"name": strKit.convertProvName(provName)}, false);
        if (document.getElementById('city_map').style.display == 'block') 
            renderCityMap({"name": cityName}, provName.substring(0, provName.length - 1));

    }

    function setHotMapType(type){
        hotMapType = type;
        hMap();
    }

    //热力图
    var hotMap = new BMap.Map("hot_map");
    var redIcon = new BMap.Icon("${CTPATH}/images/marker.png", new BMap.Size(20, 20));
    var orangeIcon = new BMap.Icon("${CTPATH}/images/marker_orange.png", new BMap.Size(20, 20));
    var grayIcon = new BMap.Icon("${CTPATH}/images/marker_gray.png", new BMap.Size(20, 20));
    function hMap(){
        Utils.loading();
        
        var hmTitle = '热力图';
        if((provName + cityName).trim() != '' ){
            hmTitle = provName + cityName  + hmTitle;
        } else {
            hmTitle = '全国' + hmTitle;
        }
        $("#p_hot_map").text(hmTitle);
        
        var longitude = $.cookie(Utils.longitudeCache);
        var latitude = $.cookie(Utils.latitudeCache);
        var point = new BMap.Point(longitude,latitude);
        hotMap.centerAndZoom(point, 11);             // 初始化地图，设置中心点坐标和地图级别
        
        if(cityName.trim() != '' ){
            hotMap.centerAndZoom(cityName,11);
        } else if(provName.trim() != '' ) {
            hotMap.centerAndZoom(provName,7);
        } else {
            hotMap.centerAndZoom("兰州",4);
        }
        
        hotMap.enableScrollWheelZoom(true);
        hotMap.clearOverlays();
        if(hotMapType == 0){
            hotMapData("${CPATH}/biSales/salesHotMap");
        } else {
            hotMapData("${CPATH}/biSales/customerHotMap");
        }
        
    }
    
    function hotMapData(url){
    
        $.ajax({
            url:url,
            type:"post",
            data:{provName: provName, cityName: cityName, countryName: '', startDate: startDate, endDate: endDate, dataArea: dataArea, brandId: brandId},
            dataType:"json"
        }).done(function(data){
            Utils.close();
            
            if(!isSupportCanvas()){
            alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~')
            }
            
            heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":20});
            hotMap.addOverlay(heatmapOverlay);
            heatmapOverlay.setDataSet({data:data,max:100});
        
        });
    }
    
    //判断浏览区是否支持canvas
    function isSupportCanvas(){
        var elem = document.createElement('canvas');
        return !!(elem.getContext && elem.getContext('2d'));
    }

    // 客户
    function customer_rank() {
        $.ajax({
            url:"${CPATH}/biSales/customerType",
            type:"post",
            data:{"provName": provName, "cityName": cityName, countryName: '', startDate: startDate, endDate: endDate, dataArea: dataArea, brandId: brandId},
            dataType:"json"
        }).done(function(data){
            Utils.close();

            var crSeriesData = [];
            var length = data.length > 5 ? 5 : data.length;

            for(var i = 0; i < length; i++){
                crSeriesData.push({
                    name: data[i].name + '(' + data[i].realAmount + ')',
                    value: data[i].realAmount
                });
            }
            var crTitle = '客户销售统计排行Top5(金额/万元)';
            if((provName + cityName).trim() != '' ){
                crTitle = provName + cityName + crTitle;
            } else {
                crTitle = '全国' + crTitle
            }
            var $p = $("#p_customer_rank");
            $p.empty();
            $p.text(crTitle);

            var customer_rank = document.getElementById('customer_rank');
            //var $customer_rank = $(customer_rank);

            var customerRankChart = echarts.init(customer_rank);
            var crOption = {
                color: ['#4ac7f5', '#f36f8a', '#fd9173', '#AF89D6', '#5f71d2'],
                series: [
                    {
                        name:crTitle,
                        type:'pie',
                        radius: ['25%', '45%'],
                        center: ['50%', '50%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                textStyle: {
                                    fontSize: 10
                                }
                            }
                        },
                        data:crSeriesData
                    }
                ]
            };
            customerRankChart.resize();
            customerRankChart.setOption(crOption,true);
            //customerRankChart.on('click', customerClick);
        });
    }

    //区域
    function area_rank(){
        $.ajax({
            url:"${CPATH}/biSales/area",
            type:"post",
            data:{"provName": provName, "cityName": cityName, countryName: '', startDate: startDate, endDate: endDate, dataArea: dataArea, brandId: brandId},
            dataType:"json"
        }).done(function(data){
            var areaYData = [];
            var areaSeriesData = [];

            for(var i = 0; i < data.length; i++){
                areaYData.push(data[i][0]) ;
                areaSeriesData.push(data[i][1]);
            }

            var areaTitle = '区域销售统计(金额/万元)';
            if((provName + cityName).trim() != '' ){
                areaTitle = provName + cityName + areaTitle;
            } else {
                areaTitle = '全国' + areaTitle
            }
            var $p = $("#p_area_rank");
            $p.empty();
            $p.text(areaTitle);

            var area_rank = document.getElementById('area_rank');
            var $area_rank = $(area_rank);

            var areaRankChart = echarts.init(area_rank);
            var option = {
                color: ['#4ac7f5'],
                grid: {
                    left: '2%',
                    right: '15%',
                    bottom: 15,
                    top: 15,
                    containLabel: true
                },
                calculable : true,
                xAxis : [{
                    show : false,
                    name : '金额/万元',
                    type : 'value',
                    boundaryGap: [0, 0.01]
                }],
                yAxis : [{
                    type : 'category',
                    data : areaYData.reverse(),
                    axisLabel : {
                        interval : 0,
                        fontSize : 8
                    }
                }],
                series : [{
                    type: 'bar',
                    barWidth: 15,
                    data: areaSeriesData.reverse(),
                    label: {
                        normal: {
                            show: true,
                            position: 'right'
                        }
                    }
                }]
           };
           
           areaRankChart.resize();
           areaRankChart.setOption(option, true);
           //areaRankChart.on('click', areaClick);
       });
    }

    //产品
    function product_rank(){
        $.ajax({
            url:"${CPATH}/biSales/product",
            type:"post",
            data:{"provName": provName, "cityName": cityName, countryName: '', startDate: startDate, endDate: endDate, dataArea: dataArea, brandId: brandId},
            dataType:"json"
        }).done(function(data){

            var prTitle = '产品销售排行';
            if((provName + cityName).trim() != '' ){
                prTitle = provName + cityName + prTitle;
            } else {
                prTitle = '全国' + prTitle
            }
            var $p = $("#p_product_rank");
            $p.empty();
            $p.text(prTitle);

            var $tbody = $("#product_rank tbody");
            $tbody.empty();
            for(var i = 0; i < data.length; i++){
                $tbody.append('<tr><td>' + data[i].custom_name + '</td><td class="t-r">' + Math.round(data[i].productCount*100)/100 + '</td><td class="t-r">' + data[i].totalAmount + '</td></tr>');
            }
       });
    }


    function initData() {
        Utils.loading();
        //热力图
        hMap();
        // 客户类型
        customer_rank();
        // 客户区域
        area_rank();
        // 产品
        product_rank();
    }
    
</#macro>
<@layout>

<section>
    <div class="bi-body">
        <#include "_inc/_pc_nav_box.html"/>
        <div class="row" >
            <div class="col-md-9">
                <#include "_inc/_pc_search_box.html"/>
                <div class="row">
                    <div class="col-md-4">
                        <p class="title" id="p_customer_rank"></p>
                        <div id="customer_rank"></div>
                    </div>
                    <div class="col-md-3">
                        <p class="title" id="p_area_rank"></p>
                        <div id="area_rank"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="hot_map">
                            <p class="title" id="p_hot_map"></p>
                            <div class="mapType-div">
                                <a class="mapType active-mapType" onclick="setHotMapType(0)">销售分布</a>
                                <a class="mapType" onclick="setHotMapType(1)">开发分布</a>
                            </div>
                            <div id="hot_map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="div_product_rank">
                    <p class="title" id="p_product_rank"></p>
                    <div id="div_product_rank">
                        <table id="product_rank" class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <tr><th>产品</th><th width="20%">数量(件)</th><th width="25%">金额(万元)</th></tr>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</@layout>