<#include "_inc/_layout.html"/>
<#macro css>
    section {
        background: #fff;
    }
    
    .location-wrapper {
        height: 2rem;
        line-height: 2rem;
        width: 100%;
        padding: .2rem .5rem;
        color: #999;
        font-size: .8rem;
        position: fixed;
        background: #fff;
        z-index: 10;
        border-bottom: 1px solid #f0f0f0;
    }
    
    .relocation {
        clear: both;
        width: 20%;
        display: inline-block;
        cursor: pointer;
    }
    
    .map-wrapper {
        width: 100%;
        height: 20rem;
    }
    
    .maps {
        width: 100%;
        height: 100%;
    }
    
    .map-desc {
        text-align: center;
        color: #ccc;
        font-size: .7rem;
        background: #fff;
        padding: .2rem 0;
    }
    
    .stat-title {
        text-align: center;
        line-height: 2rem;
        height: 2rem;
        background: #f2f2f2;
    }
</#macro>

<#macro script_import>
    <script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
    <script type='text/javascript' src="${CTPATH}/js/countUp.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/city-data.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/city-picker.js"></script>
    <script type="text/javascript" src="${CTPATH}/json/china-city-map.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=su3AmHLUcBprpnOLmVHo7r8AljbW8X6t"></script>
    <script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
</#macro>
<#macro script>

    var $city = $("#city-name");
    
    var provName = '湖北省';
    var cityName = '武汉市';
    var countryName = null;
    var curProvName = null;
    
    var series = [];
    var option = null;
    var geoCoordMap = {};
    var color = ['#a6c84c', '#ffa022', '#46bee9'];
    
    var mapDataUrl = '';
    
    var $map = document.getElementById("map");
    var myChart = echarts.init($map);
    
    var strKit = new StrKit();
    
    mapLocation();
    
    var sales = new CountUp("sales", 0, parseInt('${totalOrderAmount!}'));
    sales.start();
    var orderTotal = new CountUp("order-total",0, parseInt('${totalOrderCount!}'));
    orderTotal.start();
    var customerTotal = new CountUp("customer",0, parseInt('${totalCustomerCount!}'));
    customerTotal.start();
    
    setTimeout(function() {
        $("#sales").addClass('animated pulse');
        setTimeout(function() {
            $("#order-total").addClass('animated pulse');
            setTimeout(function() {
                $("#customer").addClass('animated pulse');
            }, 1000);
        }, 1000);
    }, 2000);
    
    $("#drop-down").cityPicker({
        title: "请选择位置",
        showDistrict: false,
        onChange: function (picker, values, displayValues) {
            $("#city-name").text(displayValues[1]);
        },
        onClose: function (picker) {
            myChart.clear();
            
            provName = picker.displayValue[0];
            cityName = picker.displayValue[1];
            countryName = picker.displayValue[2];
            provName = strKit.convertProvName(provName);
            
            mapDataUrl = '${CTPATH}/json/'+cityMap[provName]+'/'+cityMap[cityName]+'.json';
            loadOrderData();
        }
    });
    
    $("#relocation").on('click', function() {
        mapLocation();
    });
    
    function mapLocation() {
        
        myChart.showLoading({
            text: '加载中...',
            effect: 'whirling'
        });
        
        provName = $.cookie(Utils.provCacheName);
        cityName = $.cookie(Utils.cityCacheName);
        countryName = $.cookie(Utils.countryCacheName);
        
        if (provName == null || cityName == null || countryName == null) {
        
	        wx.config({
		        debug: Utils.devMode, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		        appId: '${appId!}', // 必填，公众号的唯一标识
		        timestamp: '${timestamp!}', // 必填，生成签名的时间戳
		        nonceStr: '${nonceStr!}', // 必填，生成签名的随机串
		        signature: '${signature!}',// 必填，签名，见附录1
		        jsApiList: ['checkJsApi', 'getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		    });
		    
		    wx.ready(function() {
		       wx.checkJsApi({
		           jsApiList: [
		               'checkJsApi',
		               'getLocation'
		           ],
		           success: function (res) {
		               if (res.checkResult.getLocation == false) {
		                   alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
		                   return;
		               } else {
		                   wx.getLocation({
		                       type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
		                       success: function (res) {
		
		                           var latitude = res.latitude;                      // 纬度，浮点数，范围为90 ~ -90
		                           var longitude = res.longitude;                    // 经度，浮点数，范围为180 ~ -180。
		                           var speed = res.speed;                            // 速度，以米/每秒计
		                           var accuracy = res.accuracy;                      // 位置精度
		                           
		                           var point = new BMap.Point(longitude, latitude);  // 将经纬度转化为百度经纬度
		                           var geoc = new BMap.Geocoder();                   //获取百度地址解析器  
		                           
		                           translateCallback = function (point) {            // 回调函数
		                               geoc.getLocation(point, function(rs) {
		                                   var addComp = rs.addressComponents;
		                                   //var Address = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
		                                   provName = addComp.province;
		                                   cityName = addComp.city;
		                                   countryName = addComp.district;
		                                   
		                                   $.cookie(Utils.provCacheName, provName, { expires: 7 });
		                                   $.cookie(Utils.cityCacheName, cityName, { expires: 7 });
		                                   $.cookie(Utils.countryCacheName, countryName, { expires: 7 });
		                                   
		                               });
		                           }
		                           
		                           setTimeout(function() {
		                               BMap.Convertor.translate(point, 0, translateCallback);//真实经纬度转成百度坐标
		                           }, 100);
		                       }
		                   });
		                   
		                   $city.text(cityName);
		                   curProvName = strKit.convertProvName(provName);
		                   /*if (provName.indexOf('省') != -1) {
		                       curProvName = provName.substring(0, provName.length - 1);
		                   }*/
		                   mapDataUrl = '${CTPATH}/json/'+cityMap[curProvName]+'/'+cityMap[cityName]+'.json';
		                   loadOrderData();
		               }
		           }
                });
            });
    
		    wx.error(function(res) {
		       //console.log(JOSN.stringify(res));
		    });
	    } else {
	       $city.text(cityName);
                           
           curProvName = strKit.convertProvName(provName);                
           /*if (provName.indexOf('省') != -1) {
               curProvName = provName.substring(0, provName.length - 1);
           }*/
           mapDataUrl = '${CTPATH}/json/'+cityMap[curProvName]+'/'+cityMap[cityName]+'.json';
           loadOrderData();
	    }
    }
    
    
    function loadOrderData() {
        $.ajax({
            type: 'post',
            url: '${CPATH}/orderAmount',
            data: {provName: provName, cityName: cityName, countryName: countryName},
            dataType: 'json',
            success: function(data) {
    
                option = {
                    backgroundColor: '#404a59',
                    title: {
                        text: '劲酒货物流向图',
                        left: 'left',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: {
                        orient: 'vertical',
                        top: 'bottom',
                        left: 'right',
                        data: [cityName + ' Top10'],
                        textStyle: {
                            color: '#fff'
                        },
                        selectedMode: 'single'
                    },
                    geo: {
                        map: 'wuhan',
                        label: {
                            emphasis: {
                                show: false
                            }
                        },
                        roam: true,
                        itemStyle: {
                            normal: {
                                areaColor: '#323c48',
                                borderColor: '#404a59'
                            },
                            emphasis: {
                                areaColor: '#2a333d'
                            }
                        }
                    },
                    series: series
                };
                getMapData(data);
            }
        });
    }
    
    var getMapData = function(areaData) {
    
        $.getJSON(mapDataUrl, function(data) {
            
            echarts.registerMap('wuhan', data);
            
            var features = data.features;
            var length = features.length;
            for (var i = 0; i < length; i++) {
                var property = features[i].properties;
                var name = property.name;
                geoCoordMap[name] = property.cp;
            }
            
            series.push({
                name: cityName + ' Top10',
                type: 'lines',
                zlevel: 1,
                effect: {
                    show: true,
                    period: 6,
                    trailLength: 0.7,
                    color: '#fff',
                    symbolSize: 3
                },
                lineStyle: {
                    normal: {
                        color: color[0],
                        width: 0,
                        curveness: 0.2
                    }
                },
                data: convertData(areaData)
            }, {
                name: cityName + ' Top10',
                type: 'lines',
                zlevel: 2,
                effect: {
                    show: true,
                    period: 6,
                    trailLength: 0,
                    symbol: Utils.planePath,
                    symbolSize: 15
                },
                lineStyle: {
                    normal: {
                        color: color[0],
                        width: 1,
                        opacity: 0.4,
                        curveness: 0.2
                    }
                },
                data: convertData(areaData)
            }, {
                name: cityName + ' Top10',
                type: 'effectScatter',
                coordinateSystem: 'geo',
                zlevel: 2,
                rippleEffect: {
                    brushType: 'stroke'
                },
                label: {
                    normal: {
                        show: true,
                        position: 'right',
                        formatter: '{b}'
                    }
                },
                symbolSize: function(val) {
                    return val[2] / 8;
                },
                itemStyle: {
                    normal: {
                        color: color[0]
                    }
                },
                data: areaData.map(function(dataItem) {
                    return {
                        name: dataItem[1].name,
                        value: geoCoordMap[dataItem[1].name].concat([dataItem[1].value])
                    };
                })
            });
            
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
            myChart.hideLoading();
            //layer.closeAll();
        });
    }
    
    var convertData = function(data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var dataItem = data[i];
            var fromCoord = geoCoordMap[dataItem[0].name];
            var toCoord = geoCoordMap[dataItem[1].name];
            
            if (fromCoord && toCoord) {
                res.push([{
                    coord: fromCoord
                }, {
                    coord: toCoord
                }]);
            }
        }
        return res;
    };
    
</#macro>

<@layout>
<section>

    <div class="bi-body">
        <div class="location-wrapper">
            <span id="location"><em id="city-name"></em> <i class="icon-chevron-down txt-color-green" id="drop-down"></i></span>
            <div id="relocation" class="relocation fr"><i class="icon-map-marker txt-color-green"></i> 定位</div>
        </div>
        <div class="foot-black"></div>
        <div class="map-wrapper">
            <div id="map" class="maps"></div>
        </div>
        <div class="map-desc">
            图1 劲酒市场流向图
        </div>

        <div class="title">
            <h3>销售汇总</h3>
        </div>
        <div class="sales-gather">
            <div class="gather">
                <img src="${CTPATH}/images/money.png">
                <p>
                    总销售额(元):<br/><span id="sales"></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="gather">
                <img src="${CTPATH}/images/order.png">
                <p>
                    订单总数(笔):<br/><span id="order-total"></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="gather">
                <img src="${CTPATH}/images/customer.png">
                <p>
                    客户总数(个):<br/><span id="customer"></span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- <div class="title">
            <h3>统计类别</h3>
        </div>
        <div class="weui-grids">
            <a href="${CPATH}/area" class="weui-grid js_grid">
                <div class="weui-grid__icon" style="text-align: center">
                    <i class="icon-map" style="color: orangered;font-size: 10vw;text-align: center;"></i>
                    <span class="icon-map classify-icon" style="color: orangered;font-size: 10vw;text-align: center;"></span>
                </div>
                <p class="weui-grid__label">
                        地区
                </p>
                </a>
                <a href="${CPATH}/customer" class="weui-grid js_grid">
                    <div class="weui-grid__icon" style="text-align: center">
                        <i class="icon-users" style="color: lightskyblue;font-size: 10vw;text-align: center;"></i>
                        <span class="icon-group" style="color: lightskyblue; font-size: 10vw;"></span>
                    </div>
                    <p class="weui-grid__label">
                         客户
                    </p>
                </a>
                <a href="${CPATH}/product" class="weui-grid js_grid">
                    <div class="weui-grid__icon" style="text-align: center">
                        <i class="icon-box2" style="color: greenyellow;font-size: 10vw;text-align: center;"></i>
                        <span class="icon-box2" style="color: greenyellow; font-size: 10vw;"></span>
                    </div>
                    <p class="weui-grid__label">
                            产品
                    </p>
                </a>
                <a href="${CPATH}/dealer" class="weui-grid js_grid">
                    <div class="weui-grid__icon" style="text-align: center">
                        <i class="icon-sitemap" style="color: DarkOrange;font-size: 10vw;text-align: center;"></i>
                        <span class="icon-box2" style="color: greenyellow; font-size: 10vw;"></span>
                    </div>
                    <p class="weui-grid__label">
                            经销商
                    </p>
                </a>
            </div> -->
            <div class="weui-footer">
                <p class="weui-footer__text">Copyright &copy; 2017 武汉珈研</p>
            </div>
        </div>
    </div>
</section>
<#include "_inc/_nav_box.html"/>
</@layout>