<#include "_inc/_layout.html"/>
<#macro script_import>

 	<script src="${CPATH}/templates/datacenter/js/echarts.min.js"></script>
    <script src="${CTPATH}/json/china-main-city-map.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=su3AmHLUcBprpnOLmVHo7r8AljbW8X6t"></script>

</#macro>
<#macro css_import>

    <link rel="stylesheet" href="${CPATH}/templates/datacenter/css/bootstrap.min.css">

</#macro>
<#macro css>
    #customer_rank{
        width: 100%;
        height:11.5rem;
        margin-top:.5rem;
    }

    #area_rank{
        width: 100%;
        height:14rem;
    }
    #stock_125{
      width: 100%;
      height:14rem;
    }

    #stock_258{
      width: 100%;
      height:14rem;
    }

    #stock_520{
      width: 100%;
      height:14rem;
    }
    .table{
      font-size:0.6rem;
    }

    .weui-tab__bd {
       width: 200%;
       position: relative;
       left: 0;
       display: flex;
       transition: .3s all linear;
     }
     #tab1,#tab2 {
       width: 50%;
       height: fit-content;
       height: -webkit-fit-content;
       height: -moz-fit-content;
     }
     .active {
       left: -100%;
       transition: .3s all linear;
     }
     th {
     	text-align: center;
     }
     #prTrOpen, #prTrClose {
      display:none;
     }

</#macro>
<#macro script>
    //var provName = '';
    //var cityName = '';
    //var countryName = '';
    var provName = localStorage.provName;
    var cityName = localStorage.cityName;
    var countryName = localStorage.countryName;
    var dateType = 0;
    var prov_data = [];
    var city_data = [];
    var country_data = [];
    $(function() {
	
	    if (provName == null || cityName == null || countryName == null) {
	        var baiduMap = new BaiduMap();
	        baiduMap.getLocation();
	    }
	    
	    provName = localStorage.provName;
	    cityName = localStorage.cityName;
	    countryName = localStorage.countryName;
	    
	    provName = provName.substring(0, provName.length - 1);
	    
	    if(countryName.length != 0) {
            clickCity({"name": cityName}, provName);
            provName = provName + "省";
        } else if(cityName.length !=0){
            clickProv({"name": provName}, true);
        } else {
            mapRender(true);
        }
        customer_rank(provName, cityName, countryName, dateType);
        area_rank(provName, cityName, countryName, dateType);
        product_rank(provName, cityName, countryName, dateType);
        stock_rank(provName, cityName, countryName, dateType);
        stock(125,"125ml35度中国劲酒","za000053",provName, cityName, countryName);
        stock(258,"258ml35度中国劲酒","zzgj2715",provName, cityName, countryName);
        stock(520,"520ml35度中国劲酒","zzgj1012",provName, cityName, countryName);
    
        /*var MapSet = {
          GetLocation:function(){
            var geolocation = new BMap.Geolocation();
            geolocation.getCurrentPosition(function(r) {
              if(this.getStatus() == BMAP_STATUS_SUCCESS) {
                var rp = new BMap.Point(r.point.lng,r.point.lat);
                var gc = new BMap.Geocoder();
                gc.getLocation(rp,function(rs){
                  var addComp = rs.addressComponents;
                  provName = addComp.province;
                  cityName = addComp.city;
                  countryName = addComp.district;
                  provName = provName.substring(0, provName.length - 1);

                  if(countryName.length != 0) {
                    clickCity({"name": cityName}, provName);
                    provName = provName + "省";
                  } else if(cityName.length !=0){
                    clickProv({"name": provName}, true);
                  } else {
                    mapRender(true);
                  }
                  customer_rank(provName, cityName, countryName, dateType);
                  area_rank(provName, cityName, countryName, dateType);
                  product_rank(provName, cityName, countryName, dateType);
                  stock_rank(provName, cityName, countryName, dateType);
                  stock(125,"125ml35度中国劲酒","za000053",provName, cityName, countryName);
                  stock(258,"258ml35度中国劲酒","zzgj2715",provName, cityName, countryName);
                  stock(520,"520ml35度中国劲酒","zzgj1012",provName, cityName, countryName);
                });
              }
            },{enableHighAccuracy: true})
          }
        };*/
        //MapSet.GetLocation();
        
        $(".date").click(function(e) {
            var $a = $(e.currentTarget);
            $a.parent().find(".date").removeClass("active-date");
            $a.addClass("active-date");
        });


      	var ITEM_ON = "weui-bar__item--on";

        var showTab = function(a) {
            var $a = $(a);
            if ($a.hasClass(ITEM_ON)) return;
            var href = $a.attr("href");

            if (!/^#/.test(href)) return;

            $a.parent().find("." + ITEM_ON).removeClass(ITEM_ON);
            $a.addClass(ITEM_ON);

            if (href == "#tab2") {
                $(".weui-tab__bd").addClass("active").height($("#tab2").height());
            } else {
                $(".weui-tab__bd").removeClass("active").height($("#tab1").height());
            }


        }

        $.showTab = showTab;

        $(".weui-navbar__item").click(function(e) {
            var $a = $(e.currentTarget);
            var href = $a.attr("href");
            if ($a.hasClass(ITEM_ON)) return;
            if (!/^#/.test(href)) return;

            e.preventDefault();
            showTab($a);
        });
        
        
        $(".map p").text(new Date().toLocaleDateString() + '销售情况');
    });

    //回到中国地图界面
    function goBackChinaMap() {

        $('#prov').css('visibility','hidden');
    	$('#city').css('visibility','hidden');
        
        mapRender(true);
      
        provName = '';
        cityName = '';
        countryName = '';
        customer_rank(provName, cityName, countryName, dateType);
        
        area_rank(provName, cityName, countryName, dateType);
        product_rank(provName, cityName, countryName, dateType);
        stock_rank(provName, cityName, countryName);
        stock(125, "125ml35度中国劲酒","za000053",provName, cityName, countryName);
        
        stock(258,"258ml35度中国劲酒","zzgj2715",provName, cityName, countryName);
        stock(520,"520ml35度中国劲酒","zzgj1012",provName, cityName, countryName);
    }

    //回到省界面
    function goBackProvMap() {

        provName = provName.substring(0, provName.length - 1);
        clickProv({"name": provName}, true);
  		$('#city').css('visibility','hidden');
  	  
        cityName = '';
        countryName = '';
        customer_rank(provName, cityName, countryName, dateType);
        area_rank(provName, cityName, countryName, dateType);
        
        product_rank(provName, cityName, countryName, dateType);
        stock_rank(provName, cityName, countryName);
        stock(125,"125ml35度中国劲酒","za000053",provName, cityName, countryName);
        stock(258,"258ml35度中国劲酒","zzgj2715",provName, cityName, countryName);
        stock(520,"520ml35度中国劲酒","zzgj1012",provName, cityName, countryName);
  	}

    //做时间的切换选择
    function setDateType(type){
        dateType = type;
        customer_rank(provName, cityName, countryName, dateType);
        area_rank(provName, cityName, countryName, dateType);
        product_rank(provName, cityName, countryName, dateType);
        
        stock_rank(provName, cityName, countryName);
        stock(125,"125ml35度中国劲酒","za000053",provName, cityName, countryName);
        stock(258,"258ml35度中国劲酒","zzgj2715",provName, cityName, countryName);
        stock(520,"520ml35度中国劲酒","zzgj1012",provName, cityName, countryName);
        
        if (document.getElementById('china_map').style.display == 'block') mapRender(false);
        if (document.getElementById('prov_map').style.display == 'block') clickProv({"name": provName.substring(0, provName.length - 1)}, false);
        if (document.getElementById('city_map').style.display == 'block') clickCity({"name": cityName}, provName.substring(0, provName.length - 1));
    }

    //点击地图上的省
    function clickProv (result, isRender) {
        
        cityName = '';
        var maxData = 0;
        
        if(result.name == '北京' || result.name == '上海' || result.name == '天津' || result.name == '台湾' || result.name == '重庆'){
            provName = result.name + '市';
        } else {
            provName = result.name + '省';
        }
        
        $.ajax({
	        url:"${CPATH}/sales/queryMapData",
	        type:"post",
	        data:{"provName": provName, "cityName": '', countryName: '', dateType: dateType},
	        dataType:"json"
        }).done(function(data) {
            city_data = [];
            for(var i = 0; i < data.length; i++) {
	            city_data.push({"name": data[i].cityName, "value": data[i].totalAmount});
	            if(data[i].totalAmount > maxData) maxData = data[i].totalAmount;
	        }
	        
            setTimeout(function () {
                $('#prov_view').text(result.name);
                $('#prov').css('visibility','visible');

                if (isRender) {
                    $('#china_map').css('display','none');
                    $('#city_map').css('display','none');
                    $('#prov_map').css('display','block');
                }
            }, 500);
            
            // 选择省的单击事件
            var selectProv = result.name.toString();
            // 调取后台数据
            $.get('${CTPATH}/json/' + cityMap[selectProv] + '/'+cityMap[selectProv] + '.json', function (Citymap) {
                echarts.registerMap(selectProv, Citymap);
                var myChartProv = echarts.init(document.getElementById('prov_map'));
                $(document.getElementById('prov_map')).width(400);
                myChartProv.resize();
                myChartProv.setOption({
	                tooltip: {
	                    trigger: 'item',
	                    textStyle: {fontSize: 9},
	                    formatter: function loadData(result){
	                        if(isNaN(result.value)) return result.name + '<br />总金额: 0';
	                        else return result.name+'<br />总金额:'+result.value + '万元';
	                    }
	                },
	                visualMap:{
	                    min: 0,
	                    max: maxData+1,
	                    splitNumber: 0,
	                    text: ['高','低'],
	                    realtime: false,
	                    selectedMode: false,
	                    realtime: false,
	                    show: true,
	                    itemWidth: 20,
	                    itemHeight: 120
	                },
	                series: [{
		                type: 'map',
		                map: selectProv ,//要和echarts.registerMap（）中第一个参数一致
		                roam: true,
		                scaleLimit: { min: 1, max: 4 },//缩放
		                mapLocation:{
		                    y:60
		                },
		                itemSytle:{
		                    emphasis:{label:{show:false}}
		                },
		                label: {
			                normal: {
			                    show: true
			                },
			                emphasis: {
			                    show: true
			                }
		                },
		                data : city_data.reverse()
	                }]
	            });
	            
	            myChartProv.on('click', function(rel){
	                clickCity(rel, selectProv);
	            });
            });
        });
        
        customer_rank(provName, cityName, countryName, dateType);
        area_rank(provName, cityName, countryName, dateType);
        product_rank(provName, cityName, countryName, dateType);
        stock_rank(provName, cityName, countryName, dateType);
        
        stock(125, "125ml35度中国劲酒", "za000053", provName, cityName, countryName);
        stock(258, "258ml35度中国劲酒", "zzgj2715", provName, cityName, countryName);
        stock(520, "520ml35度中国劲酒", "zzgj1012", provName, cityName, countryName);
    }

    //点击地图上的市
    function clickCity(rel, selectProv) {
        var maxData = 0;
        cityName = rel.name;
        $.ajax({
	        url:"${CPATH}/sales/queryMapData",
	        type:"post",
	        data:{"provName": provName, "cityName": cityName, countryName: '', dateType: dateType},
	        dataType:"json"
        }).done(function(data) {
            country_data = [];
            for(var i = 0; i < data.length; i++)
	        {
	            country_data.push({"name": data[i].countryName, "value": data[i].totalAmount});
	            if (data[i].totalAmount > maxData) maxData = data[i].totalAmount;
	        }
	        
            setTimeout(function () {
	            function contains(arr, obj) {
		            var i = arr.length;
		            while (i--) {
		                if (arr[i] === obj) {
		                    return true;
		                }
		            }
		            return false;
	            }
                
                var arr = new Array('北京','上海','天津','台湾','重庆');
                
                if(contains(arr,selectProv) == false) {
                
                    $('#prov_view').text(selectProv);
                    $('#prov').css('visibility','visible');
                    $('#city_view').text(rel.name);
                    $('#city').css('visibility','visible');

                    $('#china_map').css('display','none');
                    $('#prov_map').css('display','none');
                    $('#city_map').css('display','block');
                    
                } else {
	                $('#china_map').css('display','none');
	                $('#prov_map').css('display','block');
	                $('#city_map').css('display','none');
                }
            }, 500);
        
            // 选择市的单击事件
            var selectCity = rel.name;

            // 调取后台数据
            countryMapRender(selectProv, selectCity, maxData);
        });
      
        customer_rank(provName, cityName, countryName, dateType);
        area_rank(provName, cityName, countryName, dateType);
        product_rank(provName, cityName, countryName, dateType);
        
        stock_rank(provName, cityName, countryName, dateType);
        stock(125,"125ml35度中国劲酒","za000053",provName, cityName, countryName);
        stock(258,"258ml35度中国劲酒","zzgj2715",provName, cityName, countryName);
        stock(520,"520ml35度中国劲酒","zzgj1012",provName, cityName, countryName);
    }

    function countryMapRender(selectProv, selectCity, maxData) {
        $.get('${CTPATH}/json/'+cityMap[selectProv]+'/'+cityMap[selectCity]+'.json', function (Citymap) {
	        echarts.registerMap(selectCity, Citymap);
	        var myChartCity = echarts.init(document.getElementById('city_map'));
	        $(document.getElementById('city_map')).width(400);
	        myChartCity.resize();
	        myChartCity.setOption({
                tooltip: {
	                trigger: 'item',
		            textStyle: {fontSize: 9},
		            formatter: function loadData(result) {
	                    if(isNaN(result.value)) return result.name + '<br />总金额: 0';
	                    else return result.name+'<br />总金额:'+result.value + '万元';
	                }
	            },
	            visualMap:{
		            min: 0,
		            max: maxData+1,
		            splitNumber: 0,
		            text: ['高','低'],
		            realtime: false,
		            selectedMode: false,
		            realtime: false,
		            show: true,
		            itemWidth: 20,
		            itemHeight: 120
	            },
	            series: [{
		            type: 'map',
		            map: selectCity ,//要和echarts.registerMap（）中第一个参数一致
		            roam: true,
		            scaleLimit: { min: 1, max: 4 },//缩放
		            mapLocation: {
		               y:60
		            },
		            itemSytle: {
		               emphasis: {label: {show: false} }
		            },
		            label: {
		               normal: {
		                   show: true
		               },
		               emphasis: {
		                   show: true
		               }
		            },
		            data: country_data.reverse()
	            }]
            });
            
            myChartCity.on('click', function(rel) {
                setTimeout(function () {
                }, 500);
            });
        });
    }
    
    //中国地图渲染
    function mapRender(isRender) {
      /*echarts*/
      var maxData = 0;
        $.ajax({
        url:"${CPATH}/sales/queryMapData",
        type:"post",
        data:{"provName": '', "cityName": '', countryName: '', dateType: dateType},
        dataType:"json"
        }).done(function(data){
          prov_data = [];
        for(var i = 0; i < data.length; i++)
        {
          prov_data.push({"name": data[i].provName.substring(0, data[i].provName.length -1), "value": data[i].totalAmount});
          if (data[i].totalAmount > maxData) maxData = data[i].totalAmount;
        }
        setTimeout(function () {

          if (isRender) {
            $('#china_map').css('display','block');
            $('#city_map').css('display','none');
            $('#prov_map').css('display','none');
          }
        }, 500);
      $.get('${CTPATH}/json/china.json', function (mapJson) {
        echarts.registerMap('china', mapJson);
        var chart = echarts.init(document.getElementById('china_map'));//在id为mainMap的dom元素中显示地图
        $(document.getElementById('china_map')).width(400);
        chart.resize();
        chart.setOption({
          tooltip: {
            trigger: 'item',
            textStyle: {fontSize: 9},
            formatter: function (result){
              if(isNaN(result.value)) return result.name + '<br />总金额: 0';
              else return result.name+'<br />总金额:'+result.value + '万元';
            }
          },
          visualMap:{
            min:0,
            max:maxData+1,
            splitNumber:0,
            text:['高','低'],
            realtime:false,
            selectedMode:false,
            realtime:false,
            show:true,
            itemWidth:20,
            itemHeight:120
          },
          series: [{
            type: 'map',
            map: 'china',//要和echarts.registerMap（）中第一个参数一致
            roam: true,
            scaleLimit: { min: 1, max: 4 },//缩放
            mapLocation:{
              y:60
            },
            itemSytle:{
              emphasis:{label:{show:false}}
            },
            label: {
              normal: {
                show: true,
                textStyle: {fontSize: 9},
              },
              emphasis: {
                show: true,
                textStyle: {fontSize: 9},
              }
            },
            data : prov_data.reverse()
          }]
        }),

        chart.on('click', function(result) {
          clickProv(result, true);
        });
      });
     });
    }

	  //客户
	  function customer_rank(provName, cityName, countryName, dateType){
	    countryName = '';
	    $.ajax({
			url:"${CPATH}/sales/customerType",
			type:"post",
			data:{"provName": provName, "cityName": cityName, countryName: countryName, dateType: dateType},
			dataType:"json"
		}).done(function(data){

			var crSeriesData = [];
			var length = data.length > 5 ? 5 : data.length;

		    for(var i = 0; i < length; i++){
                crSeriesData.push({
                    name: data[i].customerTypeName + '(' + data[i].totalAmount + ')',
                    value: data[i].totalAmount
                });
		    }
            var crTitle = '客户销售情况前五名(金额/万元)';
            if((provName + cityName + countryName).trim() != '' ){
			    crTitle = provName + cityName + countryName + crTitle;
			} else {
			    crTitle = '全国' + crTitle
			}


			var customer_rank = document.getElementById('customer_rank');
			var $customer_rank = $(customer_rank);

			var customerRankChart = echarts.init(customer_rank);
			var crOption = {
			    title: [{
			        text: crTitle,
			        textStyle: {
			            fontWeight: 'normal',
			            fontSize: 16
			        }
			    }],
			    color: ['#4ac7f5', '#f36f8a', '#fd9173', '#AF89D6', '#5f71d2'],
			    series: [
			        {
			            name:crTitle,
			            type:'pie',
			            radius: ['25%', '45%'],
			            center: ['50%', '60%'],
			            avoidLabelOverlap: false,
			            label: {
			                normal: {
			                    textStyle: {
			                        fontSize: 10
			                    }
			                }
			            },
			            data:crSeriesData
			        }
			    ]
			};
			customerRankChart.resize();
			customerRankChart.setOption(crOption,true);
			customerRankChart.on('click', customerClick);
		});
	}
	function customerClick(param) {
	    countryName = '';

        post('${CPATH}/sales/productByCustomerType', {"provName" : provName, "cityName" : cityName, "countryName" : countryName, "dateType" : dateType});
	}

    //区域
    function area_rank(provName, cityName, countryName, dateType){
      countryName = '';
      $.ajax({
  			url:"${CPATH}/sales/area",
  			type:"post",
  			data:{"provName": provName, "cityName": cityName, countryName: countryName, dateType: dateType},
  			dataType:"json"
  		}).done(function(data){
            var areaYData = [];
            var areaSeriesData = [];
		    var length = data.length > 5 ? 5 : data.length;

		    for(var i = 0; i < length; i++){
                areaYData.push(data[i][0]) ;
                areaSeriesData.push(data[i][1]);
		    }

		    var areaTitle = '销售情况前五名(金额/万元)';
		    if((provName + cityName + countryName).trim() != '' ){
			    areaTitle = provName + cityName + countryName + areaTitle;
			} else {
			    areaTitle = '全国' + areaTitle
			}

            var area_rank = document.getElementById('area_rank');
			var $area_rank = $(area_rank);

            var areaRankChart = echarts.init(area_rank);
			var option = {
			    title: [{
                    text: areaTitle,
                    textStyle: {
                        fontWeight: 'normal',
                        fontSize: 16
			        }
			    }],
			    color: ['#4ac7f5'],
			    grid: {
                    left: '2%',
                    right: '15%',
                    bottom: 15,
                    top: 60,
                    containLabel: true
			    },
			    calculable : true,
			    xAxis : [{
			        show : false,
			        name : '金额/万元',
	                type : 'value',
		            boundaryGap: [0, 0.01]
			    }],
			    yAxis : [{
		            type : 'category',
		            data : areaYData.reverse()
			    }],
			    series : [{
		            type:'bar',
		            barWidth: 25,
		            data:areaSeriesData.reverse(),
		            label:{
	                    normal:{
                            show:true,
                            position:'right'
	                    }
		            }
                }]
           };
           areaRankChart.resize();
           areaRankChart.setOption(option,true);
           areaRankChart.on('click', areaClick);
       });
    }
    
    function areaClick(param) {
        countryName = '';
	
	    post('${CPATH}/sales/productByArea', {"provName" : provName, "cityName" : cityName, "countryName" : countryName, "dateType" : dateType});
	}
    var $prTR;
    //产品
    function product_rank(provName, cityName, countryName, dateType){
        countryName = '';
  		$.ajax({
  			url:"${CPATH}/sales/product",
  			type:"post",
  			data:{"provName": provName, "cityName": cityName, countryName: countryName, dateType: dateType},
  			dataType:"json"
  		}).done(function(data){

  		    var prTitle = '产品销售情况前五名';
            if((provName + cityName + countryName).trim() != '' ){
			    prTitle = provName + cityName + countryName + prTitle;
			} else {
			    prTitle = '全国' + prTitle
			}
			var $thead = $("#product_rank thead th");
			$thead.empty();
			$thead.text(prTitle);

            var $tbody = $("#product_rank tbody");
            $tbody.empty();
            $tbody.append("<tr><th>产品</th><th>数量(件)</th><th>金额(万元)</th></tr>");
            for(var i = 0; i < data.length; i++){
                $tbody.append("<tr><td>" + data[i].cInvName + "</td><td>" + data[i].totalNum + "</td><td>" + data[i].totalAmount + "</td></tr>");
            }
            $prTR = $("#product_rank tbody tr:gt(5)");
            if($prTR.length > 0){
                $prTR.hide();
                $("#prTrOpen").show();
                $("#prTrClose").hide();
                $("#product_rank tfoot").show();
            }else {
                $("#prTrOpen").hide();
                $("#prTrClose").hide();
                $("#product_rank tfoot").hide();
            }
            $(".weui-tab__bd").height($("#tab1").height());
       });
    }
    $("#prTrOpen").click(function() {
        $prTR.show();
        $("#prTrOpen").hide();
        $("#prTrClose").show();
        $(".weui-tab__bd").height($("#tab1").height());
    });
    $("#prTrClose").click(function() {
        $prTR.hide();
        $("#prTrOpen").show();
        $("#prTrClose").hide();
        $(".weui-tab__bd").height($("#tab1").height());
    });

    var $sTR;
	//库存
    function stock_rank(provName, cityName, countryName){
        countryName = '';
        $.ajax({
	        url:"${CPATH}/stock/area",
			type:"post",
			data:{"provName": provName, "cityName": cityName, countryName: countryName},
			dataType:"json"
		}).done(function(data){
		  	var srTitle = '库存情况';
            if((provName + cityName + countryName).trim() != '' ){
			    srTitle = provName + cityName + countryName + srTitle;
			} else {
			    srTitle = '全国' + srTitle
			}
			var $thead = $("#stock_rank thead th");
			$thead.empty();
			$thead.text(srTitle);

            var $tbody = $("#stock_rank tbody");
            $tbody.empty();
	        $tbody.append("<tr><th>产品</th><th>数量(件)</th></tr>");
	        for(var i = 0; i < data.length; i++){
                $tbody.append("<tr><td>" + data[i].cInvName + "</td><td>" + data[i].totalNum + "</td></tr>");
	        }
	        $sTR = $("#stock_rank tbody tr:gt(5)");
            if($sTR.length > 0){
                $sTR.hide();
                $("#sTrOpen").show();
                $("#sTrClose").hide();
                $("#stock_rank tfoot").show();
            }else {
                $("#sTrOpen").hide();
                $("#sTrClose").hide();
                 $("#stock_rank tfoot").hide();
            }
        });
    }
    $("#sTrOpen").click(function() {
        $sTR.show();
        $("#sTrOpen").hide();
        $("#sTrClose").show();
        $(".weui-tab__bd").height($("#tab2").height());
    });
    $("#sTrClose").click(function() {
        $sTR.hide();
        $("#sTrOpen").show();
        $("#sTrClose").hide();
        $(".weui-tab__bd").height($("#tab2").height());
    });

    //库存趋势
    function stock(name, tn, cInvCode, provName, cityName, countryName){
        countryName = '';
		$.ajax({
			url:"${CPATH}/stock/date",
			type:"post",
			data:{"provName": provName, "cityName": cityName, countryName: countryName, cInvCode: cInvCode},
			dataType:"json"
		}).done(function(data){

			var sTitle = '库存趋势';
            if((provName + cityName + countryName).trim() != '' ){
			    sTitle = provName + cityName + countryName + sTitle;
			} else {
			    sTitle = '全国' + sTitle
			}
			var $title = $(".title");
			$title.empty();
			$title.text(sTitle);

            var xData = [];
			var seriesData = [];
		    var length = data.length > 5 ? 5 : data.length;

		    for(var i = 0; i < data.length; i++){
                xData.push(data[i].idate) ;
                seriesData.push(data[i].totalNum);
            }

			var title = tn + '库存趋势情况(单位/件)';

			var stock = document.getElementById('stock'+'_'+name);
			var $stock = $(stock);

			var stockChart = echarts.init(stock);
			var option = {
                title: {
                    text: title
                },
                  tooltip : {

                  },
				  grid: {
				       left: '14%',
				       right: '15%',
				       top:'30%'
				  },
				  xAxis: {
				       data: xData
			      },
				  yAxis: {},
				  series: [{
				       name: title,
				       type: 'line',
				          markPoint : {
				              label: {
				                  normal: {
				                      textStyle: {
				                          color: '#000',
				                      }
				                 }
				          },
				          data : [
				              {type : 'max', name: '最大值'},
				              {type : 'min', name: '最小值'}
				              ]
				          },
				          data:seriesData
				  }]
            };
            stockChart.resize();
			stockChart.setOption(option,true);
		});
    }
    
    //共通post
    function post(URL, PARAMS)
	{ 
		var temp = document.createElement("form"); 
		temp.action = URL; 
		temp.method = "post"; 
		temp.style.display = "none"; 
		for (var x in PARAMS)
		{ 
			var opt = document.createElement("textarea"); 
			opt.name = x; 
			opt.value = PARAMS[x]; 
			temp.appendChild(opt); 
		} 
		document.body.appendChild(temp); 
		temp.submit(); 
		return temp; 
	} 
    
</#macro>
<@layout>
<section>
    <div class="bi-body">
        <div class="date-div">
            <a class="date active-date" onclick="setDateType(0)">近一天</a>
            <a class="date"onclick="setDateType(1)">近一周</a>
            <a class="date"onclick="setDateType(2)">近一月</a>
            <!-- <a class="date"onclick="setDateType(3)">近一年</a> -->
        </div>
        <div class="map" style="width: 100%;height:20rem;background: #efeff4">
            <p>2017-08-15销售情况</p>
            <div>
              <span id="china"style="visibility:visible;">  <a href ="javascript:void(0);" onclick="goBackChinaMap()" > 全国</a></span>
              <span id="prov" style="visibility:hidden;" > > <a href ="javascript:void(0);" onclick="goBackProvMap()" id="prov_view"></a></span>
              <span id="city" style="visibility:hidden;"> > <a herf = "javascript:void(0);" id="city_view"></a></span>
            </div>
            <div id="china_map" style="width: 100%;height:16rem;margin:0 auto;position: relative;display: none;"></div>
            <div id="prov_map"  style="width: 100%;height:16rem;margin:0 auto;position: relative;display: none;"></div>
            <div id="city_map"  style="width: 100%;height:16rem;margin:0 auto;position: relative;display: none;"></div>
        </div>
        <!-- 容器 -->
        <div class="weui-tab report">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                  销售报表
                </a>
                <a class="weui-navbar__item" href="#tab2">
                  库存报表
                </a>
            </div>
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                      <div id="customer_rank">

                      </div>
                      <div id="area_rank">
                      </div>
                      <div>
                          <table id="product_rank" class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th colspan="3"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>产品</th>
                                <th>数量(件)</th>
                                <th>金额</th>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <th colspan="3">
                                  <span id ="prTrOpen" class="fr">更多</span>
                                  <span id ="prTrClose" class="fr">收起</span>
                                </th>
                              </tr>
                            </tfoot>
                          </table>
                      </div>
                </div>
                <div id="tab2" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div>
                        <table id="stock_rank" class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th colspan="3"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>产品</th>
                              <th>数量(件)</th>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th colspan="3">
                                <span id ="sTrOpen" class="fr">更多</span>
                                <span id ="sTrClose" class="fr">收起</span>
                              </th>
                            </tr>
                          </tfoot>
                        </table>
                    </div>
                    <p class="title">库存趋势</p>
                    <div>
                      <div id="stock_125">

                      </div>

                      <div id="stock_258">

                      </div>

                      <div id="stock_520">

                      </div>

                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
</@layout>
