<#include "_inc/_layout.html"/>
<#macro script_import>

 	<script src="${CPATH}/templates/datacenter/js/echarts.min.js"></script>
 	<!-- <script src="${CPATH}/static/bootstrap/js/bootstrap.min.js"></script> -->

</#macro>
<#macro css_import>

    <link rel="stylesheet" href="${CPATH}/static/bootstrap/css/bootstrap.min.css">

</#macro>
<#macro css>
	.weui-cells {
		margin-top: 0;
		background: inherit;
		font-size: 0.6rem;
	}
	table {
		background: #fff;
		margin-bottom: 0!important;
	}
	table a {
		text-decoration: underline;
	}
	th {
		vertical-align: middle!important;
		text-align: center!important;
	}
	td {
		vertical-align: middle!important;
	}
	tr {
		line-height: 1.5rem;
		height: 1.5rem;
	}
    #customer{
        width: 100%;
        height:4rem;
    }
    #area_rank{
        width: 100%;
        height:8rem;
    }

</#macro>
<#macro script>
    $(function() {
        //customer('', '', '', dateType);
        product_rank('', '', '', dateType, customerType, customerTypeName);
        //area_rank('', '', '', dateType, customerType, customerTypeName);
    });
    var dateType = 0;
    var customerType = '5';
    var customerTypeName = '零售终端';
    
    //做时间的切换选择
    $(".date").click(function(e) {
        var $a = $(e.currentTarget);
        $a.parent().find(".date").removeClass("active-date");
        $a.addClass("active-date");
    });
    function setDateType(type){
        dateType = type;
       //customer('', '', '', dateType);
       product_rank('', '', '', dateType, customerType, customerTypeName);
       // area_rank('', '', '', dateType, customerType, customerTypeName);
    }
    
    
    
    //产品
    function product_rank(provName, cityName, countryName, dateType, customerType, customerTypeName){
      $.ajax({
  			url:"${CPATH}/sales/productByCustomerType",
  			type:"post",
  			data:{provName: provName, cityName: cityName, countryName: countryName, dateType: dateType, customerType: customerType},
  			dataType:"json"
  		}).done(function(data){
  		    var prTitle = customerTypeName + '产品销售排行';
            if((provName + cityName + countryName).trim() != '' ){
			    prTitle = provName + cityName + countryName + prTitle;
			} else {
			    prTitle = '全国' + prTitle;
			}
			var $p = $("#p_product_rank");
			$p.empty();
			$p.text(prTitle);

            var $tbody = $("#product_rank tbody");
            $tbody.empty();
            $tbody.append("<tr><th>产品</th><th>数量(件)</th><th>金额(万元)</th></tr>");
            for(var i = 0; i < data.length; i++){
                $tbody.append("<tr><td>" + data[i].cInvName + "</td><td>" + data[i].totalNum + "</td><td>" + data[i].totalAmount + "</td></tr>");
            }
       });
    }

    
</#macro>
<@layout>
<section>
    <div class="bi-body">
   	   	<#include "_inc/_search_box.html"/>
        <p class="title" id="p_customer_rank" >全国客户销售排行</p>
<!--         <p class="title" id="p_customer_rank"></p>
        <div id="customer_rank" id="p_customer_rank">
        </div> -->
<!--    		<div class="weui-cells weui-cells_form">
   			<div class="weui-cell" style="padding: 0">
   		        <table class="table table-striped table-bordered" id="customer_rank">
	   		        <tbody style="text-align: center;">
	   		        	<tr>
		        			<th>
		        				产品
		        			</th>
		        			<th>
		        				省份
		        			</th>
		        			<th>
		        				数量(件)
		        			</th>
	   		        	</tr>
	   		        </tbody>
   		        </table>
   	        </div>
   	   	</div> -->
   	   	<p class="title" id="p_product_rank"></p>
   	   	<div class="weui-cells weui-cells_form">
   			<div class="weui-cell" style="padding: 0">
   		        <table class="table table-striped table-bordered" id="product_rank">
	   		        <tbody style="text-align: center;">
	   		        	<tr>
		        			<th>
		        				产品
		        			</th>
		        			<th>
		        				省份
		        			</th>
		        			<th>
		        				数量(件)
		        			</th>
	   		        	</tr>
	   		        </tbody>
   		        </table>
   	        </div>
   	   	</div>
   	   	<p class="title" id="p_area_rank"></p>
        <div id="area_rank">
        </div>

	</div>
</section>
</@layout>
