<#include "_inc/_layout.html"/>
<#macro css>
    section {
        background: #fff;
    }
    
    .location {
        height: 1rem;
        padding: .2rem;
        color: #ccc;
        font-size: .7rem;
    }
    
    .map-wrapper {
        width: 100%;
        height: 20rem;
    }
    
    .maps {
        width: 100%;
        height: 100%;
    }
    
    .map-desc {
        text-align: center;
        color: #ccc;
        font-size: .7rem;
        background: #fff;
        padding: .2rem 0;
    }
    
    .stat-title {
        text-align: center;
        line-height: 2rem;
        height: 2rem;
        background: #f2f2f2;
    }
</#macro>

<#macro script_import>
    <script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
    <!-- <script type='text/javascript' src="${CTPATH}/js/china.js"></script> -->
    <script type='text/javascript' src="${CTPATH}/js/countUp.js"></script>
</#macro>
<#macro script>

    var $map = document.getElementById("map");
    var myChart = echarts.init($map);
    var option = null;
    
    var geoCoordMap = {};
    var color = ['#a6c84c', '#ffa022', '#46bee9'];
    var series = [];
    
    var provName = '湖北省';
    var cityName = '武汉市';
    
    $.ajax({
        type: 'post',
        url: '${CPATH}/orderAmount',
        data: {provName: '湖北省', cityName: '武汉市', countryName: '江岸区'},
        success: function(data) {

            option = {
                backgroundColor: '#404a59',
                title: {
                    text: '货物流向',
                    /*subtext: '数据纯属虚构',*/
                    left: 'left',
                    textStyle: {
                        color: '#fff'
                    }
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    top: 'bottom',
                    left: 'right',
                    data: [cityName + ' Top10'],
                    textStyle: {
                        color: '#fff'
                    },
                    selectedMode: 'single'
                },
                geo: {
                    map: 'wuhan',
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    roam: true,
                    itemStyle: {
                        normal: {
                            areaColor: '#323c48',
                            borderColor: '#404a59'
                        },
                        emphasis: {
                            areaColor: '#2a333d'
                        }
                    }
                },
                series: series
            };
            
            getMapData(data);
        
        },
        dataType: 'json'
    });
    
    
    function getMapData(areaData) {
    
        $.getJSON('${CTPATH}/json/HuBei/WuHan.json', function(data) {
            
            echarts.registerMap('wuhan', data);
            
            var features = data.features;
            var length = features.length;
            for (var i = 0; i < length; i++) {
                var property = features[i].properties;
                var name = property.name;
                geoCoordMap[name] = property.cp;
            }
            
            series.push({
                name: cityName + ' Top10',
                type: 'lines',
                zlevel: 1,
                effect: {
                    show: true,
                    period: 6,
                    trailLength: 0.7,
                    color: '#fff',
                    symbolSize: 3
                },
                lineStyle: {
                    normal: {
                        color: color[0],
                        width: 0,
                        curveness: 0.2
                    }
                },
                data: convertData(areaData)
            }, {
                name: cityName + ' Top10',
                type: 'lines',
                zlevel: 2,
                effect: {
                    show: true,
                    period: 6,
                    trailLength: 0,
                    symbol: planePath,
                    symbolSize: 15
                },
                lineStyle: {
                    normal: {
                        color: color[0],
                        width: 1,
                        opacity: 0.4,
                        curveness: 0.2
                    }
                },
                data: convertData(areaData)
            }, {
                name: cityName + ' Top10',
                type: 'effectScatter',
                coordinateSystem: 'geo',
                zlevel: 2,
                rippleEffect: {
                    brushType: 'stroke'
                },
                label: {
                    normal: {
                        show: true,
                        position: 'right',
                        formatter: '{b}'
                    }
                },
                symbolSize: function(val) {
                    return val[2] / 200;
                },
                itemStyle: {
                    normal: {
                        color: color[0]
                    }
                },
                data: areaData.map(function(dataItem) {
                    return {
                        name: dataItem[1].name,
                        value: geoCoordMap[dataItem[1].name].concat([dataItem[1].value])
                    };
                })
            });
            
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    
    var planePath = 'path://M1705.06,1318.313v-89.254l-319.9-221.799l0.073-208.063c0.521-84.662-26.629-121.796-63.961-121.491c-37.332-0.305-64.482,36.829-63.961,121.491l0.073,208.063l-319.9,221.799v89.254l330.343-157.288l12.238,241.308l-134.449,92.931l0.531,42.034l175.125-42.917l175.125,42.917l0.531-42.034l-134.449-92.931l12.238-241.308L1705.06,1318.313z';
    
    var convertData = function(data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var dataItem = data[i];
            var fromCoord = geoCoordMap[dataItem[0].name];
            var toCoord = geoCoordMap[dataItem[1].name];
            
            if (fromCoord && toCoord) {
                res.push([{
                    coord: fromCoord
                }, {
                    coord: toCoord
                }]);
            }
        }
        return res;
    };

    var sales = new CountUp("sales", 0, parseInt('${totalOrderAmount!}'));
    sales.start();
    var orderTotal = new CountUp("order-total",0, parseInt('${totalOrderCount!}'));
    orderTotal.start();
    
    setTimeout(function() {
		$("#sales").addClass('animated pulse');
		setTimeout(function() {
		$("#order-total").addClass('animated pulse');
		}, 1000);
	}, 2000);
</#macro>

<@layout>
<section>

    <div class="bi-body">
        <div class="location">
            <i class="icon-map-marker txt-color-green"></i> 湖北省 > 武汉市 > 洪山区
        </div>
        <div class="map-wrapper">
            <div id="map" class="maps"></div>
        </div>
        <div class="map-desc">
            图1 劲酒市场流向图
        </div>

        <div class="title">
            <h3>销售汇总</h3>
        </div>
        <div class="sales-gather">
            <div class="gather">
                <img src="${CTPATH}/images/money.png">
                <p>
                    总销售额(元):<br/><span id="sales"></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="gather">
                <img src="${CTPATH}/images/order.png">
                <p>
                    订单总数(笔):<br/><span id="order-total"></span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="title">
            <h3>统计类别</h3>
        </div>
        <div class="weui-grids">
            <a href="${CPATH}/renderSales" class="weui-grid js_grid">
                <div class="weui-grid__icon" style="text-align: center">
                    <i class="icon-map" style="color: orangered;font-size: 10vw;text-align: center;"></i>
                    <!-- <span class="icon-map classify-icon" style="color: orangered;font-size: 10vw;text-align: center;"></span> -->
                </div>
                <p class="weui-grid__label">
                        地区
                </p>
                </a>
                <a href="" class="weui-grid js_grid">
                    <div class="weui-grid__icon" style="text-align: center">
                        <i class="icon-users" style="color: lightskyblue;font-size: 10vw;text-align: center;"></i>
                        <!-- <span class="icon-group" style="color: lightskyblue; font-size: 10vw;"></span> -->
                    </div>
                    <p class="weui-grid__label">
                         客户
                    </p>
                </a>
                <a href="" class="weui-grid js_grid">
                    <div class="weui-grid__icon" style="text-align: center">
                        <i class="icon-box2" style="color: greenyellow;font-size: 10vw;text-align: center;"></i>
                        <!-- <span class="icon-box2" style="color: greenyellow; font-size: 10vw;"></span> -->
                    </div>
                    <p class="weui-grid__label">
                            产品
                    </p>
                </a>
            </div>
            <div class="weui-footer">
                <p class="weui-footer__text">武汉市珈研信息科技有限公司</p>
            </div>
        </div>
    </div>
</section>
</@layout>