<#include "_inc/_layout.html"/>

<#macro css>
	
</#macro>

<#macro script>
	
</#macro>
<section>
    <div class="position">
        <i class="icon-map-marker"></i> 武汉大学国际软件学院
    </div>
    <div class="map">
        <p>货物流向图</p>
        <img src="${CTPATH}/images/map.png">
    </div>
    <div class="weui-grids">
        <a href="sales.html" class="weui-grid js_grid">
            <div class="weui-grid__icon" style="text-align: center">
                <span class="icon-help2" style="color: orangered;font-size: 1rem;text-align: center;"></span>
            </div>
            <p class="weui-grid__label">
                销售
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon" style="text-align: center">
                <span class="icon-group" style="color: lightskyblue; font-size: 1rem;"></span>
            </div>
            <p class="weui-grid__label">
                客户
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon" style="text-align: center">
                <span class="icon-box2" style="color: greenyellow; font-size: 1rem;"></span>
            </div>
            <p class="weui-grid__label">
                产品
            </p>
        </a>
    </div>
</section>

<@layout>
	
	
</@layout>