<#include "_inc/_layout.html"/>
<#macro css>
</#macro>
<#macro script>
	var sales = new CountUp("sales",0,24.93,2);
	sales.start();
    var orderTotal = new CountUp("order-total",0,565);
	orderTotal.start();
</#macro>
<section>
    <div id="bi-index">
        <header>
            <div class="position">
                <i class="icon-map-marker"></i> 湖北省武汉市洪山区
            </div>
        </header>
        <div class="map">
            <p>货物流向图</p>
            <img src="${CTPATH}/images/map.png">
        </div>
        <p class="title">销售汇总</p>
        <div class="sales-gather">
            <div class="gather fl">
                <img src="${CTPATH}/images/money.png">
                <p>
                    总销售额(万元):<br/><span id="sales">24.93</span>
                </p>
            </div>
            <div class="gather fr">
                <img src="${CTPATH}/images/order.png">
                <p>
                    订单总数(笔):<br/><span id="order-total">565</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <p class="title">分类</p>
        <div class="weui-grids">
            <a href="${CPATH}/sales" class="weui-grid js_grid">
                <div class="weui-grid__icon" style="text-align: center">
                    <span class="icon-help2" style="color: orangered;font-size: 1rem;text-align: center;"></span>
                </div>
                <p class="weui-grid__label">
                    销售
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="weui-grid__icon" style="text-align: center">
                    <span class="icon-group" style="color: lightskyblue; font-size: 1rem;"></span>
                </div>
                <p class="weui-grid__label">
                    客户
                </p>
            </a>
            <a href="" class="weui-grid js_grid">
                <div class="weui-grid__icon" style="text-align: center">
                    <span class="icon-box2" style="color: greenyellow; font-size: 1rem;"></span>
                </div>
                <p class="weui-grid__label">
                    产品
                </p>
            </a>
        </div>
        <div class="weui-footer">
            <p class="weui-footer__text">武汉市珈研信息科技有限公司</p>
        </div>
    </div>
</section>
<@layout>
</@layout>