<#include "_inc/_layout.html"/>
<#macro script_import>

 	<script src="${CPATH}/templates/datacenter/js/echarts.min.js"></script>
 	<!-- <script src="${CPATH}/templates/datacenter/js/bootstrap.min.js"></script> -->

</#macro>
<#macro css_import>

    <link rel="stylesheet" href="${CPATH}/templates/datacenter/css/bootstrap.min.css">

</#macro>
<#macro css>
	.weui-cells {
		margin-top: 0;
		background: inherit;
		font-size: 14px;
	}
	table {
		background: #fff;
		margin-bottom: 0!important;
	}
	table a {
		text-decoration: underline;
	}
	td {
		vertical-align: middle!important;
	}
	tr {
		line-height: 1.5rem;
		height: 1.5rem;
	}
	.sales-gather {
		width: 100%;
	}
</#macro>
<#macro script>
</#macro>
<@layout>
<section>
    <div class="bi-body">
   	   	<p class="title">产品省份报表</p>
   		<div class="weui-cells weui-cells_form">
   			<div class="weui-cell" style="padding: 0">
   		        <table class="table table-striped table-bordered">
	   		        <tbody style="text-align: center;">
	   		        	<tr>
		        			<td>
		        				产品
		        			</td>
		        			<td>
		        				省份
		        			</td>
		        			<td>
		        				销售额(万元)
		        			</td>
	   		        	</tr>
	   		        	<tr>
	   		        		<td rowspan="5">
	   		        			<span href="">125ml35度中国劲酒（醇化液）_1*24</span>
	   		        		</td>
	   		        		<td>湖北</td>
	   		        		<td>400</td>
	   		        	</tr>
	   		        	<tr class="warning">
	   		        		<td>湖南</td>
	   		        		<td>400</td>
	   		        	</tr>
	   		        	<tr class="info">
	   		        		<td>江苏</td>
	   		        		<td>400</td>
	   		        	</tr>
	   		        	<tr class="success">
	   		        		<td>浙江</td>
	   		        		<td>400</td>
	   		        	</tr>
	   		        </tbody>
   		        </table>
   	        </div>
   	   	</div>
   	   	<p class="title">产品客户报表</p>
   		<div class="weui-cells weui-cells_form">
   			<div class="weui-cell" style="padding: 0">
   		        <table class="table table-striped table-bordered">
	   		        <tbody style="text-align: center;">
	   		        	<tr>
		        			<td>
		        				产品
		        			</td>
		        			<td>
		        				客户类型
		        			</td>
		        			<td>
		        				销售额(万元)
		        			</td>
	   		        	</tr>
	   		        	<tr>
	   		        		<td rowspan="5">
		        				<span href="">125ml35度中国劲酒（醇化液）_1*24</span>
		        			</td>
	   		        		<td>商超</td>
	   		        		<td>400</td>
	   		        	</tr>
	   		        	<tr>
	   		        		<td>餐饮</td>
	   		        		<td>400</td>
	   		        	</tr>
	   		        </tbody>
   		        </table>
   	        </div>
   	   	</div>
	</div>
</section>
</@layout>
