<#include "_inc/_layout.html"/>
<#macro script_import>
	
 	<script src="${CPATH}/templates/datacenter/js/echarts.min.js"></script>
 	<!-- <script src="${CPATH}/templates/datacenter/js/bootstrap.min.js"></script> -->
	
</#macro>
<#macro css_import>

    <link rel="stylesheet" href="${CPATH}/templates/datacenter/css/bootstrap.min.css">
    	
</#macro> 
<#macro css>
    #customer_rank{
        width: 100%;
        height:11.5rem;
        margin-top:.5rem;
    }
    
    #area_rank{
        width: 100%;
        height:14rem;
    }
    .table{
        font-size:0.3rem;
    } 
   
</#macro>
<#macro script>
    $(function() { 
        FastClick.attach(document.body); 
        $(".date").click(function(e) { 
            var $a = $(e.currentTarget); 
            $a.parent().find(".date").removeClass("active-date"); 
            $a.addClass("active-date"); 
        }); 
      
		customer_rank();
		area_rank();
		product_rank();
    });
	
	//客户
	function customer_rank(){
	    $.ajax({
			url:"${CPATH}/sales/customerType",
			type:"post",
			data:{"provName": "湖北省", "cityName": "武汉市",countryName:""},
			dataType:"json"
		}).done(function(data){
		
			var crSeriesData = [];
			var length = data.length > 5 ? 5 : data.length;
		    
		    for(var i = 0; i < length; i++){
                crSeriesData.push({
                    name: data[i][0] + '(' + data[i][1] + ')',
                    value: data[i][1]
                });
		    }
	      	
			var crTitle = '客户销售情况前五名(金额/万元)';
			
		
			var customer_rank = document.getElementById('customer_rank');
			var $customer_rank = $(customer_rank);
			
			var customerRankChart = echarts.init(customer_rank);
			var crOption = {
			    title: [{
			        text: crTitle,
			        textStyle: {
			            fontWeight: 'normal',
			            fontSize: 16
			        }
			    }],
			    color: ['#4ac7f5', '#f36f8a', '#fd9173', '#AF89D6', '#5f71d2'],
			    series: [
			        {
			            name:crTitle,
			            type:'pie',
			            radius: ['25%', '45%'],
			            center: ['50%', '60%'], 
			            avoidLabelOverlap: false,
			            label: {
			                normal: {
			                    textStyle: {
			                        fontSize: 10
			                    }
			                }
			            },
			            data:crSeriesData
			        }
			    ]
			};
			customerRankChart.resize();
			customerRankChart.setOption(crOption,true);  
		});
	} 
	
	//区域
    function area_rank(){
		$.ajax({
			url:"${CPATH}/sales/area",
			type:"post",
			data:{"provName": "湖北省", "cityName": "武汉市",countryName:""},
			dataType:"json"
		}).done(function(data){
		    var areaYData = [];
			var areaSeriesData = [];
		    var length = data.length > 5 ? 5 : data.length;
		    
		    for(var i = 0; i < length; i++){
                areaYData.push(data[i][0]) ;
                areaSeriesData.push(data[i][1]);
		    }
		    
		    var areaTitle = '销售情况前五名(金额/万元)';
			
			var area_rank = document.getElementById('area_rank');
			var $area_rank = $(area_rank);
			
			var areaRankChart = echarts.init(area_rank);
			var option = {
			    title: [{
			        text: areaTitle,
			        textStyle: {
			            fontWeight: 'normal',
			            fontSize: 16
			        }
			    }],
			    color: ['#4ac7f5'],
			    grid: {
			        left: '2%',
			        right: '15%',
			        bottom: 15,
			        top: 60,
			        containLabel: true
			    },
			    calculable : true,
			    xAxis : [
			    {
			        show : false,
			        name : '金额/万元',
			        type : 'value',
			        boundaryGap: [0, 0.01]
			    }
			    ],
			    yAxis : [
			    {
			        type : 'category',
			        data : areaYData.reverse()
			    }
			    ],
			    series : [
			    {
			        type:'bar',
			        barWidth: 25,
			        data:areaSeriesData.reverse(),
			        label:{
			            normal:{
			                show:true,
			                position:'right'
			            }
			        }
			
			    }
			    ]
			
			};
			areaRankChart.resize();
			areaRankChart.setOption(option,true);
		});

    }
    
    //产品
    function product_rank(){
		$.ajax({
			url:"${CPATH}/sales/product",
			type:"post",
			data:{"provName": "湖北省", "cityName": "武汉市",countryName:""},
			dataType:"json"
		}).done(function(data){
			var length = data.length > 5 ? 5 : data.length;
		    
		    for(var i = 0; i < length; i++){
                $(".table tbody").append("<tr><td>" + data[i][0] + "</td><td>" + data[i][1] + "</td><td>" + data[i][2] + "</td></tr>")
		    }
		
		});
	}	
	
</#macro>
<section>
    <div class="bi-body">
        <div class="date-div">
            <a class="date active-date">最近一天</a>	
            <a class="date">最近一周</a>
            <a class="date">最近一月</a>
        </div>
        <div class="map">
            <p>2017-08-15销售情况</p>
            <img src="${CTPATH}/images/map.png">
        </div>
        <!-- 容器 -->
        <div class="weui-tab report">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                  销售报表
                </a>
                <a class="weui-navbar__item" href="#tab2">
                  库存报表
                </a>
            </div>
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active report-table">
                      <div id="customer_rank">
                          
                      </div>
                      <div id="area_rank">
                      </div>
                      <div>
                          <table class="table">
                            <thead>产品销售前五名(金额/万元)</thead>
                            <tbody>
                              <tr>
                                <th>产品</th>
                                <th>数量(件)</th>
                                <th>金额</th>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                </div>
                <div id="tab2" class="weui-tab__bd-item report-table">
                    <div>
                        <p class="title mg-t-0">全国最新库存</p>
                        <img src="static/images/inventory.png">
                    </div>
                    <div>
                        <p class="title">全国库存趋势</p>
                        <img src="static/images/tendency.png">
                        <img src="static/images/tendency.png">
                        <img src="static/images/tendency.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<@layout>
</@layout>