<#include "_inc/_layout.html"/>
<#macro css>
</#macro>
<#macro script>
    $(function() { FastClick.attach(document.body); $(".date").click(function(e) { var $a = $(e.currentTarget); $a.parent().find(".date").removeClass("active-date"); $a.addClass("active-date"); }); });
    var sales = new CountUp("sales",0,249300000);
	sales.start();
    var orderTotal = new CountUp("order-total",0,56675535);
	orderTotal.start();
</#macro>
<section>
    <div class="bi-body">
        <div class="date-div">
            <a class="date active-date">最近一天</a>
            <a class="date">最近一周</a>
            <a class="date">最近一月</a>
        </div>
        <div class="map">
            <p>2017-08-15销售情况</p>
            <img src="${CTPATH}/images/map.png">
        </div>
        <!-- 容器 -->
        <div class="weui-tab report">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                  销售报表
                </a>
                <a class="weui-navbar__item" href="#tab2">
                  库存报表
                </a>
            </div>
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active report-table">
                    <p class="title">销售汇总</p>
        <div class="sales-gather">
            <div class="gather">
                <img src="${CTPATH}/images/money.png">
                <p>
                    总销售额(元):<br/><span id="sales"></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="gather">
                <img src="${CTPATH}/images/order.png">
                <p>
                    订单总数(笔):<br/><span id="order-total"></span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
                    <div>
                        <p class="title">全国产品销售前5名</p>
                        <img src="static/images/sale_top5.png">
                    </div>
                    <div>
                        <p class="title">全国客户销售情况比较</p>
                        <img src="static/images/customer_top5.png">
                    </div>
                    <div>
                        <p class="title">全国销售前5名</p>
                        <img src="static/images/country_top5.png">
                    </div>
                </div>
                <div id="tab2" class="weui-tab__bd-item report-table">
                    <div>
                        <p class="title mg-t-0">全国最新库存</p>
                        <img src="static/images/inventory.png">
                    </div>
                    <div>
                        <p class="title">全国库存趋势</p>
                        <img src="static/images/tendency.png">
                        <img src="static/images/tendency.png">
                        <img src="static/images/tendency.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<@layout>
</@layout>