<div class="weui-tabbar wy-foot-menu">
	<a href="${CPATH}/" class="weui-tabbar__item <#if ('/' == REQUEST.requestURI!) || ('/wxoauth' == REQUEST.requestURI!)>weui-bar__item--on</#if>">
		<div class="weui-tabbar__icon foot-menu-home">
		    <i class="icon-home"></i> 
		</div>
        <p class="weui-tabbar__label">首页</p>
	</a>
	<@cc.menus>
	<#list menus as menu>
    <a href="${CPATH}${(menu.url)!}" class="weui-tabbar__item <#if menu.isActive()>weui-bar__item--on</#if>">
        <div class="weui-tabbar__icon">
            <i class="${(menu.icon)!}"></i>
        </div>
        <p class="weui-tabbar__label">${(menu.title)!}</p>
    </a>
    </#list>
    </@cc.menus>
</div>