<article id="combin-filter" class="combin-filter animated slideOutRight">
		<div class="filter-item">
			<h4>日期区间</h4>
			<div class="relative weui-flex" id="getDate">
				<input type="text" id="start-date" class="weui-input weui-flex__item" readonly>
				<div style="width:1rem" class="t-c">—</div>
				<input type="text" id="end-date" class="weui-input weui-flex__item" readonly>
			</div>
		</div>
        <div class="filter-item">
			<h4>品牌</h4>
			<div class="relative ft12" id="getBrand">
				<span  class="red-button" data-id="">全部</span>
                <#list session['brand_id_array'] as brandId>
                    <span data-id='${brandId!}'">${session['brand_name_array'][brandId_index]!}</span>
                </#list>
			</div>
		</div>
		<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
			<button class="white-button-no-border  cancel-search-btn weui-flex__item border-top-1px">取消</button>
			<button class="red-button confirm-search-btn weui-flex__item">确定</button>
		</footer>
</article>
<div class="layer"></div>