<div class="foot-black"></div>
<div class="weui-tab">
    <div class="weui-tabbar">
        <a href="${CPATH}/" class="weui-tabbar__item <#if '/' == REQUEST.requestURI!>weui-bar__item--on</#if>">
            <div class="weui-tabbar__icon foot-menu-home"></div>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="${CPATH}/area" class="weui-tabbar__item <#if cur_nav ?? && (cur_nav == 'area')>weui-bar__item--on</#if>">
            <div class="weui-tabbar__icon foot-menu-area"></div>
            <p class="weui-tabbar__label">地区</p>
        </a>
        <a href="${CPATH}/customer" class="weui-tabbar__item <#if cur_nav ?? && (cur_nav == 'customer')>weui-bar__item--on</#if>">
            <div class="weui-tabbar__icon foot-menu-customer"></div>
            <p class="weui-tabbar__label">客户</p>
        </a>
        <a href="${CPATH}/product" class="weui-tabbar__item <#if cur_nav ?? && (cur_nav == 'product')>weui-bar__item--on</#if>">
            <div class="weui-tabbar__icon foot-menu-product"></div>
            <p class="weui-tabbar__label">产品</p>
        </a>
        <a href="${CPATH}/dealer" class="weui-tabbar__item <#if cur_nav ?? && (cur_nav == 'dealer')>weui-bar__item--on</#if>">
            <div class="weui-tabbar__icon foot-menu-dealer"></div>
            <p class="weui-tabbar__label">经销商</p>
        </a>
    </div>
</div>
<!--
<a class="left-back" href="${CPATH}/report">
    <img src="${CTPATH}/favicon.ico" alt="">
</a>-->
