<#macro script_import>
</#macro> 
<#macro script>
</#macro> 
<#macro css_import>
</#macro> 
<#macro css>
</#macro> 
<#macro layout>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  	<title>${WEB_TITLE!WEB_NAME!} ${WEB_SUBTITLE!'数据中心'}</title>
  	<meta name="keywords" content="${META_KEYWORDS!}">
  	<meta name="description" content="${META_DESCRIPTION!}">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  	<meta name="renderer" content="webkit">
  	
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="${WEB_TITLE!WEB_NAME!}"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content="${WEB_TITLE!WEB_NAME!}"/>
	<meta property="og:description" content="${META_DESCRIPTION!}"/>
	<meta name="twitter:title" content="${WEB_TITLE!WEB_NAME!}" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="${META_DESCRIPTION!}" />
	
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="${CTPATH}/images/favicon.ico" type="image/x-icon">

    <!-- weui.css -->
	<link type='text/css' rel="stylesheet" href="${CTPATH}/css/weui.min.css">
	<!-- jquery-weui -->
	<link type='text/css' rel="stylesheet" href="${CTPATH}/css/jquery-weui.min.css">
	<!-- Icomoon Icon Fonts-->
	<link type='text/css' rel="stylesheet" href="${CTPATH}/css/icomoon.css">
	<!-- layer -->
    <link type='text/css' rel="stylesheet" href="${CPATH}/static/layer_mobile/need/layer.css">
	<!-- animate.css -->
	<link type='text/css' rel="stylesheet" href="${CTPATH}/css/animate.min.css">
	<!-- bootstrap.css -->
	<link rel="stylesheet" rel="stylesheet" href="${CPATH}/static/bootstrap/css/bootstrap.min.css">
	<!-- select2 -->
	<link rel="stylesheet" rel="stylesheet" href="${CPATH}/static/plugins/select2/css/select2.css">
	<!-- bootstrap-datetimepicker -->
	<link rel="stylesheet" rel="stylesheet" href="${CPATH}/static/plugins/datetimepicker/bootstrap-datetimepicker.min.css">
	<@css_import />

	<!-- 
		You can change the style.css (default color purple) to one of these styles
	-->
	<link type='text/css' rel="stylesheet" href="${CTPATH}/css/pc_style.css">

  	<#if css ??>
  		<style type="text/css">
  		<@css />
  		</style>
  	</#if>

</head>

<body ontouchstart>
	
	<#nested>
	
	<div style="display: none;">
		${OPTION('jpblog_statistical_code')!}
	</div>
	
    <!-- jQuery -->
	<script type='text/javascript' src="${CTPATH}/js/jquery-2.1.4.js"></script>
	<script type='text/javascript' src="${CTPATH}/js/jquery.cookie.js"></script>
	<!-- fastclick -->
	<script type='text/javascript' src="${CTPATH}/js/fastclick.js"></script>
	<!-- jquery-weui -->
	<script type='text/javascript' src="${CTPATH}/js/jquery-weui.js"></script>
	<script type='text/javascript' src="${CTPATH}/js/historyUtils.js"></script>
	<!-- layer -->
    <script type='text/javascript' src="${CPATH}/static/layer_mobile/layer.js"></script>
	<!-- echarts -->
	<script type="text/javascript" src="${CTPATH}/js/echarts.min.js"></script>
	<!--select2  -->
	<script type="text/javascript" src="${CPATH}/static/plugins/select2/js/select2.js"></script>
	<!-- bootstrap-datetimepicker -->
	<script type="text/javascript" src="${CPATH}/static/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="${CPATH}/static/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
	<@script_import />
	<script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
	<script type='text/javascript' src="${CTPATH}/js/moment.js"></script>
	<script type='text/javascript' src="${CTPATH}/js/common.js"></script>
	<script type='text/javascript' src="${CTPATH}/js/pc_comm.js"></script>
    <!--<script type='text/javascript' src="${CTPATH}/js/vconsole.min.js"></script>-->
	<!-- <script type='text/javascript' src="${CTPATH}/js/headroom.min.js"></script> -->
	<script type="text/javascript">
		Utils.loading();
		$(function() {
			FastClick.attach(document.body);
			Utils.context = '${CTPATH}';
		});	
	</script>
	
	<#if script ??>
	<script type="text/javascript">
		<@script />
	</script>
	</#if>
</body>
</html>
</#macro>