<#include "_inc/_layout.html"/>
<#macro title>活动审核</#macro>

<#macro css></#macro>
<#macro script>
	$(function() {
	    $(document).on('click', '.refuse', function() {
	      layer.open({
	        type: 1,
	        title: ['活动审核',
	          'border-bottom: 1px solid #eee;height:2rem;line-height:2rem;margin-top:2.5rem'
	        ],
				content: '<img src="${CTPATH}/images/image_orderpopups.png">' +
				'<p class="t-c">是否确认拒绝该活动申请？</p>' +
				'<div><textarea id="comments" placeholder="补充说明，必填"></textarea></div>',
	        anim: 'scale',
	        className: 'audit',
	        btn: ['确认','取消'],
	        yes: function() {
	          parent.comment = $("#comments").val();
	          if (parent.comment == ""){
	            $.toptip('请注明拒绝理由', 'warning');
	            return;
	          }
	          doReject(0);
	        },
	        no:function() {
	
	        }
	      });
	    }).on('click', '.agree', function() {
	      layer.open({
	        type: 1,
	        title: ['活动审核',
	          'border-bottom: 1px solid #eee;height:2rem;line-height:2rem;margin-top:2.5rem'
	        ],
					content: '<img src="${CTPATH}/images/image_orderpopups.png">' +
						'<p class="t-c">是否确认通过该活动申请？</p>' +
	          '<div><textarea id="comments" placeholder="补充说明，可选填"></textarea></div>',
	        anim: 'scale',
	        className: 'audit',
	        btn: ['通过','取消'],
	        yes: function() {
	          parent.$("#comment").val($("#comments").val());
	          doPass(1);
	        },
	        no:function() {
	
	        }
	      });
	    });
	    
	});
	var comment = '';

	function doReject(pass) {
		layer.open({
			type: 2,
			content: '保存中...'
		});
		
		var params = {
			"id": '${(activityApply.id)!}',
			"taskId": '${(taskId)!}',
			"comment": comment,
			'pass' : pass
		}


		Utils.ajax('${CPATH}/activity/complete', params,
			function(res){
				if (res.errorCode == 0) {
					location.href = '${CPATH}/todo/activityApply'
				} else {
					$.alert(res.message);
				}
				layer.closeAll();
			}
		)
	};

function doPass(pass) {
	layer.open({
		type: 2,
		content: '保存中...'
	});

	var params = {
		"id": '${(activityApply.id)!}',
		"taskId": '${(taskId)!}',
		"comment": comment,
		'pass' : pass
	}


	Utils.ajax('${CPATH}/activity/complete', params,
		function(res){
			if (res.errorCode == 0) {
				location.href = '${CPATH}/todo/activityApply'
			} else {
				$.alert(res.message);
			}
			layer.closeAll();
		}
	)
};

</#macro>

<@layout>
<body id="fee-application-detail">
<div>
    <section class="weui-panel weui-panel_access order-customer-info">
        <div class="weui-cell weui-cell_access orange">
            <i class="icon-tags ft24 m-r-10"></i>
            <div class="weui-cell__bd">
                ${activityApply.customer_name}
                <span class="gray fr ft14">${activityApply.code}</span>
            </div>
        </div>
        <div class="weui-cell weui-cell_access gray ft13">
            <div class="width-100">
                <p>活动日期
                    <span>${(activityApply.start_date)!} ~ ${(activityApply.end_date)!}</span>
                </p>
                <p>活动类型
                    <span>${activityApply.name}</span>
                </p>
                <#if investType??>
                <p>投入类型
                    <span>${investType}</span>
                </p></#if>
                <p>客户信息
                    <span>${activityApply.contact}（${activityApply.mobile}）</span>
                </p>
                
                <p>申请人
                    <span>${(activityApply.realname)!}</span>
                </p>
                <p>申请日期
                    <span>${(activityApply.format_create_date)!}</span>
                </p>
                <p>备注
                    <span>${(activityApply.content)!}</span>
                </p>
                <#if expenseDetail??>
        			<p>费用类型
	                    <span>${(expenseDetail.expenseDetailName)!}</span>
	                </p>
	                <#if expenseDetail.expenseDetailName1??>
		                <p>品项
		                    <span>${(expenseDetail.expenseDetailName1)!}</span>
		                </p>
	                </#if>
      			</#if>
				<!--<p>-->
				<!--附件图片-->
				<!--<span>-->
				<!--<img src="static/images/avatar.png" alt="">-->
				<!--<img src="static/images/avatar.png" alt="">-->
				<!--<img src="static/images/avatar.png" alt="">-->
				<!--<img src="static/images/avatar.png" alt="">-->
				<!--</span>-->
				<!--</p>-->
            </div>
        </div>
        
        <#if activityApply.apply_num??>
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                申请数量
	                <span class="fr">
	            	<span class="ft20 orange">${activityApply.apply_num}</span></span>
	            </div>
	        </div>
        </#if>
        <#if activityApply.apply_amount??>
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                申请总金额
	                <span class="fr">
	            <span class="ft20 orange">${activityApply.apply_amount?string("0.00")}</span>&nbsp;元</span>
	            </div>
	        </div>
        </#if>
		<!--<div class="weui-cell weui-cell_access">
			<div class="weui-cell__bd">
				<div>
			<span>
			  产品费用
			  <span class="fr">
				<span class="orange">900</span>&nbsp;元</span>
			  <br>
			  <span class="gray ft13">4月1日-4月30日</span>
			</span>
				</div>
				<div>
			<span>
			  物料费用
			  <span class="fr">
				<span class="orange">100</span>&nbsp;元</span>
			  <br>
			  <span class="gray ft13">4月1日-4月30日</span>
			</span>
				</div>
			</div>
		</div>-->
		<!--<div class="weui-cell weui-cell_access">-->
		<!--<div class="weui-cell__bd blue t-c ft13">-->
		<!--收起明细-->
		<!--</div>-->
		<!--</div>-->
    </section>
</div>
		<#if isCheck>
    <#include "_inc/_goback.html" />    		
    <footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex ">
      <button type = "button" class="white-button-no-border weui-flex__item refuse border-top-1px">拒绝</button>
      <button type = "button" class="red-button weui-flex__item agree">同意</button>
		</footer>
		<#else>
			<#include "_inc/_goback_bottom.html" />
    </#if>
  </div>
</body>
</@layout>