<#include "_inc/_layout.html"/>
<#macro title>活动申请</#macro>
<#macro css_import>
</#macro>
<#macro css>
	#customerList {
		background: #f7f7f7;
	}
	.select-customer {
		text-align: left!important;
		width: -webkit-fill-available!important;
	}
	.order-customer-info {
		margin-top: 10px!important;
	}
	.weui-cells__title+.order-customer-info {
		margin-top: 0!important;
	}
	.order-customer-info+.weui-cell_access {
		position: absolute;
		top: 1rem;
		right: .25rem;
	}
	.customerName,
	.contact,
	.mobile {
		display: inline-block;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: .7rem;
	}
	.customerName {
		width:40%;
	}
	.contact {
		width:25%;
	}
	.mobile {
		width: 32%;
		text-align: right;
		float: right;
	}
	.applyInfo .weui-cell:first-child:after {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 1px;
		border-top: 1px solid #e5e5e5;
		color: #e5e5e5;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		left: 15px;
		z-index: 2;
	}
	.applyInfo input {
		width:65%;
	}
</#macro>
<#macro script_import>
</#macro>
<#macro script>
$(function () {
	$activity.empty();
	addActivity();
	doChange(activityId);
	$("#startTime").calendar({
			onChange: function(p, values, displayValues) {
				$("#startDate").val(values[0])
			}
 		});
	$("#endTime").calendar({
			onChange: function(p, values, displayValues) {
				$("#endDate").val(values[0])
			}
 		});
	 $("#expense_detail").select({
   		title: "选择明细",
		multi: true,
		items: ${details},
		onClose: function(obj) {
			var expenseDetailIds = obj.data.values;
			var expenseTitle = obj.data.titles;
			$('#expense_detail_id').val(expenseDetailIds);
			getSurplusInfo(expenseDetailIds,expenseTitle);
		}
    });
	//客户选择部分
	$(document).on("click", "#addActivity", function () {
		addActivity();
	}).on("click", "#delActivity", function () {
		$(this).parents(".activity-detail-item").remove();
	}).on("input", "#customerSearchInput", function() {
		customerCombo();
	}).on("click", "#customerSearchCancel", function() {
		customerCombo();
	}).on("change", "#userId", function() {
		customerCombo();
	}).on("change", "#customerTypeId", function() {
		customerCombo();
	}).on('click', '.select-all', function() {
		var _this = this;
		$('#customerList input[type=checkbox]').each(function() {
			this.checked = _this.checked
		})
		$("#totalNum").text($('#customerList input[type=checkbox]:checked').length);
	}).on('click', '#customerList input[type=checkbox]', function() {
			var all = $('#customerList input[type=checkbox]').length;
			var now = $('#customerList input[type=checkbox]:checked').length
			if (all == now) {
				$('.select-all')[0].checked = true
			} else {
				$('.select-all')[0].checked = false
			}
			$("#totalNum").text(now);
	}).on("click", "#confirm", function() {
		confirm();
	}).on("click", "#apply", function() {
		if (!flg) {
            return;
        }
		if ($(".activity-item").length == 0) {
			$.toptip("请添加活动", 'warning');
			return;
		}
		if ($("#sellerCustomerId").val() == "") {
			$.toptip("请选择客户", 'warning');
			return;
		}
		if ($("#isLimit").val() == "1") {
			if (!checkApply()) {
				$.toptip("申请量大于剩余量或申请量为空", 'warning');
				return;			
			}		
		}
		$.confirm("您确定要申请活动吗？","活动申请", function() {
			doSubmit();
		});
	}).on("click", ".check-box+.weui-flex__item", function() {
		var $checkbox = $(this).prev().find('input[type=checkbox]')[0];
		$checkbox.checked = !$checkbox.checked;
		var all = $('#customerList input[type=checkbox]').length;
		var now = $('#customerList input[type=checkbox]:checked').length
		if (all == now) {
			$('.select-all')[0].checked = true
		} else {
			$('.select-all')[0].checked = false
		}
		$("#totalNum").text(now);
	});
	customerCombo();
});
var activityId = '${activity_id!}';
var activityInfoMap = ${activityInfoMap!};
var activityItems = ${activityItems!};
var newHtml = $(".activity-detail-item").eq(0).html();
var $activity = $("#activityList");
var applyHtml = $(".applyInfo").eq(0).html();

function checkApply() {
	var store = $(".applyInfo");
	var check = false;
	var $chechboxs = $('#customerList input[type=checkbox]:checked');
	var length = $chechboxs.length;
	store.each(function(index,obj){
		var applyNum = parseInt($(obj).find("#apply_num").val());
		var applyAmount = parseInt($(obj).find("#apply_amount").val());
		var numMax = parseInt($(obj).find("#maxNum").val());
		var amountMax = parseInt($(obj).find("#maxAmount").val());
		if (!isNaN(numMax)) {
			if (isNaN(applyNum)) {
				check = false;
				return false;
			}
			if (applyNum * length > numMax) {
				check = false;
				return false;
			}		
		}
		if (isNaN(applyAmount)) {
			check = false;
			return false;
		}
		if (applyAmount * length > amountMax) {
			check = false;
			return false;
		}
    	if (index == store.length-1) {
    		check = true;
    	}		
	});
	return check;		
}

function getSurplusInfo(ids,titles) {
	defaultInfo();
	var titles = titles.split(",");
	$.get('${CPATH}/activity/getSurplusInfo?ids=' + ids,
		function(data){
            $.each(data, function(index, el) {
            	if(index != 0) {
	                $(".detailInfo").append("<div class='applyInfo'>" + applyHtml + "</div>");
            	}
            	var $newApply = $(".detailInfo").find(".applyInfo:last");
            	$newApply.find("#detailName").html(titles[index]); 
				if (el.num == null) {
					$newApply.find(".num").hide();
				}else {
					$newApply.find("#maxNum").val(el.num);
					$newApply.find("#ableNum").html("("+el.num+")");
				}
				$newApply.find("#maxAmount").val(el.amount);
				$newApply.find("#ableMoney").html("("+el.amount+")");
            });			
		}
	);
}

function defaultInfo() {
 	$(".detailInfo").empty();
 	$(".detailInfo").append("<div class='applyInfo'>" + applyHtml + "</div>");
}

function addActivity(){

	$activity.append("<section class='weui-panel weui-panel_access activity-detail-item ft14'>" + newHtml + "</section>");
	var $newActivityDetail = $activity.find(".activity-detail-item:last");
	initActivityChange($newActivityDetail);

}

function initActivityChange($obj){
	var $title = $obj.find("#title");
	$title.select({
		title: "选择活动项目",
		items: activityItems,
		onChange: function(data) {
		var activity = activityInfoMap[data.values].columns;
		changeEvent(activity, $obj);
		showCustomer(activity);
		}
	});
}

function showCustomer(activity){
	window.location.href = "${CPATH}/activity/activityApply?activity_id=" + activity.id;
}

function changeEvent(activity,$obj){
	$obj.find("#activityId").val(activity.id);
	$obj.find("#visitNum").val(activity.visit_num);
	$obj.find("#isLimit").val(activity.is_limit);
	if (activity.customerTypeName != null && activity.customerTypeName != "") {
		$obj.find("#customerTypeName").val(activity.customerTypeName);
	} else {
		$obj.find("#customerTypeName").val("不限");
	}
	$obj.find("#areaType").text(activity.area_type);
	if(typeof activity.join_num === 'undefined'){
		$obj.find("#joinNum").text("每个客户参加本活动的次数不限");
	}else{
		$obj.find("#joinNum").text("每个客户可以参加" + activity.join_num + "次");
	}	
	$obj.find("#content").text(activity.content);
	
}

function doChange(key){
	var activity = activityInfoMap[key].columns;
	var $newActivityDetail = $activity.find(".activity-detail-item:last");
	var $title = $newActivityDetail.find("#title");

	$title.val(activity.title);
	$title.attr('data-values', activity.id);

	changeEvent(activity, $newActivityDetail);
}

    //---------------------------------------------------------客户选择部分----------------------------------------------------------

    $("#userId").select({
     title: "选择业务员",
     items: ${userIds!}
    });

    $("#customerTypeId").select({
     title: "选择客户类型",
     items: ${customerTypes!}
    });

	//var customerTypeId = '${customerTypeId!}';
	if(customerTypeId != ""){
		$("#customerTypeId").attr('data-values',customerTypeId);
	}
    var areaType = '${areaType!}';
	var provName = '';
	var cityName = '';
	var countryName = ''
	if(areaType != ''){
		var areaTypeArr = areaType.split('-');
        provName = areaTypeArr[0];
		cityName = areaTypeArr[1];
		countryName = areaTypeArr[2];
	}
    
    var customerHtml = $(".customerSelect").eq(0).html();
    var $loading = $("#loading");
    var $noMore = $("#noMore");
    var loading = false;
    
    var keyword = '';
    var page = 1;
    var size = 10;

    var $customerList = $("#customerList");
    $customerList.empty();

    function initCustomerSelect() {
        $loading.show();
        $noMore.hide();

        var params = {
            "page": page,
            "size": size,
            "keyword": $("#searchInput").val(),
            "userId": $("#userId").data('values'),
            "customerTypeId": $("#customerTypeId").val(),
            "customerType": $("#customerTypeId").data('values'),
            "isOrdered": $("#isOrdered").data('values'),
            "activityId":$("#activityId").val(),
            "provName": provName,
            "cityName": cityName,
            "countryName": countryName
        }

        Utils.ajax('${CPATH}/activity/customerList', params,
            function(data){
                $loading.hide();
                if(data.customerList.length == 0){
                    if($('.customerSelect').length == 0) $noMore.show();
                    loading = true;
                    return;
                }
                $.each(data.customerList, function(index, el) {
                    $customerList.append("<div class='weui-panel weui-panel_access weui-flex customerSelect'>" + customerHtml + "</div>");
                    var $newCustomer = $customerList.find(".customerSelect:last");
                    $newCustomer.find("#customerName").text(el.customer_name);
                    $newCustomer.find("#contactP").text(el.contact + "/" + el.mobile);
                    $newCustomer.find("#addressSpan").text(el.prov_name + " " + el.city_name + " " + el.country_name + " " + el.address);

                    $newCustomer.find("#sellerCustomerId").val(el.id);
                    $newCustomer.find("#contact").val(el.contact);
                    $newCustomer.find("#mobile").val(el.mobile);
                    $newCustomer.find("#address").val(el.prov_name + " " + el.city_name + " " + el.country_name + " " + el.address);
                });
                page++;
                loading = false;
            }
        );
    }

    //滑动方法
    $("#infinite").infinite().on("infinite", function() {
        if(loading) {
            return;
        }
        loading = true;
        initCustomerSelect();
    });

    function customerCombo() {
        $customerList.empty();
        loading = false;
        page = 1;
        initCustomerSelect();
    }
	var $section = $(".order-customer-info");
	var customerInfoHtml = $section.html();
	function confirm(){
		$section.empty();
		var $chechboxs = $('#customerList input[type=checkbox]:checked');
		if( $chechboxs.length == 0) {
			$section.append(customerInfoHtml);
		} else {
			$.each($chechboxs, function(index, el) {
				$section.append(customerInfoHtml);
				var $customerInfo = $section.find(".customerInfo:last");
				var $el = $(el);
				var $customer = $el.parents(".customerSelect");
				var customerName = $customer.find("#customerName").text();
				$customerInfo.find(".customerName").text(customerName);
				$customerInfo.find(".contact").text($customer.find("#contact").val());
				$customerInfo.find(".mobile").text($customer.find("#mobile").val());
				$customerInfo.find("#sellerCustomerName").val(customerName);
				$customerInfo.find("#sellerCustomerId").val($el.val());
				
			});
		}
		closeCombinSearch();
	}
    
    //---------------------------------------------提交表单------------------------------------------------------------------
    var flg = true;
    function doSubmit(){
    	var start = $("#startDate").val();
    	var end = $("#endDate").val();
    	var expense = $('#expense_detail_id').length;
    	if (expense > 0) {
    		var detailsIds = $('#expense_detail_id').val();
	    	if(!detailsIds){
	    		$.toptip('请选择费用明细');
	    		return;
	    	}    		
    	}
    	if((new Date(start.replace(/-/g,"\/"))) > (new Date(end.replace(/-/g,"\/")))){
    		$.toptip('开始时间不能高于结束时间');
    		return;
    	}
    	if(start == "" || end == ""){
    		$.toptip('开始时间/结束时间不能为空！');
    		return;
    	}
        layer.open({
            type: 2,
            content: '保存中...'
        });

<!-- 		$("#form").ajaxSubmit({ -->
<!-- 			beforeSubmit: function() { -->
<!-- 				flg = false; -->
<!-- 				return true -->
<!-- 			}, -->
<!-- 			type : "post", -->
<!-- 			dataType : "json", -->
<!-- 			success : function(data) { -->
<!-- 				layer.closeAll(); -->
<!-- 				if (data.errorCode == 0) { -->
		
<!-- 					$.modal({ -->
<!-- 						title: data.message, -->
<!-- 						buttons: [ -->
<!-- 							{ text: "查看申请", className: "default", onClick: function(){ -->
<!-- 								location.href = "${CPATH}/activity/applyList"; -->
<!-- 							} -->
<!-- 						}, -->
<!-- 							{ text: "继续申请", className: "primary", onClick: function(){ -->
<!-- 								location.href = '${CPATH}/activity'; -->
<!-- 							} -->
<!-- 						}, -->
<!-- 						] -->
<!-- 					}); -->
			
<!-- 				} else { -->
<!-- 					$.toptip(data.message, 'error'); -->
<!-- 				} -->
<!-- 				flg = true; -->
<!-- 			}, -->
<!-- 			error : function() { -->
<!-- 				layer.closeAll(); -->
<!-- 				alert("信息提交错误"); -->
<!-- 				flg = true; -->
<!-- 			} -->
<!-- 		}); -->
    }

</#macro>

<@layout>
<body id="fee-application" class="weui-content">
	<form action="${CPATH}/activity/apply" method="post" id="form">
		<main>
			<div id="activityList">
				<section class="weui-panel weui-panel_access activity-detail-item ft14">
					<div class="weui-cell weui-cell_access select-area">
						<input type="text" class="weui-input activity-item" id="title" readonly placeholder="请选择活动项目">
						<input type="hidden" name="activity_id" id="activityId">
						<input type="hidden" name="visit_num" id="visitNum">
						<input type="hidden" name="li_limit" id="isLimit">
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<span>
								开始日期
								<span class="require"></span>
							</span>
							<input type="text" class="weui-input fr" name = "startTime" id="startTime" readonly>
							<input type="hidden" class="weui-input fr" name = "startDate" id="startDate">
							<span class="weui-cell__ft"></span>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<span>
								结束日期
								<span class="require"></span>
							</span>
							<input type="text" class="weui-input fr" name = "endTime" id="endTime" readonly>
							<input type="hidden" class="weui-input fr" name = "endDate" id="endDate" readonly>
							<span class="weui-cell__ft"></span>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<span>
								客户类型
								<span class="require"></span>
							</span>
							<div class="fr t-r">
								<input type="text" class="weui-input" id="customerTypeName" readonly>&nbsp;&nbsp;
							</div>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<span>
								区域
								<span class="require"></span>
							</span>
							<div class="fr t-r">
								<span class="weui-input" id="areaType" readonly>&nbsp;&nbsp;</span>
							</div>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<span>
								规则
								<span class="require"></span>
							</span>
							<div class="fr t-r">
								<span class="weui-input" id="joinNum" readonly>&nbsp;&nbsp;</span>
							</div>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<span>
							活动内容
							<span class="require"></span>
						</span>
						<div class="weui-cell__bd" style="margin-left:40px;">
							<span class="weui-input" id="content"></span>
						</div>
					</div>
					<#if details?size gt 0>
						<div class="weui-cell weui-cell_access select-area">
							<span>
								费用明细
								<span class="require"></span>
							</span>
							<div class="weui-cell__bd">
								<input id="expense_detail_id" name="expense_detail_id" type="hidden" />
								<input id="expense_detail" class="weui-input" name="expense_detail" style="width:100%;" type="text">
							</div>
							<span class="weui-cell__ft"></span>
						</div>
					</#if>
					<div class="detailInfo">
						<div class="applyInfo">
							<!-- <div class="weui-cells__title gray" id="detailName"></div> -->
							<div class="weui-cell weui-cell_access num">
								<div class="weui-cell__bd">
									<span>
										申请数量
										<span id="ableNum"></span>
										<span class="require"></span>
									</span>
									<input type="tel" class="weui-input fr" id="apply_num" name="apply_num" value="0" placeholder="请填写数量" required>
									<input type="hidden" id="maxNum">
								</div>
							</div>
							<div class="weui-cell weui-cell_access amount">
								<div class="weui-cell__bd">
									<span>
										申请金额
										<span id="ableMoney"></span>
										<span class="require"></span>
									</span>
									<input type="tel" class="weui-input fr" id="apply_amount" name="apply_amount" value="0" placeholder="请填写金额" required>
									<input type="hidden" id="maxAmount">
								</div>
							</div>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<textarea placeholder="备注说明（70字以内）" name="content" class="width-100"></textarea>
						</div>
					</div>
				</section>
			</div>
			<div class="weui-cells__title">客户信息</div>
			<div class="relative">
				<section class="weui-panel weui-panel_access order-customer-info">
					<div class="weui-cell weui-cell_access customerInfo select-customer">
						<div class="weui-cell__bd weui-flex">
							<input type="hidden" name="sellerCustomerId" id="sellerCustomerId" value="">
							<input type="hidden" name="sellerCustomerName" id="sellerCustomerName" value="">
							<div class="customerName">
								&nbsp;
							</div>
							<div class="contact"></div>
							<div class="mobile"></div>
						</div>
					</div>
				</section>
				<div class="weui-cell_access">
					<div class="weui-cell__ft"></div>
				</div>
			</div>
		</main>
		<article id="combin-filter" class="customerMulti">
			<div id="customer">
				<header>
					<div class="weui-search-bar" id="searchBar">
						<div class="weui-search-bar__form">
							<div class="weui-search-bar__box">
								<i class="weui-icon-search"></i>
								<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索">
								<a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
							</div>
							<label class="weui-search-bar__label" id="searchText">
								<i class="weui-icon-search"></i>
								<span>请输入客户名或联系人</span>
							</label>
						</div>
						<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
					</div>
				</header>
				<article class="customer">
					<header>
						<div class="head-search select-area">
							<div class="weui-flex">
								<div class="weui-flex__item">
									<input type="text" id="userId" placeholder="业务员" class="weui-input" readonly>
									<i class="icon-sort-desc"></i>
								</div>
								<div class="weui-flex__item">
									<input type="text" id="customerTypeId" placeholder="客户类型" class="weui-input" readonly>
									<i class="icon-sort-desc"></i>
								</div>
							</div>
						</div>
					</header>
					<article id="infinite">
						<div id="customerList">
							<div class="weui-panel weui-panel_access weui-flex customerSelect" style="display: none">
								<div class="check-box">
									<input type="checkbox" name="sellerCustomer_id" id="sellerCustomerId" class="weui-agree__checkbox">
								</div>
								<div class="weui-flex__item">
									<div class="weui-flex">
										<div class="weui-flex__item customer-info" id="customerInfo">
											<p class="ft14" id="customerName"></p>
											<p class="gray" id="contactP"></p>
											<input type="hidden" id="contact" value="">
											<input type="hidden" id="mobile" value="">
											<input type="hidden" id="address" value="">
										</div>
									</div>
									<p class="gray">
										<span class="icon-map-marker ft16 green"></span>
										<span id="addressSpan"></span>
									</p>
								</div>
							</div>
						</div>
						<div class="weui-loadmore" id="loading" style="display: none;">
							<i class="weui-loading"></i>
							<span class="weui-loadmore__tips">正在加载</span>
						</div>
						<div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
							<span class="weui-loadmore__tips">暂无数据</span>
						</div>
					</article>
				</article>
			</div>
			<footer class="weui-footer weui-footer_fixed-bottom weui-flex">
				<div class="total bg-white weui-flex__item t-l">
					<input type="checkbox" name="" id="select-all" class="weui-agree__checkbox select-all">
					<label for="select-all" class="ft12">全选</label>
					<span>&nbsp;&nbsp;合计:</span>
					<span class="ft12" id="totalNum"></span>
				</div>
				<button id="confirm" type="button" class="place-order red-button white">确认</button>
			</footer>
		</article>
	</form>

	<#include "_inc/_goback.html" />
	<footer class="weui-footer weui-footer_fixed-bottom weui-flex">
		<button id="apply" type="button" class="red-button width-100">提交申请</button>
	</footer>
</body>
</@layout>