<#include "_inc/_layout.html"/>
<#macro title>活动列表</#macro>
<#macro css_import>
	<link type='text/css' rel="stylesheet" href="${CTPATH}/css/swiper.min.css">
</#macro>
<#macro css>
	.activity_name {
		height:2rem;
		line-height:2rem;
	}
</#macro>
<#macro script_import>
	<script type='text/javascript' src="${CTPATH}/js/swiper.min.js"></script>
</#macro>
<#macro script>
	$(function() {
		$(document).on("touchstart", "#sidebar li", function () {
			$(this).addClass("active").siblings().removeClass("active");
		})
	})
</#macro>

<@layout>
	<div class="weui-content">
		<div id="product">
			<header>
				<div class="weui-search-bar" id="searchBar">
					<form class="weui-search-bar__form">
						<div class="weui-search-bar__box">
							<i class="weui-icon-search"></i>
							<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
							<a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
						</div>
						<label class="weui-search-bar__label" id="searchText">
							<i class="weui-icon-search"></i>
							<span>请输入活动名称</span>
						</label>
					</form>
					<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
				</div>
			</header>
			<div class="product-content">
				<div class="product-inner-content">
					<aside>
						<div id="sidebar" class="menu-left">
							<ul>
								<li class="active">客户拜访</li>
								<li>网点开发</li>
								<li>氛围布置</li>
								<li>产品陈列</li>
								<li>客情维护</li>
							</ul>
						</div>
					</aside>
					<article class="menu-right">
						<div class="type">
							<section class="product_detail weui-panel weui-panel_access common" id="12d055f95217431a81690f7b5f018215">
								<div>
									<div class="product-top">
										<img src="/ccloud-web-admin/templates/tcloud/images/jp.jpg" style="width:2rem;">
										<div class="weui-cell_access product-top-right">
											<p class="activity_name">活动名称</p>
										</div>
									</div>
									<p>开始时间：2018-01-01</p>
									<p>结束时间：2018-01-02</p>
									<p>客户类型：商超、餐饮</p>
								</div>
							</section>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	<#include "_inc/_goback.html" />
</@layout>