<#include "_inc/_layout.html"/>
<#macro title>活动列表</#macro>
<#macro css_import>
    <link type='text/css' rel="stylesheet" href="${CTPATH}/css/swiper.min.css">
</#macro>
<#macro css>
	.layui-m-layer {
		z-index: 501!important;
	}
	#product {
		bottom: 2.25rem;
	}
	#image {
		height: 7.5rem;
	}
</#macro>
<#macro script_import>
	<script type='text/javascript' src="${CTPATH}/js/swiper.min.js"></script>
</#macro>  

<#macro script>
$(function() {
    $(document).on("click", "#sidebar li", function () {
			$(this).addClass("active").siblings().removeClass("active");
			var index = $(this).index();
			$('.type').eq(index).show().siblings('.type').hide();
    }).on("click", ".product-content .swiper-slide", function () {
      $(this).addClass("active").siblings().removeClass("active");
      tag = $(this).text();
      if(tag == '全部') {
        tag = '';
      }
      changeInit();
    }).on("submit", ".weui-search-bar__form", function() {
			keyword = $(this).val();
			changeInit();
			return false;
		}).on("click", "#searchCancel", function () {
    	keyword = $(this).val();
      changeInit();
    }).on("click", ".product-top", function () {
    	var $this = $(this);
    	var $activityDiv = $this.parents(".common");
		window.location.href = "${CPATH}/activity/activityApply?activity_id=" + $activityDiv.find("#activityId").val();
    
    }).on("click", "#content", function () {
    	var $this = $(this).parents(".common");
    	var productName = $this.find("#productName").text();
    	var valueName = $this.find("#valueName").text();
    	var description = $this.find("#description").val();
    	var product_image_list_store = $this.find("#product_image_list_store").val();
    	var product_sn = $this.find("#product_sn").val();
    	var imageS = getImageS(product_image_list_store, product_sn);
		var imgSwiper;
		
		layer.open({
		  type: 1,
		  title: ['商品详情',
			'border-bottom: 1px solid #eee;height:2rem;line-height:2rem'
		  ],
		  content: '<div class="swiper-container">' +
			'<div class="swiper-wrapper">' + imageS + '</div>' +
			'<div class="swiper-pagination"></div>' +
			'</div>' +
			'<p>名称：' + productName + '</p>' +
			'<p>规格：' + valueName + '</p>' +
			'<p>描述：' + description + '</p>',
		  anim: 'scale',
		  className: 'product-detail',
		  success: function () {
			imgSwiper = new Swiper('.product-detail .swiper-container', {
				pagination: {
					el: '.swiper-pagination',
				},
			})
		  },
		  btn: '关闭',
		  end: function () {
			imgSwiper.destroy();
		  }
		});

	});

    firstInit();
});

var tag = '';
var keyword = '';
var newHtml = $(".common").eq(0).html();
var $tags = $("#tags");
var $sidebar = $("#sidebar ul");
var $menuRight = $(".menu-right");

function firstInit(){
	var tags = ${tags!};
	initTags(tags);
	var activityList = ${activityList!};
	initActivity(activityList, true);
}

function changeInit(){
	layer.open({
		type: 2,
		content: '加载中...'
	});

	$sidebar.empty();
	$menuRight.empty();
	Utils.ajax('${CPATH}/activity/activityList', {'tag' : tag, 'keyword' : keyword}, 
		function(data){
			layer.closeAll();
			initActivity(data.activityList, false);
		}
	);
}

//function combo(activityList){
//	initActivity(activityList);
//}

function initTags(tags) {
	$tags.empty();
	$tags.append("<div class='swiper-slide active'>全部</div>")
	$.each(tags, function (index, el) {
		$tags.append("<div class='swiper-slide'>" + el + "</div>");
	});

	var mySwiper = new Swiper('.product-content .swiper-container', {
		slidesPerView: 4,
	})
}

function initActivity(activityList,flg){
	var category = '';

	$.each(activityList, function(index, el) {
		if(category != el.category) {
			if(category == '') {
				$sidebar.append("<li id='" + el.category + "' class='active'>" + el.categoryName + " <span class='goods-num'>8</span> </li>");
				$menuRight.append("<div class='type' id='" + el.category + "' > </div>")
			} else {
				$sidebar.append("<li id='" + el.category + "'>" + el.categoryName + " <span class='goods-num'>8</span> </li>");
				$menuRight.append("<div class='type' id='" + el.category + "' style='display:none'> </div>")
			}
			category = el.category;
		}

		var $type = $menuRight.find(".type:last");
		$type.append("<section class='product_detail weui-panel weui-panel_access common' id='" + el.sell_product_id + "'>" + newHtml + "</section>");
		var $newProductDetail = $type.find(".common:last");
		$newProductDetail.find("#title").text(el.title);
		if(flg){
			$newProductDetail.find("#time").text(new Date(el.start_time).Format("yyyy-MM-dd") + ' ~ ' + new Date(el.end_time).Format("yyyy-MM-dd"));
		}else{
			$newProductDetail.find("#time").text((el.start_time).substring(0,10) + ' ~ ' + (el.end_time).substring(0,10));
		}
		$newProductDetail.find("#content").text(el.content);

		$newProductDetail.find("#activityId").val(el.id);
		$newProductDetail.find("#visitNum").val(el.visit_num);
		$newProductDetail.find("#customerTypeName").text(el.customerTypeName);
		$newProductDetail.find("#areaType").text(el.area_type);
		$newProductDetail.find("#totalCustomerNum").text(el.total_customer_num);
		if(el.surplus_num==null){
			$newProductDetail.find("#surplusNum").text(el.surplusNum);
		}else{
			$newProductDetail.find("#surplusNum").text(el.surplus_num);
		}
		$newProductDetail.find("#surplusNum").text(el.surplus_num);
		$newProductDetail.find("#joinNum").text("每个客户可以参加" + el.join_num + "次");

		$newProductDetail.find("#image").attr("src", getImageUrl(el.image_list_store, el.code));
	});
}

function getImageUrl(image_list_store, code) {
	var imageUrl = "${CTPATH}/images/poster.jpg";
	var imageArray = image_list_store.split(',');
//	$.each(imageArray, function(index, el) {
//		if(el.indexOf(code + "_1") != -1) {
//			imageUrl = el;
//			return false;
//		}
//	});

	imageUrl = imageArray[0];
	return imageUrl;
}

function getImageS(product_image_list_store, product_sn) {
	var images = "";
	$.each(JSON.parse(product_image_list_store), function(index, el) {
		if(el.imgName.indexOf(product_sn) != -1) {
			images += "<div class='swiper-slide'><img src='" + el.savePath + "' onerror=\"" + "javascript:this.src='${CTPATH}/images/jp.jpg'" + "\" onClick='imageClick(this)'></div>";
		}
	});

	return images != "" ? images : "<div class='swiper-slide'><img src='" + "${CTPATH}/images/jp.jpg" +"' onClick='imageClick(this)'></div>";
}

var $gallery = $("#gallery"), $galleryImg = $("#galleryImg");
function imageClick(obj){
	$this = $(obj);
	var style = "background-image: url(" + $this.attr("src") + ")";
	$galleryImg.attr("style", style);
	$gallery.fadeIn(100);
}

$gallery.on("click", function() {
	$gallery.fadeOut(100);
});

</#macro>

<@layout>
<div class="weui-content">
	<div id="product">
		<header>
			<div class="weui-search-bar" id="searchBar">
				<form class="weui-search-bar__form">
					<div class="weui-search-bar__box">
						<i class="weui-icon-search"></i>
						<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
						<a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
					</div>
					<label class="weui-search-bar__label" id="searchText">
						<i class="weui-icon-search"></i>
						<span>搜索</span>
					</label>
				</form>
				<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
			</div>
		</header>
		<div class="product-content">
			<div class="swiper-container t-c">
				<div class="swiper-wrapper" id="tags">
					<div class="swiper-slide active">全部</div>
				</div>
			</div>
			<div class="product-inner-content">
				<aside>
					<div id="sidebar" class="menu-left">
						<ul>
			
						</ul>
					</div>
				</aside>		
				<article class="menu-right">
					<div class="" style="display: none">
						<section class="product_detail weui-panel weui-panel_access common">
							<div>
								<input type="hidden" id="activityId" value="">
								<input type="hidden" id="visitNum" value="">
								<img src="" id="image" class="width-100 mg10-0" onerror="javascript:this.src='${CTPATH}/images/poster.jpg'" onClick="imageClick(this)">
								<div class="product-top">
									<div class="weui-cell_access">
										<p class="product_name" id="title"></p>
										<div class="product_unit">
											<p>时间：</p>
											<span id="time" class="no-bg"></span>
										</div>
										<span class="weui-cell__ft"></span>
									</div>
								</div>
								<div >
									客户类型：<span id="customerTypeName"></span>
								</div>
								<div >
									区域：<span id="areaType"></span>
								</div>
								<div >
									名额：<span id="totalCustomerNum"></span>
								</div>
								<div >
									剩余：<span id="surplusNum"></span>
								</div>
								<div >
									规则：<span id="joinNum"></span>
								</div>
								<div >
									内容：<span id="content"></span>
								</div>
							</div>
						</section>
					</div>
				</article>
			</div>
		</div>
	</div>
	<div class="weui-gallery" id="gallery">
		<span class="weui-gallery__img" id="galleryImg"></span>
		<div class="weui-gallery__opr">
		</div>
	</div>
</div>
<div class="layer"></div>
<#include "_inc/_goback_bottom.html" />
</@layout>