<#include "_inc/_layout.html"/>

<#macro css> </#macro>

<#macro script_import>
    <script src="${CPATH}/static/layer_mobile/layer.js"></script>
</#macro>

<#macro script>
    
    var imageArr = [];
    var count = 3;
    var $form = $("#form");
    var $picNum = $('.weui-uploader__info');
    var $uploaderFiles = $('#uploaderFiles');
    var $gallery = $("#gallery"), $galleryImg = $("#galleryImg");
    
    $(function() {
        
        $("#delivery-address").cityPicker({
            title: "请选择配送地址",
            onClose: function(obj) {
                var areaCode = obj.value.join(",");
                var areaName = obj.displayValue.join(",");
                $('#areaCode').val(areaCode);
                $('#areaName').val(areaName);
                console.log(obj.displayValue.join(","), obj.value.join(","));
            }
        });

        $.ajax({
            url: "${(CPATH)!}/customer/getCustomerType",
            type: "post",
            dataType: "json",
            success: function(data) {
                $("#customer_type").select({
                    title: "选择客户类型",
                    multi: true,
                    items: data.customerTypeList,
                    onClose: function(obj) {
                        var custTypeIds = obj.data.values;
                        console.log(custTypeIds);
			            $('#customerTypeIds').val(custTypeIds);
                    }
                });
            }
        });
        
        $("#uploaderInput").on("change",function () {
        
            var files = this.files;;
            var arrNum = imageArr.length;
            var num = arrNum + files.length;

            if (num > count) {
                $.alert("最多上传三张图片");
                return false;
            }
            
            $picNum.text(num + '/' + count);
            
            for (var i = 0; i < files.length; i ++) {
                var file = files[i];
                if (!/image\/\w+/.test(file.type)) {
                    $.alert("请确保文件为图像类型");
                    return false;
                }
                
                var reader = new FileReader();
                
                (function(x) {
                    reader.onload = function(e) {
                        var str = '<li class="weui-uploader__file " style="background-image:url('+this.result+')"><span class="remove" style="color:red">X</span></li>';
                        $uploaderFiles.append(str);
                        render(this.result, x);
                    }
                })(file.name)
                
                reader.readAsDataURL(file);
            }
        
        });
        
        var MAX_HEIGHT = 1000;
        
        function render(src, picname) {
            
            var image = new Image();
            image.onload = function() {
               
               var canvas = document.createElement("canvas");
               if (image.height > MAX_HEIGHT && image.height >= image.width) {
                   image.width *= MAX_HEIGHT / image.height;
                   image.height = MAX_HEIGHT;
               }
               
               if (image.width > MAX_HEIGHT && image.width > image.height) {
                    // 宽度等比例缩放 *=
                    image.height *= MAX_HEIGHT / image.width;
                    image.width = MAX_HEIGHT;
               }
               
               var ctx = canvas.getContext("2d");
               ctx.clearRect(0, 0, canvas.width, canvas.height);
               
               canvas.width = image.width;
               canvas.height = image.height;
               
               ctx.drawImage(image, 0, 0, image.width, image.height);
               var blob = canvas.toDataURL('image/jpeg', 0.8);
               imageArr.push({"pic":blob, "pic_name":picname});
            };
            image.src = src;
        }
    
        var index; //第几张图片
        $uploaderFiles.on("click", "li", function() {
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function() {
            $gallery.fadeOut(100);
        });
        //删除图片  删除图片的代码也贴出来。
        $(".weui-gallery__del").click(function() { //这部分刚才放错地方了，放到$(function(){})外面去了
            console.log('删除');
            $uploaderFiles.find("li").eq(index).remove();
        });
    })
    
    function doSubmit() {
        $form.ajaxSubmit({
            type: "post",
            dataType: "json",
            data: {'pic': JSON.stringify(imageArr)},
            beforeSend: function() {
                if($("#customer_name").val().length==0) {$.toptip('客户名称不能为空', 1000, 'error'); return false;}
                if($("#contact").val().length==0) {$.toptip('联系人不能为空', 1000, 'error'); return false;}
                if($("#mobile").val().length==0) {$.toptip('联系电话不能为空', 1000, 'error'); return false;}
                if(/^1[34578]\d{9}$/.test($("#mobile").val())==false){$.toptip('联系电话不正确', 1000, 'error'); return false;}
                
                if($("#customer_type").val().length==0) {$.toptip('客户类型不能为空', 1000, 'error'); return false;}
                if($("#delivery-address").val().length==0) {$.toptip('配送地址不能为空', 1000, 'error'); return false;}
                if($("#address").val().length==0) {$.toptip('地址详情不能为空', 1000, 'error'); return false;}
                
                //$('._submit_btn').attr('disabled', true);
                //$("#pic").val(JSON.stringify(imageArr));
                
                layer.open({
                    type: 2,
                    content: '保存中...'
                });
            },
            success: function(res) {
                if (res.errorCode == 0) {
                    $.confirm({
                        title: res.message,
                        text: '返回列表页？',
                        onOK: function () {
                            location.href = '${CPATH}/customer'
                        },
                        onCancel: function () {
                            $.closeModal();
                        }
                    });
                } else {
                    $.alert(res.message);
                }
                layer.closeAll();
            },
            error: function(res) {
                layer.closeAll();
            }
        });
    }
    
    function doEnabled() {
        $.get("${CPATH}/customer/enable?id=${(sellerCustomer.id)!""}&isEnabled=0" ,
        function(result){
            if (result.errorCode > 0) {
                toastr.error(result.message, '操作失败');
            } else {
                toastr.success(result.message, '操作成功');
                $table.bootstrapTable('refresh');
            }
        }
    )}

</#macro>
<@layout>
<div id="customer-add">
<main>
    <form action="${CPATH}/customer/update" method="post" id="form">
    <section class="weui-panel weui-panel_access order-customer-info">
        <input type="hidden" name="sellerCustomer.id" value="${(sellerCustomer.id)!}">
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd">
                <div class="order-customer-info-title">
                    客户名称
                    <span class="require">*</span>
                </div>
                <input type="text" class="weui-input" id="customer_name" name="customer.customer_name" value="${(sellerCustomer.customer_name)!}"  placeholder="1-25个任意字母数字" required>
            </div>
        </div>
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd">
                <div class="order-customer-info-title">
                    客户昵称&nbsp;&nbsp;
                    <span class="require"> </span>
                </div>
                <input type="text" class="weui-input" id="nickname" name="sellerCustomer.nickname" value="${(sellerCustomer.nickname)!}" placeholder="1-25个任意字母数字">
            </div>
        </div>
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd">
                <div class="order-customer-info-title">
                    联系人
                    <span class="require">*</span>
                </div>
                <input type="text" class="weui-input" id="contact" name="customer.contact" value="${(sellerCustomer.contact)!}" placeholder="1-15个任意字母数字">
            </div>
        </div>
        <!--<div class="weui-cell weui-cell_access">-->
            <!--<div class="weui-cell__bd">-->
                <!--<div class="order-customer-info-title">-->
                    <!--性别-->
                <!--</div>-->
                <!--<label class="fr">-->
                    <!--<input type="radio" name="sex" id="" value="女" checked> 女</label>-->
                <!--<label class="fr">-->
                    <!--<input type="radio" name="sex" id="" value="男"> 男</label>-->
            <!--</div>-->
        <!--</div>-->
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd">
                <div class="order-customer-info-title">
                    联系电话
                    <span class="require">*</span>
                </div>
                <input type="text" class="weui-input" id="mobile" name="customer.mobile" value="${(sellerCustomer.mobile)!}" placeholder="11位数字">
            </div>
        </div>
        <div class="weui-cell weui-cell_access select-area">
            <div class="weui-cell__bd">
                <div class="order-customer-info-title">
                    客户类型
                    <span class="require">*</span>
                </div>
                <input type="hidden" name="customerTypeIds" id="customerTypeIds">
                <input type="text" id="customer_type" name="customer_type" data-values="${(cTypeList)!}" value="${(cTypeName)!}" placeholder="请选择" class="weui-input">
            </div>
            <span class="weui-cell__ft"></span>
        </div>
        <!--<div class="weui-cell weui-cell_access">-->
            <!--<div class="weui-cell__bd">-->
                <!--<div class="order-customer-info-title">-->
                    <!--客户区域-->
                    <!--<span class="require">*</span>-->
                <!--</div>-->
                <!--<input type="text" placeholder="请选择" class="weui-input">-->
            <!--</div>-->
            <!--<span class="weui-cell__ft"></span>-->
        <!--</div>-->
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd">
                <div class="order-customer-info-title">
                    配送地址
                    <span class="require">*</span>
                </div>
                <input type="hidden" name="areaCode" id="areaCode">
                <input type="hidden" name="areaName" id="areaName">
                <input type="text" placeholder="省市区" class="weui-input" id="delivery-address" name="customer.prov_name" value="${(sellerCustomer.prov_name)!'湖北省'} ${(sellerCustomer.city_name)!'武汉市'} ${(sellerCustomer.country_name)!'洪山区'}">
            </div>
            <span class="weui-cell__ft"></span>
        </div>
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd">
                <div class="order-customer-info-title">
                    地址详情
                    <span class="require">*</span>
                </div>
                <input type="text" class="weui-input" id="address" name="customer.address" value="${(sellerCustomer.address)!}" placeholder="1-50个任意字母数字">
            </div>
        </div>
        <!--<div class="weui-cell weui-cell_access">-->
            <!--<div class="weui-cell__bd">-->
                <!--<textarea placeholder="备注说明（70字以内）"></textarea>-->
            <!--</div>-->
        <!--</div>-->
    </section>
    <div class="weui-gallery" id="gallery">
        <span class="weui-gallery__img" id="galleryImg"></span>
        <div class="weui-gallery__opr">
            <a href="javascript:" rel="nofollow" target="_blank"  class="weui-gallery__del">
                <i class="weui-icon-delete weui-icon_gallery-delete"></i>
            </a>
        </div>
    </div>
    <section class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">附件图片</p>
                        <div class="weui-uploader__info">${(sellerCustomer.imageList?size)!0}/3</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                        <#if (sellerCustomer.imageList) ??> 
                        <#list sellerCustomer.imageList as bean>
                            <li class="weui-uploader__file" style="background-image: url(${bean.savePath})"></li>
                        </#list>
                        </#if>
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" name="customer.img_path" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                            <!-- <input type="hidden" name="pic" id="pic"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="weui-panel weui-panel_access ft14 remark">
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd">
                <span class="icon-map-pin ft16 green"></span>
                <span id="location">${(sellerCustomer.location)!}</span>
            </div>
        </div>
    </section>
    </form>
</main>
<#include "_inc/_goback.html" />
<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
    <#if sellerCustomer??>
        <button class="gray-button weui-flex__item _submit_btn" onclick="doEnabled()">停用</button>
        <button class="blue-button weui-flex__item _submit_btn" onclick="doSubmit()">更新</button>
    <#else>
        <button class="blue-button width-100 _submit_btn" onclick="doSubmit()">添加</button>
    </#if>
</footer>
</div>
</@layout>