<#include "_inc/_layout.html"/>
<#macro title>拜访审核</#macro>

<#macro css>
    
    .weui-media-box__desc {
        line-height: 1.4rem;
        height: 1.4rem;
        font-size: .7rem;
    }
    
    .weui-panel__hd {
	    padding: .5rem;
	    color: #000;
	    font-size: .8rem;
	}
	
	.weui-cell__ft {
        font-size: .8rem;
    }
    
    #customer-add {
        background: #f3f5f7;
        height: inherit;
    }
    
    .weui-footer {
        border-top: .05rem solid #f3f5f7;
    }

    .layui-m-layercont p {
        height: 2rem;
        line-height: 2rem;
    }
    
</#macro>

<#macro script_import>
    <script src="${CPATH}/static/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ec4VbDTTjjuEGtVGzSvPwwQtvnvWFeGY"></script>
    <script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/exif.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/lrz.bundle.js"></script>
</#macro>

<#macro script>

    var $gallery1 = $("#gallery1"), $galleryImg1 = $("#galleryImg1");
    var $uploaderFiles1 = $('.uploaderFiles1');

    var $gallery = $("#gallery"), $galleryImg = $("#galleryImg");
    var $uploaderFiles = $('#uploaderFiles');

    $(function(){
        var index;
        $uploaderFiles1.on("click", "li", function() {
            index = $(this).index();
            $galleryImg1.attr("style", this.getAttribute("style"));
            $gallery1.fadeIn(100);
        });

        $gallery1.on("click", function() {
            $gallery1.fadeOut(100);
        });

        var index;
        $uploaderFiles.on("click", "li", function() {
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });

        $gallery.on("click", function() {
            $gallery.fadeOut(100);
        });
    });

    var imageArr = [];
    var count = 3;
    var $picNum = $('#weui-uploader__info');

    var Orientation = null;
    var MAX_HEIGHT = 1000;


    var $form = $("#form");

    $(function() {
        initWxConfig('${appId!}', '${timestamp!}', '${nonceStr!}', '${signature!}');

        wxReadyGetLocation(
            function(lng, lat, addComp, address) {
                $("#review_lng").val(lng.toFixed(6));
                $("#review_lat").val(lat.toFixed(6));
                $('#location-span').text(address);
                $('#review_location').val(address);
            }
        )
        $("#length").text($("#comment").val().length + '/' + 50);
        $(document).on("input", "#comment", function() {
            $("#length").text($("#comment").val().length + '/' + 50);
        });

        $(document).on('change', '#uploaderInput', function () {
            lrz(this.files[0], {width: 1024})
            .then(function (rst) {
                if ($("#uploaderFiles")[0].children.length + 1 > count) {
                    $.alert("最多上传3张图片");
                    return false;
                }
                imageArr.push({"pic":rst.base64, "picname":rst.origin.name });
                $("#pic").val(JSON.stringify(imageArr));
                var str = '<li class="weui-uploader__file " style="background-image:url('+rst.base64+')"></li>';
                $uploaderFiles.append(str);
                $picNum.text($("#uploaderFiles")[0].children.length + '/' + count);
            })
            .catch(function (err) {
                alert('失败');
            })
        });

        //删除图片  删除图片的代码也贴出来。
         $(document).on("click",".weui-gallery__del",function() { //这部分刚才放错地方了，放到$(function(){})外面去了
            $uploaderFiles.find("li").eq(index).remove();
            $picNum.text($("#uploaderFiles")[0].children.length + '/' + count);
            imageArr.splice(index, 1);
            $("#pic").val(JSON.stringify(imageArr));
        });
    });

    var paramData = function(status) {
        return  {
            "id": $("#id").val(),
            "taskId": $("#taskId").val(),
            "status": status,
            "comment": $("#comment").val(),
            "pic": JSON.stringify(imageArr),
            "location": $("#review_location").val(),
            "lng": $("#review_lng").val(),
            "lat": $("#review_lat").val()
        };
    }

    function agree() {
       if($.trim($("#review_location").val()).length==0) {
            $.toptip('定位地址不能为空,请刷新定位', 1000, 'error');
            return false;
        }

		layer.open({
		type: 1,
		title: ['客户拜访审核',
			'border-bottom: 1px solid #eee;height:2rem;line-height:2rem;margin-top:2.5rem'
		],
		content: '<img src="${CTPATH}/images/image_orderpopups.png">' +
			'<p class="t-c">是否确认通过该客户拜访审核？</p>',
		anim: 'scale',
		className: 'audit',
		btn: ['通过','取消'],
		yes: function() {
			doSubmit(1);
		},
		no:function() {

		}
		});
	}

	function refuse() {
        if($.trim($("#review_location").val()).length==0) {
            $.toptip('定位地址不能为空,请刷新定位', 1000, 'error');
            return false;
        }

		layer.open({
		type: 1,
		title: ['客户拜访审核',
			'border-bottom: 1px solid #eee;height:2rem;line-height:2rem;margin-top:2.5rem'
		],
		content: '<img src="${CTPATH}/images/image_orderpopups.png">' +
			'<p class="t-c">是否确认拒绝该客户拜访审核？</p>',
		anim: 'scale',
		className: 'audit',
		btn: ['确认','取消'],
		yes: function() {
			doSubmit(0);
		},
		no:function() {

		}
		});
	}	

    function doSubmit(status) {
        $.ajax({
            url: '${CPATH}/customerVisit/complete',
            method: 'post',
            dataType: 'json',
            data: paramData(status),
            beforeSend: function() {
                $('._submit_btn').attr('disabled', true);
                Utils.openLoadingWin('保存中...');
            },
			success:function(res){
				if (res.errorCode == 0) {
                    location.href = '${CPATH}/todo/visit'
				} else {
					$.alert(res.message);
				}
			    layer.closeAll();
            },
            error: function(res) {
                layer.closeAll();
            }
		})
    };

    function refreshLocation() {
        $("#location-span").empty();
        $("#location-span").append('<i class="weui-loading"></i>');
        wxGetLocation(
            function(lng, lat, addComp, address) {
                $("#review_lng").val(lng.toFixed(6));
                $("#review_lat").val(lat.toFixed(6));
                $('#location-span').text(address);
                $('#review_location').val(address);
            }
        )
    }
    
</#macro>

<@layout>
<div class="weui-content">
    <div id="customer-add">
    <main>
        <section class="weui-panel weui-panel_access order-customer-info">
            <input type="hidden" name="customerVisit.id" id ="id" value="${(customerVisit.id)!}">
            <input type="hidden" id ="taskId" value="${(taskId)!}">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="order-customer-info-title">客户名称: </div>
                    <input type="text" class="weui-input" value="${(customerVisit.customer_name)!}" readonly>
                </div>
            </div>
          <!-- <div class="weui-cell weui-cell_access">
              <div class="weui-cell__bd">
                  <div class="order-customer-info-title">客户昵称: </div>
                  <input class="txt-gray" value="${(customerVisit.nickname)!'无'}">
              </div>
          </div> -->
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="order-customer-info-title">联系人: </div>
                    <input type="text" class="weui-input" value="${(customerVisit.contact)!}" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="order-customer-info-title">联系电话: </div>
                    <input type="text" class="weui-input" value="${(customerVisit.mobile)!}" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="order-customer-info-title">客户类型: </div>
                    <input type="text" class="weui-input" value="${(cTypeName)!}" readonly>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="order-customer-info-title">问题类型: </div>
                    <input type="text" class="weui-input" value="${(customerVisit.typeName)!}" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="order-customer-info-title">拜访时间: </div>
                    <input type="text" class="weui-input" value="${(customerVisit.create_date?string('yyyy-MM-dd HH:mm'))!}" readonly>
                </div>
            </div>
            <#if expenseDetail??>
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <div class="order-customer-info-title">费用明细: </div>
	                    <input type="text" class="weui-input" value="${(expenseDetail.expenseDetailName)!}" readonly>
	                </div>
	            </div>
            </#if>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="order-customer-info-title">描述: </div>
                    <input type="text" class="weui-input" value="${(customerVisit.question_desc)!}" readonly>
                </div>
            </div>
        </section>
        <div class="weui-gallery" id="gallery1">
            <span class="weui-gallery__img" id="galleryImg1"></span>
        </div>
        <section class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__hd">
                            <p class="weui-uploader__title">拜访实景图</p>
                            <!-- <div class="weui-uploader__info">${(visit.imageList?size)!0}/3</div> -->
		                </div>
                           	<#if activityExecutes?size gt 0>
                           		<#list activityExecutes as list>
                           			<span class="weui-uploader__info">${list.remark}</span>
                           			<hr style="border:1px dashed #0000fff"/>
                  						 <div class="weui-uploader__bd">
                       					<ul class="weui-uploader__files uploaderFiles1" id="uploaderFiles1">
				                            <#if (customerVisit.photoList) ??>
			                                <#list customerVisit.photoList as bean>
		                            			<#if (list.orderList == bean.orderList)>
			                                   		<li class="weui-uploader__file" style="background-image: url(${bean.savePath})"></li>
		                            			</#if>
			                                </#list>
				                            </#if>
                      					</ul>
                  						 </div>
                  						 <hr style="border:1px dashed #0000fff"/>
                           		</#list>
                          		<#else>
                         				<div class="weui-uploader__bd">
                      					<ul class="weui-uploader__files uploaderFiles1" id="uploaderFiles1">
	                            		<#list customerVisit.photoList as bean>
		                                   	<li class="weui-uploader__file" style="background-image: url(${bean.savePath})"></li>
		                                </#list>
	                                </ul>
                 						 </div>
                           	</#if>
                    </div>
                </div>
            </div>
        </section>
        <section class="weui-panel weui-panel_access ft14 remark">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span class="icon-map-pin ft16 green"></span>
                    <span id="locationVisit">${(customerVisit.location)!}</span>
                </div>
            </div>
        </section>

        <section class="weui-panel weui-panel_access ft14 remark">
            <div class="weui-cell weui-cell_access space-between">
                <p>业务员：${(customerVisit.realname)!} / ${(customerVisit.userMobile)!}</p>
            </div>
        </section>

        <section class="weui-panel weui-panel_access ft14 remark">
            <div class="weui-cells__title">建议</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" name="customerVisit.comment" id="comment" placeholder="审核建议" rows="3"></textarea>
                        <div class="weui-textarea-counter" id="length"></div>
                    </div>
                </div>
            </div>
            <div class="weui-gallery" id="gallery">
                <span class="weui-gallery__img" id="galleryImg"></span>
                <div class="weui-gallery__opr">
                    <a href="javascript:" rel="nofollow" target="_blank"  class="weui-gallery__del">
                        <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="weui-panel weui-panel_access ft14 remark">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__hd"><span class="icon-map-pin ft16 green"></span></div>
                <div class="weui-cell__bd">
                    <div id="location-span" class="location">${(customerVisit.reviewAddress)!'正在定位...'}</div>
                    <input type="hidden" name="customerVisit.review_lng" id="review_lng">
                    <input type="hidden" name="customerVisit.review_lat" id="review_lat">
                    <input type="hidden" name="customerVisit.reviewAddress" id="review_location">
                </div>
                <div class="weui-cell__hd" id="refresh"><span class="icon-refresh ft16 gray" onclick="refreshLocation()"></span></div>
            </div>
        </section>
        <section>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">附件图片</p>
                            </div>
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                                <div class="weui-uploader__input-box">
                                    <div class="weui-uploader__input-box">
                                        <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple>
                                        <input type="hidden" name="pic" id="pic">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <#include "_inc/_goback.html" />
        <footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
            <button class="white-button-no-border width-50 _submit_btn weui-flex__item border-top-1px" onclick="refuse()">拒绝</button>
            <button class="red-button width-50 _submit_btn weui-flex__item" onclick="agree()">通过</button>
        </footer>
    </div>
</div>
</@layout>