<#include "_inc/_layout.html"/>
<#macro title>客户列表</#macro>
<#macro css>
    #customer {
        background: #f3f5f7;
    }
    .with-report-top {
        position:absolute;
        top:5rem;
        bottom:0;
        width:100%;
    }
    .customer p {
        height: auto;
    }
</#macro>
<#macro script_import>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ec4VbDTTjjuEGtVGzSvPwwQtvnvWFeGY"></script>
    <script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
</#macro>

<#macro script>
    var pageNumber = 2;
    var pageSize = 10;
    var loading = false;

    var $endNode = null;
    var $loadmore = $(".weui-loadmore");

    $(function() {

        initWxConfig('${appId!}', '${timestamp!}', '${nonceStr!}', '${signature!}');

        wxReadyGetLocation(
            function(lng, lat, addComp, address) {
                $("#lng").val(lng.toFixed(6));
                $("#lat").val(lat.toFixed(6));
            }
        )

        <#if history??>
  			var region = getItemBykey("region");
  			var customerType = getItemBykey("customerType");
  			var keywordName = getItemBykey("keyword");
  			$("#region").val(region);
  			$("#customer-type").val(customerType);
            if(keywordName !=null && keywordName.length!=0) {
                $('.weui-search-bar').addClass('weui-search-bar_focusing');
  			    $("#searchInput").val(keywordName);
                }
  		<#else>
  			clearStorage();
  		</#if>
        refresh();
        
        $(document).on("submit", ".weui-search-bar__form", function() {
            setItemBykey("keyword", $("#searchInput").val());
            refresh();			
            return false;
		}).on("change", "#region", function() {
			setItemBykey("regionId", $("#region").data('values'));
			setItemBykey("region", $("#region").val());
			refresh();
		}).on("change", "#customer-type", function() {
			setItemBykey("customerTypeId", $("#customer-type").data('values'));
			setItemBykey("customerType", $("#customer-type").val());
			refresh();
		});

        $("#region").select({
            title: "选择业务员",
            items: ${region!}
        });

        $("#customer-type").select({
            title: "选择客户类型",
            items: ${customerType!}
        });

        var str = '';
        var searchArea = ${searchArea!};
        for(var i = 0; i < searchArea.length; i++)
            if(i == 0) str = str + '<span class="red-button" data-id="' + searchArea[i].value + '">'+ searchArea[i].title + '</span>';
            else str = str + '<span data-id="' + searchArea[i].value + '">'+ searchArea[i].title + '</span>';
        $("#getDate").append(str);

    });

    var paramData = function() {
		<#if !history??>
			return  {
			    "searchKey": $("#searchInput")[0].value,
			    "pageNumber": pageNumber,
			    "pageSize": pageSize,
			    "region": $("#region")[0].dataset.values,
			    "customerType": $("#customer-type")[0].dataset.values
			};
		<#else>
			var region = getItemBykey("regionId");
  			var customerType = getItemBykey("customerTypeId");
  			var keywordName = getItemBykey("keyword");
			return  {
			    "searchKey": keywordName,
			    "pageNumber": pageNumber,
			    "pageSize": pageSize,
			    "region": region,
			    "customerType": customerType
			};
       </#if>
    }

    //监听滚动
    $(".infinite").infinite().on("infinite", function() {
        var self = this;
        $endNode = $(".weui-panel_access:last");
        $loadmore = $(self).find(".weui-loadmore");
        if ($loadmore) $loadmore.show();
        if (loading) return ;
        loading = true;

        $.ajax({
            type: "post",
            url: "${CPATH}/customer/refresh",
            data: paramData(),
            dataType: "json",
            success:function(data) {
                if ($loadmore) $loadmore.show();
                if (data.totalPage >= pageNumber) {
                    $endNode.after(data.html);
                }
                if (data.totalPage == pageNumber) {
                    $(".infinite").destroyInfinite();
                    $loadmore.hide();
                }
                pageNumber++;
                loading = false;
            }
        });
    });

    function refresh() {
        pageNumber = 1;
        $.showLoading();
        $.ajax({
            url:"${CPATH}/customer/refresh",
            type:"post",
            data:paramData(),
            dataType:"json",
            success:function(data) {
                $(".weui-loadmore").hide();
                $(".infinite").destroyInfinite();
				$("#customerCount1").html(data.totalRow+" 个");
				$("#orderCount1").html(data.orderCount+" 个");
                if (data.totalPage > pageNumber) {
                    loading = false;
                    $(".infinite").infinite();
                }

                $(".infinite")[0].scrollTop = 0;
                $("#customerList").empty();
                if(data.html.length == 0) data.html = data.html +'<div class="weui-loadmore weui-loadmore_line"><span class="weui-loadmore__tips">暂无数据</span></div>';
                $("#customerList").html(data.html);
                pageNumber = 2;
                $.hideLoading();
            }
        });
    }

    var paramData2 = function() {
        return  {
            "searchArea": $("#getDate").find(".red-button").data("id"),
            "lng": $('#lng').val(),
            "lat": $('#lat').val()
        }
    }

    function reset() {
        $("#searchInput")[0].value = '';
        $("#customer-type")[0].dataset.values = '';
        $("#region")[0].dataset.values = '';
        $("#customer-type").val("客户类型");
        $("#region").val("业务员");
    }

    function getAreaCustomer(){
        reset();
        pageNumber = 1;
        $.ajax({
            url:"${CPATH}/customer/getAreaCustomer",
            type:"post",
            data:paramData2(),
            dataType:"json",
            success:function(data) {
                $(".infinite").destroyInfinite();
                $(".weui-loadmore").hide();
                loading = false;

                $(".infinite")[0].scrollTop = 0;
                $("#customerList").empty();
                if(data.html.length == 0) data.html = data.html +'<div class="weui-loadmore weui-loadmore_line"><span class="weui-loadmore__tips">暂无数据</span></div>';
                $("#customerList").html(data.html);
                pageNumber = 2;
            }
        });
    }

    function newOrder(customer){
        setItemBykey("customerInfo", customer);
        window.location.href = '${CPATH}/product';
    }

    function newVisit(customer){
        setItemBykey("customerInfo", customer);
        window.location.href = '${CPATH}/customerVisit/edit';
    }

    //搜索框叉掉和取消时，先清input值，再调用接口
    function searchCancel() {
        $("#searchInput")[0].value = "";
        setItemBykey("keyword", $("#searchInput").val());
        refresh();
    }
	
	function memberOrderClose(member_id,custmerName){
		$.confirm({
			title: "停用终端下单",
			text: '是否停用 '+ custmerName + ' 终端下单功能？',
			onOK: function () {
				Utils.openLoadingWin('停用中...');
				$.get('${CPATH}/customer/memberOrderClose?member_id=' + member_id,
					function(result) {
							if (result.errorCode > 0) {
							$.toptip(result.message, 'error');
						} else {
							$.toptip(result.message, 'success');
							setTimeout(function(){location.reload();},1000);
						}
							Utils.closeLoadingWin();
						}
					);
			}
		});
	}
	function memberOrderOpen(member_id,custmerName){
		$.confirm({
			title: "启用终端下单",
			text: '是否启用 '+ custmerName + ' 终端下单功能？',
			onOK: function () {
				Utils.openLoadingWin('启用中...');
				$.get('${CPATH}/customer/memberOrderOpen?member_id=' + member_id,
					function(result) {
						if (result.errorCode > 0) {
							$.toptip(result.message, 'error');
						} else {
							$.toptip(result.message, 'success');
							setTimeout(function(){location.reload();},1000);
						}
							Utils.closeLoadingWin();
						}
					);
			}
		});
	}

</#macro>

<@layout>
    <div id="customer">
        <div class="report-top weui-flex">
            <div class="weui-flex__item">
                <img src="${CTPATH}/images/order.png" alt="">
                <div class="border-right-1px">
                    <p class="ft16">客户总数</p>
                    <p class="ft14" id="customerCount1"></p>
                </div>
            </div>
            <div class="weui-flex__item">
                <img src="${CTPATH}/images/customer.png" alt="">
                <div>
                    <p class="ft16">下单客户数</p>
                    <p class="ft14" id="orderCount1"></p>
                </div>
            </div>
        </div>
        <div class="with-report-top">
            <header>
                <div class="weui-search-bar" id="SearchBar">
                    <form class="weui-search-bar__form">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                        </div>
                        <label class="weui-search-bar__label" id="searchText">
                            <i class="weui-icon-search"></i>
                            <span>请输入客户名</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" onclick="searchCancel()">取消</a>
                </div>
            </header>
            <article class="customer" style="top:44px;width: 100%;">
                <header class="weui-flex">
                    <div class="head-search select-area weui-flex__item">
                            <div class="weui-flex__item">
                                <input type="text" id="region" placeholder="业务员" class="weui-input" readonly>
                                <i class="icon-sort-desc"></i>
                            </div>
                            <div class="weui-flex__item">
                                <input type="text" id="customer-type" placeholder="客户类型" class="weui-input" readonly>
                                <i class="icon-sort-desc"></i>
                            </div>
                            <input type="hidden" name="lng" id="lng">
                            <input type="hidden" name="lat" id="lat">
                    </div>
                    <div id="combin-filter-btn">
                        <i class="icon-th-list"></i>
                    </div>
                </header>
                <article class="infinite">
                    <div id="customerList">
                    </div>
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore__tips">正在加载</span>
                    </div>
                </article>
            </article>
        </div>
    </div>
    <@shiro.hasPermission name="/admin/sellerCustomer/edit">
        <a class="hidden-menu" href="${CPATH}/customer/edit">
            <img src="${CTPATH}/images/customer_add.png" alt="">
        </a>
    </@shiro.hasPermission>
    <div class="layer"></div>
    <#include "_inc/_footer_nav.html" />
    <article id="combin-filter">
        <div class="filter-item">
            <h4 class="ft14">选择搜索范围</h4>
            <div class="relative ft12" id="getDate">
            </div>
        </div>
        <footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
            <button class="white-button-no-border  cancel-search-btn weui-flex__item border-top-1px">取消</button>
            <button class="red-button confirm-search-btn weui-flex__item" onclick="getAreaCustomer()">确定</button>
        </footer>
    </article>
</@layout>