<#include "_inc/_layout.html"/>
<#macro title>新增拜访</#macro>

<#macro script_import>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ec4VbDTTjjuEGtVGzSvPwwQtvnvWFeGY"></script>
    <script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/exif.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/lrz.bundle.js"></script>
</#macro>
<#macro css>
    #visit-add main{
        top: 0;
        bottom: 2.25rem;
    }
    .weui-uploader__input_hid{
    
    }
</#macro>
<#macro script>
    var customerList = [];
    var orgCustomerList = {};
    var customerSelect = [];
    var problemSelect = [];
	var count = 3;
    var imageArr = [];
    var $form = $("#form");
    var $picNum = $('.weui-uploader__info');
    var $uploaderFiles = $(".uploaderFiles");
    var $gallery = $("#gallery"), $galleryImg = $("#galleryImg");
	var numI = 0;
    var Orientation = null;
    var MAX_HEIGHT = 1000;
    var has_size = 0;
	var numImage = 0;
    initCustomer();

    function initCustomer(){
        var customerInfo = getItemBykey("customerInfo");
        if(customerInfo) {
            $("#customer_id").val(customerInfo.sellerCustomerId);
            $("#customer_name").val(customerInfo.customerName);
            $("#contact").val(customerInfo.contact);
            $("#mobile").val(customerInfo.mobile);
            $('#address').val(customerInfo.address);
            removeItemBykey("customerInfo");
        }
    }

    function updateVisitData(customerId){
        var customerInfo = orgCustomerList[customerId];

        $("#customer_id").val(customerId);
        $("#mobile").val(customerInfo.mobile);
        $("#contact").val(customerInfo.contact);
    }

    $(function() {

        initWxConfig('${appId!}', '${timestamp!}', '${nonceStr!}', '${signature!}');

        wxReadyGetLocation(
            function(lng, lat, addComp, address) {
                $("#lng").val(lng.toFixed(6));
                $("#lat").val(lat.toFixed(6));
                $('#location-span').text(address);
                $('#location').val(address);
            }
        )
        $("#length").text($("#question_desc").val().length + '/' + 70);
        $(document).on("input", "#question_desc", function() {
            $("#length").text($("#question_desc").val().length + '/' + 70);
        });
        
        $(".photoType").select({
	        title: "请选择照片类型",
	        multi: false,
	        items: [{
			       	title: "现场照片", value: "ScenePhoto"
			       },{
			       	title: "签名照片", value: "SignPhoto"
			       },{
			       	title: "赠品照片", value: "GiftPhoto"
			       },{
			       	title: "验收照片", value: "ExecutePhoto"
			       }],
	        onChange: function(obj) {
                $('#uploaderInput').click();
	        }
	    });

        $(document).on("click", "#customer_name", function () {
	        window.location.href = '${CPATH}/customerVisit/visitCustomerChoose';
    	}).on("change", ".uploaderInput", function () {
        var $this = $(this);
        var files = this.files;
        var arrNum = imageArr.length;
        var num = 1 + $this.parent().prev().find("li").length;

        lrz(this.files[0], {width: 1024} )
            .then(function (rst) {
                if (num > count) {
                    $.alert("最多上传三张图片");
                    return false;
                }
                var photoType = $("#photoType").data("values");
                if($("#activity_title").val()!=null){
                    imageArr.push({"pic":rst.base64, "picname":rst.origin.name,"orderList":$this.parent().parent().parent().find("#orderList").val(),"photoType":photoType});
                }else{
                    imageArr.push({"pic":rst.base64, "picname":rst.origin.name,"orderList":"0","photoType":photoType});
                }
                $("#pic").val(JSON.stringify(imageArr));
                var str = '<li class="weui-uploader__file " style="background-image:url('+rst.base64+')"></li>';
                $this.parent().prev().append(str);
                $picNum.text($("#uploaderFiles")[0].children.length + '/' + count);
            })
            .catch(function (err) {
                alert('失败');
            })
        });

    $("#question_type").select({
	        title: "请选择问题类型",
	        multi: false,
	        items: JSON.parse('${problem}'),
	        onClose: function(obj) {
	            var problemId = obj.data.values;
	            if(problemId){
	                $("#problem_id").val(problemId);
	            }
	        }
	    });
	    
		var customerId = $("#customer_id").val();
		if(customerId){
			$.ajax({
		        url: "${CPATH}/customerVisit/activityChoose",
		        data: {
		            "customerId": customerId
		        },
		        dataType: "json",
		        success: function(data) {
		        		if(data.activityRecords!='[]'){
						$("#activity_title").select({
							title: "选择活动",
							multi: false,
							items: JSON.parse(data.activityRecords),
							onClose: function(obj) {
							    var activityIds = obj.data.values;
							    $('#activity_apply_id').val(activityIds);
							  	var activityApplyId = $('#activity_apply_id').val();
								if(activityApplyId){
									$.ajax({
								        url: "${CPATH}/customerVisit/getActivityExecute",
								        data: {
								            "activityApplyId": activityApplyId
								        },
								        dataType: "json",
								        success: function(data) {
								        		var activityExecute = data.activityExecute;
								        		var size = data.size;
								        		if (size) {
								        			$("#size").show();
								        			if (data.check_size) {
								        				$("#check_size").val(data.check_size);
								        				$("#check_size").attr("readonly","readonly");
								        			}
								        			has_size = 1;
								        		} else {
								        			$("#check_size").val("");
								        			$("#check_size").removeAttr("readonly");
								        			$("#size").hide();
								        			has_size = 0;
								        		}
								        		
								        		if(activityExecute.length>0){
									        		
								        			$(".imageActivityExecute").hide();
								        			$(".imgeInfo").hide();
								        			var imageLists = data.imgeLists;
								        			var domain = data.domain;
								        			$(".imgeActivity").html("");
								        			if(imageLists!=null){
									        			numImage = imageLists.length;
								        			}
								        			for(var i = 0 ; i < activityExecute.length ; i++){
								        				var html = "";
								        				html +='<div><input id="orderList" type="hidden" value="'+activityExecute[i].orderList+'"/>'+activityExecute[i].remark+'<div class="weui-uploader__bd">'
						                                	+'<ul class="weui-uploader__files uploaderFiles" id="uploaderFiles">';
							                          
							                           for(var j = 0 ; j < numImage ; j++){
							                            	if(imageLists[j].orderList == activityExecute[i].orderList){
								                            	html += '<li class="weui-uploader__file " style="background-image:url('+domain+'/'+imageLists[j].savePath+')"></li>';
							                           			imageArr.push({"pic":imageLists[j].originalPath, "picname":imageLists[j].imgName,"orderList":activityExecute[i].orderList,"savepath":imageLists[j].savePath});
							                            	}
							                            }
								                        if(numImage==0 || (imageLists[imageLists.length-1].orderList != activityExecute[i].orderList && i == (activityExecute.length-1))){
						                                	html +='</ul>'
							                                	+'<div class="weui-uploader__input-box">'
							                                   	+'<input id="uploaderInput" class="weui-uploader__input uploaderInput" type="file" accept="image/*" multiple="" capture="camera">'
							                                    +'<input type="hidden" name="pic" id="pic" class="pic">'
							                                	+'</div></div></div>';
							                                	$("#activity_execute_id").val(activityExecute[i].id);
								                          }else{
								                          	numI++;
								                          	html +='</ul></div></div>';
								                          }
														 $(".imgeActivity").append(html);
								        				
								        			}
								        			var maxOrderList = data.maxOrderList;
								        			if(numImage != null && imageLists!=null){
									        			if(imageLists.length>0 && activityExecute.length == maxOrderList){
									        				$("._submit_btn").hide();
									        			}
								        			}
								        		}
								        }
							        });
								}
							}
						});
		        		}
		        }
	        });
		}

        var index; //第几张图片
        var uploadIndex;
        var $uploaderFiles ;
        $(document).on("click", ".uploaderFiles li", function() {
            _index = $(this).index()+numImage;
            index = $(this).index();
            uploadIndex = $(this).parent().parent().parent().index();
            $uploaderFiles = $(this).parent();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
            if(uploadIndex < numI){
	            $(".weui-gallery__del").hide();
            }else{
            	$(".weui-gallery__del").show();
            }
        });

        $gallery.on("click", function() {
            $gallery.fadeOut(100);
        });

        //删除图片  删除图片的代码也贴出来。
        $(document).on("click",".weui-gallery__del",function() { //这部分刚才放错地方了，放到$(function(){})外面去了
            $uploaderFiles.find("li").eq(index).remove();
            $uploaderFiles.parent().parent().find('.weui-uploader__info').text($uploaderFiles.children.length + '/' + count);
            imageArr.splice(_index, 1);
            $(".pic").val(JSON.stringify(imageArr));
        });

    });

    function submit() {
        if($.trim($("#problem_id").val()).length==0) {
            $.toptip('问题类型不能为空', 3000, 'error');
            return false;
        }
        
        if(has_size == 1 && $.trim($("#check_size").val()).length == 0) {
            $.toptip('验收尺寸不能为空', 3000, 'error');
            return false;
        }

        //if($("#question_desc").val().length==0) {
        //    $.toptip('备注描述不能为空', 3000, 'error');
        //    return false;
        //}

        if($("#location").val().length==0) { -->
             $.toptip('定位地址不能为空,请刷新定位', 1000, 'error'); 
             return false;
         } 
        
        if(imageArr.length == 0){
        	 $.toptip('照片不能为空', 3000, 'error'); 
            return false;
        }

        $.confirm("您确定要新增拜访吗？","新增拜访", function() {
            doSubmit();
        });
    }
    
    function noSubmit(){
    	if($("#problem_id").val().length==0) {
            $.toptip('问题类型不能为空', 3000, 'error');
            return false;
        }

        if($("#question_desc").val().length==0) {
            $.toptip('备注描述不能为空', 3000, 'error'); 
            return false;
        }

        if($.trim($("#location").val()).length==0) {
            $.toptip('定位地址不能为空,请刷新定位', 1000, 'error');
            return false;
        }

        $.confirm("您确定要新增补录吗？","新增补录", function() {
            doNoSubmit();
        });
    }

    function doSubmit() {
        $.ajax({
            url: '${CPATH}/customerVisit/save',
            method: 'post',
            dataType: 'json',
            data: $form.serialize(),
            beforeSend: function() {
                
                $('._submit_btn').attr('disabled', true);
                Utils.openLoadingWin('保存中...');
            },
            success: function(res) {
                Utils.closeLoadingWin();
                if (res.errorCode == 0) {
                    location.href = '${CPATH}/customerVisit';
                } else {
                    $.alert(res.message);
                }
            },
            error: function(res) {
                Utils.closeLoadingWin();
            }
        });
    }
    
    function doNoSubmit() {
        $.ajax({
            url: '${CPATH}/customerVisit/saveB',
            method: 'post',
            dataType: 'json',
            data: $form.serialize(),
            beforeSend: function() {
                
                $('._submit_btn').attr('disabled', true);
                Utils.openLoadingWin('保存中...');
            },
            success: function(res) {
                Utils.closeLoadingWin();
                if (res.errorCode == 0) {
                    location.href = '${CPATH}/customerVisit';
                } else {
                    $.alert(res.message);
                }
            },
            error: function(res) {
                Utils.closeLoadingWin();
            }
        });
    }


    function refreshLocation() {
        $("#location-span").empty();
        $("#location-span").append('<i class="weui-loading"></i>');
        wxGetLocation(
            function(lng, lat, addComp, address) {
                $("#lng").val(lng.toFixed(6));
                $("#lat").val(lat.toFixed(6));
                $('#location-span').text(address);
                $('#location').val(address);
        });
    }
</#macro>
<@layout>
<div class="weui-content">
    <div id="visit-add">
        <main>
        <form action="${CPATH}/customerVisit/save" method="post" id="form">
            <section class="weui-panel weui-panel_access order-customer-info">
                <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">客户名称
                            <span class="require">*</span>
                        </div>
                        <input type="hidden" id="customer_id" name="customerVisit.seller_customer_id" />
                        <input type="text" class="weui-input" id="customer_name" name="customer_name" placeholder="选择客户" required readonly>
                    </div>
                    <span class="weui-cell__ft"></span>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">联系人<span class="require">*</span></div>
                        <input type="text" class="weui-input" id="contact" name="contact" readonly="readonly" placeholder="联系人" required>
                    </div>
                    <span class="weui-cell__ft"></span>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">联系电话<span class="require">*</span></div>
                        <input id="mobile" type="text" name="mobile" placeholder="联系电话" class="weui-input" readonly="readonly" />
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">联系地址<span class="require">*</span></div>
                        <input id="address" type="text" name="address" placeholder="联系地址" class="weui-input" readonly="readonly" />
                    </div>
                </div>
                
                <div class="weui-cell" style="display:none;" id="size">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">验收尺寸<span class="require">*</span></div>
                        <input id="check_size" type="text" name="customerVisit.check_size" placeholder="验收尺寸" class="weui-input" />
                    </div>
                </div>

                <div class="weui-cell weui-cell_access select-area">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">问题类型
                            <span class="require">*</span>
                        </div>
                        <input id="problem_id" name="customerVisit.question_type" type="hidden" />
                        <input id="question_type" class="weui-input" name="question_type" type="text" placeholder="请选择" >
                    </div>
                    <span class="weui-cell__ft"></span>
                </div>
                <div class="weui-cell weui-cell_access select-area">
                    <div class="weui-cell__bd">
						<div class="order-customer-info-title">
							活动&nbsp;&nbsp;&nbsp;
						</div>
						<input id="activity_apply_id"  name="activity_apply_id" type="hidden" />
						<input id="activity_execute_id"  name="activity_execute_id" type="hidden" />
						<input id="activity_title" class="weui-input" name="activity_title" type="text" placeholder="请选择" readonly>
                    </div>
                    <span class="weui-cell__ft"></span>
                </div>
                <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" rows="3" name="customerVisit.question_desc" id="question_desc" placeholder="备注说明"></textarea>
                        <div class="weui-textarea-counter" id="length"></div>
                    </div>
                </div>
            </section>
            <section class="weui-panel weui-panel_access ft14 remark">
                <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__hd"><span class="icon-map-pin ft16 green"></span></div>
                    <div class="weui-cell__bd">
                        <div id="location-span" class="location">${(customerVisit.location)!'正在定位...'}</div>
                        <input type="hidden" name="customerVisit.lng" id="lng">
                        <input type="hidden" name="customerVisit.lat" id="lat">
                        <input type="hidden" name="customerVisit.location" id="location">
                    </div>
                    <div class="weui-cell__hd" id="refresh"><span class="icon-refresh ft16 gray" onclick="refreshLocation()"></span></div>
                </div>
            </section>
            <section class="weui-cells weui-cells_form select-area">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader imgeActivity">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">附件图片</p>
                            </div>
                            <div class="weui-uploader__bd imageActivityExecute">
                                <ul class="weui-uploader__files uploaderFiles" id="uploaderFiles"></ul>
                                <div class="weui-uploader__input-box">
                                    <input id="uploaderInput" class="weui-uploader__input uploaderInput" type="file" accept="image/*" multiple="" capture="camera">
                                    <input type="hidden" name="pic" id="pic" class="pic">
                                    <input type="text" name="photoType" class="weui-uploader__input photoType" id="photoType">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        </main>
        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
            <div class="weui-gallery__opr">
                <a href="javascript:" rel="nofollow" target="_blank"  class="weui-gallery__del">
                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                </a>
            </div>
        </div>
    </div>

    <#include "_inc/_goback.html" />
    <footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
        <button class="red-button width-100 _submit_btn" onclick="submit()" href="">提交</button>
        <button class="white-button width-100 _submit_btn" onclick="noSubmit()" href="" style = "color:#666;">稍后补录</button>
    </footer>
</div>
</@layout>