<#include "_inc/_layout.html"/>
<!--该页面做导入公司客户、导入附近客户、编辑客户、新增客户
    type==company为导入公司客户
    type==around为导入附件客户
    type==edit为编辑客户
    type==add为新增客户
-->
<#if type=="company">
    <#macro title>导入公司客户</#macro>
    <#elseif type=="around">
        <#macro title>导入附近客户</#macro>
    <#elseif type=="edit">
        <#macro title>编辑客户</#macro>
    <#elseif type=="add">
        <#macro title>新增客户</#macro>
</#if>

<#macro script_import>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ec4VbDTTjjuEGtVGzSvPwwQtvnvWFeGY"></script>
    <script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/exif.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/lrz.bundle.js"></script>
</#macro>

<#macro script>

    var Orientation = null;
    var MAX_HEIGHT = 1000;
    var imageArr = [];
    var count = 3;
    var $form = $("#form");
    var $picNum = $('.weui-uploader__info');
    var $uploaderFiles = $('#uploaderFiles');
    var $gallery = $("#gallery"), $galleryImg = $("#galleryImg");

    function isValid(){
        if($.trim($("#customer_name").val()).length==0) {$.toptip('客户名称不能为空', 1000, 'error'); return false;}
        if($.trim($("#customer_name").val()).length > 200) {$.toptip('客户名称长度不能超过200', 1000, 'error'); return false;}

        if($.trim($("#contact").val()).length==0) {$.toptip('联系人不能为空', 1000, 'error'); return false;}
        if($.trim($("#contact").val()).length > 30) {$.toptip('联系人姓名长度不能超过30', 1000, 'error'); return false;}

        if($.trim($("#mobile").val()).length==0) {$.toptip('联系电话不能为空', 1000, 'error'); return false;}
        //if(/^1[34578]\d{9}$/.test($("#mobile").val())==false){$.toptip('联系电话不正确', 1000, 'error'); return false;}
        if(/^[0-9]*$/.test($("#mobile").val())==false){$.toptip('联系电话存在非数字', 1000, 'error'); return false;}
        if($.trim($("#mobile").val()).length > 30) {$.toptip('联系电话长度不能超过30', 1000, 'error'); return false;}

        if($.trim($("#customer_type").val()).length==0) {$.toptip('客户类型不能为空', 1000, 'error'); return false;}
        if($.trim($("#delivery-address").val()).length==0) {$.toptip('配送地址不能为空', 1000, 'error'); return false;}
        if($.trim($("#address").val()).length==0) {$.toptip('地址详情不能为空', 1000, 'error'); return false;}
        if($.trim($("#address").val()).length > 200) {$.toptip('地址详情长度不能超过200', 1000, 'error'); return false;}

        if($.trim($("#lng").val()).length==0) {$.toptip('请刷新定位', 1000, 'error'); return false;}
        return true;
    }

    $(function() {
        initWxConfig('${appId!}', '${timestamp!}', '${nonceStr!}', '${signature!}');

        <#if !sellerCustomer?? || !sellerCustomer.lat?? >
            wxReadyGetLocation(
                function(lng, lat, addComp, address) {
                    <#if type=="add">
                        $("#lng").val(lng.toFixed(6));
                        $("#lat").val(lat.toFixed(6));
                        $("#delivery-address")[0].value = addComp.province + " " + addComp.city + " " + addComp.district;
                        $('#areaCode').val(addComp.provinceNumber + "," + addComp.cityNumber + "," + addComp.districtNumber);
                        $('#areaName').val(addComp.province + "," + addComp.city + "," + addComp.district);
                        $("#delivery-address").cityPicker({
                            title: "请选择配送地址",
                            onClose: function(obj) {
                                var areaCode = obj.value.join(",");
                                var areaName = obj.displayValue.join(",");
                                $('#areaCode').val(areaCode);
                                $('#areaName').val(areaName);
                            }
                        });
                    </#if>
                    $("#lng").val(lng.toFixed(6));
                    $("#lat").val(lat.toFixed(6));
                    $('#location-span').text(address);
                    $('#location').val(address);
                }
            );
        </#if>

        $("#length").text($("#address").val().length + '/' + 50);
        $(document).on("input", "#address", function() {
            $("#length").text($("#address").val().length + '/' + 50);
        }).on('click', '#delivery-address', function() {
            $("#customer_type").select('close');
        }).on('click', '#import', function() {
            var valid = isValid();
            if(!valid) return false;

            $.confirm("您确定要导入吗？","导入客户", function() {
                <#if type=="company">doReceive();
                <#else>doSubmit();
                </#if>
            });
        }).on('click', '#update', function() {
            var valid = isValid();
            if(!valid) return false;

            $.confirm("您确定要更新客户信息吗？","修改客户", function() {
                doSubmit();
            });
        }).on('click', '#enable', function() {
            $.confirm("您确定要停用客户吗？","停用客户", function() {
                doEnabled();
            });
        }).on('click', '#add', function() {
            var valid = isValid();
            if(!valid) return false;

            $.confirm("您确定要新增客户吗？","新增客户", function() {
                doSubmit();
            });
        }).on('change', '#uploaderInput', function () {
            lrz(this.files[0], {width: 1024})
                .then(function (rst) {
                    if ($("#uploaderFiles")[0].children.length + 1 > count) {
                        $.alert("最多上传3张图片");
                        return false;
                    }
                    imageArr.push({"pic":rst.base64, "pic_name":rst.origin.name});
                    $("#pic").val(JSON.stringify(imageArr));
                    var str = '<li class="weui-uploader__file " style="background-image:url('+rst.base64+')"></li>';
                    $uploaderFiles.append(str);
                    $picNum.text($("#uploaderFiles")[0].children.length + '/' + count);
                })
                .catch(function (err) {
                    alert('失败');
                })
            });
        
        if($("#delivery-address").val().length == 2) $("#delivery-address").val('');

        <#if type!="company" && type!="add">
        $("#delivery-address").cityPicker({
            title: "请选择配送地址",
            onClose: function(obj) {
                var areaCode = obj.value.join(",");
                var areaName = obj.displayValue.join(",");
                $('#areaCode').val(areaCode);
                $('#areaName').val(areaName);
            }
        });
        </#if>

        $("#customer_type").select({
             title: "选择客户类型",
             multi: true,
             items: JSON.parse('${customerType}'),
             onClose: function(obj) {
                 var custTypeIds = obj.data.values;
                 $('#customerTypeIds').val(custTypeIds);
             }
         });

    var index; //第几张图片
        $uploaderFiles.on("click", "li", function() {
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        
        $gallery.on("click", function() {
            $gallery.fadeOut(100);
        });
        
        //删除图片  删除图片的代码也贴出来。
        $(".weui-gallery__del").click(function() { //这部分刚才放错地方了，放到$(function(){})外面去了
            $uploaderFiles.find("li").eq(index).remove();
            $picNum.text($("#uploaderFiles")[0].children.length + '/' + count);
            imageArr.splice(index, 1);
            $("#pic").val(JSON.stringify(imageArr));
        });

    })
    
    function doSubmit() {

        var children = $("#uploaderFiles")[0].children;
        var oldPic=[];
        for(var i = 0; i < children.length; i++)
            if(children[i].style.backgroundImage.length < 200)
                oldPic.push({"savePath":children[i].children[0].value,"originalPath":children[i].children[1].value});
        $("#oldPic").val(JSON.stringify(oldPic));
    
        $.ajax({
            url: '${CPATH}/customer/save',
            method: 'post',
            dataType: 'json',
            data: $form.serialize(),
            beforeSend: function() {
                $('._submit_btn').attr('disabled', true);
                layer.open({
                    type: 2,
                    content: '保存中...'
                });
            },
            success: function(res) {
                if (res.errorCode == 0) {
                    location.href = '${CPATH}/customer'
                } else {
                    $.alert(res.message);
                    $('._submit_btn').attr('disabled', false);
                }
                layer.closeAll();
            },
            error: function(res) {
                layer.closeAll();
                $('._submit_btn').attr('disabled', false);
            }
        });
    }
    
    function doEnabled() {
        $.get("${CPATH}/customer/enable?id=${(sellerCustomer.id)!""}&isEnabled=0" ,
        function(result){
            if (result.errorCode == 0) {
                location.href = '${CPATH}/customer'
            } else {
                $.alert(result.message);
            }
            layer.closeAll();
        }
    )};

    function refreshLocation() {
        $("#location-span").empty();
        $("#location-span").append('<i class="weui-loading"></i>');
        wxGetLocation(
            function(lng, lat, addComp, address) {
                $("#lng").val(lng.toFixed(6));
                $("#lat").val(lat.toFixed(6));
                $('#location-span').text(address);
                $('#location').val(address);
            }
        )
    }
    
    function getback() {
		window.location.href = '${CPATH}/customer?history=' + 1;	
	}

    function doReceive(){

        var url ="${CPATH}/customer/receive?id=${(sellerCustomer.id)!""}&isEnabled=0&customerTypeIds=" + $("#customerTypeIds").val();
        $.get(url,
            function(result){
                if (result.errorCode == 0) {
                    location.href = '${CPATH}/customer'
                } else {
                    $.alert(result.message);
                }
                layer.closeAll();
            }
        )
    };
</#macro>

<@layout>
<div class="weui-content">
	<div id="customer-add">
		<main>
		    <form action="${CPATH}/customer/save" method="post" id="form">
			    <section class="weui-panel weui-panel_access order-customer-info select-area">
                    <#if storeId??>
                        <input type="hidden" id="storeId" name="storeId" value="${(storeId)!}">
                    </#if>
			        <input type="hidden" name="sellerCustomer.id" value="${(sellerCustomer.id)!}">
                    <input type="hidden" id="oldPic" name="oldPic">
                    <input type="hidden" id="type" name="type" value="${(type)!}">
			        <div class="weui-cell weui-cell_access">
			            <div class="weui-cell__bd">
			                <div class="order-customer-info-title">
			                    客户名称
			                    <span class="require">*</span>
			                </div>
                            <input type="text" class="weui-input" id="customer_name" name="customer.customer_name" value="${(sellerCustomer.customer_name)!}"  placeholder="请输入客户名称" required<#if type == "company"> readonly</#if>>
			            </div>
			        </div>
			        <!-- <div class="weui-cell weui-cell_access">
			            <div class="weui-cell__bd">
			                <div class="order-customer-info-title">
			                    客户昵称&nbsp;&nbsp;
			                    <span class="require"> </span>
			                </div>
			                <input type="text" class="weui-input" id="nickname" name="sellerCustomer.nickname" value="${(sellerCustomer.nickname)!}" placeholder="1-25个任意字母数字" <#if type == "company"> readonly</#if>>
			            </div>
			        </div> -->
                    <input type="hidden" class="weui-input" id="nickname" name="sellerCustomer.nickname" value="${(sellerCustomer.nickname)!}" placeholder="1-25个任意字母数字">
			        <div class="weui-cell weui-cell_access">
			            <div class="weui-cell__bd">
			                <div class="order-customer-info-title">
			                    联系人
			                    <span class="require">*</span>
			                </div>
			                <input type="text" class="weui-input" id="contact" name="customer.contact" value="${(sellerCustomer.contact)!}" placeholder="请输入联系人姓名" <#if type == "company"> readonly</#if>>
			            </div>
			        </div>
			        <div class="weui-cell weui-cell_access">
			            <div class="weui-cell__bd">
			                <div class="order-customer-info-title">
			                    联系电话
			                    <span class="require">*</span>
			                </div>
			                <input type="text" class="weui-input" id="mobile" name="customer.mobile" value="${(sellerCustomer.mobile)!}" placeholder="请输入联系电话" <#if type == "company"> readonly</#if>>
			            </div>
			        </div>
			        <div class="weui-cell weui-cell_access">
			            <div class="weui-cell__bd">
			                <div class="order-customer-info-title">
			                    客户类型
			                    <span class="require">*</span>
			                </div>
                            <input type="hidden" name="customerTypeIds" id="customerTypeIds" <#if type=="edit">value="${(sellerCustomer.cTypeList)!}"</#if>>
			                <input type="text" id="customer_type" name="customer_type" <#if type=="edit">data-values="${(sellerCustomer.cTypeList)!}" value="${(sellerCustomer.cTypeName)!}"</#if> placeholder="请选择客户类型" class="weui-input">
			            </div>
			            <span class="weui-cell__ft"></span>
			        </div>
			        <div class="weui-cell weui-cell_access">
			            <div class="weui-cell__bd">
			                <div class="order-customer-info-title">
			                    配送地址
			                    <span class="require">*</span>
			                </div>
			                <input type="hidden" name="areaCode" id="areaCode" value="${(sellerCustomer.prov_code)!''},${(sellerCustomer.city_code)!''},${(sellerCustomer.country_code)!''}">
			                <input type="hidden" name="areaName" id="areaName" value="${(sellerCustomer.prov_name)!''},${(sellerCustomer.city_name)!''},${(sellerCustomer.country_name)!''}">
			                <input type="text" placeholder="请选择配送地址" class="weui-input" id="delivery-address" name="customer.prov_name" value="${(sellerCustomer.prov_name)!''} ${(sellerCustomer.city_name)!''} ${(sellerCustomer.country_name)!''}" <#if type == "company"> readonly</#if>>
			            </div>
			            <span class="weui-cell__ft"></span>
			        </div>
			        <div class="weui-cell weui-cell_access">
			            <div class="weui-cell__bd">
		                    <textarea class="weui-textarea" rows="3" name="customer.address" id="address" placeholder="请输入地址详情必填" <#if type == "company"> readonly</#if>>${(sellerCustomer.address)!}</textarea>
			                <div class="weui-textarea-counter" id="length"></div>
			            </div>
			        </div>
			    </section>
                <section class="weui-panel weui-panel_access ft14 remark">
                    <div class="weui-cell weui-cell_access">
                        <div class="weui-cell__hd"><span class="icon-map-pin ft16 green"></span></div>
                        <div class="weui-cell__bd">
                            <div id="location-span" class="location">${(sellerCustomer.location)!'正在定位...'}</div>
                            <input type="hidden" name="sellerCustomer.lng" id="lng" value="${(sellerCustomer.lng)!}">
                            <input type="hidden" name="sellerCustomer.lat" id="lat" value="${(sellerCustomer.lat)!}">
                            <input type="hidden" name="sellerCustomer.location" id="location" value="${(sellerCustomer.location)!}">
                        </div>
                        <div class="weui-cell__hd" id="refresh"><span class="icon-refresh ft16 gray" onclick="refreshLocation()"></span></div>
                    </div>
                </section>
			    <section class="weui-cells weui-cells_form">
			        <div class="weui-cell">
			            <div class="weui-cell__bd">
			                <div class="weui-uploader">
			                    <div class="weui-uploader__hd">
			                        <p class="weui-uploader__title">附件图片</p>
			                        <div class="weui-uploader__info">${(sellerCustomer.imageList?size)!0}/3</div>
			                    </div>
			                    <div class="weui-uploader__bd">
			                        <ul class="weui-uploader__files" id="uploaderFiles">
			                        <#if (sellerCustomer.imageList) ??> 
			                        <#list sellerCustomer.imageList as bean>
			                            <li class="weui-uploader__file" style="background-image: url(${bean.savePath})"><input type="hidden" value="${bean.savePath}"><input type="hidden" value="${bean.originalPath}"></li>
			                        </#list>
			                        </#if>
			                        </ul>
                                    <#if type!="company">
                                        <div class="weui-uploader__input-box">
                                            <input id="uploaderInput" name="customer.img_path" class="weui-uploader__input" type="file" accept="image/*" multiple="" capture="camera">
                                            <input type="hidden" name="pic" id="pic">
                                        </div>
                                    </#if>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </section>
		    </form>
        </main>
        <div class="weui-gallery" id="gallery">
                <span class="weui-gallery__img" id="galleryImg"></span>
            <#if type!="company">
                <div class="weui-gallery__opr">
                    <a href="javascript:" rel="nofollow" target="_blank"  class="weui-gallery__del">
                        <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                    </a>
                </div>
            </#if>
            </div>
		<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
		    <#if type=="company" || type=="around">
                <button class="white-button-no-border weui-flex__item _submit_btn border-top-1px" onclick="window.location.href='${CPATH}/customer/importCustomer'">重新导入</button>
                <button class="red-button weui-flex__item _submit_btn" id="import">确定</button>
            <#elseif type=="edit">
		        <button class="white-button-no-border weui-flex__item _submit_btn border-top-1px" id="enable">停用</button>
		        <button class="red-button weui-flex__item _submit_btn" id="update">更新</button>
		    <#else>
                <button class="white-button-no-border weui-flex__item _submit_btn border-top-1px" onclick="window.location.href='${CPATH}/customer/importCustomer'">导入</button>
                <button class="red-button weui-flex__item _submit_btn" id="add">新增</button>
            </#if>
		</footer>
	</div>
</div>
<div class="hidden-menu">
    <ul>
        <li><a href="${CPATH}/">首页<img src="${CTPATH}/images/home.png" alt=""></a></li>
        <li><a onclick="getback()">返回<img src="${CTPATH}/images/goback.png" alt=""></a></li>
    </ul>
    <img src="${CTPATH}/images/add.png" alt="" id="button" class="fr">
</div>
<div class="layer"></div>
</@layout>