<#include "_inc/_layout.html"/>
<#macro title>拜访列表</#macro>
<#macro css>
    .t-c {
	    background: #ea6f5a;
	    font-size: .8rem;
	    color: #fff;
    }

    #visit-record header, #activity-list header {
	    height: 2rem;
	    line-height: 2rem;
	    margin: 0;
	    color: #fff;
    }
    .list-box {
        position: absolute;
        top: 44px;
        bottom: 0;
    }
</#macro>
<#macro script>
    var pageNumber = 2;
    var pageSize = 10;
    var loading = false;

    var $endNode = null;
    var $loadmore = $(".weui-loadmore");
    $(function () {
  		<#if history??>
  			var type = getItemBykey("type");
  			var nature = getItemBykey("nature");
  			var level = getItemBykey("level");
  			var status = getItemBykey("status");
  			var user = getItemBykey("user");
  			var keywordName = getItemBykey("keyword");
  			$("#customer-type").val(type);
  			$("#customer-nature").val(nature);
  			$("#customer-level").val(level);
  			$("#customer-status").val(status);
  			$("#bizUser").val(user);  
            if(keywordName !=null && keywordName.length!=0) {
                $('.weui-search-bar').addClass('weui-search-bar_focusing');
                $("#searchInput").val(keywordName);
            }
  		<#else>
  			clearStorage();
  		</#if>
        refresh();

        var cpLock = true;
		var time;

        $(document).on("compositionstart", "#searchInput", function() {
            cpLock = false;
		}).on("compositionend", "#searchInput", function() {
			cpLock = true;
			if(cpLock) {
				clearTimeout(time);
				time = setTimeout(function(){ 
					setItemBykey("keyword", $("#searchInput").val());
                    refresh();
				},500);
			}
		}).on("input", "#searchInput", function() {
			if(cpLock) {
				clearTimeout(time);
				time = setTimeout(function(){ 
                    setItemBykey("keyword", $("#searchInput").val());
                    refresh();
                },500);
			}
		}).on("change", "#customer-type", function() {
			setItemBykey("typeId", $("#customer-type").data('values'));
			setItemBykey("type", $("#customer-type").val());
			refresh();
		}).on("change", "#customer-nature", function() {
			setItemBykey("natureId", $("#customer-nature").data('values'));
			setItemBykey("nature", $("#customer-nature").val());
			refresh();
		}).on("change", "#bizUser", function() {
			setItemBykey("userId", $("#bizUser").data('values'));
			setItemBykey("user", $("#bizUser").val());
			refresh();
		}).on("change", "#customer-level", function() {
			setItemBykey("levelId", $("#customer-level").data('values'));
			setItemBykey("level", $("#customer-level").val());
			refresh();
		}).on("change", "#customer-status", function() {
			setItemBykey("statusId", $("#customer-status").data('values'));
			setItemBykey("status", $("#customer-status").val());
			refresh();
		});

        $("#customer-type").select({
            title: "选择客户类型",
            items: ${type!}
        });
        $("#customer-nature").select({
            title: "选择客户性质",
            items: ${nature!}
        });
        $("#bizUser").select({
            title: "选择拜访人",
            items: ${bizUserList!}
        });
        $("#customer-level").select({
            title: "选择客户级别",
            items: ${level!}
        });

        $("#customer-status").select({
            title: "选择审核状态",
            items: ${status!}
        });
    });

    var paramData = function() {
       <#if !history??>
        return  {
           "searchKey": $("#searchInput")[0].value,
            "pageNumber": pageNumber,
            "pageSize": pageSize,
            "type": $("#customer-type")[0].dataset.values,
            "nature": $("#customer-nature")[0].dataset.values,
            "user": $("#bizUser")[0].dataset.values,
            "level": $("#customer-level")[0].dataset.values,
            "status": $("#customer-status")[0].dataset.values
        };
        <#else>
			var type = getItemBykey("typeId");
  			var nature = getItemBykey("natureId");
  			var user = getItemBykey("userId");
  			var level = getItemBykey("levelId");
  			var status = getItemBykey("statusId");
  			var searchKey = getItemBykey("keyword");
			return  {
				"searchKey": searchKey,
			    "pageNumber": pageNumber,
	            "pageSize": pageSize,
	            "type": type,
	            "nature": nature,
	             "user": user,
	            "level": level,
	            "status": status
			};
       </#if>
    }

    $(".infinite").infinite().on("infinite", function() {
        var self = this;
        $endNode = $(".weui-cell_access:last");
        $loadmore = $(self).find(".weui-loadmore");
        if ($loadmore) $loadmore.show();
        if (loading) return ;
        loading = true;

        $.ajax({
            type: "post",
            url: "${CPATH}/customerVisit/refresh?id=${(id)!}&name=${(name)!}",
            data: paramData(),
            dataType: "json",
            success:function(data) {
                if ($loadmore) $loadmore.show();
                if (data.totalPage >= pageNumber) {
                    $endNode.after(data.html);
                }
                if (data.totalPage == pageNumber) {
                    $(".infinite").destroyInfinite();
                    $loadmore.hide();
                }
                pageNumber++;
                loading = false;
            }
        });
    });
    
    function refresh() {
        pageNumber = 1;
        $.ajax({
            url:"${CPATH}/customerVisit/refresh",
            type:"post",
            data:paramData(),
            dataType:"json",
            success:function(data) {
                $(".weui-loadmore").hide();
                $(".infinite").destroyInfinite();

                if (data.totalPage > pageNumber) {
                    loading = false;
                    $(".infinite").infinite();
                }

                $(".infinite")[0].scrollTop = 0;
                $("#visitList").empty();
                if(data.html.length ==0) data.html = data.html +'<div class="weui-loadmore weui-loadmore_line"><span class="weui-loadmore__tips">暂无数据</span></div>';
                $("#visitList").html(data.html);
                pageNumber = 2;
            }
        });
    }


	//搜索框叉掉和取消时，先清input值，再调用接口
    function searchCancel() {
        $("#searchInput")[0].value = "";
        refresh();
    }
</#macro>
<@layout>
<div id="visit-record">
    <div class="weui-search-bar" id="SearchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>请输入客户名或联系人</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="list-box"style="width: 100%">
        <header>
            <div class="head-search select-area">
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        <input type="text" id="customer-type" placeholder="客户类型" class="weui-input" readonly >
                        <i class="icon-sort-desc"></i>
                    </div>
                    <div class="weui-flex__item" style="display:none; ">
                        <input type="text" id="customer-nature" placeholder="客户性质" class="weui-input" readonly >
                        <i class="icon-sort-desc"></i>
                    </div>
                    <div class="weui-flex__item">
                        <input type="text" id="bizUser" placeholder="拜访人" class="weui-input" readonly >
                        <i class="icon-sort-desc"></i>
                    </div>
                    <div class="weui-flex__item">
                        <input type="text" id="customer-level" placeholder="客户级别" class="weui-input" readonly >
                        <i class="icon-sort-desc"></i>
                    </div>
                    <div class="weui-flex__item">
                        <input type="text" id="customer-status" placeholder="审核状态" class="weui-input" readonly >
                        <i class="icon-sort-desc"></i>
                    </div>
                </div>
            </div>
        </header>
        <main  class="infinite">
            <div id="visitList">
            </div>
                <div class="weui-loadmore">
                    <i class="weui-loading"></i>
                    <span class="weui-loadmore__tips">正在加载</span>
                </div>
        </main>
    </div>
    <@shiro.hasPermission name="/admin/customerVisit/add">
    <a class="hidden-menu" href="${CPATH}/customerVisit/edit">
        <img src="${CTPATH}/images/order_add.png" alt="">
    </a>
    </@shiro.hasPermission>
    <#include "_inc/_goback_bottom.html" />
</body>
</@layout>