<#include "_inc/_layout.html"/>
<#macro css> </#macro>
<#macro script>
    var pageNumber = 2;
    var pageSize = 10;
    var loading = false;

    var $endNode = null;
    var $loadmore = $(".weui-loadmore");

    $(function() {
        //搜索框监听
        $(document).on("input", "#searchInput", function() {
            refresh();
        });

        //筛选项获取
        $.ajax({
            url:"${CPATH}/customer/getCustomerRegionAndType",
            type:"post",
            dataType:"json",
            success:function(data) {

                $("#region").select({
                title: "选择业务员",
                items: data.region
                });

                $("#customer-type").select({
                title: "选择客户类型",
                items: data.customerType
                });

                $("#if-order").select({
                title: "是否下单",
                items: [{
                    title: "全部", value: ""
                    },{
                    title: "是", value: "1"
                    },{
                    title: "否",value: "0"
                    }]
                });
            }
        });
    });

    var paramData = function() {
        return  {
            "searchKey": $("#searchInput")[0].value,
            "pageNumber": pageNumber,
            "pageSize": pageSize,
            "region": $("#region")[0].dataset.values,
            "customerType": $("#customer-type")[0].dataset.values,
            "isOrdered": $("#if-order")[0].dataset.values
        };
    }

    //监听滚动
    $(".infinite").infinite().on("infinite", function() {
        var self = this;
        $endNode = $(".weui-panel_access:last");
        $loadmore = $(self).find(".weui-loadmore");
        if ($loadmore) $loadmore.show();
        if (loading) return ;
        loading = true;

        $.ajax({
            type: "post",
            url: "${CPATH}/customer/refresh",
            data: paramData(),
            dataType: "json",
            success:function(data) {
                if ($loadmore) $loadmore.show();
                if (data.totalPage >= pageNumber) {
                    $endNode.after(data.html);
                }
                if (data.totalPage = pageNumber) {
                    $(".infinite").destroyInfinite();
                    $loadmore.hide();
                }
                pageNumber++;
                loading = false;
            }
        });
    });


    //搜索框叉掉和取消时，先清input值，再调用接口
    function searchCancel() {
        $("#searchInput")[0].value = "";
        refresh();
    }

    function refresh() {
        pageNumber = 1;
        $.ajax({
            url:"${CPATH}/customer/refresh",
            type:"post",
            data:paramData(),
            dataType:"json",
            success:function(data) {
                $loadmore = $(this).find(".weui-loadmore");
                $(".infinite").destroyInfinite();
                $loadmore.hide();

                if (data.totalPage > pageNumber) {
                    loading = false;
                    $(".infinite").infinite();
                    $(".weui-loadmore").removeAttr("style");
                }

                $(".infinite")[0].scrollTop = 0;
                $("#customerList").empty();
                $("#customerList").html(data.html);
                pageNumber = 2;
            }
        });
    }

</#macro>

<@layout>
<div id="customer">
    <header>
        <div class="weui-search-bar" id="SearchBar">
            <form class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                    <a href="javascript:" class="weui-icon-clear" id="searchClear" onclick="searchCancel()"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText">
                    <i class="weui-icon-search"></i>
                    <span>请输入客户名或联系人</span>
                </label>
            </form>
            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" onclick="searchCancel()">取消</a>
        </div>
    </header>
    <article class="customer">
    <header class="has-th-list">
        <div class="head-search">
            <div>
                <input type="text" id="region" value="业务员" data-values="" class="weui-input" onChange="refresh()" readonly>
                <i class="icon-sort-desc"></i>
            </div>
            <div>
                <input type="text" id="customer-type" value="客户类型" data-values="" class="weui-input" onChange="refresh()" readonly>
                <i class="icon-sort-desc"></i>
            </div>
            <div>
                <input type="text" id="if-order" value="是否下单" data-values="" class="weui-input" onChange="refresh()" readonly>
                <i class="icon-sort-desc"></i>
            </div>
        </div>
        <div>
            <i class="icon-th-list"></i>
        </div>
    </header>
    <article  class="infinite">
        <div id = "customerList">
            <#if customerList??>
                <#assign total = customerList.totalRow>
                    <#list customerList.list as customer>
                         <div class="weui-panel weui-panel_access">
                            <div class="weui-flex">
                                <div class="weui-flex__item customer-info">
                                    <p class="ft14">${(customer.customer_name)!}</p>
                                    <p class="gray">${(customer.contact)!}/${(customer.mobile)!}</p>
                                </div>
                                <div class="weui-flex__item customer-href">
                                    <div class="weui-flex">
                                        <a href="tel:${(customer.mobile)!}"class="weui-flex__item">
                                            <p>
                                                <i class="icon-phone green"></i>
                                            </p>
                                            <p>电话</p>
                                        </a>
                                        <a class="weui-flex__item" href="./historyOrder.html?customer_id=${(customer.id)!}&customer_name=${(customer.customer_name)!}">
                                            <p>
                                                <i class="icon-file-text-o blue"></i>
                                            </p>
                                            <p>订单</p>
                                        </a>
                                        <a class="weui-flex__item" href="visitAdd.html">
                                            <p>
                                                <i class="icon-paw" style="color:#ff9800"></i>
                                            </p>
                                            <p>拜访</p>
                                        </a>
                                        <a class="weui-flex__item relative" href="./customerDetail.html">
                                            <i class="icon-chevron-right gray"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="weui-flex space-between">
                                <div class="button blue-button" href="./product.html">下订单</div>
                                <div class="button blue-button" hred="./visitAdd/html">客户拜访</div>
                            </div>
                            <p class="gray">
                                <span class="icon-map-marker ft16 green"></span>
                                ${(customer.prov_name)!} ${(customer.city_name)!} ${(customer.country_name)!} ${(customer.address)!}
                            </p>
                        </div>
                    </#list>
            </#if>
        </div>
        <#if total = 0>
            <div class="weui-loadmore weui-loadmore_line">
                <span class="weui-loadmore__tips">暂无数据</span>
            </div>
            <#elseif total &gt; 10>
                <div class="weui-loadmore">
                    <i class="weui-loading"></i>
                    <span class="weui-loadmore__tips">正在加载</span>
                </div>
        </#if>
    </article>
    </article>
</div>
<#include "_inc/_footer_nav.html" />
</@layout>

