<#include "_inc/_layout.html"/>

<#macro css>
    .txt-gray {
        color: #999;
    }
    
    .weui-media-box__desc {
        line-height: 1.4rem;
        height: 1.4rem;
        font-size: .7rem;
    }
    
    .weui-panel__hd {
	    padding: .5rem;
	    color: #000;
	    font-size: .8rem;
	}

</#macro>

<#macro script_import>
    <script src="${CPATH}/static/layer_mobile/layer.js"></script>
</#macro>

<#macro script>
    
    var $form = $("#form");

	function doReject(){
		layer.open({
			type: 2,
			content: '保存中...'
		});
		$.get("${CPATH}/customer/complete?id=${(sellerCustomer.id)!}&taskId=${(taskId)}&status=0" ,

			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/customer'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
			layer.closeAll();
		})
	};
    
    function doSubmit() {

		layer.open({
			type: 2,
			content: '保存中...'
		});
		$.get("${CPATH}/customer/complete?id=${(sellerCustomer.id)!}&taskId=${(taskId)}&status=1" ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/customer'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
			layer.closeAll();
		})
    };
    
</#macro>

<@layout>
<div id="customer-add">
<main>
	<section class="weui-panel weui-panel_access">
		<div class="weui-panel__hd">变更内容</div>
		<div class="weui-panel__bd">
			<div class="weui-media-box weui-media-box_text">
				<!-- <h4 class="weui-media-box__title">标题一</h4> -->
				<#if diffAttrList??>
					<#list diffAttrList as txt>
						<p class="weui-media-box__desc orange">
							${txt!}
						</p>
					</#list>
				</#if>
			</div>
		</div>
	</section>
	    <section class="weui-panel weui-panel_access order-customer-info">
	        <input type="hidden" name="sellerCustomer.id" value="${(sellerCustomer.id)!}">
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                <div class="order-customer-info-title">客户名称: </div>
	                <input class="txt-gray" value="${(sellerCustomer.customer_name)!}">
	            </div>
	        </div>
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                <div class="order-customer-info-title">客户昵称: </div>
	                <input class="txt-gray" value="${(sellerCustomer.nickname)!'无'}">
	            </div>
	        </div>
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                <div class="order-customer-info-title">联系人: </div>
	                <input class="txt-gray" value="${(sellerCustomer.contact)!}">
	            </div>
	        </div>
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                <div class="order-customer-info-title">联系电话: </div>
	                <input class="txt-gray" value="${(sellerCustomer.mobile)!}">
	            </div>
	        </div>
	        <div class="weui-cell weui-cell_access select-area">
	            <div class="weui-cell__bd">
	                <div class="order-customer-info-title">客户类型: </div>
	                <input class="txt-gray" value="${(custTypeNames)!}">
	            </div>
	        </div>
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                <div class="order-customer-info-title">省市区: </div>
	                <input class="txt-gray" value="${(sellerCustomer.prov_name)!} ${(sellerCustomer.city_name)!} ${(sellerCustomer.country_name)!}">
	            </div>
	        </div>
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                <div class="order-customer-info-title">地址详情: </div>
	                <input class="txt-gray" value="${(sellerCustomer.address)!}">
	            </div>
	        </div>
	    </section>
	    <section class="weui-cells weui-cells_form">
	        <div class="weui-cell">
	            <div class="weui-cell__bd">
	                <div class="weui-uploader">
	                    <div class="weui-uploader__hd">
	                        <p class="weui-uploader__title">附件图片</p>
	                        <div class="weui-uploader__info">${(sellerCustomer.imageList?size)!0}/3</div>
	                    </div>
	                    <div class="weui-uploader__bd">
	                        <ul class="weui-uploader__files" id="uploaderFiles">
	                        <#if (sellerCustomer.imageList) ??>
	                        <#list sellerCustomer.imageList as bean>
	                            <li class="weui-uploader__file" style="background-image: url(${bean.savePath})"></li>
	                        </#list>
	                        </#if>
	                        </ul>
	                        <div class="weui-uploader__input-box">
	                            <!--<input id="uploaderInput" name="customer.img_path" class="weui-uploader__input" type="file" accept="image/*" multiple="">-->
	                            <input type="hidden" name="pic" id="pic">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <section class="weui-panel weui-panel_access ft14 remark">
	        <div class="weui-cell weui-cell_access">
	            <div class="weui-cell__bd">
	                <span class="icon-map-pin ft16 green"></span>
	                <span id="location">${(sellerCustomer.location)!}</span>
	            </div>
	        </div>
	    </section>
	</form>
</main>
<#include "_inc/_goback.html" />
<footer class="weui-footer weui-footer_fixed-bottom ft16 border-top-1px">
    <button class="white-button width-50 _submit_btn" onclick="doReject()">拒绝</button>
    <button class="red-button width-50 _submit_btn" onclick="doSubmit()">通过</button>
</footer>
</div>
</@layout>