<#include "_inc/_layout.html"/>
<#macro title>新增拜访</#macro>

<#macro script_import>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ec4VbDTTjjuEGtVGzSvPwwQtvnvWFeGY"></script>
    <script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/exif.js"></script>
</#macro>
<#macro css>
    #visit-add main{
        top: 0;
        bottom: 2.25rem;
    }
</#macro>
<#macro script>
    var customerList = [];
    var orgCustomerList = {};
    var customerSelect = [];
    var problemSelect = [];

    var imageArr = [];
    var count = 3;
    var $form = $("#form");
    var $picNum = $('.weui-uploader__info');
    var $uploaderFiles = $("#uploaderFiles");
    var $gallery = $("#gallery"), $galleryImg = $("#galleryImg");

    var Orientation = null;
    var MAX_HEIGHT = 1000;

    initCustomer();

    function initCustomer(){
        var customerInfo = getItemBykey("customerInfo");
        if(customerInfo) {
            $("#customer_id").val(customerInfo.sellerCustomerId);
            $("#customer_name").val(customerInfo.customerName);
            $("#contact").val(customerInfo.contact);
            $("#mobile").val(customerInfo.mobile);
            $('#address').val(customerInfo.address);
            removeItemBykey("customerInfo");
        }
    }

    function updateVisitData(customerId){
        var customerInfo = orgCustomerList[customerId];

        $("#customer_id").val(customerId);
        $("#mobile").val(customerInfo.mobile);
        $("#contact").val(customerInfo.contact);
    }

    $(function() {

        $("#length").text($("#question_desc").val().length + '/' + 70);
        $(document).on("input", "#question_desc", function() {
            $("#length").text($("#question_desc").val().length + '/' + 70);
        });

        $(document).on("touchstart", "#customer_name", function () {
	        window.location.href = '${CPATH}/customerVisit/visitCustomerChoose';
	    });
	
	    $("#question_type").select({
	        title: "请选择问题类型",
	        multi: false,
	        items: JSON.parse('${problem}'),
	        onClose: function(obj) {
	            var problemId = obj.data.values;
	            if(problemId){
	                $("#problem_id").val(problemId);
	            }
	        }
	    });
	    
        $("#uploaderInput").on("change",function () {

            var files = this.files;;
            var arrNum = imageArr.length;
            var num = arrNum + files.length;

            if (num > count) {
                $.alert("最多上传三张图片");
                return false;
            }

            $picNum.text(num + '/' + count);

            for (var i = 0; i < files.length; i ++) {
                var file = files[i];
                if (!/image\/\w+/.test(file.type)) {
                    $.alert("请确保文件为图像类型");
                    return false;
                }

                EXIF.getData(file, function() {
                    EXIF.getAllTags(this);
                    Orientation = EXIF.getTag(this, 'Orientation');
                });

                var reader = new FileReader();
                (function(x) {
                    reader.onload = function(e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.onload = function() {
                            var expectWidth = this.naturalWidth;
                            var expectHeight = this.naturalHeight;

                            if (this.naturalWidth > this.naturalHeight && this.naturalWidth > 480) {
                                expectWidth = 480;
                                expectHeight = expectWidth * this.naturalHeight / this.naturalWidth;
                            } else if (this.naturalHeight > this.naturalWidth && this.naturalHeight > 640) {
                                expectHeight = 640;
                                expectWidth = expectHeight * this.naturalWidth / this.naturalHeight;
                            }

                            var canvas = document.createElement("canvas");
                            var ctx = canvas.getContext("2d");
                            canvas.width = expectWidth;
                            canvas.height = expectHeight;
                            ctx.drawImage(this, 0, 0, canvas.width, canvas.height);

                            if(Orientation != "" && Orientation != 1){
                                switch(Orientation){
                                case 6://需要顺时针（向左）90度旋转
                                    rotateImg(this,'left',canvas, canvas.width, canvas.height);
                                    break;
                                case 8://需要逆时针（向右）90度旋转
                                    rotateImg(this,'right',canvas, canvas.width, canvas.height);
                                    break;
                                case 3://需要180度旋转
                                    rotateImg(this,'right',canvas, canvas.width, canvas.height);//转两次
                                    rotateImg(this,'right',canvas, canvas.width, canvas.height);
                                    break;
                                }
                            }
                            blob = canvas.toDataURL("image/jpeg", 0.5);
                            imageArr.push({"pic":blob, "pic_name":x});
                            $("#pic").val(JSON.stringify(imageArr));
                            var str = '<li class="weui-uploader__file " style="background-image:url('+blob+')"></li>';
                            $uploaderFiles.append(str);
                        };
                    };
                })(file.name)
                reader.readAsDataURL(file);
            }
        });

    function rotateImg(img, direction,canvas, width, height) {
        //最小与最大旋转方向，图片旋转4次后回到原方向
        var min_step = 0;
        var max_step = 3;
        if (img == null) return;

        var step = 2;
        if (step == null) {
            step = min_step;
        }
        if (direction == 'right') {
            step++;
            //旋转到原位置，即超过最大值
            step > max_step && (step = min_step);
        } else {
            step--;
            step < min_step && (step = max_step);
        }
        //旋转角度以弧度值为参数
        var degree = step * 90 * Math.PI / 180;
        var ctx = canvas.getContext('2d');
        switch (step) {
            case 0:
                canvas.width = width;
                canvas.height = height;
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                break;
            case 1:
                canvas.width = height;
                canvas.height = width;
                ctx.rotate(degree);
                ctx.drawImage(img, 0, -height, canvas.width, canvas.height);
                break;
            case 2:
                canvas.width = width;
                canvas.height = height;
                ctx.rotate(degree);
                ctx.drawImage(img, -width, -height, canvas.width, canvas.height);
                break;
            case 3:
                canvas.width = height;
                canvas.height = width;
                ctx.rotate(degree);
                ctx.drawImage(img, -width, 0, canvas.width, canvas.height);
                break;
            }
        }

        var index; //第几张图片
        $uploaderFiles.on("click", "li", function() {
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });

        $gallery.on("click", function() {
            $gallery.fadeOut(100);
        });

        //删除图片  删除图片的代码也贴出来。
        $(".weui-gallery__del").click(function() { //这部分刚才放错地方了，放到$(function(){})外面去了
            $uploaderFiles.find("li").eq(index).remove();
            imageArr = imageArr.splice(index, 1);
        });

    });

    function doSubmit() {
        $.ajax({
            url: '${CPATH}/customerVisit/save',
            method: 'post',
            dataType: 'json',
            data: $form.serialize(),
            beforeSend: function() {
                
                if($("#problem_id").val().length==0) {
                    $.toptip('问题类型不能为空', 3000, 'error');
                    return false;
                }
                
                if($("#question_desc").val().length==0) {
                    $.toptip('备注描述不能为空', 3000, 'error'); 
                    return false;
                }

                if($("#location").val().length==0) {
                    $.toptip('定位地址不能为空,请刷新定位', 1000, 'error');
                    return false;
                }
                
                $('._submit_btn').attr('disabled', true);
                Utils.openLoadingWin('保存中...');
            },
            success: function(res) {
                Utils.closeLoadingWin();
                if (res.errorCode == 0) {
                    $.confirm({
                        title: res.message,
                        text: '返回列表页？',
                        onOK: function () {
                            location.href = '${CPATH}/customerVisit';
                        },
                        onCancel: function () {
                            $.closeModal();
                        }
                    });
                } else {
                    $.alert(res.message);
                }
            },
            error: function(res) {
                Utils.closeLoadingWin();
            }
        });
    }

    wx.config({
        debug: false,
        appId: '${appId!}',
        timestamp: '${timestamp!}',
        nonceStr: '${nonceStr!}',
        signature: '${signature!}',
        jsApiList: [
            'checkJsApi',
            'getLocation'
        ]
    });

    wx.ready(function() {
        // 获取定位信息
        wx.getLocation({
	        type: 'wgs84',
	        success: function (res) {
	            var latitude = res.latitude;                      // 纬度，浮点数，范围为90 ~ -90
	            var longitude = res.longitude;                    // 经度，浮点数，范围为180 ~ -180。
	            $("#lng").val(parseFloat(longitude).toFixed(2));
	            $("#lat").val(parseFloat(latitude).toFixed(2));
	   
	            var speed = res.speed;                            // 速度，以米/每秒计
	            var accuracy = res.accuracy;                      // 位置精度
	
	            var point = new BMap.Point(longitude, latitude);  // 将经纬度转化为百度经纬度
	            var geoc = new BMap.Geocoder();                   // 获取百度地址解析器
	
	            translateCallback = function (point) {            // 回调函数
	                geoc.getLocation(point, function(rs) {
	                    var addComp = rs.addressComponents;
	                    var address = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
	                    $('#location-span').text(address);
	                    $('#location').val(address);
	                });
	            };
	            
	            setTimeout(function() {
	                BMap.Convertor.translate(point, 0, translateCallback);//真实经纬度转成百度坐标
	            }, 100);
	        },
	        cancel: function (res) {
	            console.log('用户拒绝授权获取地理位置');
	        },
	        fail: function (res) {
	            console.log(JSON.stringify(res));
	        }
        });
    });

    function refreshLocation() {
        $("#location-span").empty();
        $("#location-span").css('text-align','center');
        $("#location-span").append('<i class="weui-loading"></i>');

        wx.getLocation({
            type: 'wgs84',
            success: function (res) {
                $("#location-span").empty();
                $("#location-span").removeAttr("style");
                var latitude = res.latitude;                      // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude;                    // 经度，浮点数，范围为180 ~ -180。
                var speed = res.speed;                            // 速度，以米/每秒计
                var accuracy = res.accuracy;                      // 位置精度

                var point = new BMap.Point(longitude, latitude);  // 将经纬度转化为百度经纬度
                var geoc = new BMap.Geocoder();                   // 获取百度地址解析器

                $("#lng").val(parseFloat(longitude).toFixed(2));
                $("#lat").val(parseFloat(latitude).toFixed(2));
                translateCallback = function (point) {            // 回调函数
                    geoc.getLocation(point, function(rs) {
                        var addComp = rs.addressComponents;
                        var address = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
                        $('#location-span').text(address);
                        $('#location').val(address);
                    });
                };
                setTimeout(function() {
                    BMap.Convertor.translate(point, 0, translateCallback);//真实经纬度转成百度坐标
                }, 100);
            },
            cancel: function (res) {
                $("#location-span").empty();
                $("#location-span").removeAttr("style");
                $("#location-span").text('用户拒绝授权获取地理位置');
            },
            fail: function (res) {
                $("#location-span").empty();
                $("#location-span").removeAttr("style");
                $("#location-span").text(JSON.stringify(res));
            }
        });
    }
</#macro>
<@layout>
<div class="weui-content">
    <div id="visit-add">
        <main>
        <form action="${CPATH}/customerVisit/save" method="post" id="form">
            <section class="weui-panel weui-panel_access order-customer-info select-area">
                <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">客户名称
                            <span class="require">*</span>
                        </div>
                        <input type="hidden" id="customer_id" name="customerVisit.seller_customer_id" />
                        <input type="text" class="weui-input" id="customer_name" name="customer_name" placeholder="选择客户" required readonly>
                    </div>
                    <span class="weui-cell__ft"></span>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">联系人<span class="require">*</span></div>
                        <input type="text" class="weui-input" id="contact" name="contact" readonly="readonly" placeholder="联系人" required>
                    </div>
                    <span class="weui-cell__ft"></span>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">联系电话<span class="require">*</span></div>
                        <input id="mobile" type="text" name="mobile" placeholder="联系电话" class="weui-input" readonly="readonly" />
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">联系地址<span class="require">*</span></div>
                        <input id="address" type="text" name="address" placeholder="联系地址" class="weui-input" readonly="readonly" />
                    </div>
                </div>

                <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">问题类型
                            <span class="require">*</span>
                        </div>
                        <input id="problem_id" name="customerVisit.question_type" type="hidden" />
                        <input id="question_type" class="weui-input" name="question_type" type="text" placeholder="请选择" >
                    </div>
                    <span class="weui-cell__ft"></span>
                </div>
                <!-- <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__bd">
                        <div class="order-customer-info-title">活动名称 <span class="require">*</span></div>
                        <input class="weui-input" placeholder="请选择">
                    </div>
                    <span class="weui-cell__ft"></span>
		        </div> -->
                <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" rows="3" name="customerVisit.question_desc" id="question_desc" placeholder="备注说明"></textarea>
                        <div class="weui-textarea-counter" id="length"></div>
                    </div>
                </div>
            </section>
            <section class="weui-panel weui-panel_access ft14 remark">
                <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__hd"><span class="icon-map-pin ft16 green"></span></div>
                    <div class="weui-cell__bd">
                        <div id="location-span" class="location">${(customerVisit.location)!'正在定位...'}</div>
                        <input type="hidden" name="customerVisit.lng" id="lng">
                        <input type="hidden" name="customerVisit.lat" id="lat">
                        <input type="hidden" name="customerVisit.location" id="location">
                    </div>
                    <div class="weui-cell__hd" id="refresh"><span class="icon-refresh ft16 gray" onclick="refreshLocation()"></span></div>
                </div>
            </section>
            <section class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">附件图片</p>
                                <div class="weui-uploader__info">0/3</div>
                            </div>
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                                <div class="weui-uploader__input-box">
                                    <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                                    <input type="hidden" name="pic" id="pic">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        </main>
        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
            <div class="weui-gallery__opr">
                <a href="javascript:" rel="nofollow" target="_blank"  class="weui-gallery__del">
                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                </a>
            </div>
        </div>
    </div>

    <#include "_inc/_goback.html" />
    <footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
        <button class="red-button width-100 _submit_btn" onclick="doSubmit()" href="">提交</button>
    </footer>
</div>
</@layout>