<#include "_inc/_layout.html"/>
<#macro title>选择客户</#macro>
<#macro css>
    #customer {
        bottom: 2.25rem;
    }
    #infinite {
        position: absolute;
        top: 2rem;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }
    .red-class {
        color: #ea6f5a!important;
    }

    .responsible {
        float: right;
        color: red;
        max-width: 8rem;
    }
    .contactP {
        margin-top: .5rem; 
        overflow: hidden;
    }
    .contact {
        position: absolute;
        left: 0;
        top:50%;
        transform: translateY(-50%);
        margin-top:0!important;
    }
    button {
        background: #fff;
    }

</#macro>

<#macro script_import>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ec4VbDTTjjuEGtVGzSvPwwQtvnvWFeGY"></script>
    <script type="text/javascript" src="${CTPATH}/js/convertor.js"></script>
</#macro>

<#macro script>

    var sign = 0;//0表示公司客户，1表示附近客户

    $(function() {
        initWxConfig('${appId!}', '${timestamp!}', '${nonceStr!}', '${signature!}');

        wxReadyGetLocation(
            function(lng, lat, addComp, address) {
                $("#lng").val(lng.toFixed(6));
                $("#lat").val(lat.toFixed(6));
            }
        )
        $(document).on("submit", ".weui-search-bar__form", function() {
			combo();
			return false;
		}).on("click", ".nearby-customer", function(){
            sign = 1;
            var $this = $(this);
            $this.attr('disabled', true);
            $this.addClass('red-class').siblings().removeClass('red-class');
            combo();
        }).on("click", "#searchCancel", function(){
            $("#searchInput")[0].value = "";
            combo();
        }).on("click", "#searchClear", function(){
            $("#searchInput")[0].value = "";
            combo();
        }).on("click", ".choose-customer", function(){
            sign = 0;
            var $this = $(this);
            $this.attr('disabled', true);
            $this.addClass('red-class').siblings().removeClass('red-class');
            combo();
        }).on("click", "#customerInfo", function() {
            if (sign == 0) window.location.href = "${CPATH}/customer/gotoEdit?id=" + $(this).find("#sellerCustomerId").val();
            else window.location.href = "${CPATH}/customer/gotoAroundEdit?id=" + $(this).find("#sellerCustomerId").val();
        });

        combo();
    });

    var newHtml = $(".weui-panel").eq(0).html();
    var $loading = $("#loading");
    var $noMore = $("#noMore");
    var loading = false;
    var $button = $('.order-top-btns button');

    var keyword = '';
    var page = 1;
    var size = 10;

    var $customerList = $("#customerList");
    $customerList.empty();

    function initCustomer() {

        $loading.show();
        $noMore.hide();
        $.showLoading()

        var params;
        var url;

        if (sign == 0) {

            params = {
                "page": page,
                "size": size,
                "keyword": $("#searchInput").val()
            };
            url = "${CPATH}/customer/getImportCustomerList";

        } else {

            params = {
                "keyword": $("#searchInput").val(),
                "lng": $('#lng').val(),
                "lat": $('#lat').val()
            };

            url = "${CPATH}/customer/getImportAroundCustomerList";
        }

        Utils.ajax(url, params,
        function(data){
            $loading.hide();
            $.hideLoading();
            if(data.customerList.length == 0){
                $noMore.show();
                loading = true;
                return;
            }
            $.each(data.customerList, function(index, el) {
                $customerList.append( "<div class='weui-panel weui-panel_access'>" + newHtml + "</div>");
                var $newCustomer = $customerList.find(".weui-panel:last");
                $newCustomer.find("#customerName").text(el.customer_name);

                var contactP  = "";
                if (el.contact != undefined) {
                    contactP = el.contact + "/" + el.mobile;
                    if(el.getted != null) contactP = "<p class='contact gray'>" + contactP + "</p>" + "<div class='responsible'>" + el.getted + "</div>";
                }else if (el.mobile == null || el.mobile == '') contactP = "无";
                else contactP = el.mobile;
                $newCustomer.find("#contactP").html(contactP);

                $newCustomer.find("#addressSpan").text(el.prov_name + " " + el.city_name + " " + el.country_name);
                $newCustomer.find("#showAddress").text(el.address);

                $newCustomer.find("#sellerCustomerId").val(el.sellerCustomerId);
                $newCustomer.find("#contact").val(el.contact);
                $newCustomer.find("#mobile").val(el.mobile);
                $newCustomer.find("#address").val(el.prov_name + " " + el.city_name + " " + el.country_name + " " + el.address);
            });
            page++;
            if (sign == 0) loading = false;
            else loading = true;
            $button.attr('disabled',false);
        });
    }

    //滑动方法
    $("#infinite").infinite().on("infinite", function() {
        if(loading) {
            return;
        }
        loading = true;
        initCustomer();
    });

    function combo() {
        $customerList.empty();
        loading = true;
        page = 1;
        initCustomer();
    }

</#macro>

<@layout>
<div class="weui-content">
    <div id="customer">
        <header>
            <div class="weui-search-bar" id="SearchBar">
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText">
                        <i class="weui-icon-search"></i>
                        <span>请输入客户名</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" >取消</a>
            </div>
        </header>
        
        <article class="customer" style="width: 100%">
            <div class="weui-flex order-top-btns t-c ft14">
                <button class="weui-flex__item choose-customer red-class">
                    <span><i class="icon-user"></i></span>
                    公司客户
                </button>
                <@shiro.hasPermission name="/admin/sellerCustomer/import">
                <button class="weui-flex__item nearby-customer">
                    <span><i class="icon-map-marker"></i></span>
                    附近客户
                </button>
                </@shiro.hasPermission>
                <input type="hidden" name="lng" id="lng">
                <input type="hidden" name="lat" id="lat">
            </div>
            <div id="infinite">
                <div id="customerList">
                    <div class="weui-panel weui-panel_access" style="display: none">
                        <div class="weui-flex">
                            <div class="weui-flex__item customer-info" id="customerInfo">
                                <p class="ft14" id="customerName">小张烤鱼</p>
                                <div class="relative contactP" id="contactP">小张/18611111111</div>
                                <input type="hidden" id="sellerCustomerId" value="">
                                <input type="hidden" id="contact" value="">
                                <input type="hidden" id="mobile" value="">
                                <input type="hidden" id="address" value="">
                            </div>
                        </div>
                        <p class="gray" style="height: 1.5rem;">
                            <span class="icon-map-marker ft16 green"></span>
                            <span id="addressSpan">湖北省 武汉市 江汉区</span>
                            <br>
                            <span id="showAddress">德盛街</span>
                        </p>
                    </div>
                </div>
                <div class="weui-loadmore" id="loading" style="display: none;">
                    <i class="weui-loading"></i>
                    <span class="weui-loadmore__tips">正在加载</span>
                </div>
                <div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
                    <span class="weui-loadmore__tips">已加载完全部数据</span>
                </div>
            </div>
        </article>
    </div>
    <#include "_inc/_goback_bottom.html" />
</div>
</@layout>