<#include "_inc/_layout.html"/>
<#macro title>拜访详情</#macro>
<#macro script>
	var $gallery = $("#gallery"), $galleryImg = $("#galleryImg");
	var $uploaderFiles = $('#uploaderFiles');

	$(function(){
		var index;
		$uploaderFiles.on("click", "li", function() {
			index = $(this).index();
			$galleryImg.attr("style", this.getAttribute("style"));
			$gallery.fadeIn(100);
		});

	$gallery.on("click", function() {
		$gallery.fadeOut(100);
	});
	});
	
	 function getback() {
	<#if one??>
		window.location.href = '${CPATH}/customerVisit/one?id=${visit.seller_customer_id}&name=${visit.customer_name}';
	<#else>
		window.location.href = '${CPATH}/customerVisit?history=' + 1;
	</#if>
	} 
</#macro>
<@layout>
<div class="weui-content">
	<div id="customer-add">
		<main>
		    <section class="weui-panel weui-panel_access order-customer-info">
		        <div class="weui-cell weui-cell_access">
		            <div class="weui-cell__bd">
		                <div class="order-customer-info-title">
		                    客户名称
		                    <span class="require">*</span>
		                </div>
		                <input type="text" placeholder="客户名称" class="weui-input" value="${(visit.customer_name)!}">
		            </div>
		        </div>
		        <div class="weui-cell weui-cell_access">
		            <div class="weui-cell__bd">
		                <div class="order-customer-info-title">
		                    联系人
		                    <span class="require">*</span>
		                </div>
		                <input type="text" placeholder="联系人" class="weui-input" value="${(visit.contact)!}">
		            </div>
		        </div>
		        <div class="weui-cell weui-cell_access">
		            <div class="weui-cell__bd">
		                <div class="order-customer-info-title">
		                    联系电话
		                    <span class="require">*</span>
		                </div>
		                <input type="text" placeholder="联系电话" class="weui-input" value="${(visit.mobile)!}">
		            </div>
		        </div>
		        <!--<div class="weui-cell weui-cell_access">-->
		        <!--<div class="weui-cell__bd">-->
		        <!--<div class="order-customer-info-title">-->
		        <!--活动名称-->
		        <!--<span class="require">*</span>-->
		        <!--</div>-->
		        <!--<input type="text" placeholder="请选择" class="weui-input" value="">-->
		        <!--</div>-->
		        <!--<span class="weui-cell__ft"></span>-->
		        <!--</div>-->
		        <div class="weui-cell weui-cell_access">
		            <div class="weui-cell__bd">
		                <div class="order-customer-info-title">
		                    问题类型
		                    <span class="require">*</span>
		                </div>
		                <input type="text" placeholder="请选择" class="weui-input" value="${DICT_NAME(visit.question_type)!}">
		            </div>
		        </div>
		        
		        <div class="weui-cell weui-cell_access">
		            <div class="weui-cell__bd">
		                <div class="order-customer-info-title">
		                    活动&nbsp;&nbsp;&nbsp;
		                </div>
		                <input type="text" placeholder="" class="weui-input" value="${activity!}">
		            </div>
		        </div>
		        
		        <div class="weui-cell weui-cell_access">
		            <div class="weui-cell__bd">
		            <!-- <div class="order-customer-info-title">问题类型
		                        </div> -->
		                <textarea class="weui-textarea" placeholder="备注说明（70字以内）">${(visit.question_desc)!}</textarea>
		            </div>
		        </div>
		    </section>
			<div class="weui-gallery" id="gallery">
				<span class="weui-gallery__img" id="galleryImg"></span>
			</div>
		    <section class="weui-cells weui-cells_form">
		        <div class="weui-cell">
		            <div class="weui-cell__bd">
		                <div class="weui-uploader">
		                    <div class="weui-uploader__hd">
		                        <p class="weui-uploader__title">附件图片</p>
		                        <div class="weui-uploader__info">${(visit.imageList?size)!0}/3</div>
		                    </div>
		                    <div class="weui-uploader__bd">
		                        <ul class="weui-uploader__files" id="uploaderFiles">
		                            <#if (visit.imageList) ??>
		                                <#list visit.imageList as bean>
		                                    ${bean.orderList}<li class="weui-uploader__file" style="background-image: url(${bean.savePath})"></li>
		                                </#list>
		                            </#if>
		                        </ul>
		                        <!--<div class="weui-uploader__input-box">-->
		                        <!--&lt;!&ndash;<input id="uploaderInput" name="customer.img_path" class="weui-uploader__input" type="file" accept="image/*" multiple="">&ndash;&gt;-->
		                        <!--<input type="hidden" name="pic" id="pic">-->
		                        <!--</div>-->
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		    <section class="weui-panel weui-panel_access ft14 remark">
		        <div class="weui-cell weui-cell_access">
		            <div class="weui-cell__bd">
		                <i class="icon-map-pin ft16 green"></i> ${(visit.location)!}
		            </div>
		        </div>
		    </section>
		</main>
		<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
		    <button class="white-button-no-border weui-flex__item _submit_btn border-top-1px return_index">首页</button>
		    <button class="red-button weui-flex__item _submit_btn"onclick="getback()">返回</button>
		</footer>
	</div>
</div>
</@layout>