<#include "_inc/_layout.html"/> <#macro css> </#macro> 
<#macro script>
$(function () {
    $(document).on('touchend', '.menu', function () {
      var $this = $(this);
      var index = $this.index()-1;
      $this.addClass('blue-button').siblings().removeClass('blue-button');
      $('.index-info').find('.weui-cells:eq(' + index + ')').show().siblings().hide();
      return false;
	})
	
	$('.week').text($.week());
    $('.day').text($.today());


	var mySwiper = new Swiper('.swiper-container', {
		loop: true,
		paginationHide: true,
		autoplay: {
		  disableOnInteraction: false,
		},
		allowTouchMove: false,
		direction: 'vertical',
	})
})
</#macro> <@layout>
<div class="weui-content">
	<article id="home">
		<div class="company">${(session.sellerName)!}</div>
		<div>
			<div class="weui-cells__title">
				<div class="weui-flex">
					<div class="weui-flex__item">
					  <b>快捷入口</b>
					</div>
					<div class="weui-flex__item t-c week">
					</div>
					<div class="weui-flex__item t-r day"></div>
				</div>
			</div>
			<div class="weui-grids">
				<a href="${CPATH}/product" class="weui-grid js_grid">
                    <!-- <span class="weui-badge empty-badge">&nbsp;</span> -->
					<div class="weui-grid__icon">
						<i class="icon-file-text blue"></i>
					</div>
					<p class="weui-grid__label">下订单</p>
				</a>
                <a href="${CPATH}/customerVisit/edit" class="weui-grid js_grid">
					<div class="weui-grid__icon">
						<i class="icon-plane" style="color: #ffa042"></i>
					</div>
					<p class="weui-grid__label">新增拜访</p>
				</a>
				<!-- <a href="" class="weui-grid js_grid">
					<div class="weui-grid__icon">
						<i class="icon-tasks" style="color: #19c594;"></i>
					</div>
					<p class="weui-grid__label">活动申请</p>
				</a> -->
                <a href="${CPATH}/customer/edit" class="weui-grid js_grid">
                    <span class="weui-badge left-top-tag">NEW</span>
					<div class="weui-grid__icon">
						<i class="icon-user-plus" style="color: #f1745e"></i>
					</div>
					<p class="weui-grid__label">新增客户</p>
				</a>
			</div>
		</div>
		<div class="notice">
			<i class="notice-icon-laba"></i>
			<div class="swiper-container">
			  <div class="swiper-wrapper">
				<div class="swiper-slide"><a href="">热烈祝贺伟义商城成功热烈祝贺伟义商城成功上线热烈祝贺伟义商城成功上线上线</a></div>
				<div class="swiper-slide"><a href="">蓝之蓝股份成公司上市</a></div>
			  </div>
			</div>
		</div>
		<div>
			<div class="weui-cells__title">
				<b>我的待办</b>
			</div>
			<div class="weui-grids">
			    <a href="${CPATH}/order/myOrder" class="weui-grid js_grid">
			        <span class="weui-badge empty-badge">&nbsp;</span>
                    <div class="weui-grid__icon">
                        <i class="icon-file-text" style="color: #19c594;"></i>
                    </div>
                    <p class="weui-grid__label">订单审核</p>
                </a>
				<a href="${CPATH}/todo/customer" class="weui-grid js_grid">
                    <span class="weui-badge empty-badge">&nbsp;</span>
					<div class="weui-grid__icon">
						<i class="icon-user" style="color: #9c89b9"></i>
					</div>
					<p class="weui-grid__label">客户审核</p>
				</a>
                <!-- <a href="feeAuditList.html" class="weui-grid js_grid"> <span
					class="weui-badge empty-badge">&nbsp;</span>
					<div class="weui-grid__icon">
						<i class="icon-check-square-o" style="color: #19c594"></i>
					</div>
					<p class="weui-grid__label">费用审核</p>
				</a> -->
                <a href="${CPATH}/todo/visit" class="weui-grid js_grid">
					<div class="weui-grid__icon">
						<i class="icon-suitcase" style="color: #f7b55d;"></i>
					</div>
					<p class="weui-grid__label">拜访审核</p>
				</a>
			</div>
		</div>
		<div>
			<div class="weui-cells__title weui-cell_access weui-cell index-info-tab" >
				<div class="weui-cell__bd">
					<b style="color:#999">业务消息</b>
					<p class="menu blue-button">订单</p>
					<p class="menu">客户</p>
					<p class="menu">费用</p>
				</div>
				<a class="weui-cell__ft" href="${CPATH}/message"></a>
			</div>
			<div class="index-info">
				<div class="weui-cells">
					<#if orderPage ??><#list orderPage.list as bean>
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<span>${(bean.title)!}</span>
							</div>
							<div class="check-pass">${DICT_NAME('${bean.type}')}</div>
							<div class="weui-cell__ft">${(bean.createDate?string('yyyy-MM-dd HH:mm'))!}</div>
						</div>
					</#list> </#if>
					<#if !(orderPage ??) || (orderPage.totalRow = 0)>
					    <div class="weui-loadmore weui-loadmore_line">
	                        <span class="weui-loadmore__tips"  style="float: inherit;">暂无数据</span>
	                    </div>
					</#if>
				</div>
				<div class="weui-cells none">
				    <#if customerPage ??><#list customerPage.list as bean>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <span>${(bean.title)!}</span>
                            </div>
                            <div class="check-pass">${DICT_NAME('${bean.type}')}</div>
                            <div class="weui-cell__ft">${(bean.createDate?string('yyyy-MM-dd HH:mm'))!}</div>
                        </div>
                    </#list> </#if>
                    <#if !(customerPage ??) || (customerPage.totalRow = 0)>
                        <div class="weui-loadmore weui-loadmore_line">
                            <span class="weui-loadmore__tips"  style="float: inherit;">暂无数据</span>
                        </div>
                    </#if>
				</div>
				<div class="weui-cells none">
				    <#if customerVisitPage ??><#list customerVisitPage.list as bean>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <span>${(bean.title)!}</span>
                            </div>
                            <div class="check-pass">${DICT_NAME('${bean.type}')}</div>
                            <div class="weui-cell__ft">${(bean.createDate?string('yyyy-MM-dd HH:mm'))!}</div>
                        </div>
                    </#list> </#if>
                    <#if !(customerVisitPage ??) || (customerVisitPage.totalRow = 0)>
                        <div class="weui-loadmore weui-loadmore_line">
                            <span class="weui-loadmore__tips"  style="float: inherit;">暂无数据</span>
                        </div>
                    </#if>
				</div>
			</div>
		</div>
	</article> 
	<footer class="ft12 index-footer">
		<div class="fl">
		  <i class="icon-map-pin"></i>&nbsp; 湖北省武汉市洪山区汉街2406
		</div>
		<div class="blue fr">
		  智能营销&nbsp;
		  <i class="icon-angle-right"></i>
		</div>
	</footer>
	<#include "_inc/_footer_nav.html" />
</div>
</@layout>
