<#include "_inc/_layout.html"/>
<#macro title>库存详情</#macro>
<#macro css>
    .seller-name {
        width: 100%!important;
        text-align: left!important;
        background-color: white!important;
    }
    
    .menu-left {
        background: #f3f5f7!important;
    } 
</#macro>
<#macro script>
    var page = 1;
    var size = 10;
    var categoryId = "";
	var startDate = $.today();
	var endDate = $.today();
	var $loading = $("#loading");
	var $noMore = $("#noMore");
	var loading = false;	
	var $main = $("#inventory_detailList");
	var newHtml = $(".product_detail").eq(0).html();

    var $endNode = null;
    var $loadmore = $(".weui-loadmore");
    var params = function() {
        return  {
            "search": $("#searchInput")[0].value,
            "page": page,
            "size": size,
            "startDate": startDate,
            "endDate": endDate + " 23:59:59",
            "warehouseId": $("#wareHouse").data('values'),
            categoryId: categoryId
        };
    }
    
    $(function () {
        initMenuData();
        var data = $(".weui-flex__item");
        for(var i = 0 ;i<data.length;i++){
            $($(data[i])[0]).find("span").text(toMoney($($(data[i])[0]).find("span").text()),2);
        }
        $("#startDate").calendar();
        $("#endDate").calendar();
        $("#startDate").val(startDate);
        $("#endDate").val(startDate);
		$(document).on("change", "#wareHouse", function() {
			page = 1;
			$main.empty();
			loadInventoryDetail();
		}).on("change", "#startDate", function() {
			page = 1;
			startDate = $("#startDate").val();
			$main.empty();
			loadInventoryDetail();
		}).on("change", "#endDate", function() {
			page = 1;
			endDate = $("#endDate").val();
			$main.empty();
			loadInventoryDetail();
		});     
		loadInventoryDetail();          
    });

    function searchCancel() {
        $("#searchInput")[0].value = "";
    }

    function initMenuData(){
	    $("#wareHouse").select({
	        title: "仓库",
	        items: ${(wareHouseList)!}
	    });
    }

    //搜索框监听
    $(document).on("input", "#searchInput", function() {
        page = 1;
        $main.empty();
        loadInventoryDetail();
    });
    //监听滚动
    $(".infinite").infinite().on("infinite", function() {
		if(loading) {
			return;
		}
		loading = true;
		page++;
		loadInventoryDetail();
    });

    $("#products ul li").on("click",function(){
        page = 1;
        $product = this;
        $main.empty();
        categoryId = $($product).attr("value");
        loadInventoryDetail();
        $('#products ul li').removeClass("active");
        $($product).addClass("active");
    });
    
    function loadInventoryDetail(){
		$loading.show();
		$noMore.hide();
		var params = {
            "search": $("#searchInput")[0].value,
            "page": page,
            "size": size,
            "startDate": startDate,
            "endDate": endDate + " 23:59:59",
            "warehouseId": $("#wareHouse").data('values'),
            categoryId: categoryId
		}		
		Utils.ajax('${CPATH}/inventory/inventory', params, 
			function(data) {
				$loading.hide();
				
				if(data.rows.length == 0) {
					$noMore.show();
					loading = true;
					return;
				}

				$.each(data.rows, function(index, el) {
	
					$main.append("<div class='product_detail'>" + newHtml + "</div>");
					var $newOrder = $main.find(".product_detail:last");
					
					$newOrder.find("#productName").text(el.custom_name);
					$newOrder.find("#inCount").text(el.inCount);
					$newOrder.find("#outCount").text(el.outCount);
					$newOrder.find("#balanceCount").text(el.balance_count);
					$newOrder.find("#sellerName").append(el.seller_name);
					$noMore.hide();
				});
				loading = false;
			}
		);
    }

    function toMoney(val, num) {
        num = num > 0 && num <= 9 ? num : 2;
        val = parseFloat((val + "").replace(/[^\d\.-]/g, "")).toFixed(num) + "";
        var l = val.split(".")[0].split("").reverse();
        var r = val.split(".")[1];
        var t = "";
        for (i = 0; i < l.length; i++) {
            t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
        }
        return t.split("").reverse().join("") + "." + r;
    }
</#macro>
<@layout>
    <div id="inventory">
        <header>
            <div class="weui-search-bar" id="searchBar">
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText">
                        <i class="weui-icon-search"></i>
                        <span>请输入产品</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
            </div>
        </header>

        <main  class="inventory">
        	 <header class="has-th-list weui-flex">
                <div class="head-search select-area wewui weui-flex__item">
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <input type="text" id="wareHouse" placeholder="仓库" class="weui-input" readonly>
                            <i class="icon-sort-desc"></i>
                        </div>
						<div class="weui-flex__item">
							<input type="text" id="startDate" class="weui-input" readonly>
							<i class="icon-sort-desc"></i>
						</div>
						<div class="weui-flex__item">
							<input type="text" id="endDate" class="weui-input" readonly>
							<i class="icon-sort-desc"></i>
						</div>						
                    </div>
                </div>
            </header>
            <div id="products" class="menu-left ft14">
                <ul>
                    <#if categoryList?? && (categoryList?size gt 0)>
                        <li id="allProduct" class="active" value="">全部</li>
                    </#if>
                    <#list categoryList as goodsType >
                        <li value="${(goodsType.id)!}">${(goodsType.name)!}</li>
                    </#list>
                </ul>
            </div>
            <article class="menu-right infinite" >
            		<div id="inventory_detailList">
                    <div class="product_detail" style="display: none;">
                        <div class="inventory_name" style="font-size: 0.7rem;" id="productName">
                        </div>
                        <div class="weui-flex" style="margin:0.1rem;">
                            <div class="weui-flex__item">出库：<span class="green-button" id="inCount"></span>
                            </div>
                            <div class="weui-flex__item">入库：<span class="yellow-button" id="outCount"></span>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">库存：<span class="blue-button" id="balanceCount"></span></div>
                        </div>
                        <div class="weui-flex">
                            <span class="seller-name" id="sellerName"><i class="icon-map-pin blue ft16"></i>&nbsp;&nbsp;</span>
                        </div>
                    </div>
                    </div>
					<div class="weui-loadmore" id="loading" style="display: none;">
					  <i class="weui-loading"></i>
					  <span class="weui-loadmore__tips">正在加载</span>
					</div>
					<div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
					  <span class="weui-loadmore__tips">暂无数据</span>
					</div>
	        </article>
        </main>
    </div>
    <#include "_inc/_goback.html" />
</@layout>