<#include "_inc/_layout.html"/>
<#macro title>业务员销售统计</#macro>
<#macro css>
    .report {
        font-size: 0.7rem;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    bottom: 50px;
	    overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .report .weui-panel__hd:after {
        left: 0;
        height: 0;
    }
</#macro>

<#macro css_import>
<link rel="stylesheet" href="${CTPATH}/css/normalize.css">
</#macro>
<#macro script_import>
<script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
</#macro>  
<#macro script>
  $(function () {
  
    $(".end-date").calendar();
    $(".end-date").val($.today());
    $(".begin-date").calendar();
    $(".begin-date").val($.today());
    $("#dayTag").val("today");
    $("#orderTag").val("productCount");
    $("#typeTag").val("order");
    var startDate = $.today();
	var endDate = $.today() + ' 23:59:59';  
	var params = {
		"dayTag":  'today',
		"startDate": startDate,
		"endDate" : endDate,
		"typeTag": $("#typeTag").val()
	}
 	orderAmount(params);
 	userCount(params);
 	sellerCount(params);
 	giftCount(params);
 	sellerGiftCount(params);
  })
  
    function orderAmount(params) {
		Utils.ajax('${CPATH}/report/orderAmountMenu', params, 
			function(data){
				$("#productCount").html(data.productCount+"件/");
				$("#totalCount").html(data.orderCount+"笔");
				$("#totalAmount").html(data.totalAmount+"元");
			}
		);    	
    }
    
    var salesObj = [];
    var unit = '件';
    function userCount(params) {
		Utils.ajax('${CPATH}/report/getUserRankMenu', params, 
			function(data){
				var orderTag = $("#orderTag").val();
	        	var salesIndent = document.getElementById('userCount');
	        	var salesIndentTotal = 0;
		        var $salesIndent = $(salesIndent);
		        var yData = [];
		        var seriesData = [];
		        for (var i = 0; i < data.length; i++) {
		           yData.push(data[i].realname);
		           if (orderTag == 'productCount') {
		           		seriesData.push(data[i].productCount);
		           } else if (orderTag == 'totalAmount') {
		           		seriesData.push(data[i].totalAmount);
		           } else {
		           		seriesData.push(data[i].orderCount);
		           }		           
		           salesObj[data[i].realname] = data[i].id;
		       	}
		       	var salesIndentChart = echarts.init(salesIndent);
		
				option = {
				    title: {
				        text: '业务员',
				    },				
				    tooltip: {
				        trigger: 'axis',
				        axisPointer: {
				            type: 'shadow'
				        }
				    },
				    legend: {
				        data: yData.reverse(),
				        x: 'left'
				    },
				    grid: {
				        bottom: '3%',
				        containLabel: true
				    },
				    xAxis: {
				    	show : false,
				        type: 'value',
				        boundaryGap: [0, 0.01]
				    },
				    yAxis: {
				        type: 'category',
				        data: yData
				    },
				    series: [
		            {
		                type:'bar',
		                barWidth: 15,
		                data:seriesData.reverse(),
		                label:{
		                    normal:{
		                        show:true,
		                        position:'right',
		                        formatter: '{c}' + unit
		                    }
		                }
		
		            }
				    ]
				};
		
		        salesIndentChart.resize();
		        salesIndentChart.setOption(option, true);
		        salesIndentChart.on('click',salesClick);
		    }    		
		);    	
    }
    
    var sellerObj = [];
    function sellerCount(params) {
		Utils.ajax('${CPATH}/report/getSellerCountMenu', params, 
			function(data){
				var orderTag = $("#orderTag").val();
	        	var salesIndent = document.getElementById('dealerCount');
	        	var salesIndentTotal = 0;
		        var $salesIndent = $(salesIndent);
		        var yData = [];
		        var seriesData = [];
		        for (var i = 0; i < data.length; i++) {
		           yData.push(data[i].seller_name);
		           if (orderTag == 'productCount') {
		           		seriesData.push(data[i].productCount);
		           } else if (orderTag == 'totalAmount') {
		           		seriesData.push(data[i].totalAmount);
		           } else {
		           		seriesData.push(data[i].orderCount);
		           }			           
		           sellerObj[data[i].seller_name] = data[i].id;
		       	}
		       	var salesIndentChart = echarts.init(salesIndent);
		
				option = {
				    title: {
				        text: '直营商',
				    },				
				    tooltip: {
				        trigger: 'axis',
				        axisPointer: {
				            type: 'shadow'
				        }
				    },
				    legend: {
				        data: yData,
				        x: 'left'
				    },
				    grid: {
				        bottom: '3%',
				        containLabel: true
				    },
				    xAxis: {
				    	show : false,
				        type: 'value',
				        boundaryGap: [0, 0.01]
				    },
				    yAxis: {
				        type: 'category',
				        data: yData
				    },
				    series: [
		            {
		                type:'bar',
		                barWidth: 15,
		                data:seriesData.reverse(),
		                label:{
		                    normal:{
		                        show:true,
		                        position:'right',
		                        formatter: '{c}' + unit
		                    }
		                }
		
		            }
				    ]
				};
		
		        salesIndentChart.resize();
		        salesIndentChart.setOption(option, true);
		        salesIndentChart.on('click',sellerClick);
		    }    		
		);    	
    }    
    
    function giftCount(params) {
		Utils.ajax('${CPATH}/report/getGiftCountByUserMenu', params, 
			function(data){
				var orderTag = $("#orderTag").val();
	        	var salesIndent = document.getElementById('giftCount');
	        	var salesIndentTotal = 0;
		        var $salesIndent = $(salesIndent);
		        var yData = [];
		        var seriesData = [];
		        for (var i = 0; i < data.length; i++) {
		           yData.push(data[i].realname);
		           if (orderTag == 'productCount') {
		           		seriesData.push(data[i].productCount);
		           } else if (orderTag == 'totalAmount') {
		           		seriesData.push(data[i].totalAmount);
		           } else {
		           		seriesData.push(data[i].orderCount);
		           }		           
		       	}
		       	var salesIndentChart = echarts.init(salesIndent);
		
				option = {
				    title: {
				        text: '业务员',
				    },				
				    tooltip: {
				        trigger: 'axis',
				        axisPointer: {
				            type: 'shadow'
				        }
				    },
				    legend: {
				        data: yData,
				        x: 'left'
				    },
				    grid: {
				        bottom: '3%',
				        containLabel: true
				    },
				    xAxis: {
				        type: 'value',
				        boundaryGap: [0, 0.01]
				    },
				    yAxis: {
				        type: 'category',
				        data: yData
				    },
				    series: [
		            {
		                type:'bar',
		                barWidth: 15,
		                data:seriesData.reverse(),
		                label:{
		                    normal:{
		                        show:true,
		                        position:'right',
		                        formatter: '{c}' + unit
		                    }
		                }
		
		            }
				    ]
				};
		
		        salesIndentChart.resize();
		        salesIndentChart.setOption(option, true);
		        salesIndentChart.on('click',salesClick);
		    }    		
		);    	
    }
    
    function sellerGiftCount(params) {
		Utils.ajax('${CPATH}/report/getGiftCountBySellerMenu', params, 
			function(data){
				var orderTag = $("#orderTag").val();
	        	var salesIndent = document.getElementById('dealerGiftCount');
	        	var salesIndentTotal = 0;
		        var $salesIndent = $(salesIndent);
		        var yData = [];
		        var seriesData = [];
		        for (var i = 0; i < data.length; i++) {
		           yData.push(data[i].seller_name);
		           if (orderTag == 'productCount') {
		           		seriesData.push(data[i].productCount);
		           } else if (orderTag == 'totalAmount') {
		           		seriesData.push(data[i].totalAmount);
		           } else {
		           		seriesData.push(data[i].orderCount);
		           }		           
		       	}
		       	var salesIndentChart = echarts.init(salesIndent);
		
				option = {
				    title: {
				        text: '直营商',
				    },				
				    tooltip: {
				        trigger: 'axis',
				        axisPointer: {
				            type: 'shadow'
				        }
				    },
				    legend: {
				        data: yData,
				        x: 'left'
				    },
				    grid: {
				        bottom: '3%',
				        containLabel: true
				    },
				    xAxis: {
				        type: 'value',
				        boundaryGap: [0, 0.01]
				    },
				    yAxis: {
				        type: 'category',
				        data: yData
				    },
				    series: [
		            {
		                type:'bar',
		                barWidth: 15,
		                data:seriesData.reverse(),
		                label:{
		                    normal:{
		                        show:true,
		                        position:'right',
		                        formatter: '{c}' + unit
		                    }
		                }
		
		            }
				    ]
				};
		
		        salesIndentChart.resize();
		        salesIndentChart.setOption(option, true);
		        salesIndentChart.on('click',sellerClick);
		    }    		
		);    	
    }        
    
	function salesClick(param) {
		var tag = $("#dayTag").val();
		var startDate = $("#startDay").val();
		var endDate = $("#endDay").val();		
	    if (typeof param.seriesIndex != 'undefined') {
	        window.location.href = "${(CPATH)}/report/userReportDetail?userId=" + salesObj[param.name] + "&userName=" + param.name + "&dayTag=" + tag + "&startDate=" + startDate + "&endDate=" + endDate; 
	    }
	}
	
	function sellerClick(param) {
		var tag = $("#dayTag").val();
		var startDate = $("#startDay").val();
		var endDate = $("#endDay").val();		
	    if (typeof param.seriesIndex != 'undefined') {
	        window.location.href = "${(CPATH)}/report/sellerReportDetail?sellerId=" + sellerObj[param.name] + "&sellerName=" + param.name + "&dayTag=" + tag + "&startDate=" + startDate + "&endDate=" + endDate; ; 
	    }
	} 	    
    
    function urlSelect(params, type){
    	if (type == 'day') {
		 	orderAmount(params);
		 	userCount(params);
		 	sellerCount(params);
		 	giftCount(params);
		 	sellerGiftCount(params);
		} else {
		 	userCount(params);
		 	sellerCount(params);
		 	giftCount(params);
		 	sellerGiftCount(params);
		}
    }
    
    function getUrl() {
    	var type = $("#type")
    }
    
    function startDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).val(),
			"endDate": $(obj).parent().find('#endDay').val() + ' 23:59:59'
		}
		urlSelect(params,type); 
    }
    
    function endDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).parent().find('#startDay').val(),
			"endDate": $(obj).val() + ' 23:59:59'
		}
		urlSelect(params,type); 
    }
    
 	function dayTagSelect(obj,type) {
      $.actions({
        actions: [{
          text: "今日",
          onClick: function () {
			var params = {
				"dayTag": 'today',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val()
			}
			urlSelect(params,type); 
            $(obj).find(".dayTagText").text('今日')
            $("#dayTag").val("today");
          }
        }, {
          text: "昨日",
          onClick: function () {
			var params = {
				"dayTag": 'yesterday',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val()
			}
          	urlSelect(params,type);
            $(obj).find(".dayTagText").text('昨日')
            $("#dayTag").val("yesterday");
          }
        }, {
          text: "本周",
          onClick: function () {
			var params = {
				"dayTag": 'week',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val()
			}
			urlSelect(params,type);   
          	$(obj).find(".dayTagText").text('本周')
          	$("#dayTag").val("week");
          }
        }, {
          text: "上周",
          onClick: function () {
			var params = {
				"dayTag": 'lastweek',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val()
			}
          urlSelect(params,type);
          $(obj).find(".dayTagText").text('上周')
          $("#dayTag").val("lastweek");
          }
        }, {
          text: "本月",
          onClick: function () {
			var params = {
				"dayTag": 'month',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val()
			}     
			urlSelect(params,type);    
         	$(obj).find(".dayTagText").text('本月')
         	$("#dayTag").val("month");
          }
        }, {
          text: "上月",
          onClick: function () {
			var params = {
				"dayTag": 'lastmonth',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val()
			}         
			urlSelect(params,type);
          	$(obj).find(".dayTagText").text('上月')
          	$("#dayTag").val("lastmonth");
          }
        }]
      }); 	
 	}
 	
 	function orderTagSelect(obj,type) {
      $.actions({
        actions: [{
          text: "件数",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val(),
				"orderTag": 'productCount'
			}
			urlSelect(params,type); 
			getUnit("productCount");
            $(obj).find(".orderTagText").text('件数')
            $("#orderTag").val("productCount");
          }
        }, {
          text: "金额",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val(),			
				"orderTag": 'totalAmount'
			}
          	urlSelect(params,type);
          	getUnit("totalAmount");
            $(obj).find(".orderTagText").text('金额')
            $("#orderTag").val("totalAmount");
          }
        }, {
          text: "笔数",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val(),			
				"orderTag": 'orderCount'
			}
			urlSelect(params,type);   
			getUnit("orderCount");
          	$(obj).find(".orderTagText").text('笔数')
          	$("#orderTag").val("orderCount");
          }
        }]
      }); 	
 	}
 	
    function getUnit(orderTag) {
	    if (orderTag == 'productCount') {
	   		unit = '件';
	    } else if (orderTag == 'totalAmount') {
	   		unit = '元';
	    } else {
	   		unit = '笔';
	    }
    }
    
 	function typeSelect(obj,type) {
      $.actions({
        actions: [{
          text: "订单",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val(),
				"orderTag": $("#orderTag").val(),
				"typeTag": 'order'
			}
			urlSelect(params,type); 
            $(obj).find(".typeText").text('订单')
            $("#typeTag").val("order");
          }
        }, {
          text: "打印",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val(),			
				"orderTag": $("#orderTag").val(),
				"print" : 'true',
				"typeTag": 'print'
			}
          	urlSelect(params,type);
            $(obj).find(".typeText").text('打印')
            $("#typeTag").val("print");
          }
        }, {
          text: "出库",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val(),			
				"orderTag": $("#orderTag").val(),
				"typeTag": 'outStock'
			}
			urlSelect(params,type);   
          	$(obj).find(".typeText").text('出库')
          	$("#typeTag").val("outStock");
          }
        }]
      });
 	}      
</#macro>
<@layout>
	<div class="weui-content">
	<div class="report">
		<div class="weui-panel weui-panel_access report-header">
			<div class="weui-panel__hd">
				<span class="overview-hd-title">销售简报</span> <span class="briefly" onclick="dayTagSelect(this,'day')">
					<p class="dayTagText">今日</p>
					<i class="icon-angle-down"></i>
				</span>
				<span class="briefly" onclick="orderTagSelect(this,'order')">
					<p class="orderTagText">件数</p>
					<i class="icon-angle-down"></i>
				</span>
				<input type="hidden" id="orderTag">	
				<input type="hidden" id="dayTag">
				<input type="hidden" id="typeTag">
				<input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'day')" readonly="">
				<span class="overview-hd-segmenting fr"> - </span> 
				<input class="weui-input begin-date fr" type="text" id="startDay" onchange="startDaySelect(this,'day')" readonly="">
			</div>
			<div class="weui-panel__bd">
				<div class="weui-flex overview-block">
					<div class="weui-flex__item">
						<div class="overview-title">
							<img src="${CTPATH}/images/order.png"> <span>订单总数</span>
						</div>
						<div class="t-c">
							<strong id="productCount"></strong> <small id="totalCount"></small>
						</div>
					</div>
					<div class="weui-flex__item">
						<div class="overview-title">
							<img src="${CTPATH}/images/money.png"> <span>订单金额</span>
						</div>
						<div class="t-c">
							<strong id="totalAmount"></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__hd">
				<span class="overview-hd-title">业务员统计</span> 
				<span class="briefly" onclick="typeSelect(this,'day')">
					<p class="typeText">订单</p>
					<i class="icon-angle-down"></i>
				</span> 
				<!--<input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'user')" readonly="">
				<span class="overview-hd-segmenting fr"> - </span> <input
					class="weui-input begin-date fr" type="text" id="startDay" onchange="startDaySelect(this,'user')" readonly="">  -->
			</div>
			<div class="weui-panel__bd report-area">
				<div class="weui-media-box ft14">
					<div id="userCount" style="height: 300px;">
						
					</div>
				</div>
			</div>
			<div class="weui-panel__bd report-area">
				<div class="weui-media-box ft14">
					<div id="dealerCount" style="height: 300px;">
						
					</div>
				</div>
			</div>			
		</div>
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__hd">
				<span class="overview-hd-title">赠品统计</span>
			</div>
			<div class="weui-panel__bd report-area">
				<div class="weui-media-box ft14">
					<div id="giftCount" style="height: 300px;">
						
					</div>
				</div>
			</div>
			<div class="weui-panel__bd report-area">
				<div class="weui-media-box ft14">
					<div id="dealerGiftCount" style="height: 300px;">
						
					</div>
				</div>
			</div>			
		</div>		
		</div>
		<#include "_inc/_footer_nav.html" />
	</div>
</@layout>