<#include "_inc/_layout.html"/>
<#macro title>审核消息详情</#macro>

<#macro css>
	.weui-content {
      	background-color: #fff;
    }
    
    .weui-article h1, .weui-article h3 {
    	text-align: center;
    }

</#macro>

<@layout>
	
	<div class="weui-content">
		<article class="weui-article">
			<h1>${(message.title)!}</h1>
    		<h3 class="wy-news-time gray">提交时间: ${message.create_date?string('yyyy-MM-dd HH:mm')}</h3>
    		<section class="wy-news-info">
    		    <p>类型：${message.name!}</p>
    		    <p>提交人：${message.realname!}</p>
      			<p>审核内容：${(message.content)!}</p>
      			<#if message.type == '100601'>
      				<@shiro.hasPermission name="/admin/salesOrder/check">
      				<p><a href="${CPATH}/todo/order" class="blue">前往</a></p>
      				</@shiro.hasPermission>
				<#elseif message.type == '100602'>
					<@shiro.hasPermission name="/admin/customer/audit">
					<p><a href="${CPATH}/todo/customer" class="blue">前往</a></p>
					</@shiro.hasPermission>
				<#elseif message.type == '100603'>
					<@shiro.hasPermission name="/admin/customerVisit/audit">
					<p><a href="${CPATH}/todo/visit" class="blue">前往</a></p>
					</@shiro.hasPermission>
      			</#if>
				<p><a href="${CPATH}/user/center" class="blue">个人中心</a></p>
    		</section>
		</article>
	</div>
	<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
		<a class="red-button width-100 _submit_btn" href="${CPATH}/">返回</a>
	</footer>
</@layout>