<#include "_inc/_layout.html"/>
<#macro title>我的订单</#macro>
<#macro css> </#macro>
<#macro script>
    $(function () {
  
		$(document).on("change", "#status", function() {
			combo();
		}).on("change", "#customerTypeId", function() {
			combo();
		}).on("change", "#datePicker", function() {
			startDate = $("#datePicker").val();
			endDate = startDate + ' 23:59:59';
			combo();
		}).on('touchend', '.show-more-btn', function () {
			var $this = $(this);
			var $detail = $this.parent().next();
			if ($detail.is(':visible')) {
				$detail.hide('fast');
				$this.text('显示详情');
			} else {
				$detail.show('fast');
				$this.text('隐藏详情');
			}
		});
        $("#datePicker").calendar();
        $("#datePicker").val($.today());

	    combo();

		$("#status").select({
	        title: "订单状态",
	        items: [{
		       title: "全部", value: ""
		       },{
		       title: "待审核", value: "0"
		       },{
		       title: "已审核", value: "1000"
		       },{
		       title: "订单取消", value: "1001"
		       },{
		       title: "订单拒绝", value: "1002"
		       },{
		       title: "部分出库", value: "2000"
		       },{
		       title: "部分出库-订单关闭", value: "2001"
		       },{
		       title: "全部出库", value: "3000"
		       },{
		       title: "全部出库-订单关闭", value: "3001"
		    }]
		});
	
		$("#customerTypeId").select({
		  title: "择客户类型",
		  items: ${customerTypes!}
		});
	});
  
	var newHtml = $(".weui-panel").eq(0).html();
	var $panel = $('.weui-panel');
	var $main = $("#main");
	var $loading = $("#loading");
	var $noMore = $("#noMore");
	
	var loading = false;
	var keyword = '';
	var startDate = $.today();
	var endDate = $.today() + ' 23:59:59';
	var page = 1;
	var size = 10;

	function loadOrderData() {
		
		$loading.show();
		$noMore.hide();

		var params = {
			"page": page,
			"size": size,
			"keyword": keyword,
			"status": $("#status").data('values'),
			"customerTypeId": $("#customerTypeId").data('values'),
			"startDate": startDate,
			"endDate" : endDate
		}

		Utils.ajax('${CPATH}/order/orderList', params, 
			function(data) {
				$loading.hide();
				
				if(data.orderList.length == 0) {
				    var childCount = $('.weui-panel').length;
				    if (childCount == 1) 
						$noMore.show();
						
					loading = true;
					return;
				}

				$.each(data.orderList, function(index, el) {
	
					$main.append("<div class='weui-panel weui-panel_access'>" + newHtml + "</section>");
					var $newOrder = $main.find(".weui-panel:last");
					
					if(el.receive_type == 1) {
						$newOrder.find("#receiveType").remove();
					}
					
					$newOrder.find("#salesOrderId").attr('href', '${CPATH}/order/orderDetail?orderId=' + el.id);
					$newOrder.find("#orderSn").text(el.order_sn);
					$newOrder.find("#status").text(getStatus(el.status));
					$newOrder.find("#customerName").text(el.customer_name);
					$newOrder.find("#oId").val(el.id);
					$newOrder.find(".appendOrdeProductDetail").attr('id',"p"+el.id);
					$newOrder.find("#contact").text(el.ccontact + '/' + el.cmobile);
					$newOrder.find("#customerType").text(el.customerTypeName);
					if(el.status == 0) {
						$newOrder.find("#cancel").on('click', function() {
						    Utils.openLoadingWin('撤销中...');
							$.get('${CPATH}/order/cancel?orderId=' + el.id,
								function(result) {
									if (result.errorCode > 0) {
									    $.toptip(result.message, 'error');
									} else {
										$.toptip(result.message, 'success');
										combo();
									}
									Utils.closeLoadingWin();
								}
							);
						});
					} else {
						$newOrder.find("#cancel").remove();
					}
					$newOrder.find("#orderAgain").on('click', function(){ 
 						 window.location.href = "${CPATH}/order/getOldOrder?orderId="+el.id;
					});

					$newOrder.find("#status").on('click', function(){ 
 						 window.location.href = "${CPATH}/order/operateHistory?id=" + el.id + "&proc_inst_id=" + el.proc_inst_id;
 						 event.stopPropagation();
					});

					var assignee = el.assignee == null ? '' : el.assignee.split(',');
					if(el.taskId != null && $.inArray(data.username, assignee) != -1) {
						$newOrder.find("#pass").on('click', function() {
							agree(el.id, el.taskId, 1);
						});
					} else {
						$newOrder.find("#pass").remove();
					}

					$newOrder.find("#amount").text(el.total_amount);
					$newOrder.find("#date").text('时间：' + el.create_date);
					$noMore.hide();
				});
				page++;
				loading = false;
			}
		);
	}
	
	function getDateOrder(){
		var dateType = $("#getDate").find(".red-button").data("id");
		var date = new Date();
		if(dateType == 0){
			startDate = $.today();
		}else if(dateType == 1){
			date.setDate(date.getDate() - 3);
			startDate = date.Format("yyyy-MM-dd");
		}else if(dateType == 2){
			date.setDate(date.getDate() - 7);
			startDate = date.Format("yyyy-MM-dd");
		}else if(dateType == 3){
			date.setDate(date.getDate() - 30);
			startDate = date.Format("yyyy-MM-dd");
		}

		endDate = $.today() + ' 23:59:59';
		combo();
	}

	function getStatus(value) {
		if (value == 0) {
			return '待审核';
		} else if (value == 1000) {
			return '已审核'
		} else if (value == 1001) {
			return '订单取消'
		} else if (value == 1002) {
			return '订单拒绝'
		} else if (value == 2000) {
			return '部分出库'
		} else if (value == 2001) {
			return '部分出库-订单关闭'
		} else if (value == 3000) {
			return '全部出库'
		} else if (value == 3001) {
			return '全部出库-订单关闭'
		} 
		return value
	}
	
	
	//滑动方法
	$("main").infinite().on("infinite", function() {
		if(loading) {
			return;
		}
		loading = true;
		loadOrderData();
	});
	
	function combo() {
		$main.empty();
		loading = false;
		page = 1;
		loadOrderData();
	}
	
	function showOrderProductDetail(orderDetail){
	  var orderId =  $(orderDetail).next().val();
	  var productName = $("#o"+orderId).text();
	  var str = "";
	  if(productName == ""){
	     $.ajax({
            type: "post",
            url: "${CPATH}/order/getOrderProductDetail?orderId="+orderId,
            dataType: "json",
            success:function(data) {
            $.each(data.orderDetail, function(idx, item) {
                var productName = "";
                if(item.is_gift == 0){
                    productName = item.custom_name;
                }else{
                    productName = "<span class='tag'>赠品</span>";
                    productName = productName + item.custom_name;
                }
                var bigCount = parseInt(item.product_count/item.convert_relate);//下单大单位数量
                var smallPrice = (item.product_amount/item.product_count).toFixed(2);//下单小价格
                var sPrice = (item.price/item.convert_relate).toFixed(2);//商品标准小价格
                var smallCount = (item.product_count %  item.convert_relate);//下单小单位数量
                
                str += "<div><p id='o"+ orderId +"'>" +productName+ "</p>"+
                    "<div class='weui-flex'><div class='weui-flex__item flex-grow2'>"+
                    "<div class='fr width-60'>￥"+item.product_price+" "+
                    "<span class='gray'>("+ item.price +")</span>"+
                    "</div></div><div class='weui-flex__item t-r'>"+bigCount+" "+item.big_unit+" "+
                    "</div></div></div>"+
                    "<div class='weui-flex'><div class='weui-flex__item flex-grow2'>"+
                    "<div class='fr width-60'>￥"+smallPrice+" "+
                    "<span class='gray'>("+sPrice+")</span></div></div>"+
                    "<div class='weui-flex__item t-r'>"+smallCount+" " +item.small_unit+" "+
                    "</div></div>"; 
            });
            
            $("#p"+orderId).append(str);
            }
        });
	  }  
	}
	
    function agree(id, taskId, pass) {
      layer.open({
        type: 1,
        title: ['订单审核',
          'border-bottom: 1px solid #eee;height:2rem;line-height:2rem'
        ],
        content: '<p class="t-c">是否确认通过该订单？</p>' +
          '<div><textarea id="comment" placeholder="补充说明，可选填"></textarea></div>',
        anim: 'scale',
        className: 'audit',
        btn: ['通过','取消'],
        yes: function() {
          var comment = $("#comment").val();
          doPass(id, taskId, pass, comment);
        },
        no:function() {

        }
      });
	}
	
	function doPass(id, taskId, pass, comment){
		layer.open({
			type: 2,
			content: '保存中...'
		});
		var params = {
			"id": id,
			"taskId": taskId,
			"comment": comment,
			'pass' : pass
		}
		Utils.ajax('${CPATH}/order/complete', params, 
			function(res){
				if (res.errorCode > 0) {
				    $.toptip(res.message, 'error');
				} else {
					$.toptip(res.message, 'success');
					combo();
				}
				layer.closeAll();
			}
		)
	};
	
</#macro>

<@layout>
<div class="weui-content">
	<div id="my-order" class="ft14">
		<header class="has-th-list weui-flex">
			<div class="head-search select-area weui-flex__item">
				<div class="weui-flex">
					<div class="weui-flex__item">
						<input type="text" id="status" class="weui-input" readonly placeholder="订单状态">
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-flex__item">
						<input type="text" id="customerTypeId" placeholder="客户类型" class="weui-input" readonly>
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-flex__item">
						<input type="text" id="datePicker" class="weui-input" readonly>
						<i class="icon-sort-desc"></i>
					</div>
				</div>
			</div>
			<div id="combin-filter-btn">
				<i class="icon-th-list"></i>
			</div>
		</header>
		<main>
			<div id="main">
				<div class="weui-panel weui-panel_access" style="display: none">
					<div class="ft14 gray">
						<span class="tag" id="receiveType">账期</span>
						<span id="orderSn"></span>
						<span class="fr blue" id="status"></span>
					</div>
					<div class="customer_name gray">
						<span id="customerName" class=""></span>
						<span class="fr show-more-btn" id="showOrderProductDetail" onclick="showOrderProductDetail(this)">显示详情</span>
						<input type="hidden" id="oId"></input>
					</div>
					<div class="none">
						<a href="" id="salesOrderId">
						<hr>
							<div class="appendOrdeProductDetail">

							</div>
							<hr>							
							<div class="gray">
								<p>
									联系人：<span id="contact"></span>
									<span class="fr" id="customerType"></span>
								</p>
							</div>
							<div class="gray">
								<p>
									金额：￥<span id="amount"></span>
									<span class="fr" id="date"></span>
								</p>
							</div>
						</a>
						<hr>
						<div id="cancel" class="button red-button fl">撤销</div>
						<div id="orderAgain" class="button white-button fr">再次购买</div>
						<div id="pass" class="button yellow-button fr m-r-5">审核通过</div>
					</div>
				</div>
			</div>
			<div class="weui-loadmore" id="loading" style="display: none;">
			  <i class="weui-loading"></i>
			  <span class="weui-loadmore__tips">正在加载</span>
			</div>
			<div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
			  <span class="weui-loadmore__tips">暂无数据</span>
			</div>
		</main>
		<article id="combin-filter">
			<div class="filter-item">
				<h4>下单日期</h4>
				<div class="relative" id="getDate">
					<span class="red-button" data-id="0">今天</span>
					<span data-id="1">最近3天</span>
					<span data-id="2">最近7天</span>
					<span data-id="3">最近30天</span>
				</div>
			</div>
			<footer class="weui-footer weui-footer_fixed-bottom ft16 border-top-1px weui-flex">
				<button class="white-button-no-border  cancel-search-btn weui-flex__item">取消</button>
				<button class="red-button confirm-search-btn weui-flex__item" onclick="getDateOrder()">确定</button>
			</footer>
		</article>
		<#include "_inc/_goback.html" />
	</div>
</div>
</@layout>