<#include "_inc/_layout.html"/>
<#macro title>订单详细</#macro>
<#macro css> </#macro>

<#macro script>
    function orderAgain() {
        window.location.href = "${CPATH}/order/getOldOrder?orderId=${order.id}";
    }
    
    function cancel() {
    	$.confirm({
						title: "订单撤销",
						text: '是否撤销订单？',
						onOK: function () {
							Utils.openLoadingWin('撤销中...');
							$.get('${CPATH}/order/cancel?orderId=' + '${(order.id)!}',
								function(result) {
									if (result.errorCode > 0) {
									    $.toptip(result.message, 'error');
									} else {
										location.reload();
										$.toptip(result.message, 'success');
									}
									Utils.closeLoadingWin();
								}
							);
						}
					});
    	
    }
</#macro>

<@layout>
<div class="weui-content">
	<div id="order-detail">
		<main class="ft14">
		<div class="weui-panel weui-panel_access">
			<div class="ft16">
				订单状态 <span class="fr blue">${(order.statusName)!}</span>
			</div>
			<div class="gray">
				<p>客户名称: ${(order.customer_name)!}</p>
				<p>订货单号: ${(order.order_sn)!}</p>
				<p>下单时间: ${(order.create_date)!}</p>
				<p>业务员: ${(order.realname)!}</p>
			</div>
			<hr>
			<div class="ft14">
				<#if order.receive_type = 0> <input type="checkbox"
					name="if-account" checked disabled="disabled" class="weui-agree__checkbox"> <#else> <input
					type="checkbox" name="if-account" disabled="disabled" class="weui-agree__checkbox">
				</#if>是否账期
			</div>
		</div>
		<div class="weui-panel weui-panel_access">
			<div class="ft16">订单详情</div>
			<#list orderDetailList as orderDetail> <#if orderDetail.is_gift??>
			<#if orderDetail.is_gift = 0>
			<div class="todo-product-box">
				<img src="${CTPATH}/images/jp.jpg" alt="">
				<p>${orderDetail.custom_name!}</p>
				<div class="weui-flex">
					<div class="weui-flex__item flex-grow2">
						<div class="fl">
							￥${(orderDetail.product_price)!} <span class="gray">（${(orderDetail.price)!}）</span>
						</div>
					</div>
					<div class="weui-flex__item t-r">${(orderDetail.product_count
						/ orderDetail.convert_relate)?floor}${(orderDetail.big_unit)!}</div>
				</div>
				<div class="weui-flex">
					<div class="weui-flex__item flex-grow2">
						<div class="fl">
							￥${(orderDetail.product_price /
							orderDetail.convert_relate)?string("0.##")} <span class="gray">（${(orderDetail.price
								/ orderDetail.convert_relate)?string("0.##")}）</span>
						</div>
					</div>
					<div class="weui-flex__item t-r">${(orderDetail.product_count
						% orderDetail.convert_relate)}${(orderDetail.small_unit)!}</div>
				</div>
			</div>
			</#if> <#if orderDetail.is_gift = 1>
			<div class="todo-product-box">
				<img src="${CTPATH}/images/jp.jpg" alt="">
				<p>
					<span class="tag">赠品</span>${orderDetail.custom_name!} /
					${(orderDetail.valueName)!}
				</p>
				<div class="weui-flex__item t-r">${(orderDetail.product_count
					/ orderDetail.convert_relate)?floor}${(orderDetail.big_unit)!}</div>
				<div class="weui-flex__item t-r">${(orderDetail.product_count
					% orderDetail.convert_relate)}${(orderDetail.small_unit)!}</div>
			</div>
			</#if> </#if> </#list>
			<hr>
			<div class="t-r ft14">
				总计： <span class="red">${(order.total_amount)?string("0.00")}元</span>
			</div>
		</div>
		<div class="weui-panel weui-panel_access">
			<div class="ft16">收货信息</div>
			<div class="gray">
				<p>
					收货人：${(order.customer_name)!} <span class="fr">
						${(order.cmobile)!}</span>
				</p>
				<p>地址详情：${(order.delivery_address)!}</p>
			</div>
			<hr>
			<div class="ft16">
				备注信息： <span class="ft14"> <#if order.remark??>
					${(order.remark)!} <#else>无 </#if> </span>
			</div>
		</div>
		<a class="weui-panel weui-panel_access block"
			href="${CPATH}/order/operateHistory?id=${(order.id)!}&proc_inst_id=${(order.proc_inst_id)!}">
			<div class="weui-cell weui-cell_access">
				<div class="weui-cell__bd ft16">操作记录</div>
				<span class="weui-cell__ft"></span>
			</div>
		</a> </main>
		<#include "_inc/_goback.html" />
		<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
			<#if order.status == 0>
			<button onclick="cancel()" class="white-button-no-border weui-flex__item border-top-1px">撤销</button>
			<#else>
			<button onclick="historyUtils.back();" class="white-button-no-border weui-flex__item">返回</button>
			</#if>
			<button onclick="orderAgain()" class="red-button weui-flex__item">再次购买</button>
		</footer>
	</div>
</div>
</@layout>
