<#include "_inc/_layout.html"/>
<#macro css> 
	#bigNum,
	#smallNum,
	#compositionNum {
		border: 1px solid #bbb;
	}

	#order .gift input::-webkit-input-placeholder {
		text-align: center;
	}
</#macro>

<#macro script>
$(function() {
  $(document).on("touchstart", "#customerName", function () {
		window.location.href = '${CPATH}/product/customerChoose';
  }).on("touchstart", "#placeOrder", function () {
		doSubmit();
  });

  initCustomer();
  $("#deliveryDate").calendar();

  $product.empty();
  initProduct();
  initProductComposition();
  total();

})
	var $form = $('#form');
	var newHtml = $(".common").eq(0).html();
	var $product = $("#productList");
	var customerTypeInfoMap = [];

	function initCustomer(){
		var customerInfo = getItemBykey("customerInfo");
	
		if(customerInfo){
			$("#sellerCustomerId").val(customerInfo.sellerCustomerId);
			$("#customerName").val(customerInfo.customerName);
			$("#contact").val(customerInfo.contact);
			$("#mobile").val(customerInfo.mobile);
			$("#address").val(customerInfo.address);

			$("#deliveryAddress").val(customerInfo.address);
			
			Utils.ajax('${CPATH}/product/customerTypeById', {"customerId" : customerInfo.sellerCustomerId}, 
				function(data){
					var items = [];
					$.each(data, function(index, el) {
						customerTypeInfoMap[el.id] = {
							id : el.id,
							name : el.name,
							code : el.code,
							factor : el.factor,
							proc_def_key : el.proc_def_key
						}
						
						items.push({
							title : el.name,
							value : el.id
						})
					});

					var $customerTypeName = $("#customerTypeName");
					$customerTypeName.select({
				         title: "客户类型",
				         items: items,
				         onChange: function(data) {
				         	$("#customerType").val(customerTypeInfoMap[data.values].id);
					        $("#customerTypeCode").val(customerTypeInfoMap[data.values].code);
					        $("#factor").val(customerTypeInfoMap[data.values].factor);
					        $("#proc_def_key").val(customerTypeInfoMap[data.values].proc_def_key);
				         }
			        });
			        $customerTypeName.val(items[0].title);
			        $customerTypeName.attr('data-values', items[0].value);
	
			        $("#customerType").val(customerTypeInfoMap[items[0].value].id);
			        $("#customerTypeCode").val(customerTypeInfoMap[items[0].value].code);
			        $("#factor").val(customerTypeInfoMap[items[0].value].factor);
			        $("#proc_def_key").val(customerTypeInfoMap[items[0].value].proc_def_key);
				}
			);
		}
	
	}

	function initProduct(){
		var productList = getItemBykey("productList");
		$.each(productList, function(index, el) {
			if(index % 2 == 0) {
				$product.append("<div class='weui-panel weui-panel_access goods-detail common'>" + newHtml + "</div>");
				var $newProductDetail = $product.find(".common:last");
				$newProductDetail.find("#productName").text(el.productName);
				$newProductDetail.find("#valueName").text(el.valueName);
		
				$newProductDetail.find("#bigPriceSpan").text(el.bigPriceSpan);
				$newProductDetail.find("#smallPriceSpan").text(el.smallPriceSpan);
				$newProductDetail.find("#bigUnitSpan").text(el.bigUnitSpan);
				$newProductDetail.find("#smallUnitSpan").text(el.smallUnitSpan);
		
				$newProductDetail.find("#bigPrice").val(el.bigPrice);
				$newProductDetail.find("#smallPrice").val(el.smallPrice);
				$newProductDetail.find("#bigUnit").val(el.bigUnit);
				$newProductDetail.find("#smallUnit").val(el.smallUnit);
				$newProductDetail.find("#sellProductId").val(el.sellProductId);
				$newProductDetail.find("#productId").val(el.productId);
				$newProductDetail.find("#convert").val(el.convert);
				
				$newProductDetail.find("#bigNum").val(el.bigNum);
				$newProductDetail.find("#smallNum").val(el.smallNum);

				$newProductDetail.find("#isGift").val(el.smallNum);

				$newProductDetail.find("#isGift").val(el.isGift);
				if(el.isGift == 1) {
					$newProductDetail.find("#isGiftCheckBox").attr('checked','checked');
				}
			} else {
			
				if(el.sellProductId != ""){
					var $newProductDetail = $product.find(".common:last");
					$newProductDetail.find("#addGift").attr("checked",'true').trigger("change");

					//默认
					if($newProductDetail.find("#sellProductId").val() == el.sellProductId){
						$newProductDetail.find("#isDefault").attr("checked","true");
					}

					$newProductDetail.find("#giftProduct").val(el.productName);
					$newProductDetail.find("#giftSellProductId").val(el.sellProductId);
					$newProductDetail.find("#giftProductId").val(el.productId);
					$newProductDetail.find("#giftConvert").val(el.convert);
					$newProductDetail.find("#giftBigPrice").val(el.bigPrice);

					//数量
					if(el.bigNum > 0 && el.bigUnit){
						$newProductDetail.find("#giftNum").val(el.bigNum);
						$newProductDetail.find("#giftUnitName").val(el.bigUnitSpan);
						$newProductDetail.find("#giftUnitName").attr('data-values', "bigUnit");
						$newProductDetail.find("#giftUnit").val("bigUnit");
					}else{
						$newProductDetail.find("#giftNum").val(el.smallNum);
						$newProductDetail.find("#giftUnitName").val(el.smallUnitSpan);
						$newProductDetail.find("#giftUnitName").attr('data-values', "smallUnit");
						$newProductDetail.find("#giftUnit").val("smallUnit");
					}
				}
			}

		});
	}
	
	var compositionHtml = $(".composition").eq(0).html();
	function initProductComposition(){
		var productCompositionList = getItemBykey("productCompositionList");
	
		$.each(productCompositionList, function(index, el) {
			$product.append("<div class='weui-panel weui-panel_access goods-detail composition'>" + compositionHtml + "</div>");
			var $newProductDetail = $product.find(".composition:last");
			$newProductDetail.find("#compositionName").text(el.compositionName);
	
			$newProductDetail.find("#compositionPriceSpan").text(el.compositionPriceSpan);
	
			$newProductDetail.find("#compositionPrice").val(el.compositionPrice);
			$newProductDetail.find("#compositionId").val(el.compositionId);
			
			$newProductDetail.find("#compositionNum").val(el.compositionNum);
		});
	}

	function total() {
		var products = $(".common");
		var rowTotal = 0;
		var total = 0;
		var allTotalAmount = 0;
		$.each(products, function(index, el) {
			var $el = $(el);
			rowTotal = 0;
			if($el.find("#isGift").val() == 0) {
				rowTotal = $el.find("#bigNum").val() * $el.find("#bigPrice").val() + $el.find("#smallNum").val() * $el.find("#smallPrice").val();
				total += rowTotal;
				var bigNum = parseInt($el.find("#bigNum").val());
				var convert = parseInt($el.find("#convert").val());
				var smallNum = parseInt($el.find("#smallNum").val());
				var number = (smallNum/convert).toFixed(2);
				allTotalAmount = allTotalAmount + bigNum + number*1;
			}
			$el.find("#rowTotal").val(rowTotal);
		});

		var compositions = $(".composition");
		$.each(compositions, function(index, el) {
			var $el = $(el);
			var comNum = $el.find("#compositionNum").val();
			rowTotal = $el.find("#compositionNum").val() * $el.find("#compositionPrice").val();
			$el.find("#rowTotal").val(rowTotal);
			total += rowTotal;
			if (!comNum) {
				comNum = 0;
			}
			allTotalAmount = allTotalAmount + comNum*1;
		});

		var factor = $("#factor").val();
		if (factor != '') {
			total = total * factor;
		}
		$("#total").val(total);
		$("#totalNum").text("共" + (products.length + compositions.length) + "款,合计:" + total + "元")
		$("#allTotalAmount").val(allTotalAmount);
	} 

	function doSubmit(){
		if ($("#sellerCustomerId").val() == "") {
			toastr.warning('请选择客户');
			return;
		}

		layer.open({
			type: 2,
			content: '保存中...'
		});

	//	if (!checkStore()) {
	//		toastr.error('未选择商品或库存不足!','操作失败');
	//		return;
	//	}
		$form.ajaxSubmit({
			beforeSubmit: function() {
				$("#placeOrder").attr('diabled', 'disabled');
				return true
			},
			type : "post", 
			dataType : "json", 
			success : function(data) { 
				layer.closeAll();
				if (data.errorCode == 0) {
					toastr.success(data.message);
					removeItemBykey("productList");
					removeItemBykey("customerInfo");
					removeItemBykey("productCompositionList");

					setTimeout(function(){
						window.location.href = "${CPATH}/order/myOrder";
					},1000);
					
				} else {
					$("#placeOrder").removeAttr('diabled');
					toastr.error(data.message);
				}
			},
			error : function() {
				layer.closeAll();
				$("#placeOrder").removeAttr('diabled');
				alert("信息提交错误");
			}
		});
	}
</#macro>

<@layout>
<body id="order">
	<div class="weui-content">
		<form action="${CPATH}/order/salesOrder" method="post" id="form">
			<main>
				<section class="weui-panel weui-panel_access order-customer-info">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div class="order-customer-info-title">
								客户名称
								<span class="require">*</span>
							</div>
							<input type="hidden" id="sellerCustomerId" name="customerId" value="" >
							<input type="text" placeholder="请选择客户" class="weui-input" id="customerName" name="customerName" value="" readonly>
							<span class="weui-cell__ft"></span>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div class="order-customer-info-title">
								联系人
								<span class="require">*</span>
							</div>
							<input type="text" placeholder="请输入客户信息" class="weui-input" id="contact" name="contact" value="" readonly>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div class="order-customer-info-title">
								电话号码
								<span class="require">*</span>
							</div>
							<input type="text" placeholder="请输入电话号码" class="weui-input" id="mobile" name="mobile" value="" readonly>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div class="order-customer-info-title">
								详细地址
								<span class="require">*</span>
							</div>
							<input type="hidden" id="address" name="address" value="">
							<input type="text" placeholder="请输入详细地址" class="weui-input" id="deliveryAddress" name="deliveryAddress" value="" readonly>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd select-area">
							<div class="order-customer-info-title">
								客户类型
								<span class="require">*</span>
							</div>
							<input type="hidden" id="allTotalAmount" name="allTotalAmount" value="">
							<input type="hidden" id="customerType" name="customerType" value="">
							<input type="hidden" id="customerTypeCode" name="customerTypeCode" value="">
							<input type="hidden" id="factor" name="factor" value="">
							<input type="hidden" id="proc_def_key" name="proc_def_key" value="">
							<input type="text" placeholder="请选择客户类型" class="weui-input" id="customerTypeName" name="customerTypeName" value="" readonly>
							<span class="weui-cell__ft"></span>
						</div>
					</div>
				</section>
				<section class="weui-panel weui-panel_access delivery-info">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							配送时间
							<input type="text" placeholder="请选择配送时间" class="weui-input" data-toggle='date' id="deliveryDate" name="deliveryDate" value="${deliveryDate!}" readonly>
							<span class="weui-cell__ft"></span>
						</div>
					</div>
				</section>
				<section class="weui-panel weui-panel_access ft14">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd" style="justify-content:flex-start">
							<input type="checkbox" name="receiveType" value="0" style="margin-right:.5rem;"> 
							<span>是否账期</span>
						</div>
					</div>
				</section>
				<section class="weui-panel weui-panel_access ft14 remark">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<textarea name="remark" placeholder="备注说明（70字以内）"></textarea>
						</div>
					</div>
				</section>
				<div class="weui-cells__title black">商品明细</div>
				<div id="productList">
					<div class="weui-panel weui-panel_access goods-detail common" style="display: none">
						<input type="hidden" name="sellProductId" id="sellProductId" value="">
						<input type="hidden" name="productId" id="productId" value="">
						<input type="hidden" name="convert" id="convert" value="">
						<input type="hidden" name="isGift" id="isGift" value="">
						<div class="product_name" id="productName">
							35度中国劲酒_125ml_1*24
			<!-- 				<span class="gift-tag">赠品</span> -->
						</div>
						<div class="product_unit">
							规格：<span id="valueName">125ml</span>
							<span class="fr no-bg">是否赠品</span>
							<input type="checkbox" name="isGift" id="isGift" value="1" class="fr">
						</div>
						<div class="product_bUnit">
							<span class="price" id="bigPriceSpan">￥725</span>
							<span class="unit" id="bigUnitSpan">&nbsp;/&nbsp;件</span>
							<div class="spinner">
								<input type="number" min="0" value="0" class="fl" id="bigNum" name="bigNum" readonly>
							</div>
							<input type="number" class="street-value"  id="bigPrice" value="720" name="bigPrice" readonly>
						</div>
						<div class="product_mUnit">
							<span class="price" id="smallPriceSpan">￥30</span>
							<span class="unit" id="smallUnitSpan">&nbsp;/&nbsp;瓶</span>
							<div class="spinner">
								<input type="number" min="0" value="0" class="fl" id="smallNum" name="smallNum" readonly>
							</div>
							<input type="number" class="street-value" value="30" id="smallPrice" name="smallPrice" readonly>
						</div>
						<input type="hidden" id="rowTotal" name="rowTotal" value="">
						<hr />
						<div class="gift" id="gift">
							<input type="hidden" name="giftSellProductId" id="giftSellProductId" value="">
							<input type="hidden" name="giftProductId" id="giftProductId" value="">
							<input type="hidden" name="giftConvert" id="giftConvert" value="">
							<input type="hidden" name="giftBigPrice" id="giftBigPrice" value="" >
							<div>
								<input type="checkbox" name="add-gift" id="addGift" disabled>
								<span>赠品</span>
							</div>
							<div style="display:none" class="select-area">
								<div class="goods">
									<span>商品</span>
									<input type="text" class="choose-good weui-input" placeholder="选择商品" id="giftProduct" readonly>
									<i class="icon-sort-desc"></i>
									<input type="checkbox" name="default-goods" id="isDefault" disabled>
									<span>默认商品</span>
								</div>
								<div class="number">
									<span>数量</span>
									<div class="spinner">
										<div class="operate fl">
											<i class="icon-minus2"></i>
										</div>
										<input type="number" min="0" value="0" class="fl" name="giftNum" id="giftNum" readonly>
										<div class="operate fl">
											<i class="icon-plus2"></i>
										</div>
									</div>
									<input type="hidden" name="giftUnit" id="giftUnit">
									<input type="text" class="choose-unit weui-input" placeholder="单位" name="giftUnitName" id="giftUnitName" readonly>
									<i class="icon-sort-desc"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="weui-panel weui-panel_access goods-detail composition" style="display: none">
						<input type="hidden" id="compositionId" name="compositionId" value="">
						<div class="product_name" id="compositionName">
							35度中国劲酒_125ml_1*24
						</div>
						<div class="product_bUnit">
							<span class="price" id="compositionPriceSpan">￥725</span>
							<div class="spinner">
								<input type="number" min="0" value="0" class="fl" id="compositionNum" name="compositionNum" readonly>
							</div>
							<input type="number" class="street-value"  id="compositionPrice" value="720" name="compositionPrice" readonly>
						</div>

						<input type="hidden" id="rowTotal" name="rowTotal" value="">
					</div>
				</div>
				<input type="hidden" id="total" name="total" value="">
			</main>
			<#include "_inc/_goback.html" />
			<footer class="weui-footer weui-footer_fixed-bottom weui-flex">
				<p class="total bg-gray weui-flex__item" id="totalNum">共2款，总数10件&nbsp;总额：2600元</p>
				<button type="button" id="placeOrder" class="place-order red-button">提交订单</button>
			</footer>
		</form>
	</div>
</body>
</@layout>
