<#include "_inc/_layout.html"/>
<#macro title>订单审核</#macro>

<#macro css>
    .orderDetail {
    position:relative;
    margin-bottom: .5rem;
    }
    .orderDetail .icon-trash-o{
    position: absolute;
    left: .8rem;
    font-size: 24px;
    z-index: 100;
    }
    .todo-product-box img{
    transform: translateY(-20%);
    }
    .p-l-15 {
    overflow: hidden;
    padding-bottom:.2rem;
    }
    #order-detail .weui-cell {
	padding: 10px 15px;
	}
</#macro>
<#macro script>
	$(function() {
	    $(document).on('click', '.refuse', function() {
	      layer.open({
	        type: 1,
	        title: ['订单审核',
	          'border-bottom: 1px solid #eee;height:2rem;line-height:2rem;margin-top:2.5rem'
	        ],
					content: '<img src="${CTPATH}/images/image_orderpopups.png">' +
						'<p class="t-c">是否确认拒绝该订单？</p>' +
	          '<p class="gray">拒绝原因</p>' +
	          '<div class="refuse-radio"><input type="radio" name="refuseReson" id="reason1" value="库存无足够货物" class="weui-agree__checkbox"><label for="reason1">库存无足够货物</label></div>' +
	          '<div class="refuse-radio"><input type="radio" name="refuseReson" id="reason2" value="产品价格滞后" class="weui-agree__checkbox"><label for="reason2">产品价格滞后</label></div>' +
	          '<div class="refuse-radio"><input type="radio" name="refuseReson" id="reason3" value="该商家已被停用" class="weui-agree__checkbox"><label for="reason3">该商家已被停用</label></div>'+
	          '<div><textarea id="comments" placeholder="补充说明，可选填"></textarea></div>',
	        anim: 'scale',
	        className: 'audit',
	        btn: ['确认','取消'],
	        yes: function() {
	          parent.refuseReson = $("input[name='refuseReson']:checked").val();
	          parent.comment = $("#comments").val();
	          if (parent.refuseReson == undefined && parent.comment == ""){
	            $.toptip('请选择一个理由', 'warning');
	            return;
	          }
	          doReject(0);
	        },
	        no:function() {
	
	        }
	      });
	    }).on('click', '.agree', function() {
	      layer.open({
	        type: 1,
	        title: ['订单审核',
	          'border-bottom: 1px solid #eee;height:2rem;line-height:2rem;margin-top:2.5rem'
	        ],
					content: '<img src="${CTPATH}/images/image_orderpopups.png">' +
						'<p class="t-c">是否确认通过该订单？</p>' +
	          '<div><textarea id="comments" placeholder="补充说明，可选填"></textarea></div>',
	        anim: 'scale',
	        className: 'audit',
	        btn: ['通过','取消'],
	        yes: function() {
	          parent.$("#comment").val($("#comments").val());
	          doPass();
	        },
	        no:function() {
	
	        }
	      });
	    }).on('click', '#confirm-input', function () {
	      var $productDetail = $currentInput.parents('.orderDetail');
	      var convert = $productDetail.find("#convert").val();
	      var id = $currentInput.attr('id');
	 
	      if(id == 'bigPrice'){
	        //var bPrice = parseFloat($productDetail.find("#bigPriceSpan").val());
	        var bigPrice = $currentInput.val();
			//if(bigPrice < bPrice){
			//	$currentInput.val(bPrice);
			//	$.toptip('价格不能小于标准价', 'warning');
			//	return;
			//}
			$productDetail.find("#smallPrice").val((bigPrice/convert).toFixed(2));
	      } else if(id == 'smallPrice'){
	        //var sPrice = parseFloat($productDetail.find("#smallPriceSpan").val());
	        var smallPrice = $currentInput.val();
			//if(smallPrice < sPrice){
			//	$currentInput.val(sPrice);
			//	$.toptip('价格不能小于标准价', 'warning');
			//	return;
			//}
			$productDetail.find("#bigPrice").val((smallPrice*convert).toFixed(2));
	      }
	
	      total();
	  }).on("click", ".operate:first-child", function () { //减少商品数量
          total();
	  }).on("click", ".operate:last-child", function () { //增加商品数量
    	  total();
	  }).on("click", ".icon-trash-o", function() {
		var _this = $(this);
		$.confirm("确认删除商品？",
				function() {
					_this.parents(".orderDetail").remove();
					total();
				},
				function() {
				}
			);
		});
	});
	var comment = '';
	var refuseReson = '';

	function doReject(pass) {
		layer.open({
			type: 2,
			content: '保存中...'
		});
		
		var params = {
			"id": '${(order.id)!}',
			"taskId": '${(taskId)!}',
			"comment": comment,
			"refuseReson" : refuseReson,
			'pass' : pass
		}


		Utils.ajax('${CPATH}/order/complete', params, 
			function(res){
				if (res.errorCode == 0) {
					location.href = '${CPATH}/todo/order'
				} else {
					$.toptip(res.message, 'error');
				}
				layer.closeAll();
			}
		)
	};
	
	function doPass(){
		var str = checkEdit();
		if(str != ''){
			$.toptip(str, 'warning');
			return false;
		}
		layer.open({
			type: 2,
			content: '保存中...'
		});
		$("#form").ajaxSubmit({
			beforeSubmit: function() {
				return true
			},
			type : "post", 
			dataType : "json", 
			success : function(res) { 
				layer.closeAll();
				if (res.errorCode == 0) {
					location.href = '${CPATH}/todo/order'
				} else {
					$.toptip(res.message, 'error');
				}
			},
			error : function() {
				layer.closeAll();
				alert("信息提交错误");
			}
		});
	}
	
	function checkEdit(){
		var $orderDetail = $(".orderDetail");
		var str = '';

		$.each($orderDetail, function(index, el){
			var $el = $(el);
			if($el.find("#sellProductId").val() == undefined){
				if(parseFloat($el.find("#bigPrice").val()) != parseFloat($el.find("#bigPriceSpan").val())
					|| parseFloat($el.find("#bigNum").val()) != parseFloat($el.find("#bigNumSpan").val())
					|| parseFloat($el.find("#smallPrice").val()) != parseFloat($el.find("#smallPriceSpan").val())
					|| parseFloat($el.find("#smallNum").val()) != parseFloat($el.find("#smallNumSpan").val())
					)
				{
					$("#edit").val(1);
					return false;
				}
			} else if($el.find("#sellProductId").val() != '') {
				if(parseFloat($el.find("#smallNum").val()) > 0 || parseFloat($el.find("#bigNum").val()) > 0){
					$("#edit").val(1);
					return false;
				}else{
					str = "增加商品时数量不能为0(" + $el.find("#productName").val() + ")";
					return false;
				}
			} else if($el.find("#sellProductId").val() == '') {
					str = "请选择要增加的商品";
					return false;
			}
			
		});
		return str;
	}
	
	function total() {
		var products = $(".orderDetail");
		var rowTotal = 0;
		var total = 0;
		var allTotalAmount = 0;
		$.each(products, function(index, el) {
			var $el = $(el);
			var is_composite = $el.find("#isCom").val();
			var sub_id = $el.find("#sub_id").val();
			var sell_pid = $el.find("#sell_pid").val();
			rowTotal = $el.find("#bigNum").val() * $el.find("#bigPrice").val() + $el.find("#smallNum").val() * $el.find("#smallPrice").val();
			if (is_composite == 1) {
				if (sub_id == sell_pid) {
					var comPrice =  $el.find("#sell_price").val();
					var totalC = $el.find("#total_ct").val();
					var comC = $el.find("#comCount").val();
					var count_com = (totalC/comC).toFixed(0);
					var amount_com = count_com * comPrice;
					total = total + amount_com;
				}
			} else {
				if($el.find("#isGift").val() == 0) {
					total += rowTotal;
				}			
			}
			var bigNum = parseInt($el.find("#bigNum").val());
			var convert = parseInt($el.find("#convert").val());
			var smallNum = parseInt($el.find("#smallNum").val());
			var number = (smallNum/convert).toFixed(2);
			allTotalAmount = allTotalAmount + bigNum + number*1;
			$el.find("#rowTotal").val(rowTotal);
		});

		var factor = $("#factor").val();
		if (factor != '') {
			total = total * factor;
		}
		$("#total").val(total);
		$("#totalSpan").text(total + "元")
		$("#totalNum").val(allTotalAmount);
	}

	var sellerProductInfoMap = ${sellerProductInfoMap!};
	var sellerProductItems = ${sellerProductItems!};
	var newHtml = $("#orderDetailDemo").html();
	$("#orderDetailDemo").remove();
	var $orderDetailList = $("#orderDetailList");
	var $position = $("#position");

	function addProduct() {
		$position .before('<div class="orderDetail">' + newHtml + '</div>' );
		var $newProductDetail = $orderDetailList.find(".orderDetail:last");
		$newProductDetail.find("#productSelect").select({
			title: "选择商品",
			items: sellerProductItems,
			onChange: function(obj){
				var $orderDetial = $(this)[0].$input.parents(".orderDetail");
				var product = sellerProductInfoMap[obj.values].columns;

				selectProduct($orderDetial, product)
			}
		});
	}

	function selectProduct($orderDetial, product){

		$orderDetial.find("#sellProductId").val(product.sell_product_id);
		$orderDetial.find("#productId").val(product.product_id);
		$orderDetial.find("#convert").val(product.convert_relate);
		$orderDetial.find("#productName").val(product.custom_name);

		var bigPrice = product.price;
		var convert = product.convert_relate;
		var smallPrice = (bigPrice / convert).toFixed(2);

		var bigAccountPrice = product.account_price;
		var smallAccountPrice = (bigAccountPrice / convert).toFixed(2);

		$orderDetial.find("#bigPriceSpanSpan").text('(' + bigPrice + ')');
		$orderDetial.find("#smallPriceSpanSpan").text('(' + smallPrice + ')');
		$orderDetial.find("#bigUnit").val(product.big_unit);
		$orderDetial.find("#smallUnit").val(product.small_unit);
		$orderDetial.find("#bigUnitSpan").text(product.big_unit);
		$orderDetial.find("#smallUnitSpan").text(product.small_unit);

		$orderDetial.find("#bigPrice").val(bigPrice);
		$orderDetial.find("#smallPrice").val(smallPrice);
		$orderDetial.find("#bigPriceSpan").val(bigPrice);
		$orderDetial.find("#smallPriceSpan").val(smallPrice);

		<#if order.receive_type = 0>
			$orderDetial.find("#bigPrice").val(bigAccountPrice);
			$orderDetial.find("#smallPrice").val(smallAccountPrice);
		<#else>
			$orderDetial.find("#bigPrice").val(bigPrice);
			$orderDetial.find("#smallPrice").val(smallPrice);
		</#if>

		//是否赠品
		var $isGift = $orderDetial.find("#isGift");
		var $gift = $orderDetial.find("#gift");

		$gift.change(function() {
			if($gift.is(':checked')) {
				$isGift.val(1);
			}else{
				$isGift.val(0);
			}
			total();
		});

		total();
	}

</#macro>

<@layout>
	<body id="order-detail">
		<div class="weui-content">
			<main class="ft14">
				<form action="${CPATH}/order/complete" id="form">
					<input type="hidden" name="id" value="${(order.id)!}">
					<input type="hidden" name="taskId" value="${(taskId)!}">
					<input type="hidden" name="pass" value="1">
					<input type="hidden" name="comment" id="comment" value="">
					<input type="hidden" name="edit" id="edit" value="0">
					<input type="hidden" name="factor" id="factor" value="${(order.factor)!}">
					<div class="weui-panel weui-panel_access">
						<div class="ft14">
							订单状态
							<span class="fr blue">${(order.statusName)!}</span>
						</div>
						<div class="gray">
							<p>客户名称&nbsp;${(order.customer_name)!}</p>
							<p>订货单号&nbsp;${(order.order_sn)!}</p>
							<p>下单时间&nbsp;${(order.create_date)!}</p>
							<p>业务员&nbsp;${(order.realname)!}</p>
						</div>
						<div class="hr"></div>
						<div class="ft14">
							<#if order.receive_type=0>
								<span class="tag">账期</span>
							</#if>
							<#if order.member_id ??>
								<span class="tag">终端下单</span>
							</#if>
						</div>
					</div>
					<div class="weui-panel weui-panel_access" id="orderDetailList">
						<div class="ft14">
							订单详情
						</div>
						<#list orderDetailList as orderDetail>
							<div class="orderDetail">
								<input type="hidden" name="orderDetailId" value="${(orderDetail.id)!}">
								<input type="hidden" name="convert" id="convert" value="${(orderDetail.convert_relate)!}">
								<input type="hidden" name="rowTotal" id="rowTotal" value="${(orderDetail.product_count)!}">
								<input type="hidden" name="isGift" id="isGift" value="${(orderDetail.is_gift)!}">
								<input type="hidden" name="productName" id="productName" value="${(orderDetail.custom_name)!}">
								<input type="hidden" name="bigUnit" id="bigUnit" value="${(orderDetail.big_unit)!}">
								<input type="hidden" name="smallUnit" id="smallUnit" value="${(orderDetail.small_unit)!}">
	             				<input type="hidden" name="sub_id" id="sub_id" value="${(orderDetail.sub_id)!}">
	              				<input type="hidden" name="isCom" id="isCom" value="${(orderDetail.is_composite)!}">
	              				<input type="hidden" name="total_ct" id="total_ct" value="${(orderDetail.product_count)!}">
	              				<input type="hidden" name="comCount" id="comCount" value="${(orderDetail.comCount)!}">
	              				<input type="hidden" name="sell_pid" id="sell_pid" value="${(orderDetail.sell_product_id)!}">
	              				<input type="hidden" name="sell_price" id="sell_price" value="${(orderDetail.comPrice)!}">																
								<#if orderDetail.is_gift??>
						          <#if orderDetail.is_composite = 1>
						              <div class="modify_price todo-product-box">
										<#list images! as list>
											<#if list.productSn == orderDetail.product_sn>
												<img src="${list.savePath!}" alt="" onerror="javascript:this.src='${CTPATH}/images/jp.jpg'">
												<#break>
											</#if>
										</#list>
						                <p><span class="ctag">组合</span>${(orderDetail.custom_name)!}</p>
						                <div class="p-l-15">
						                  <div class="weui-flex__item">
						                    <div class="fl">
						                      <input type="hidden" name="bigPriceSpan" id="bigPriceSpan" value="${(orderDetail.product_price)!}">
						                        ${(orderDetail.product_price)!}
						                        <input type="hidden" name="bigPrice" id="bigPrice" value="${(orderDetail.product_price)!}">
						                      <span class="gray">（${(orderDetail.price)!}）</span>
						                    </div>
						                  </div>
						                  <div class="weui-flex__item t-r relative fr">
						                    <input type="hidden" name="bigNumSpan" id="bigNumSpan" value="${(orderDetail.product_count / orderDetail.convert_relate)?floor}">
						                        ${(orderDetail.product_count / orderDetail.convert_relate)?floor}
						                        <input type="hidden" name="bigNum" id="bigNum" value="${(orderDetail.product_count / orderDetail.convert_relate)?floor}">
						                    ${(orderDetail.big_unit)!}
						                  </div>
						                </div>
						                <div class="p-l-15">
						                  <div class="weui-flex__item">
						                    <div class="fl">
						                      <input type="hidden" name="smallPriceSpan" id="smallPriceSpan" value="${(orderDetail.product_price / orderDetail.convert_relate)?string(',###.##')}">
						                        ${(orderDetail.product_price / orderDetail.convert_relate)?string('0.##')}
						                        <input type="hidden" name="smallPrice" id="smallPrice" value="${(orderDetail.product_price / orderDetail.convert_relate)?string(',###.##')}">
						                      <span class="gray">（${(orderDetail.price / orderDetail.convert_relate)?string(',###.##')}）</span>
						                    </div>
						                  </div>
						                  <div class="weui-flex__item t-r relative fr">
						                    <input type="hidden" name="smallNumSpan" id="smallNumSpan" value="${(orderDetail.product_count % orderDetail.convert_relate)}">
						                      ${(orderDetail.product_count % orderDetail.convert_relate)}
						                      <input type="hidden" name="smallNum" id="smallNum" value="${(orderDetail.product_count % orderDetail.convert_relate)}">
						                    ${(orderDetail.small_unit)!}
						                  </div>
						                </div>
						              </div>		          	
						          <#else>								
									<#if orderDetail.is_gift=0>
										<div class="modify_price todo-product-box">

											<#list images! as list>
												<#if list.productSn==orderDetail.product_sn>
													<img src="${list.savePath!}" alt="" onerror="javascript:this.src='${CTPATH}/images/jp.jpg'">
													<#break>
												</#if>
											</#list>

											<p>${(orderDetail.custom_name)!}</p>
											<div class="p-l-15">
												<div class="weui-flex__item">
													<div class="fl">
														<input type="hidden" name="bigPriceSpan" id="bigPriceSpan" value="${(orderDetail.product_price)!}">
														<#if isEdit>
															<input type="number" name="bigPrice" id="bigPrice" value="${(orderDetail.product_price)!}">
															<#else>
																${(orderDetail.product_price)!}
																<input type="hidden" name="bigPrice" id="bigPrice" value="${(orderDetail.product_price)!}">
														</#if>
														<span class="gray">（${(orderDetail.price)!}）</span>
													</div>
												</div>
												<div class="weui-flex__item t-r relative fr">
													<input type="hidden" name="bigNumSpan" id="bigNumSpan" value="${(orderDetail.product_count / orderDetail.convert_relate)?floor}">
													<#if isEdit>
														<div class="spinner">
															<div class="operate fl">
																<i class="icon-minus2"></i>
															</div>
															<input type="number" class="fl" name="bigNum" id="bigNum" value="${(orderDetail.product_count / orderDetail.convert_relate)?floor}">
															<div class="operate fl">
																<i class="icon-plus2"></i>
															</div>
														</div>
														<#else>
															${(orderDetail.product_count / orderDetail.convert_relate)?floor}
															<input type="hidden" name="bigNum" id="bigNum" value="${(orderDetail.product_count / orderDetail.convert_relate)?floor}">
													</#if>
													${(orderDetail.big_unit)!}
												</div>
											</div>
											<div class="p-l-15">
												<div class="weui-flex__item">
													<div class="fl">
														<input type="hidden" name="smallPriceSpan" id="smallPriceSpan" value="${(orderDetail.product_price / orderDetail.convert_relate)?string(',###.##')}">
														<#if isEdit>
															<input type="number" name="smallPrice" id="smallPrice" value="${(orderDetail.product_price / orderDetail.convert_relate)?string(',###.##')}">
															<#else>
																${(orderDetail.product_price / orderDetail.convert_relate)?string('0.##')}
																<input type="hidden" name="smallPrice" id="smallPrice" value="${(orderDetail.product_price / orderDetail.convert_relate)?string(',###.##')}">
														</#if>
														<span class="gray">（${(orderDetail.price / orderDetail.convert_relate)?string(',###.##')}）</span>
													</div>
												</div>
												<div class="weui-flex__item t-r relative fr">
													<input type="hidden" name="smallNumSpan" id="smallNumSpan" value="${(orderDetail.product_count % orderDetail.convert_relate)}">
													<#if isEdit>
														<div class="spinner">
															<div class="operate fl">
																<i class="icon-minus2"></i>
															</div>
															<input type="number" class="fl" name="smallNum" id="smallNum" value="${(orderDetail.product_count % orderDetail.convert_relate)}">
															<div class="operate fl">
																<i class="icon-plus2"></i>
															</div>
														</div>
														<#else>
															${(orderDetail.product_count % orderDetail.convert_relate)}
															<input type="hidden" name="smallNum" id="smallNum" value="${(orderDetail.product_count % orderDetail.convert_relate)}">
													</#if>
													${(orderDetail.small_unit)!}
												</div>
											</div>
										</div>
									</#if>
									<#if orderDetail.is_gift=1>
										<div class="modify_price todo-product-box">

											<#list images! as list>
												<#if list.productSn==orderDetail.product_sn>
													<img src="${list.savePath!}" alt="" onerror="javascript:this.src='${CTPATH}/images/jp.jpg'">
													<#break>
												</#if>
											</#list>

											<p>
												<span class="tag">赠品</span>${(orderDetail.custom_name)!}</p>
											<div class="t-r relative">
												<input type="hidden" name="bigPriceSpan" id="bigPriceSpan" value="${(orderDetail.product_price)!}">
												<input type="hidden" name="bigPrice" id="bigPrice" value="${(orderDetail.product_price)!}">
												<input type="hidden" name="bigNumSpan" id="bigNumSpan" value="${(orderDetail.product_count / orderDetail.convert_relate)?floor}">
												<#if isEdit>
													<div class="spinner">
														<div class="operate fl">
															<i class="icon-minus2"></i>
														</div>
														<input type="number" class="fl" name="bigNum" id="bigNum" value="${(orderDetail.product_count / orderDetail.convert_relate)?floor}">
														<div class="operate fl">
															<i class="icon-plus2"></i>
														</div>
													</div>
													<#else>
														${(orderDetail.product_count / orderDetail.convert_relate)?floor}
														<input type="hidden" name="bigNum" id="bigNum" value="${(orderDetail.product_count / orderDetail.convert_relate)?floor}">
												</#if>
												${(orderDetail.big_unit)!}
											</div>
											<div class="t-r relative">
												<input type="hidden" name="smallPriceSpan" id="smallPriceSpan" value="${(orderDetail.product_price / orderDetail.convert_relate)?string(',###.##')}">
												<input type="hidden" name="smallPrice" id="smallPrice" value="${(orderDetail.product_price / orderDetail.convert_relate)?string(',###.##')}">
												<input type="hidden" name="smallNumSpan" id="smallNumSpan" value="${(orderDetail.product_count % orderDetail.convert_relate)}">
												<#if isEdit>
													<div class="spinner">
														<div class="operate fl">
															<i class="icon-minus2"></i>
														</div>
														<input type="number" class="fl" name="smallNum" id="smallNum" value="${(orderDetail.product_count % orderDetail.convert_relate)}">
														<div class="operate fl">
															<i class="icon-plus2"></i>
														</div>
													</div>
													<#else>
														${(orderDetail.product_count % orderDetail.convert_relate)}
														<input type="hidden" name="smallNum" id="smallNum" value="${(orderDetail.product_count % orderDetail.convert_relate)}">
												</#if>
												${(orderDetail.small_unit)!}
											</div>
										</div>
									</#if>
									</#if>
								</#if>
							</div>
						</#list>

						<div class="orderDetail" id="orderDetailDemo">
							<i class="icon-trash-o gray"></i>
							<input type="hidden" name="addSellProductId" id="sellProductId" value="">
							<input type="hidden" name="addProductId" id="productId" value="">
							<input type="hidden" name="addConvert" id="convert" value="">
							<input type="hidden" name="addIsGift" id="isGift" value="0">
							<input type="hidden" name="addRowTotal" id="rowTotal" value="">
							<input type="hidden" name="addProductName" id="productName" value="">
							<input type="hidden" name="addBigUnit" id="bigUnit" value="">
							<input type="hidden" name="addSmallUnit" id="smallUnit" value="">
							<div class="modify_price todo-product-box">
								<img src="" alt="" onerror="javascript:this.src='${CTPATH}/images/jp.jpg'">
								<div class="select-area">
									<div class="goods">
										<input type="text" class="choose-good weui-input" placeholder="选择商品" id="productSelect" readonly>
										<i class="icon-sort-desc"></i>
										<input type="checkbox" name="addGift" id="gift" value="1" class="weui-agree__checkbox fr">
										<span class="no-bg fr" style="margin-right: .2rem;">是否赠品</span>
									</div>
								</div>
								<div class="p-l-15">
									<div class="weui-flex__item">
										<div class="fl">
											<input type="hidden" name="addBigPriceSpan" id="bigPriceSpan" value="0">
											<#if isEdit>
												<input type="number" name="addBigPrice" id="bigPrice" value="0">
												<#else>
													<input type="number" name="addBigPrice" id="bigPrice" value="0" readonly>
											</#if>

											<span class="gray" id="bigPriceSpanSpan">（0）</span>
										</div>
									</div>
									<div class="weui-flex__item t-r relative">

										<div class="spinner">
											<div class="operate fl">
												<i class="icon-minus2"></i>
											</div>
											<input type="number" class="fl" name="addBigNum" id="bigNum" value="1">
											<div class="operate fl">
												<i class="icon-plus2"></i>
											</div>
										</div>

										<span id="bigUnitSpan">&nbsp;</span>
									</div>
								</div>
								<div class="p-l-15">
									<div class="weui-flex__item">
										<div class="fl">
											<input type="hidden" name="addSmallPriceSpan" id="smallPriceSpan" value="0">
											<#if isEdit>
												<input type="number" name="addSmallPrice" id="smallPrice" value="0">
												<#else>
													<input type="number" name="addSmallPrice" id="smallPrice" value="0" readonly>
											</#if>

											<span class="gray" id="smallPriceSpanSpan">（0）</span>
										</div>
									</div>
									<div class="weui-flex__item t-r relative">

										<div class="spinner">
											<div class="operate fl">
												<i class="icon-minus2"></i>
											</div>
											<input type="number" class="fl" name="addSmallNum" id="smallNum" value="0">
											<div class="operate fl">
												<i class="icon-plus2"></i>
											</div>
										</div>

										<span id="smallUnitSpan">&nbsp;</span>
									</div>
								</div>
							</div>
						</div>

						<#if isEdit>
							<section class="weui-panel weui-panel_access" id="position">
								<div class="weui-cell weui-cell_access t-c ft14">
									<p class="width-100 blue" onclick="addProduct()">
										<i class="icon-plus-circle"></i>添加产品</p>
								</div>
							</section>
						</#if>

						<div class="hr"></div>
						<div class="t-r ft14">
							总计：
							<span class="red" id="totalSpan">${(order.total_amount)?string(',###.##')}元</span>
							<input type="hidden" name="totalNum" id="totalNum" value="${(order.total_count)!}">
							<input type="hidden" name="total" id="total" value="${(order.total_amount)!}">
						</div>
					</div>
					<div class="weui-panel weui-panel_access">
						<div class="ft14">
							收货信息
						</div>
						<div class="gray">
							<p>
								收货人：${(order.customer_name)!}
								<span class="fr"> ${(order.cmobile)!}</span>
							</p>
							<p>地址详情：${(order.delivery_address)!}</p>
						</div>
						<div class="hr"></div>
						<div class="ft14">
							备注信息：
							<span class="ft12">
								<#if order.remark??>
									${(order.remark)!}
									<#else>无
								</#if>
							</span>
						</div>
					</div>
				</form>
				<a class="weui-panel weui-panel_access block" href="${CPATH}/order/operateHistory?id=${(order.id)!}&proc_inst_id=${(order.proc_inst_id)!}">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd ft14">
							操作记录
						</div>
						<span class="weui-cell__ft"></span>
					</div>
				</a>
			</main>
			<#if isCheck>
				<#include "_inc/_goback.html" />
				<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex ">
					<button type="button" class="white-button-no-border weui-flex__item refuse border-top-1px">拒绝</button>
					<button type="button" class="red-button weui-flex__item agree">同意</button>
				</footer>
				<#else>
					<#include "_inc/_goback_bottom.html" />
			</#if>
		</div>
	</body>
</@layout>