<#include "_inc/_layout.html"/>
<#macro title>再来一单</#macro>
<#macro css> 
	#bigNum,#smallNum {
		border: 1px solid #bbb;
	}

	#order .gift input::-webkit-input-placeholder {
		text-align: center;
	}
</#macro>

<#macro script>
$(function() {
  $("body").on("click","#confirm-input" ,function(){
	total();
  }).on("click", "#placeOrder", function () {
	$.confirm("您确定要提交订单吗？","提交订单", function() {
		doSubmit();
	});
  });

  $("#deliveryDate").calendar();
  var id = "${id}";
  $product.empty();
  initProduct(id);
})
	var $form = $('#form');
	var newHtml = $(".common").eq(0).html();
	var $product = $("#productList");

	function initProduct(id){
		$.get('${CPATH}/order/orderAgain?orderId=' + id,
			function(result){
				var productList = result.orderDetail;
				$.each(productList, function(index, el) {
					if(el.is_gift == 0) {
						$product.append("<div class='weui-panel weui-panel_access goods-detail common'>" + newHtml + "</div>");
						var $newProductDetail = $product.find(".common:last");
						$newProductDetail.find("#productName").text(el.custom_name);
						$newProductDetail.find("#valueName").text(el.valueName);
				
						$newProductDetail.find("#bigPriceSpan").text("￥"+(el.product_price).toFixed(2));
						$newProductDetail.find("#smallPriceSpan").text("￥"+(el.product_price/el.convert_relate).toFixed(2));
						$newProductDetail.find("#bigUnitSpan").text("/"+el.big_unit);
						$newProductDetail.find("#smallUnitSpan").text("/"+el.small_unit);
				
						$newProductDetail.find("#bigPrice").val(el.product_price);
						$newProductDetail.find("#smallPrice").val((el.product_price/el.convert_relate).toFixed(2));
						$newProductDetail.find("#bigUnit").val(el.big_unit);
						$newProductDetail.find("#smallUnit").val(el.small_unit);
						$newProductDetail.find("#sellProductId").val(el.sell_product_id);
						$newProductDetail.find("#productId").val(el.productId);
						$newProductDetail.find("#convert").val(el.convert_relate);
						
						$newProductDetail.find("#bigNum").val(parseInt(el.product_count/el.convert_relate));
						$newProductDetail.find("#smallNum").val((el.product_count%el.convert_relate));
						$newProductDetail.find("#bigNum").removeAttr("readonly");
						$newProductDetail.find("#smallNum").removeAttr("readonly");
						$newProductDetail.find("#isGift").val(el.is_gift);
						
					} else {
						var $newProductDetail = $product.find(".common:last");
						$newProductDetail.find("#addGift").attr("checked",'true').trigger("change");
		
						//默认
						if($newProductDetail.find("#sellProductId").val() == el.sell_product_id){
							$newProductDetail.find("#isDefault").attr("checked","true");
						}
		
						$newProductDetail.find("#giftProduct").val(el.custom_name);
						$newProductDetail.find("#giftSellProductId").val(el.sell_product_id);
						$newProductDetail.find("#giftProductId").val(el.productId);
						$newProductDetail.find("#giftConvert").val(el.convert_relate);
						$newProductDetail.find("#giftBigPrice").val(el.product_price);
						
						var bigNum = parseInt(el.product_count/el.convert_relate);
						var smallNum = el.product_count % el.convert_relate;
						//数量
						if(bigNum > 0 && el.big_unit){
							$newProductDetail.find("#giftNum").val(bigNum);
							$newProductDetail.find("#giftUnitName").val("/"+el.big_unit);
							$newProductDetail.find("#giftUnitName").attr('data-values', "bigUnit");
							$newProductDetail.find("#giftUnit").val("bigUnit");
						}else{
							$newProductDetail.find("#giftNum").val(smallNum);
							$newProductDetail.find("#giftUnitName").val("/"+el.small_unit);
							$newProductDetail.find("#giftUnitName").attr('data-values', "smallUnit");
							$newProductDetail.find("#giftUnit").val("smallUnit");
						}
					
					}
				});	
				total();		
			}
	);	
	}
	
	function total() {
		var products = $(".common");
		var rowTotal = 0;
		var total = 0;
		var count = 0;
		$.each(products, function(index, el) {
			var $el = $(el);
			rowTotal = $el.find("#bigNum").val() * $el.find("#bigPrice").val() + $el.find("#smallNum").val() * $el.find("#smallPrice").val();
			count = parseInt($el.find("#bigNum").val()) + (parseInt($el.find("#smallNum").val())/parseInt($el.find("#convert").val())).toFixed(2)*1;
			$("#totalCount").val(count);
			$el.find("#rowTotal").val(rowTotal);
			total += rowTotal;
		});

		$("#total").val(total);
		$("#totalNum").text("共" + (products.length) + "款,合计:" + total + "元")
	
	}

	function doSubmit(){
		layer.open({
			type: 2,
			content: '保存中...'
		});
		$form.ajaxSubmit({
			beforeSubmit: function() {
				$("#placeOrder").attr('diabled', 'disabled');
				return true
			},
			type : "post", 
			dataType : "json", 
			success : function(data) { 
				if (data.errorCode == 0) {
					toastr.success(data.message);
					window.location.href = "${CPATH}/order/myOrder";
					
				} else {
					$("#placeOrder").removeAttr('diabled');
					toastr.error(data.message);
				}
			},
			error : function() {
				$("#placeOrder").removeAttr('diabled');
				alert("信息提交错误");
			}
		});
	}
	
	function getback() {
		window.location.href = '${CPATH}/order/myOrder?history=' + 1;	
	} 	
</#macro>

<@layout>
<body id="order">
	<div class="weui-content">
		<form action="${CPATH}/order/salesOrder" method="post" id="form">
			<main>
				<section class="weui-panel weui-panel_access order-customer-info">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div class="order-customer-info-title">
								客户名称
								<span class="require">*</span>
							</div>
							<input type="hidden" id="sellerCustomerId" name="customerId" value="${order.customer_id!}" >
							<input type="text" placeholder="请选择客户" class="weui-input" id="customerName" name="customerName" value="${order.customer_name!}" readonly>
							<span class="weui-cell__ft"></span>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div class="order-customer-info-title">
								联系人
								<span class="require">*</span>
							</div>
							<input type="text" placeholder="请输入客户信息" class="weui-input" id="contact" name="contact" value="${order.ccontact!}" readonly>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div class="order-customer-info-title">
								电话号码
								<span class="require">*</span>
							</div>
							<input type="text" placeholder="请输入电话号码" class="weui-input" id="mobile" name="mobile" value="${order.cmobile!}" readonly>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div class="order-customer-info-title">
								详细地址
								<span class="require">*</span>
							</div>
							<input type="hidden" id="address" name="address" value="${order.caddress!}">
							<input type="text" placeholder="请输入详细地址" class="weui-input" id="deliveryAddress" name="deliveryAddress" value="${order.caddress!}" readonly>
						</div>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd select-area">
							<div class="order-customer-info-title">
								客户类型
								<span class="require">*</span>
							</div>
							<input type="hidden" id="customerType" name="customerType" value="${order.customer_type_id!}">
							<input type="hidden" id="customerTypeCode" name="customerTypeCode" value="${order.typeCode!}">
							<input type="hidden" id="factor" name="factor" value="${order.factor!}">
							<input type="hidden" id="proc_def_key" name="proc_def_key" value="${order.proc_def_key!}">
							<input type="text" placeholder="请选择客户类型" class="weui-input" id="customerTypeName" name="customerTypeName" value="${order.customerTypeName!}" readonly>
							<span class="weui-cell__ft"></span>
						</div>
					</div>
				</section>
				<section class="weui-panel weui-panel_access delivery-info">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							配送时间
							<input type="text" placeholder="请选择配送时间" class="weui-input" data-toggle='date' id="deliveryDate" name="deliveryDate" value="${deliveryDate!}" readonly>
							<span class="weui-cell__ft"></span>
						</div>
					</div>
				</section>
				<section class="weui-panel weui-panel_access ft14">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<div>
								<input type="checkbox" name="receiveType" value="0" class="weui-agree__checkbox"> 是否账期
							</div>
						</div>
					</div>
				</section>
				<section class="weui-panel weui-panel_access ft14 remark">
					<div class="weui-cell weui-cell_access">
						<div class="weui-cell__bd">
							<textarea name="remark" placeholder="备注说明（70字以内）"></textarea>
						</div>
					</div>
				</section>
				<div class="weui-cells__title black">商品明细</div>
				<div id="productList">
					<div class="weui-panel weui-panel_access goods-detail common" style="display: none">
						<input type="hidden" name="sellProductId" id="sellProductId" value="">
						<input type="hidden" name="productId" id="productId" value="">
						<input type="hidden" name="convert" id="convert" value="">
						<input type="hidden" name="isGift" id="isGift" value="">
						<input type="hidden" name="totalNum" id="totalCount" value="">
						<nobr>
							<p class="product_name" id="productName">
								35度中国劲酒_125ml_1*24
				<!-- 				<span class="gift-tag">赠品</span> -->
							</p>
						</nobr>
						<div class="product_unit">
							规格：<span id="valueName">125ml</span>
						</div>
						<div class="product_bUnit">
							<span class="price" id="bigPriceSpan">￥725</span>
							<span class="unit" id="bigUnitSpan">&nbsp;/&nbsp;件</span>
							<div class="spinner">
								<input type="number" min="0" value="0" class="fl" id="bigNum" name="bigNum" readonly>
							</div>
							<input type="number" class="street-value"  id="bigPrice" value="720" name="bigPrice" readonly>
						</div>
						<div class="product_mUnit">
							<span class="price" id="smallPriceSpan">￥30</span>
							<span class="unit" id="smallUnitSpan">&nbsp;/&nbsp;瓶</span>
							<div class="spinner">
								<input type="number" min="0" value="0" class="fl" id="smallNum" name="smallNum" readonly>
							</div>
							<input type="number" class="street-value" value="30" id="smallPrice" name="smallPrice" readonly>
						</div>
						<input type="hidden" id="rowTotal" name="rowTotal" value="">
						<hr />
						<div class="gift" id="gift">
							<input type="hidden" name="giftSellProductId" id="giftSellProductId" value="">
							<input type="hidden" name="giftProductId" id="giftProductId" value="">
							<input type="hidden" name="giftConvert" id="giftConvert" value="">
							<input type="hidden" name="giftBigPrice" id="giftBigPrice" value="" >
							<div>
								<input type="checkbox" name="add-gift" id="addGift" disabled class="weui-agree__checkbox">
								<span>赠品</span>
							</div>
							<div style="display:none" class="select-area">
								<div class="goods">
									<span>商品</span>
									<input type="text" class="choose-good weui-input" placeholder="选择商品" id="giftProduct" readonly>
									<i class="icon-sort-desc"></i>
								</div>
								<div class="number">
									<span>数量</span>
									<div class="spinner">
										<div class="operate fl">
											<i class="icon-minus2"></i>
										</div>
										<input type="number" min="0" value="0" class="fl" name="giftNum" id="giftNum" readonly>
										<div class="operate fl">
											<i class="icon-plus2"></i>
										</div>
									</div>
									<input type="hidden" name="giftUnit" id="giftUnit">
									<input type="text" class="choose-unit weui-input" placeholder="单位" name="giftUnitName" id="giftUnitName" readonly>
									<i class="icon-sort-desc"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="weui-panel weui-panel_access goods-detail composition" style="display: none">
						<input type="hidden" id="compositionId" name="compositionId" value="">
						<nobr>
							<p class="product_name" id="compositionName">
								35度中国劲酒_125ml_1*24
							</p>
						</nobr>
						<div class="product_bUnit">
							<span class="price" id="compositionPriceSpan">￥725</span>
							<div class="spinner">
								<input type="number" min="0" value="0" class="fl" id="compositionNum" name="compositionNum" readonly>
							</div>
							<input type="number" class="street-value"  id="compositionPrice" value="720" name="compositionPrice" readonly>
						</div>

						<input type="hidden" id="rowTotal" name="rowTotal" value="">
					</div>
				</div>
				<input type="hidden" id="total" name="total" value="">
			</main>
			<div class="hidden-menu">
				<ul>
					<li><a href="${CPATH}/">首页<img src="${CTPATH}/images/home.png" alt=""></a></li>
					<li><a onclick="getback()">返回<img src="${CTPATH}/images/goback.png" alt=""></a></li>
				</ul>
				<img src="${CTPATH}/images/add.png" alt="" id="button" class="fr">
			</div>
			<div class="layer"></div>
			<footer class="weui-footer weui-footer_fixed-bottom weui-flex">
				<p class="total bg-gray weui-flex__item" id="totalNum">共2款，总数10件&nbsp;总额：2600元</p>
				<button type="button" id="placeOrder" class="place-order red-button">提交订单</button>
			</footer>
		</form>
	</div>
</body>
</@layout>
