<#include "_inc/_layout.html"/>
<#macro title>第三方销售报表</#macro>
<#macro css>
    .report {
			font-size: 0.7rem;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    bottom: 50px;
	    overflow: auto;
			-webkit-overflow-scrolling: touch;
			background: #f7f7f7;
			flex-direction: column;
    }
    
    .report .weui-panel__hd:after {
        left: 0;
        height: 0;
		}
		.pro:after {
			content:none;
		}
    p { 
    	margin:0
		}
		
		.weui-tabbar {
			position: fixed;
		}

		.overview-title span {
			bottom: 0;
		}

		.weui-flex__item {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
</#macro>

<#macro css_import>
<link rel="stylesheet" href="${CTPATH}/css/normalize.css">
<link rel="stylesheet" href="${CPATH}/static/bootstrap/css/bootstrap.min.css">
</#macro>
<#macro script_import>
<script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
</#macro>  
<#macro script>
  $(function () {
  
    $(".end-date").calendar();
    $(".end-date").val($.today());
    $(".begin-date").calendar();
    $(".begin-date").val($.today());
    $("#dayTag").val("today");
    var startDate = $.today();
	var endDate = $.today() + ' 23:59:59';  
	var params = {
		"dayTag":  'today',
		"startDate": startDate,
		"endDate" : endDate
	}  
 	orderAmount(params);
 	productCount(params);
  })
  
    function orderAmount(params) {
		Utils.ajax('${CPATH}/report/getOtherOrderCount', params, 
			function(data){
				$("#productCount").html(formatNumber(data.orderCount)+"笔");
<!-- 				$("#totalCount").html(data.orderCount+"笔"); -->
				$("#totalAmount").html(formatNumber(data.total_amount)+"元");
			}
		);    	
    }
    
    function productCount(params) {
    	layer.open({type: 2,content: '加载中'});
		Utils.ajax('${CPATH}/report/getOtherProductCount', params, 
			function(data){
				layer.closeAll();
	            var length = data.length;
	            var $tbody = $("#product_body tbody");
	            $tbody.empty();
	            $tbody.append("<tr><th width='60%' style='text-align:center'>产品</th><th width='20%' style='padding: 8px 0;text-align:center'>数量(件)</th><th width='20%' style='padding: 8px 0;text-align:center'>金额(元)</th></tr>");
	            for(var i = 0; i < length; i++){
	                $tbody.append("<tr><td>" + data[i].name + "</td><td class='t-r'>" + data[i].productCount + "</td><td class='t-r'>" + formatNumber(data[i].totalAmount) + "</td></tr>");
	            }	            
			}
		);    	
    }
    
    function urlSelect(params, type){
	 	orderAmount(params);
	 	productCount(params);
    }
    
    function startDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).val(),
			"endDate": $(obj).parent().find('#endDay').val() + ' 23:59:59',
			"platformTag" : $("#platformTag").val()
		}
		$("#dayTag").val("");
		urlSelect(params,type); 
    }
    
    function endDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).parent().find('#startDay').val(),
			"endDate": $(obj).val() + ' 23:59:59',
			"platformTag" : $("#platformTag").val()
		}
		$("#dayTag").val("");
		urlSelect(params,type); 
    }    
    
    function dayTagSelect(obj,type) {
      $.actions({
        actions: [{
          text: "今日",
          onClick: function () {
			var params = {
				"dayTag": 'today',
				"platformTag" : $("#platformTag").val()
			}
			urlSelect(params,type); 
            $(obj).find(".dayTagText").text('今日')
            $("#dayTag").val("today");
          }
        }, {
          text: "昨日",
          onClick: function () {
			var params = {
				"dayTag": 'yesterday',
				"platformTag" : $("#platformTag").val()
			}
          	urlSelect(params,type);
            $(obj).find(".dayTagText").text('昨日')
            $("#dayTag").val("yesterday");
          }
        }, {
          text: "本周",
          onClick: function () {
			var params = {
				"dayTag": 'week',
				"platformTag" : $("#platformTag").val()
			}
			urlSelect(params,type);   
          	$(obj).find(".dayTagText").text('本周')
          	$("#dayTag").val("week");
          }
        }, {
          text: "上周",
          onClick: function () {
			var params = {
				"dayTag": 'lastweek',
				"platformTag" : $("#platformTag").val()
			}
          urlSelect(params,type);
          $(obj).find(".dayTagText").text('上周')
          $("#dayTag").val("lastweek");
          }
        }, {
          text: "本月",
          onClick: function () {
			var params = {
				"dayTag": 'month',
				"platformTag" : $("#platformTag").val()
			}     
			urlSelect(params,type);    
         	$(obj).find(".dayTagText").text('本月')
         	$("#dayTag").val("month");
          }
        }, {
          text: "上月",
          onClick: function () {
			var params = {
				"dayTag": 'lastmonth',
				"platformTag" : $("#platformTag").val()
			}         
			urlSelect(params,type);
          	$(obj).find(".dayTagText").text('上月')
          	$("#dayTag").val("lastmonth");
          }
        }]
      });    
    } 
    
 	function platformTagSelect(obj,type) {
      $.actions({
        actions: [{
          text: "全部",
          onClick: function () {
			var params = {
				"platformTag": '',
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59'
			}
			urlSelect(params,type); 
            $(obj).find(".platformTagText").text('全部')
            $("#platformTag").val("");
          }
        }, {
          text: "阿里",
          onClick: function () {
			var params = {
				"platformTag": '阿里',
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59'
			}     
			urlSelect(params,type);    
         	$(obj).find(".platformTagText").text('阿里')
         	$("#platformTag").val("阿里");
          }
        }, {
          text: "丹露",
          onClick: function () {
			var params = {
				"platformTag": '丹露',
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59'
			}     
			urlSelect(params,type);    
         	$(obj).find(".platformTagText").text('丹露')
         	$("#platformTag").val("丹露");
          }
        }]
      }); 	
 	}
 	
</#macro>
<@layout>
	<div class="report weui-flex">
		<div class="weui-panel weui-panel_access report-header">
			<div class="weui-panel__hd">
				<span class="overview-hd-title">第三方订单统计</span>
				<div>
					<span class="briefly" onclick="dayTagSelect(this,'day')">
						<p class="dayTagText">今日</p>
						<i class="icon-angle-down"></i>
					</span>
					<input type="hidden" id="dayTag">
					<span class="briefly" onclick="platformTagSelect(this,'ali')">
						<p class="platformTagText">全部</p>
						<i class="icon-angle-down"></i>
					</span>
					<input type="hidden" id="platformTag">
					<input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'day')" readonly="">
					<span class="overview-hd-segmenting fr"> — </span>
					<input class="weui-input begin-date fr t-r" type="text" id="startDay" onchange="startDaySelect(this,'day')" readonly="">
				</div>
			</div>
			<div class="weui-panel__bd">
				<div class="weui-flex overview-block">
					<div class="weui-flex__item border-right-1px">
						<div class="overview-title">
							<img src="${CTPATH}/images/order.png">
							<span>订单总数</span>
						</div>
						<div class="t-c">
							<strong id="productCount"></strong>
							<small id="totalCount"></small>
						</div>
					</div>
					<div class="weui-flex__item">
						<div class="overview-title">
							<img src="${CTPATH}/images/money.png">
							<span>订单金额</span>
						</div>
						<div class="t-c">
							<strong id="totalAmount"></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="weui-panel weui-panel_access weui-flex__item">
			<div class="weui-panel__hd pro ft16 t-c">
				商品销售统计
			</div>
			<div class="weui-cells weui-cells_form mg-0">
				<div class="weui-cell" style="padding: 0">
					<table class="table table-striped table-bordered mg-0" id="product_body">
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<#include "_inc/_footer_nav.html" />
</@layout>