<#include "_inc/_layout.html"/>
<#macro script_import>
	<script src="${CPATH}/static/ccloud/admin/js/common.js"></script>
</#macro>  
<#macro title>收款管理</#macro>
<#macro css> 
	#my-order {
		top: 44px;
		position: absolute;
		bottom: 0;
	}
</#macro>
<#macro script>
  $(function () {
	<#if history??>
		var statusName = getItemBykey("statusName");
		var customerTypeName = getItemBykey("customerTypeName");
		var dayName = getItemBykey("dayName");
		var keywordName = getItemBykey("keyword");
		$("#status").val(statusName);
		$("#customerTypeId").val(customerTypeName);
		$("#date").val(dayName);
		$("#searchInput").val(keywordName);
	<#else>
		clearStorage();
		setItemBykey("startDate", $.today());
		setItemBykey("endDate", $.today() + ' 23:59:59');
	</#if>

	$(document).on("submit", ".weui-search-bar__form", function() {
		setItemBykey("keyword", $("#searchInput").val());
		combo();
		return false;
	}).on("click", "#searchCancel", function() {
		setItemBykey("keyword", $("#searchInput").val());
		combo();
	}).on("change", "#status", function() {
		setItemBykey("status", $("#status").data('values'));
		setItemBykey("statusName", $("#status").val());	
		combo();
	}).on("change", "#customerTypeId", function() {
		setItemBykey("customerTypeId", $("#customerTypeId").data('values'));
		setItemBykey("customerTypeName", $("#customerTypeId").val());	
		combo();
	}).on("change", "#date", function() {
		getDateOrder();
	}).off("click", "#combin-filter .confirm-search-btn")
	.on("click", "#combin-filter .confirm-search-btn", function() {
		startDate = $('#start-date').val();
		endDate = $('#end-date').val() + ' 23:59:59';
		isDone = $('#isDone').find('.red-button').data('id');
		setItemBykey("startDate", startDate);
		setItemBykey("endDate", endDate);	
		setItemBykey("isDone", isDone);
		combo();
		initUser();
	});

    $("#start-date").calendar({
		maxDate: function() {
			return $('#end-date').val()
		}
	});
	$("#start-date").val($.today());
	$("#end-date").calendar({
		minDate: function() {
			var date = new Date($('#start-date').val().replace(/-/g,"/"));
			date.setDate(date.getDate() - 1);
			return date.Format("yyyy-MM-dd")
		}
	 });
	$("#end-date").val($.today());

	combo();
	initUser(1);
	$("#customerTypeId").select({
	title: "选择客户类型",
	items: ${customerTypes!}
	});
	$('#date').select({
		title: '选择时间',
		items: [{
			title: '今天', value: '0'
			},{title: "最近3天", value: "1"
			},{title: "最近7天", value: "2"
			},{title: "最近30天", value: "3"
		}]
	})
  });

  
	var newHtml = $(".weui-panel").eq(0).html();
	var $main = $("#main");
	var $loading = $("#loading");
	var $noMore = $("#noMore");
	var loading = false;
	
	var keyword = '';
	var startDate = $.today();
	var endDate = $.today() + ' 23:59:59';
	var isDone = 0;
	var page = 1;
	var size = 10;

	function initMyOrder(){
		$loading.show();
		$noMore.hide();
		layer.open({type: 2,content: '加载中'});

		var params = getParam();
		Utils.ajax('${CPATH}/receivables/stockOrder', params, 
			function(data){
				$loading.hide();
				layer.closeAll();
				if(data.outStockList.length == 0){
				    var childCount = $('.weui-panel').length;
                    if (childCount == 1) 
                        $noMore.show();

					loading = true;
					return;
				}

				$.each(data.outStockList, function(index, el) {
	
					$main.append("<div class='weui-panel weui-panel_access'>" + newHtml + "</section>");
					var $newOrder = $main.find(".weui-panel:last");
					
					if(el.receive_type == 1) {
						$newOrder.find("#receiveType").remove();
					}
					
					$newOrder.find("#orderSn").text(el.outstock_sn);
					
					$newOrder.find("#status").text(getStatus(el.status));
					$newOrder.find("#customerName").text(el.customer_name);
					$newOrder.find("#contact").text(el.contact + '/' + el.mobile);
					$newOrder.find("#customerType").text(el.customerTypeName);
					$newOrder.find("#refund").on('click', function(){ 
 						 window.location.href = "${CPATH}/receivables/detail?sn="+el.outstock_sn
					}); 

					$newOrder.find("#amount").text(formatNumber(el.total_amount));
					$newOrder.find("#date").text('时间：' + el.create_date);
					$newOrder.find("#balanceAmount").text("待收金额：￥"+formatNumber(el.balanceAmount));
				});
				page++;
				loading = false;
			}
		);
	}
	
	function getParam () {
		<#if !history??>
		var params = {
			"page": page,
			"size": size,
			"keyword": $("#searchInput").val(),
			"status": $("#status").data('values'),
			"customerTypeId": $("#customerTypeId").data('values'),
			"startDate": startDate,
			"endDate" : endDate,
			"isDone" : isDone
		}
		<#else>
		var keywordSession = getItemBykey("keyword");
		var statusSession = getItemBykey("status");
		var customerTypeIdSession = getItemBykey("customerTypeId");
		var startDateSession = getItemBykey("startDate");
		var endDateSession = getItemBykey("endDate");
		var isDoneSession = getItemBykey("isDone");
		var params = {
			"page": page,
			"size": size,
			"keyword": keywordSession,
			"status": statusSession,
			"customerTypeId": customerTypeIdSession,
			"startDate": startDateSession,
			"endDate" : endDateSession,
			"isDone" : isDoneSession
		}		
		</#if>		
		return params;
	}	
	
	function getDateOrder(){
		var dateType = $("#date").data('values');
		var date = new Date();
		if(dateType == 0){
			startDate = $.today();
		}else if(dateType == 1){
			date.setDate(date.getDate() - 3);
			startDate = date.Format("yyyy-MM-dd");
		}else if(dateType == 2){
			date.setDate(date.getDate() - 7);
			startDate = date.Format("yyyy-MM-dd");
		}else if(dateType == 3){
			date.setDate(date.getDate() - 30);
			startDate = date.Format("yyyy-MM-dd");
		}

		endDate = $.today() + ' 23:59:59';
		setItemBykey("dayName", $("#date").val());
		setItemBykey("startDate", startDate);
		setItemBykey("endDate", endDate);
		initUser();		
		combo();
	}

	function getStatus(value) {
		if (value == 1000) {
			return '全部出库';
		} else {
			return '部分出库';
		}
	}
	
	
	//滑动方法
	$("main").infinite().on("infinite", function() {
		if(loading) {
			return;
		}
		loading = true;
		initMyOrder();
	});
	
	function combo() {
		$main.empty();
		loading = true;
		page = 1;
		initMyOrder();
	}
	
	function initUser(type) {
		var params = getParam();
		Utils.ajax('${CPATH}/receivables/initUser', params, 
			function(data){
				if (type == 1) {
					$("#status").select({
						title: "业务员",
						items: data.userList
					});				
				} else {
					$("#status").select("update", { items: data.userList });
				}
			}
		);	
	}
</#macro>

<@layout>
<div class="weui-content">
	<header>
		<div class="weui-search-bar" id="SearchBar">
			<form class="weui-search-bar__form">
				<div class="weui-search-bar__box">
					<i class="weui-icon-search"></i>
					<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
					<a href="javascript:" class="weui-icon-clear" id="searchClear" ></a>
				</div>
				<label class="weui-search-bar__label" id="searchText">
					<i class="weui-icon-search"></i>
					<span>请输入客户名或出库单号</span>
				</label>
			</form>
			<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" >取消</a>
		</div>
	</header>
    <article id="my-order" class="ft14">
		<header class="has-th-list weui-flex">
			<div class="head-search select-area weui-flex__item">
				<div class="weui-flex">
					<div class="weui-flex__item">
						<input type="text" id="status" class="weui-input" readonly placeholder="业务员">
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-flex__item">
						<input type="text" id="customerTypeId" placeholder="客户类型" class="weui-input" readonly>
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-flex__item">
						<input type="text" id="date" placeholder="今天" class="weui-input" readonly>
						<i class="icon-sort-desc"></i>
					</div>
				</div>
			</div>
			<div id="combin-filter-btn">
				<i class="icon-th-list"></i>
			</div>
		</header>
		<main>
			<div id="main">
				<div class="weui-panel weui-panel_access" style="display: none">
					<a id="salesOrderId">
						<div class="ft14">
							<span class="tag" id="receiveType">账期</span>
							<span id="orderSn"></span>
							<span class="fr blue" id="status"></span>
						</div>
						<div id="customerName"></div>
						<div class="gray">
							<p>
								联系人：<span id="contact"></span>
								<span class="fr" id="customerType"></span>
							</p>
						</div>
						<div class="gray">
							<p>
								金额：￥<span id="amount"></span>
								<span class="fr" id="date"></span>
							</p>
						</div>
					</a>
					<div class="hr"></div>
					<div class="ft14">
							<span id="balanceAmount"></span>
						<div id="refund" class="button red-button fr">收款</div>
					</div>
				</div>
			</div>
			<div class="weui-loadmore" id="loading" style="display: none;">
			    <i class="weui-loading"></i>
			    <span class="weui-loadmore__tips">正在加载</span>
			</div>
			<div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
			  <span class="weui-loadmore__tips">暂无数据</span>
			</div>
		</main>
		<#include "_inc/_goback_bottom.html" />
	</article>
	<article id="combin-filter" >
		<div class="filter-item">
			<h4>日期区间</h4>
			<div class="relative weui-flex" id="getDate">
				<input type="text" id="start-date" class="weui-input weui-flex__item" readonly>
				<div style="width:1rem" class="t-c">—</div>
				<input type="text" id="end-date" class="weui-input weui-flex__item" readonly>
			</div>
			<h4 class="ft14">是否完成收款</h4>
			<div class="relative ft12" id="isDone">
				<span class="red-button" data-id="0">全部</span>
				<span data-id="1">已完成</span>
				<span data-id="2">未完成</span>
			</div>
		</div>
		<footer class="weui-footer weui-footer_fixed-bottom ft16">
			<button class="white-button-no-border width-50 cancel-search-btn border-top-1px">取消</button>
			<button class="red-button width-50 confirm-search-btn">确定</button>
		</footer>
	</article>
	<div class="layer"></div>
</div>
</@layout>
