<#include "_inc/_layout.html"/>
<#macro title>计划列表</#macro>
<#macro css>
	#my-order {
		position: absolute;
		top: 44px;
		bottom: 0;
		width: 100%;
	}
</#macro>
<#macro script>	
	$(function() {
		combo();
	});

	$(document).on("input", "#searchInput", function() {
		setItemBykey("keyword", $("#searchInput").val());
		combo();
	}).on("click", "#searchCancel", function() {
		combo();
	})

	$("#type").select({
		title: "选择计划类型",
		items: [{
			title: "周计划", value: "101201"
		},{
			title: "月计划", value: "101202"
		},{
			title: "年计划", value: "101203"
		}]
	});

	$("#userId").select({
		title: "选择业务员",
		items: ${userIds!}
	});

	$("#start-date").calendar({
		maxDate: function() {
			return $('#end-date').val()
		}
	});
	$("#start-date").val($.today());
	$("#end-date").calendar({
		minDate: function() {
			var date = new Date($('#start-date').val().replace(/-/g,"/"));
			date.setDate(date.getDate() - 1);
			return date.Format("yyyy-MM-dd")
		}
	});
	$("#end-date").val($.today());

	var $planList = $(".planList");
	var newHtml = $(".planList").html();
	var $loading = $("#loading");
	var $noMore = $("#noMore");

	var loading = false;
	var startDate = $.today();
	var endDate = $.today() + ' 23:59:59';
	var page = 1;
	var size = 10;

	function loadPlanData() {

		$loading.show();
		$noMore.hide();
	
		var params = {
			"page": page,
			"size": size,
			"keyword": $("#searchInput").val(),
			"userId": $("#userId").data('values'),
			"type": $("#type").data('values'),
			"startDate": startDate,
			"endDate": endDate
		}

		Utils.ajax('${CPATH}/plans/planList', params,
			function(data) {
				$loading.hide();
		
				if(data.planList.length == 0) {
					if($('.planList').length == 0) $noMore.show();
					loading = true;
					return;
				}
		
				$.each(data.planList, function(index, el) {
		
					$planList.append(newHtml);
					var $newPlan = $planList.find(".plan-list-box:last");
					$newPlan.find("#userName").text(el.realname);
					$newPlan.find("#typeName").text(el.typeName);
					$newPlan.find("#startDate").text(el.start_date);
					$newPlan.find("#endDate").text(el.end_date);
					$newPlan.find("#productName").text(el.custom_name);
					$newPlan.find("#planNum").text(el.plan_num);
					$newPlan.find("#completeNum").text(el.complete_num);
					$newPlan.find("#completeRatio").text(el.complete_ratio);
	
				});
				page++;
				loading = false;
			}
		);
	}

	//滑动方法
	$("main").infinite().on("infinite", function() {
		if(loading) {
			return;
		}
		loading = true;
		loadPlanData();
	});

	function combo() {
		$planList.empty();
		loading = false;
		page = 1;
		loadPlanData();
	}

</#macro>
<@layout>
<div class="weui-content">
	<header>
		<div class="weui-search-bar" id="SearchBar">
			<form class="weui-search-bar__form">
				<div class="weui-search-bar__box">
					<i class="weui-icon-search"></i>
					<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
					<a href="javascript:" class="weui-icon-clear" id="searchClear" ></a>
				</div>
				<label class="weui-search-bar__label" id="searchText">
					<i class="weui-icon-search"></i>
					<span>请输入业务员名称</span>
				</label>
			</form>
			<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" >取消</a>
		</div>
	</header>
	<article id="my-order" class="ft14">
		<header class="has-th-list weui-flex">
			<div class="head-search select-area weui-flex__item">
				<div class="weui-flex">
					<div class="weui-flex__item">
						<input type="text" id="type" class="weui-input" readonly placeholder="计划类型">
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-flex__item">
						<input type="text" id="userId" placeholder="业务员" class="weui-input" readonly>
						<i class="icon-sort-desc"></i>
					</div>
				</div>
			</div>
			<div id="combin-filter-btn">
				<i class="icon-th-list"></i>
			</div>
		</header>
		<main>
			<div class="ft12 planList">
				<div class="plan-list-box">
					<div class="weui-panel weui-panel_access">
						<div class="customer_name">
							<span id="userName"></span>
							<span class="fr orange ft12" id="typeName"></span>
						</div>
						<div class="weui-flex gray">
							<div class="weui-flex__item">开始时间：<span id="startDate"></span></div>
							<span style="width:1rem" class="t-c">-</span>
							<div class="weui-flex__item t-r">结束时间：<span id="endDate"></span></div>
						</div>
					</div>
					<div class="weui-cells mg-0">
						<div class="weui-cell">
							<div class="weui-cell__bd t-c" id="productName">
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__bd weui-flex t-c">
								<div class="weui-flex__item">
									<p>计划数量</p>
									<p id="planNum"></p>
								</div>
								<div class="weui-flex__item">
									<p>完成数量</p>
									<p id="completeNum"></p>
								</div>
								<div class="weui-flex__item">
									<p>完成比率</p>
									<p id="completeRatio"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="weui-loadmore" id="loading" style="display: none;">
			  <i class="weui-loading"></i>
			  <span class="weui-loadmore__tips">正在加载</span>
			</div>
			<div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
			  <span class="weui-loadmore__tips">暂无数据</span>
			</div>
		</main>
	</article>
</div>
<article id="combin-filter" >
	<div class="filter-item">
		<h4>日期区间</h4>
		<div class="relative weui-flex" id="getDate">
			<input type="text" id="start-date" class="weui-input weui-flex__item" readonly>
			<div style="width:1rem" class="t-c">-</div>
			<input type="text" id="end-date" class="weui-input weui-flex__item" readonly>
		</div>
	</div>
	<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
		<button class="red-button weui-flex__item _submit_btn" onclick="window.location.href='${CPATH}/plans'">新增计划</button>
	</footer>
</article>
<div class="layer"></div>
<#include "_inc/_goback_bottom.html" />
</@layout>