<#include "_inc/_layout.html"/>
<#macro title>计划列表</#macro>
<#macro css>
	#my-order {
		position: absolute;
		top: 151px;
		bottom: 0;
		width: 100%;
	}
</#macro>
<#macro script>	
	var cpLock = true;
	var time;
	var page = 1;
	var size = 10;
	var planAmount = 0;
	var completeAmount = 0;
	$(function() {
		$(".plansShow").css('display','none');
		combo();
	});
	$("#datetime-picker").datetimePicker({
				times: function () {
		          return [];
		        }
			});
	$("#datetime-picker").click(function(){
			$(".picker-items-col:nth-child(5)").hide();
			$(".picker-items-col:nth-child(4)").hide();
		});
	$("#datetime-picker").change(function(){
		var datePicker = $("#datetime-picker").val();
		$("#datetime-picker").val(datePicker.substring(0,7));
	});
	$(document).on("click", ".close-picker", function() {
		var datePicker = $("#datetime-picker").val();
		$("#datetime-picker").val(datePicker.substring(0,7));
		planAmount = 0;
		completeAmount = 0;
		 combo();
	});
	$(document).on("compositionstart", "#searchInput", function() {
		cpLock = false;
	}).on("compositionend", "#searchInput", function() {
		cpLock = true;
		if(cpLock) {
			planAmount = 0;
			completeAmount = 0;
			clearTimeout(time);
			time = setTimeout(function(){ 
				combo();
			},500);
		}
	}).on("input", "#searchInput", function() {
		if(cpLock) {
			planAmount = 0;
			completeAmount = 0;
			clearTimeout(time);
			time = setTimeout(function(){ 
				combo();
			},500);
		}
	}).on("click", "#searchCancel", function() {
		planAmount = 0;
		completeAmount = 0;
		combo();
	}).on("change", "#type", function() {
		combo();
	}).on("change", "#userId", function() {
		combo();
	}).on("change", "#sellerProductId", function() {
		combo();
	}).on("click", "#confirm", function() {
		startDate = $('#start-date').val();
		endDate = $('#end-date').val();
		combo();
	});

	$("#type").select({
		title: "选择计划类型",
		items: [{
			title: "周计划", value: "101201"
		},{
			title: "月计划", value: "101202"
		},{
			title: "年计划", value: "101203"
		}]
	});
	
	$("#show").select({
		title: "选择查看方式",
		items: [{
			title: "业务员", value: "101204"
		},{
			title: "产品", value: "101205"
		}],
		onChange: function(obj){
			page = 1;
			var params = {
				"page": page,
				"size": size,
				"keyword": $("#searchInput").val(),
				"userId": $("#userId").data('values'),
//				"type": $("#type").data('values'),
				"datetimePicker" : $("#datetime-picker").val(),
				"type": "101202",
				"show":$("#show").data('values'),
				"startDate": startDate,
				"endDate": endDate
			}
			var showType = $("#show").data('values');
			$(".planList").html("");
			if(showType == "101205"){
				planAmount = 0;
				completeAmount = 0;
				showSellerProduct(params);
				$(".userId").hide();
				$(".sellerProductId").show();
			}else{
				planAmount = 0;
				completeAmount = 0;
				showBizUser(params);
				$(".userId").show();
				$(".sellerProductId").hide();
			}
			
		} 
	});

	$("#userId").select({
		title: "选择业务员",
		items: ${userIds!},
		onChange: function(obj){
				planAmount = 0;
				completeAmount = 0;
		} 
	});
	
	$("#sellerProductId").select({
		title: "选择产品",
		items: ${sellerProducts!},
		onChange: function(obj){
				planAmount = 0;
				completeAmount = 0;
		}
	});
	$("#start-date").calendar({
		maxDate: function() {
			return $('#end-date').val()
		}
	});
	$("#start-date").val($.today());
	$("#end-date").calendar({
		minDate: function() {
			var date = new Date($('#start-date').val().replace(/-/g,"/"));
			date.setDate(date.getDate() - 1);
			return date.Format("yyyy-MM-dd")
		}
	});
	$("#end-date").val($.today());

	var $planList = $(".planList");
	var newHtml = $(".planList").html();
	var $loading = $("#loading");
	var $noMore = $("#noMore");

	var loading = false;
	var startDate = '';
	var endDate = '';
	//点击计划事件
	function showPlans(el){
		var typeName = $(el).find("#typeName").text();
		var userId = $(el).find("#userId").val();
		var plansId = $(el).find("#plansId").val();
		if($(el).find(".plansShow").is(":hidden")){
			$(el).find(".plansShow").html("");
			$(el).find(".plansShow").show();
		}else{
			$(el).find(".plansShow").html("");
			$(el).find(".plansShow").hide();
		}
		var showType = $("#show").data('values');
		if(showType == "101205"){
			$.ajax({
				url:"${CPATH}/plans/getSellerProductPlans",
				type:"post",
				dataType:"json",
				data:{"sellerProductId":userId,'typeName':typeName,'plansId':plansId },
				success:function(data)
				{	
					var html = '<div class="weui-cell">'
								+'<div class="weui-cell__bd weui-flex t-c">'
								+'<div class="weui-flex__item">'
								+'<p style = "font-size:12px;">业务员</p>'
								+'</div>'
								+'<div class="weui-flex__item">'
								+'<p style = "font-size:12px;">计划数量</p>'
								+'</div>'
								+'<div class="weui-flex__item">'
								+'<p style = "font-size:12px;">完成数量</p>'
								+'</div>'
								+'<div class="weui-flex__item">'
								+'<p style = "font-size:12px;">完成比率</p>'
								+'</div>'
								+'</div>'
								+'</div>';
					for (var i in data) {
					 	html += '<div class="weui-cell">'
								+'<div class="weui-cell__bd weui-flex t-c">'
								+'<div class="weui-flex__item">'
								+'<p id="userName" style = "font-size:12px;">'+data[i].realname+'</p>'
								+'</div>'
								+'<div class="weui-flex__item">'
								+'<p id="planNum" style = "font-size:12px;">'+data[i].plan_num+'</p>'
								+'</div>'
								+'<div class="weui-flex__item">'
								+'<p id="completeNum" style = "font-size:12px;">'+data[i].complete_num+'</p>'
								+'</div>'
								+'<div class="weui-flex__item">'
								+'<p id="completeRatio" style = "color:red;font-size:12px;font-weight:bold;">'+data[i].complete_ratio+'%</p>'
								+'</div>'
								+'</div>'
								+'</div>';
					}
						$(el).find(".plansShow").append(html);
				}
			});
		}else{
				$.ajax({
				url:"${CPATH}/plans/getPlans",
				type:"post",
				dataType:"json",
				data:{"userId":userId,'typeName':typeName,'plansId':plansId},
				success:function(data)
				{	
					var html = "";
					for (var i in data) {
					 	html += '<div class="weui-cell">'
								+'<div class="weui-cell__bd t-c" id="productName" style = "font-size:13px;">'+data[i].custom_name
								+'</div>'
								+'</div>'
								+'<div class="weui-cell">'
								+'<div class="weui-cell__bd weui-flex t-c">'
								+'<div class="weui-flex__item">'
								+'<p style = "font-size:12px;">计划数量</p>'
								+'<p id="planNum" style = "font-size:12px;">'+data[i].plan_num+'</p>'
								+'</div>'
								+'<div class="weui-flex__item">'
								+'<p style = "font-size:12px;">完成数量</p>'
								+'<p id="completeNum" style = "font-size:12px;">'+data[i].complete_num+'</p>'
								+'</div>'
								+'<div class="weui-flex__item">'
								+'<p style = "font-size:12px;">完成比率</p>'
								+'<p id="completeRatio" style = "color:red;font-size:12px;font-weight:bold;">'+data[i].complete_ratio+'%</p>'
								+'</div>'
								+'</div>'
								+'</div>';
					}
						$(el).find(".plansShow").append(html);
				}
			});
		}
	}
	function loadPlanData() {

		$loading.show();
		$noMore.hide();
	
		var params = {
			"page": page,
			"size": size,
			"keyword": $("#searchInput").val(),
			"userId": $("#userId").data('values'),
//			"type": $("#type").data('values'),
			"type": "101202",
			"show":$("#show").data('values'),
			"datetimePicker" : $("#datetime-picker").val(),
			"sellerProductId": $("#sellerProductId").data('values'),
			"startDate": startDate,
			"endDate": endDate
		}
		var showType = $("#show").data('values');
		if(showType == "101205"){
			
			showSellerProduct(params);
			$(".userId").hide();
			$(".sellerProductId").show();
		}else{
			showBizUser(params);
			$(".userId").show();
			$(".sellerProductId").hide();
		}
		
	}

	function showBizUser(params){	
		Utils.ajax('${CPATH}/plans/planList', params,
			function(data) {
				$loading.hide();
				if(data.planList.length == 0) {
					if($('.planList').length == 0) $noMore.show();
					$("#planAmount").text(planAmount.toFixed(2));
					$("#completeAmount").text(completeAmount.toFixed(2));
					loading = true;
					return;
				}
				$.each(data.planList, function(index, el) {
					$planList.append(newHtml);
					 var old = index-1;
					var $newPlan = $planList.find(".plan-list-box:last");
					var plans = data.planList[old];
					
						$newPlan.find("#userName").text(el.realname);
						$newPlan.find("#userId").val(el.user_id);
						$newPlan.find("#typeName").text(el.typeName);
						$newPlan.find("#typeName").text(el.typeName);
						$newPlan.find("#plansId").val(el.plans_id);
						$newPlan.find("#startDate").text('开始时间：'+el.start_date);
						$newPlan.find("#endDate").text('结束时间：'+el.end_date);
						$newPlan.find("#planNumAmount").text(el.AmountPlan);
						$newPlan.find("#completeNumAmount").text(el.AmountComplete);
						$newPlan.find("#amountCompleteRatio").text((el.AmountComplete/el.AmountPlan*100).toFixed(2)+"%");
						$(".plansShow").hide();  
						planAmount += el.AmountPlan;
						completeAmount += el.AmountComplete;
				});
				$("#planAmount").text(planAmount.toFixed(2));
				$("#completeAmount").text(completeAmount.toFixed(2));
				page++;
				loading = false;
			}
		);
	}
	
	
	function showSellerProduct(params){
		Utils.ajax('${CPATH}/plans/planList', params,
			function(data) {
				$loading.hide();
				$("#planAmount").html("");
				$("#completeAmount").html("");
				
				if(data.planList.length == 0) {
					if($('.planList').length == 0) $noMore.show();
					loading = true;
					$("#planAmount").text(planAmount.toFixed(2));
					$("#completeAmount").text(completeAmount.toFixed(2));
					return;
				}
				$.each(data.planList, function(index, el) {
					$planList.append(newHtml);
					 var old = index-1;
					var $newPlan = $planList.find(".plan-list-box:last");
					var plans = data.planList[old];
					$newPlan.find("#userName").text(el.custom_name);
					$newPlan.find("#userId").val(el.seller_product_id);
					$newPlan.find("#plansId").val(el.plans_id);
					$newPlan.find("#typeName").text(el.typeName);
					$newPlan.find("#startDate").text('开始时间：'+el.start_date);
					$newPlan.find("#endDate").text('结束时间：'+el.end_date);
					$newPlan.find("#planNumAmount").text(el.AmountPlan);
					$newPlan.find("#completeNumAmount").text(el.AmountComplete);
					$newPlan.find("#amountCompleteRatio").text((el.AmountComplete/el.AmountPlan*100).toFixed(2)+"%");
					$(".plansShow").hide();
					planAmount += el.AmountPlan;
					completeAmount += el.AmountComplete;
				});
				$("#planAmount").text(planAmount.toFixed(2));
				$("#completeAmount").text(completeAmount.toFixed(2));
				page++;
				loading = false;
			}
		);
	}
	//滑动方法
	$("main").infinite().on("infinite", function() {
		if(loading) {
			return;
		}
		loading = true;
		loadPlanData();
	});

	function combo() {
		$planList.empty();
		loading = false;
		page = 1;
		loadPlanData();
	}

</#macro>
<@layout>
<div class="weui-content">
	<div class="report-top weui-flex">
        <div class="weui-flex__item">
            <img src="${CTPATH}/images/money.png" alt="">
            <div class="border-right-1px">
                <p class="ft16">计划金额</p>
                <p class="ft14" id="planAmount"></p>
            </div>
        </div>
        <div class="weui-flex__item">
            <img src="${CTPATH}/images/money.png" alt="">
            <div>
                <p class="ft16">完成金额</p>
                <p class="ft14" id="completeAmount"></p>
            </div>
        </div>
        
    </div>
	<header>
		<div class="weui-search-bar" id="SearchBar">
			<form class="weui-search-bar__form">
				<div class="weui-search-bar__box">
					<i class="weui-icon-search"></i>
					<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
					<a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
				</div>
				<label class="weui-search-bar__label" id="searchText">
					<i class="weui-icon-search"></i>
					<span>请输入业务员名称</span>
				</label>
			</form>
			<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
		</div>
	</header>
	<article id="my-order" class="ft14">
		<header class="has-th-list weui-flex">
			<div class="head-search select-area weui-flex__item">
				<div class="weui-flex">
					<!-- <div class="weui-flex__item">
						<input type="text" id="type" class="weui-input" readonly placeholder="计划类型">
						<i class="icon-sort-desc"></i>
					</div> -->
					<div class="weui-flex__item userId">
						<input type="text" id="userId" placeholder="业务员" class="weui-input" readonly>
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-flex__item sellerProductId">
						<input type="text" id="sellerProductId" placeholder="产品" class="weui-input" readonly>
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-flex__item">
						<input type="text" id="show" placeholder="显示方式" class="weui-input" readonly>
						<i class="icon-sort-desc"></i>
					</div>
					<div class="weui-flex__item">
						<input type="text" class="weui-input fr" id='datetime-picker'  readonly="" placeholder="计划月份"/>
						<i class="icon-sort-desc"></i>
					</div> 
				</div>
			</div>
			<!-- <div id="combin-filter-btn">
				<i class="icon-th-list"></i>
			</div> -->
		</header>
		<main>
			<div class="ft12 planList">
				<div class="plan-list-box">
					<div class="weui-cells mg-0" onclick="showPlans(this)">
						<div class="weui-cell">
							<div class="weui-cell__bd">
								<div class="customer_name" style = "font-weight:545;">
									<span id="userName" style = "font-size:16px;"></span>
									<input type = "hidden" id = "userId" value = ""/>
									<input type = "hidden" id = "plansId" value = ""/>
									<span class="fr orange ft12" id="typeName" ></span>
								</div>
								<div class="weui-flex gray ft12 startEnd">
									<div class="weui-flex__item">
										<span id="startDate"></span>
									</div>
									<span style="width:1rem" class="t-c">-</span>
									<div class="weui-flex__item t-r">
										<span id="endDate"></span>
									</div>
								</div>
								<div class="weui-flex gray ft12 startEnd">
									<div class="weui-flex__item" >计划金额：
										<span id="planNumAmount" class="fr red ft12" style = "float:none;"></span>
									</div>
									<div class="weui-flex__item t-r">完成金额：
										<span id="completeNumAmount" class="fr red ft12" style = "float:none;"></span>
									</div>
									<div class="weui-flex__item t-r">完成比例：
										<span id="amountCompleteRatio" class="fr red ft12" style = "float:none;"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="plansShow">
							
						</div>
					</div>
				</div>
			</div>
			<div class="weui-loadmore" id="loading" style="display: none;">
				<i class="weui-loading"></i>
				<span class="weui-loadmore__tips">正在加载</span>
			</div>
			<div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
				<span class="weui-loadmore__tips">暂无数据</span>
			</div>
		</main>
	</article>
</div>
<article id="combin-filter" >
	<div class="filter-item">
		<h4>日期区间</h4>
		<div class="relative weui-flex" id="getDate">
			<input type="text" id="start-date" class="weui-input weui-flex__item" readonly>
			<div style="width:1rem" class="t-c">—</div>
			<input type="text" id="end-date" class="weui-input weui-flex__item" readonly>
		</div>
	</div>
	<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
            <button class="white-button-no-border  cancel-search-btn weui-flex__item border-top-1px">取消</button>
            <button class="red-button confirm-search-btn weui-flex__item" id="confirm">确定</button>
	</footer>
</article>
<!-- <@shiro.hasPermission name="/admin/plans/add">
<a class="hidden-menu" href="${CPATH}/plans">
	<img src="${CTPATH}/images/order_add.png" alt="">
</a>
</@shiro.hasPermission> -->
<div class="layer"></div>
<#include "_inc/_goback_bottom.html" />
</@layout>