<#include "_inc/_layout.html"/>
<#macro title>新增计划</#macro>
<#macro css_import>
</#macro>
<#macro css>
	input {
		width: 65%!important;
		text-align: right;
	}
	.icon-sort-desc {
		margin-left: .5rem;
	}
</#macro>
<#macro script_import>
</#macro>
<#macro script>

$(function() {
	$(".startDate").append('开始时间'+' <span class="require">*</span>');
	$("#datetime-picker").datetimePicker({
				times: function () {
		          return [];
		        }
			});
	$("#datetime-picker").click(function(){
				var date2 = new Date();
				if($("#typeId").val()==101202){
					$(".picker-items-col:nth-child(5)").hide();
					$(".picker-items-col:nth-child(4)").hide();
				}else if($("#typeId").val()==101203){
					$(".picker-items-col:nth-child(5)").hide();
					$(".picker-items-col:nth-child(4)").hide();
					$(".picker-items-col:nth-child(3)").hide();
					$(".picker-items-col:nth-child(2)").hide();
				}
			});
	$("#datetime-picker").change(function(){
		var date3 = new Date($("#datetime-picker").val().replace(/-/g,"/"));	
		if($("#typeId").val()==101202){
			$("#datetime-picker").val(date3.Format("yyyy-MM"));
			date3.setDate(1);
			$("#start-date").val(date3.Format("yyyy-MM-dd"));
			 var currentMonth=date3.getMonth();
			 var nextMonth=++currentMonth;
			 var nextMonthFirstDay=new Date(date3.getFullYear(),nextMonth,1);
			 var oneDay=1000*60*60*24;
			 var date4 = new Date(nextMonthFirstDay-oneDay);
			 $("#end-date").val(date4.Format("yyyy-MM-dd"));
		}
		if($("#typeId").val()==101203){
			$("#datetime-picker").val(date3.Format("yyyy"));
			date3.setDate(1);
			date3.setMonth(0);
			$("#start-date").val(date3.Format("yyyy-MM-dd"));
			date3.setDate(31);
			date3.setMonth(11);
			$("#end-date").val(date3.Format("yyyy-MM-dd"));
		}
	});
	$("#start-date").calendar({
		maxDate: function() {
			return $('#end-date').val()
		},
		onChange:function(p, values, displayValues){
			var date = new Date(values);
			if($("#typeId").val()==101201){
				date.setDate(date.getDate()+7);
				$("#end-date").val(date.Format("yyyy-MM-dd"));
			}
		}
	});
	
	$("#start-date").val($.today());
	$("#end-date").calendar({
		minDate: function() {
			var date = new Date($('#start-date').val().replace(/-/g,"/"));
			date.setDate(date.getDate() -1);
			return date.Format("yyyy-MM-dd")
		}
	});
	$("#end-date").val($.today());
	$(document).on("click", "#plans", function() {
		if($("#typeId").val() == '') {
			$.toptip("请选择计划类型!", 'warning');
			return;
		}
	
		if($("#productId").val() == '') {
			$.toptip("请选择产品!", 'warning');
			return;
		}
	
		if($("#productNum").val() == '') {
			$.toptip("请填写数量!", 'warning');
			return;
		}
		$.confirm("您确定要新增计划吗？","新增计划", function() {
			doSubmit();
		});
	})
	
	/*var date2 = new Date();
	date2.setDate((new Date()).getDate()+7);
	$("#end-date").val(date2.Format("yyyy-MM-dd"));*/
	$productList.empty();
	addProduct();
 })

var productInfoMap = ${productItems!};

var $productList = $(".productList");
var newHtml = $(".productList").html();

$("#type").select({
	title: "选择计划类型",
	items: [{
		title: "周计划", value: "101201"
	},{
		title: "月计划", value: "101202"
	},{
		title: "年计划", value: "101203"
	}],
	onChange: function(obj){
		var $product = $(this)[0].$input.parents(".productInfo");
		$("#typeId").val(this.data['values']);
		var date2 = new Date();
		if($("#typeId").val()==101201){
			$("#start-date").val($.today());
			date2.setDate((new Date()).getDate()+7);
			$("#end-date").val(date2.Format("yyyy-MM-dd"));
			$("#start-date").show();
			$("#datetime-picker").hide();
			$(".endDate").show();
		}
		else{
			$(".startDate").html("");
			$("#start-date").hide();
			$("#datetime-picker").show();
			$(".endDate").hide();
			if($("#typeId").val()==101202){
				$(".startDate").append('计划月份'+' <span class="require">*</span>');
				$("#datetime-picker").val(date2.Format("yyyy-MM"));
				date2.setDate(1);
				$("#start-date").val(date2.Format("yyyy-MM-dd"));
				 var currentMonth=date2.getMonth();
				 var nextMonth=++currentMonth;
				 var nextMonthFirstDay=new Date(date2.getFullYear(),nextMonth,1);
				 var oneDay=1000*60*60*24;
				 var date4 = new Date(nextMonthFirstDay-oneDay);
				 $("#end-date").val(date4.Format("yyyy-MM-dd"));
			}else{
				$(".startDate").append('计划年份'+' <span class="require">*</span>');
				$("#datetime-picker").val(date2.Format("yyyy"));
				date2.setDate(1);
				date2.setMonth(0);
				$("#start-date").val(date2.Format("yyyy-MM-dd"));
				date2.setDate(31);
				date2.setMonth(11);
				$("#end-date").val(date2.Format("yyyy-MM-dd"));
			}
		}
	}
});

function addProduct(){
	$productList.append(newHtml);
	var $productInfo = $productList.find(".productInfo:last");
	$productInfo.find("#productName").select({
			title: "选择产品",
			items: productInfoMap,
			onChange: function(obj){
				var $product = $(this)[0].$input.parents(".productInfo");
				$product.find("#productId").val(this.data['values']);
			}
	});
}

function doSubmit(){
	$("#form").ajaxSubmit({
			beforeSubmit: function() {
				return true
			},
			type : "post",
			dataType : "json",
			success : function(data) {
				layer.closeAll();
				$.modal({
					title: data.message,
					buttons: [
						{ text: "查看计划", className: "default", onClick: function(){
							location.href = "${CPATH}/plans/myPlans";
						}
						},
						{ text: "继续新增", className: "primary", onClick: function(){
							location.href = '${CPATH}/plans';
						}
						},
					]
				});
			},
			error : function() {
				layer.closeAll();
				alert("信息提交错误");
			}
		});
}
</#macro>
<@layout>
<div class="weui-content">
	<form action="${CPATH}/plans/makePlan" method="post" id="form">
		<div class="weui-panel weui-panel_access plane-select-box">
			<div class="weui-cells mg-0 select-area">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<div class="order-customer-info-title">计划类型
							<span class="require">*</span>
						</div>
						<i class="icon-sort-desc fr"></i>
						<input type="text" class="weui-input fr" id="type" name="type" readonly="" placeholder="请选择计划类型">
						<input type="hidden" class="weui-input fr" id="typeId" name="typeId" value="">
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<div class="order-customer-info-title startDate">
						</div>
						<i class="icon-sort-desc fr"></i>
						<input type="text" class="weui-input fr" id="start-date" name="start-date" readonly="">
						<input type="text" class="weui-input fr" id='datetime-picker' style="display:none;" readonly=""/>
					</div>
				</div>
				<div class="weui-cell endDate">
					<div class="weui-cell__bd">
						<div class="order-customer-info-title">结束时间
							<span class="require">*</span>
						</div>
						<i class="icon-sort-desc fr"></i>
						<input type="text" class="weui-input fr" id="end-date" name="end-date" readonly="">
					</div>
				</div>
			</div>
		</div>
		<div class="weui-cells__title">计划明细</div>
		<div class="weui-panel weui-panel_access productList">
			<div class="weui-cells mg-0 productInfo">
				<div class="weui-cell weui-cell_access select-area ">
					<div class="weui-cell__bd">
						产品名称
					</div>
					<input type="text" name="productName" id="productName" class="weui-input" value="">
					<input type="hidden" name="productId" id="productId" class="weui-input" value="">
					<div class="weui-cell__ft"></div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						数量
					</div>
					<input type="tel" class="weui-input" name="productNum" id="productNum" value="">
					<div class="weui-cell__ft">件</div>
				</div>
			</div>
		</div>
		<section class="weui-panel weui-panel_access">
			<div class="weui-cell weui-cell_access t-c ft14">
				<p class="width-100 blue" onclick="addProduct()">
					<i class="icon-plus-circle"></i>新增产品</p>
			</div>
		</section>
		<#include "_inc/_goback.html" />
		<footer class="weui-footer weui-footer_fixed-bottom weui-flex">
			<button id="plans" type="button" class="red-button width-100">提交</button>
		</footer>
	</form>
</div>
</@layout>