<#include "_inc/_layout.html"/>
<#macro css> </#macro>

<#macro script>
$(function() {
    $(document).on("touchstart", ".gift-open", function () {
        if ($(this).text() === "展开") {
	        $(this).text("收起");
	        $(this).parent().next().show();
        } else {
	        $(this).text("展开");
	        $(this).parent().next().hide();
        }
    });
});
</#macro>

<@layout>
<div class="weui-content">
	<div id="product">
		<header>
			<div class="weui-search-bar" id="searchBar">
				<form class="weui-search-bar__form">
					<div class="weui-search-bar__box">
						<i class="weui-icon-search"></i> <input type="search"
							class="weui-search-bar__input" id="searchInput" placeholder="搜索"
							required=""> <a href="javascript:"
							class="weui-icon-clear" id="searchClear"></a>
					</div>
					<label class="weui-search-bar__label" id="searchText"> <i
						class="weui-icon-search"></i> <span>请输入商品名称</span>
					</label>
				</form>
				<a href="javascript:" class="weui-search-bar__cancel-btn"
					id="searchCancel">取消</a>
			</div>
		</header>
		<aside>
			<div id="sidebar" class="menu-left">
				<ul>
					<li class="active">热销</li>
					<li>中国劲酒</li>
					<li>毛铺</li>
					<li>白云边</li>
					<li>洋河</li>
					<li>活动商品</li>
				</ul>
			</div>
		</aside>
		<article class="menu-right">
			<section class="product_detail weui-panel weui-panel_access">
				<div>
					<div class="product_name">35度中国劲酒_125ml_1*24</div>
					<div class="product_unit">
						规格： <span>125ml</span> <span>250ml</span> <a> <i
							class="icon-cart-plus enter-shopping-cart"></i>
						</a>
					</div>
					<div class="product_bUnit">
						<span class="price">￥725</span> <span class="unit">&nbsp;/&nbsp;件</span>
						<div class="spinner">
							<div class="operate fl">
								<i class="icon-minus2"></i>
							</div>
							<input type="number" min="0" value="0" class="fl">
							<div class="operate fl">
								<i class="icon-plus2"></i>
							</div>
						</div>
					</div>
					<div class="product_mUnit">
						<span class="price">￥30</span> <span class="unit">&nbsp;/&nbsp;瓶</span>
						<div class="spinner">
							<div class="operate fl">
								<i class="icon-minus2"></i>
							</div>
							<input type="number" min="0" value="0" class="fl">
							<div class="operate fl">
								<i class="icon-plus2"></i>
							</div>
						</div>
					</div>
					<div>库存：1120.2件</div>
				</div>
				<hr>
				<div>
					<p>
						赠品：参茸劲酒_250ml_1*6 <a class="fr gift-open">展开</a>
					</p>
					<p class="t-r width-50 none">X 1 件</p>
				</div>
			</section>
			<section class="product_detail weui-panel weui-panel_access">
				<div class="product_name">35度中国劲酒_125ml_1*24</div>
				<div class="product_unit">
					规格： <span>125ml</span> <span>250ml</span> <a> <i
						class="icon-cart-plus enter-shopping-cart"></i>
					</a>
				</div>
				<div class="product_bUnit">
					<span class="price">￥725</span> <span class="unit">&nbsp;/&nbsp;件</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl">
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
				</div>
				<div class="product_mUnit">
					<span class="price">￥30</span> <span class="unit">&nbsp;/&nbsp;瓶</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl">
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
				</div>
				<div>库存：1120.2件</div>
			</section>
			<section class="product_detail">
				<div class="product_name">35度中国劲酒_125ml_1*24</div>
				<div class="product_unit">
					规格： <span>125ml</span> <span>250ml</span> <a> <i
						class="icon-cart-plus enter-shopping-cart"></i>
					</a>
				</div>
				<div class="product_bUnit">
					<span class="price">￥725</span> <span class="unit">&nbsp;/&nbsp;件</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl">
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
				</div>
				<div class="product_mUnit">
					<span class="price">￥30</span> <span class="unit">&nbsp;/&nbsp;瓶</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl">
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
				</div>
				<div>库存：1120.2件</div>
			</section>
			<section class="product_detail">
				<div class="product_name">35度中国劲酒_125ml_1*24</div>
				<div class="product_unit">
					规格： <span>125ml</span> <span>250ml</span> <a> <i
						class="icon-cart-plus enter-shopping-cart"></i>
					</a>
				</div>
				<div class="product_bUnit">
					<span class="price">￥725</span> <span class="unit">&nbsp;/&nbsp;件</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl">
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
				</div>
				<div class="product_mUnit">
					<span class="price">￥30</span> <span class="unit">&nbsp;/&nbsp;瓶</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl">
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
				</div>
				<div>库存：1120.2件</div>
			</section>
		</article>
		<div class="hidden-menu">
			<ul>
				<li><a href="shoppingCart.html"> 购物车 <i
						class="icon-shopping-cart blue"></i>
				</a></li>
			</ul>
			<i class="icon-menu-open orange fr" id="button"></i>
		</div>
		<div class="layer"></div>
	</div>
</div>
<#include "_inc/_footer_nav.html" /> </@layout>
