<#include "_inc/_layout.html"/>
<#macro css> </#macro>

<#macro script>
$(function() {
    $(document).on("touchstart", ".gift-open", function () {
        if ($(this).text() === "展开") {
	        $(this).text("收起");
	        $(this).parent().next().show();
        } else {
	        $(this).text("展开");
	        $(this).parent().next().hide();
        }
    }).on("touchstart", "#sidebar li", function () {
 
        $(this).addClass("active").siblings().removeClass("active");
        var index = $(this).index();
     	$('.type').eq(index).show().siblings('.type').hide();

    }).on("input", "#searchInput", function () {
    	keyword = $(this).val();
		initProduct();
    }).on("touchstart", "#searchCancel", function () {
    	keyword = $(this).val();
		initProduct();
    }).on("touchstart", "#shoppingCart", function () {
    	save()
    }).on("touchend", ".operate:first-child", function () { //减少商品数量
      calTotal($(this));
    }).on("touchend", ".operate:last-child", function () { //增加商品数量
      calTotal($(this));
    });
    
    initProduct();
});

var keyword = '';
var newHtml = $(".common").eq(0).html();
var $menuRight = $(".menu-right");
function initProduct(){
	var typeId = '';
	Utils.ajax('${CPATH}/product/productList', {'keyword': keyword}, 
		function(data){
			$menuRight.empty();
			$.each(data, function(index, el) {
				if(typeId != el.typeId) {
					if(typeId == '') {
						$menuRight.append("<div class='type'> </div>")
					} else {
						$menuRight.append("<div class='type' style='display:none'> </div>")
					}
					typeId = el.typeId;
				}

				var $type = $menuRight.find(".type:last");
				$type.append("<section class='product_detail weui-panel weui-panel_access common'>" + newHtml + "</section>");
				var $newProductDetail = $type.find(".common:last");
				$newProductDetail.find("#productName").text(el.custom_name);
				$newProductDetail.find("#valueName").text(el.valueName);
				
				var bigPrice = el.price;
				var convert = el.convert_relate;
				var smallPrice = (bigPrice / convert).toFixed(2);

				$newProductDetail.find("#bigPriceSpan").text('￥' + bigPrice);
				$newProductDetail.find("#smallPriceSpan").text('￥' + smallPrice);
				$newProductDetail.find("#bigUnitSpan").text(' / '+ el.big_unit);
				$newProductDetail.find("#smallUnitSpan").text(' / ' + el.small_unit);
				$newProductDetail.find("#stock").text('库存：' + el.store_count + el.big_unit);

				$newProductDetail.find("#bigPrice").val(bigPrice);
				$newProductDetail.find("#smallPrice").val(smallPrice);
				$newProductDetail.find("#bigUnit").val(el.big_unit);
				$newProductDetail.find("#smallUnit").val(el.small_unit);
				$newProductDetail.find("#sellProductId").val(el.sell_product_id);
				$newProductDetail.find("#productId").val(el.product_id);
				$newProductDetail.find("#convert").val(el.convert_relate);

			});
			
		initProductComposition();
		}
	);
	
}

var compositionHtml = $(".composition").eq(0).html();
function initProductComposition(){
	Utils.ajax('${CPATH}/product/productCompositionList', {'keyword': keyword}, 
		function(data){
			if(data.length > 0) {
				$("#sidebar ul").append("<li id='composition'> 组合商品 <span class='goods-num'>8</span> </li>");
				$menuRight.append("<div class='type' style='display:none'> </div>");
			}

			$.each(data, function(index, el) {

				var $type = $menuRight.find(".type:last");
				$type.append("<section class='product_detail weui-panel weui-panel_access composition'>" + compositionHtml + "</section>");
				var $newProductDetail = $type.find(".composition:last");
				$newProductDetail.find("#compositionName").text(el.name);
				
				$newProductDetail.find("#compositionPriceSpan").text('￥' + el.price);

				$newProductDetail.find("#compositionPrice").val(el.price);
				$newProductDetail.find("#compositionId").val(el.id);

			});
		}
	);
}

function calTotal($this) {
  var $parents = $this.parents('.type');
  var $sellProductId = $parents.find('.sellProductId').data('id');
  var $total = $('#sidebar').find('li[data-id=' + $sellProductId + ']').find('span');
  var bigNumber = Number($parents.find('.product_bUnit input').val());
  var smallNumber = Number($parents.find('.product_mUnit input').val());
  var total = bigNumber + smallNumber;
  if (total > 0) {
    $total.show().text(total);
  } else {
    $total.hide().text(total);
  }
  
}

function save(){
	var productList = [];
	var $product = $(".common");
	$.each($product, function(index, el) {
		$el = $(el);
		var sellProductId = $el.find("#sellProductId").val();
		var bigNum = $el.find("#bigNum").val();
		var smallNum = $el.find("#smallNum").val();
		
		if(bigNum > 0 || smallNum > 0){
			productList.push({
				productName : $el.find("#productName").text(),
				valueName : $el.find("#valueName").text(),
				
				bigPriceSpan : $el.find("#bigPriceSpan").text(),
				smallPriceSpan : $el.find("#smallPriceSpan").text(),
				bigUnitSpan : $el.find("#bigUnitSpan").text(),
				smallUnitSpan : $el.find("#smallUnitSpan").text(),
				stock : $el.find("#stock").text(),
				
				bigPrice : $el.find("#bigPrice").val(),
				smallPrice : $el.find("#smallPrice").val(),
				bigUnit : $el.find("#bigUnit").val(),
				smallUnit : $el.find("#smallUnit").val(),
				sellProductId : sellProductId,
				productId : $el.find("#productId").val(),
				convert : $el.find("#convert").val(),

				bigNum : bigNum,
				smallNum : smallNum,
				isGift : 0
			});
		}
	});
	
	setItemBykey("productList",productList);
	
	//组合商品
	var productCompositionList = [];
	var $composition = $(".composition");
	
	$.each($composition, function(index, el) {
		$el = $(el);
		var compositionId = $el.find("#compositionId").val();
		var compositionNum = $el.find("#compositionNum").val();
		
		if(compositionNum > 0){
			productCompositionList.push({
				compositionName : $el.find("#compositionName").text(),
				
				compositionPriceSpan : $el.find("#compositionPriceSpan").text(),
				stock : $el.find("#stock").text(),
				
				compositionPrice : $el.find("#compositionPrice").val(),
				compositionId : compositionId,

				compositionNum : compositionNum,
			});
		}
	});
	
	setItemBykey("productCompositionList", productCompositionList);
	
	if(productList.length == 0 && productCompositionList.length == 0) {
		toastr.warning("你还没有选择商品!"); 
		return;
	}
	window.location.href = '${CPATH}/product/shoppingCart';
}


</#macro>

<@layout>
<div class="weui-content">
	<div id="product">
		<header>
			<div class="weui-search-bar" id="searchBar">
				<form class="weui-search-bar__form">
					<div class="weui-search-bar__box">
						<i class="weui-icon-search"></i> <input type="search"
							class="weui-search-bar__input" id="searchInput" placeholder="搜索"
							required=""> <a href="javascript:"
							class="weui-icon-clear" id="searchClear"></a>
					</div>
					<label class="weui-search-bar__label" id="searchText"> <i
						class="weui-icon-search"></i> <span>请输入商品名称</span>
					</label>
				</form>
				<a href="javascript:" class="weui-search-bar__cancel-btn"
					id="searchCancel">取消</a>
			</div>
		</header>
		<aside>
			<div id="sidebar" class="menu-left">
				<ul>
					<#list productTypeList as productType >
						<li id='${(productType.id)!}'>
							${(productType.name)!}
							<span class="goods-num">8</span>
						</li>
					</#list>
				</ul>
			</div>
		</aside>
		
		<article class="menu-right">
			<div class="">
				<section class="product_detail weui-panel weui-panel_access common">
					<div>
						<input type="hidden" id="sellProductId" value="">
						<input type="hidden" id="productId" value="">
						<input type="hidden" id="convert" value="">
						<input type="hidden" id="bigPrice" value="">
						<input type="hidden" id="smallPrice" value="">
						<input type="hidden" id="bigUnit" value="">
						<input type="hidden" id="smallUnit" value="">
						<div class="product-top">
							<img src="./static/images/pro3.jpg" alt="" style="width:2rem;">
							<div class="product_name" id="productName">
								35度中国劲酒
							</div>
							<div class="product_unit">
								规格： <span id="valueName">125ml</span> 
							</div>
							<span class="weui-cell__ft"></span>
						</div>
						<div class="product_bUnit">
							<span class="price" id="bigPriceSpan">￥210</span> <span class="unit" id="bigUnitSpan">&nbsp;/&nbsp;件</span>
							<div class="spinner">
								<div class="operate fl">
									<i class="icon-minus2"></i>
								</div>
								<input type="number" min="0" value="0" class="fl" id="bigNum">
								<div class="operate fl">
									<i class="icon-plus2"></i>
								</div>
							</div>
						</div>
						<div class="product_mUnit">
							<span class="price" id="smallPriceSpan">￥12</span> <span class="unit" id="smallUnitSpan">&nbsp;/&nbsp;瓶</span>
							<div class="spinner">
								<div class="operate fl">
									<i class="icon-minus2"></i>
								</div>
								<input type="number" min="0" value="0" class="fl" id="smallNum">
								<div class="operate fl">
									<i class="icon-plus2"></i>
								</div>
							</div>
						</div>
						<div id="stock">库存：1000件</div>
					</div>
				</section>
			</div>
			<div class="">
				<section class="product_detail weui-panel weui-panel_access composition">
					<div>
						<input type="hidden" id="compositionId" value="">
						<input type="hidden" id="compositionPrice" value="">
						<div class="product">
							<img src="./static/images/pro3.jpg" alt="" style="width:2rem;">
							<div class="product_name" id="compositionName">
								35度中国劲酒
							</div>
							<span class="weui-cell__ft"></span>
						</div>
						<div class="product_bUnit">
							<span class="price" id="compositionPriceSpan">￥210</span>
							<div class="spinner">
								<div class="operate fl">
									<i class="icon-minus2"></i>
								</div>
								<input type="number" min="0" value="0" class="fl" id="compositionNum">
								<div class="operate fl">
									<i class="icon-plus2"></i>
								</div>
							</div>
						</div>
						<div id="stock">库存：0件</div>
					</div>
				</section>
			</div>
		</article>
		<a class="hidden-menu" id="shoppingCart" >
				<img src="${CTPATH}/images/shopping_cart.png" alt="">
		</a>
		<div class="layer"></div>
	</div>
</div>
<#include "_inc/_footer_nav.html" /> </@layout>
