<#include "_inc/_layout.html"/>
<#macro title>退货列表</#macro>
<#macro css> 
	#my-order {
		top: 44px;
		position: absolute;
		bottom: 0;
	}
</#macro>
<#macro script>

  $(function () {
  		<#if history??>
  			var statusName = getItemBykey("statusName");
  			var customerTypeName = getItemBykey("customerTypeName");
  			var dayName = getItemBykey("dayName");
  			var keywordName = getItemBykey("keyword");
  			$("#status").val(statusName);
  			$("#customerTypeId").val(customerTypeName);
  			$("#date").val(dayName);
  			$("#searchInput").val(keywordName);
  		<#else>
  			clearStorage();
			setItemBykey("startDate", $.today());
			setItemBykey("endDate", $.today() + ' 23:59:59');  			
		</#if>

		$(document).on("submit", ".weui-search-bar__form", function() {
			setItemBykey("keyword", $("#searchInput").val());
			combo();
			return false;
		}).on("click", "#searchCancel", function() {
			setItemBykey("keyword", $("#searchInput").val());
			combo();
		}).on("change", "#status", function() {
			setItemBykey("status", $("#status").data('values'));
			setItemBykey("statusName", $("#status").val());
			combo();
		}).on("change", "#customerTypeId", function() {
			setItemBykey("customerTypeId", $("#customerTypeId").data('values'));
			setItemBykey("customerTypeName", $("#customerTypeId").val());
			combo();
		}).on("change", "#date", function() {
			getDateOrder();
		}).off("click", "#combin-filter .confirm-search-btn")
		.on("click", "#combin-filter .confirm-search-btn", function() {
			startDate = $('#start-date').val();
			endDate = $('#end-date').val() + ' 23:59:59';
			setItemBykey("startDate", startDate);
			setItemBykey("endDate", endDate);		
			combo();
		});
		
        $("#start-date").calendar({
			maxDate: function() {
				return $('#end-date').val()
			}
		});
		$("#start-date").val($.today());
		$("#end-date").calendar({
			minDate: function() {
				var date = new Date($('#start-date').val().replace(/-/g,"/"));
				date.setDate(date.getDate() - 1);
				return date.Format("yyyy-MM-dd")
			}
 		});
        $("#end-date").val($.today());

	   combo();

		$("#status").select({
	        title: "订单状态",
	        items: [{
		       title: "全部", value: ""
		    },{
		       title: "取消", value: "1001"
		    },{
		       title: "待审核", value: "0"
		    },{
		       title: "已审核", value: "1000"
		    },{
		       title: "部分入库", value: "2000"
		    },{
		       title: "全部入库", value: "3000"
		    }]
		});
	
		$("#customerTypeId").select({
		  title: "选择客户类型",
		  items: ${customerTypes!}
		});
		$('#date').select({
			title: '选择时间',
			items: [{
				title: '今天', value: '0'
				},{title: "最近3天", value: "1"
				},{title: "最近7天", value: "2"
				},{title: "最近30天", value: "3"
			}]
		})
	});
  
	var newHtml = $(".weui-panel").eq(0).html();
	var $main = $("#main");
	var $loading = $("#loading");
	var $noMore = $("#noMore");
	var loading = false;
	
	var keyword = '';
	var startDate = $.today();
	var endDate = $.today() + ' 23:59:59';
	var page = 1;
	var size = 10;

	function initMyOrder(){
		$loading.show();
		$noMore.hide();

		var params = getParam();
		Utils.ajax('${CPATH}/refund/list', params, 
			function(data){
				$loading.hide();

				if(data.refundList.length == 0) {
					if($('.weui-panel').length == 0) $noMore.show();
					loading = true;
					return;
				}

				$.each(data.refundList, function(index, el) {
	
					$main.append("<div class='weui-panel weui-panel_access'>" + newHtml + "</section>");
					var $newOrder = $main.find(".weui-panel:last");
					if(el.payment_type == 1) {
						$newOrder.find("#receiveType").remove();
					}
					
					$newOrder.find("#orderSn").text(el.instock_sn);
					$newOrder.find("#status").text(getStatus(el.status));
					$newOrder.find("#status").on('click', function(){ 
 						 window.location.href = "${CPATH}/refund/operateHistory?id="+el.id
					}); 
					$newOrder.find("#customerName").text(el.customer_name);
					$newOrder.find("#contact").text(el.ccontact + '/' + el.cmobile);
					
					$newOrder.find("#customerType").text(el.customerTypeName);
					$newOrder.find("#refund").on('click', function(){ 
 						 window.location.href = "${CPATH}/refund/refundDetail?id="+el.id
					}); 

					$newOrder.find("#amount").text(el.total_reject_amount);
					$newOrder.find("#date").text('时间：' + el.create_date);
	
					if(el.input_user_id == data.user.id && (el.status == 0 || (el.status == 1000 && el.is_print == 0))) {
						$newOrder.find("#cancel").on('click', function() {
							$.confirm({
								title: "订单撤销",
								text: '是否撤销订单？',
								onOK: function () {
									Utils.openLoadingWin('撤销中...');
									$.get('${CPATH}/refund/cancel?orderId=' + el.id,
										function(result) {
											if (result.errorCode > 0) {
												$.toptip(result.message, 'error');
											} else {
												$.toptip(result.message, 'success');
												combo();
											}
											Utils.closeLoadingWin();
										}
									);
								}
							});
						});
					} else {
						$newOrder.find("#cancel").remove();
					}
	
					if(el.status == 0) {
						$newOrder.find("#pass").on('click', function() {
							confirm(el.id, 1)
						});
						$newOrder.find("#refuse").on('click', function() {
							confirm(el.id, 0)
						});
					} else {
						$newOrder.find("#pass").remove();
						$newOrder.find("#refuse").remove();
					}
	
				});
				page++;
				loading = false;
			}
		);
	}
	
	function getParam () {
		<#if !history??>
		var params = {
			"page": page,
			"size": size,
			"keyword": $("#searchInput").val(),
			"status": $("#status").data('values'),
			"customerTypeId": $("#customerTypeId").data('values'),
			"startDate": startDate,
			"endDate" : endDate
		}
		<#else>
		var keywordSession = getItemBykey("keyword");
		var statusSession = getItemBykey("status");
		var customerTypeIdSession = getItemBykey("customerTypeId");
		var startDateSession = getItemBykey("startDate");
		var endDateSession = getItemBykey("endDate");
		var params = {
			"page": page,
			"size": size,
			"keyword": keywordSession,
			"status": statusSession,
			"customerTypeId": customerTypeIdSession,
			"startDate": startDateSession,
			"endDate" : endDateSession
		}		
		</#if>		
		return params;
	}
	
	function getDateOrder(){
		var dateType = $("#date").data('values');
		var date = new Date();
		if(dateType == 0){
			startDate = $.today();
		}else if(dateType == 1){
			date.setDate(date.getDate() - 3);
			startDate = date.Format("yyyy-MM-dd");
		}else if(dateType == 2){
			date.setDate(date.getDate() - 7);
			startDate = date.Format("yyyy-MM-dd");
		}else if(dateType == 3){
			date.setDate(date.getDate() - 30);
			startDate = date.Format("yyyy-MM-dd");
		}

		endDate = $.today() + ' 23:59:59';
		setItemBykey("dayName", $("#date").val());
		setItemBykey("startDate", startDate);
		setItemBykey("endDate", endDate);
		combo();
	}

	function getStatus(value) {
		if (value == 0) {
			return '待审核';
		} else if (value == 1000) {
			return '已审核'
		} else if (value == 1001) {
			return '已取消'
		} else if (value == 1002) {
			return '审核拒绝'
		} else if (value == 2000) {
			return '部分入库'
		} else {
			return '全部入库'
		}
	}
	
	
	//滑动方法
	$("main").infinite().on("infinite", function() {
		if(loading) {
			return;
		}
		loading = true;
		initMyOrder();
	});
	
	function combo() {
		$main.empty();
		loading = true;
		page = 1;
		initMyOrder();
	}

	function confirm(id, pass) {
		var message = pass == 1 ? "通过" : "拒绝"
		layer.open({
			type: 1,
			title: ['退货单审核',
			'border-bottom: 1px solid #eee;height:2rem;line-height:2rem;margin-top:2.5rem'
			],
			content: '<img src="${CTPATH}/images/image_orderpopups.png">' +
			'<p class="t-c">是否确认' + message + '该订单？</p>' ,
			anim: 'scale',
			className: 'audit',
			btn: ['确认','取消'],
			yes: function() {
				doSubmit(id, pass);
			},
			no:function() {
			
			}
		});
	}
	
	function doSubmit(id, pass){
		layer.open({
			type: 2,
			content: '保存中...'
		});
		var params = {
			"id": id,
			'pass' : pass
		}
		Utils.ajax('${CPATH}/refund/complete', params,
			function(res){
				if (res.errorCode > 0) {
					$.toptip(res.message, 'error');
				} else {
					$.toptip(res.message, 'success');
					combo();
				}
				layer.closeAll();
			}
		)
	};
</#macro>

<@layout>
<div class="weui-content"> 
<header>
	<div class="weui-search-bar" id="SearchBar">
		<form class="weui-search-bar__form">
			<div class="weui-search-bar__box">
				<i class="weui-icon-search"></i>
				<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
				<a href="javascript:" class="weui-icon-clear" id="searchClear" ></a>
			</div>
			<label class="weui-search-bar__label" id="searchText">
				<i class="weui-icon-search"></i>
				<span>请输入客户名或退货单号</span>
			</label>
		</form>
		<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" >取消</a>
	</div>
</header>
<article id="my-order" class="ft14">
	<header class="has-th-list weui-flex">
		<div class="head-search select-area weui-flex__item">
			<div class="weui-flex">
				<div class="weui-flex__item">
					<input type="text" id="status" class="weui-input" readonly placeholder="订单状态">
					<i class="icon-sort-desc"></i>
				</div>
				<div class="weui-flex__item">
					<input type="text" id="customerTypeId" placeholder="客户类型" class="weui-input" readonly>
					<i class="icon-sort-desc"></i>
				</div>
				<div class="weui-flex__item">
					<input type="text" id="date" placeholder="今天" class="weui-input" readonly>
					<i class="icon-sort-desc"></i>
				</div>
			</div>
		</div>
		<div id="combin-filter-btn">
			<i class="icon-th-list"></i>
		</div>
	</header>
	<main>
		<div id="main">
			<div class="weui-panel weui-panel_access" style="display: none">
				<a id="salesOrderId">
					<div class="ft14">
						<span class="tag" id="receiveType">账期</span>
						<span id="orderSn"></span>
						<span class="fr blue" id="status"></span>
					</div>
					<div id="customerName" class="customer_name">
						 小张烤鱼
					</div>
					<div class="gray">
						<p>
							联系人：<span id="contact"></span>
							<span class="fr" id="customerType"></span>
						</p>
					</div>
					<div class="gray">
						<p>
							金额：￥<span id="amount"></span>
							<span class="fr" id="date"></span>
						</p>
					</div>
				</a>
				<div class="hr"></div>
				<div id="cancel" class="button white-button fl">撤销</div>
				<div id="refund" class="button red-button fr">详情</div>
				<@shiro.hasPermission name="/admin/salesRefund/check">
				<div id="pass" class="button yellow-button fr m-r-5">审核通过</div>
				<div id="refuse" class="button white-button fr m-r-5">审核拒绝</div>
				</@shiro.hasPermission>
			</div>
		</div>
		<div class="weui-loadmore" id="loading" style="display: none;">
		  <i class="weui-loading"></i>
		  <span class="weui-loadmore__tips">正在加载</span>
		</div>
		<div class="weui-loadmore weui-loadmore_line" id="noMore" style="display: none;">
		  <span class="weui-loadmore__tips">暂无数据</span>
		</div>
	</main>
	<#include "_inc/_goback_bottom.html" />
</article>
<article id="combin-filter" >
	<div class="filter-item">
		<h4>日期区间</h4>
		<div class="relative weui-flex" id="getDate">
			<input type="text" id="start-date" class="weui-input weui-flex__item" readonly>
			<div style="width:1rem" class="t-c">—</div>
			<input type="text" id="end-date" class="weui-input weui-flex__item" readonly>
		</div>
	</div>
	<footer class="weui-footer weui-footer_fixed-bottom ft16 weui-flex">
		<button class="white-button-no-border cancel-search-btn weui-flex__item border-top-1px">取消</button>
		<button class="red-button confirm-search-btn weui-flex__item">确定</button>
	</footer>
</article>
<div class="layer"></div>
</div>
</@layout>
