<#include "_inc/_layout.html"/>
<#macro title>退货单详情</#macro>
<#macro css> 
	#bigNum,#smallNum {
		border: 1px solid #bbb;
	}

	#order .gift input::-webkit-input-placeholder {
		text-align: center;
	}
	
	.bo {
		border: 1px solid #bbb !important;
	}
	.weui-dialog__hd {
		padding: 1.3rem 1.6rem;
	}
</#macro>

<#macro script>
$(function() {
	$(document).off('click', '.operate:last-child')
	.on('click', '.operate:last-child', function() {
		var $this = $(this);
		var max = $this.parent().parent().find('.max').val();
		var $input = $this.prev();
		$input.val()==max?'':$input.val(Number($input.val()) + 1);
	}).on("click", "#confirm-input", function() {
		var max = parseInt($currentInput.parent().parent().find('.max').val());
		parseInt($currentInput.val())>max?$currentInput.val(max):'';
	})
})
	var $form = $('#form');

	function total() {
		var products = $(".goods-detail");
		var rowTotal = 0;
		var total = 0;
		$.each(products, function(index, el) {
			var $el = $(el);
			rowTotal = $el.find("#bigNum").val() * $el.find("#bigPrice").val() + $el.find("#smallNum").val() * $el.find("#smallPrice").val();
			$el.find("#rowTotal").val(rowTotal);
			total += rowTotal;
		});
		$("#total").val(total);
		$("#totalNum").text("共" + products.length + "款,合计:" + total + "元")
	
	}
	
	function checkProductNumber() {
		var store = $(".goods-detail");
		var check = false;
		var alltotal = 0;
		var status = true;
		if (store.length <= 0) {		
			check = false;
			return check;
		}
		store.each(function(index,obj){
			var productCount = parseInt($(obj).find("#productCount").val());
			var bigNum = $(obj).find("#bNum").val();
			var convert = $(obj).find("#convert").val();
			var smallNum = $(obj).find("#sNum").val();
			var total = parseInt(bigNum)*parseInt(convert) + parseInt(smallNum);
			if (total > productCount) {
				status = false;
				return false;
			}
			if (isNaN(total)) {
				total = 0;
			}
			alltotal = alltotal + total;
		});
		if (alltotal > 0 && status) {
			check = true;
		}
		return check;	
	}		
	
	function doSubmit(){
		var receiveType = "1";
		var remark = $("#remark").val();
		if ($("#receiveType").is(":checked")) {
			receiveType = "0";
		}
    	if (!checkProductNumber()) {
			toastr.error('退货数量为0!','操作失败');
			return;			
		}
		layer.open({
			type: 2,
			content: '保存中...'
		});
        $form.ajaxSubmit({
			type: "post",
			dataType: "json",
			data:{
				"receiveType":receiveType,
				"remark": remark
			},
			success: function(result){
				layer.closeAll();
	            if (result.errorCode > 0) {
	                toastr.error(result.message, '操作失败');
	            } else {
					$.modal({
						title: result.message,
						buttons: [
							{ text: "查看退货单", className: "default", onClick: function(){ 
								location.href = "${CPATH}/refund/myRefund";
								} 
							},
							{ text: "继续退货", className: "primary", onClick: function(){
								location.href = '${CPATH}/refund/index';
								} 
							},
						]
					});
	            }
			}
        });
	}
	
	function getback() {
		window.location.href = '${CPATH}/refund/index?history=' + 1;	
	}	
</#macro>

<@layout>
<div class="weui-content">
    <div id="order">
		<main>
			<section class="weui-panel weui-panel_access order-customer-info">
				<div class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						<div class="order-customer-info-title">
							客户名称
							<span class="require">*</span>
						</div>
						<input type="text" class="weui-input" value="${(outstock.customer_name)!}" readonly>
					</div>
				</div>
				<div class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						<div class="order-customer-info-title">
							联系人
							<span class="require">*</span>
						</div>
						<input type="text" class="weui-input" id="contact" name="contact" value="${(outstock.contact)!}" readonly>
					</div>
				</div>
				<div class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						<div class="order-customer-info-title">
							 电话号码
							<span class="require">*</span>
						</div>
						<input type="text" class="weui-input" id="mobile" name="mobile" value="${(outstock.mobile)!}" readonly>
					</div>
				</div>
				<div class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						<div class="order-customer-info-title">
							详细地址
							<span class="require">*</span>
						</div>
						<input type="hidden" id="address" name="address" value="">
						<input type="text" class="weui-input" id="deliveryAddress" name="deliveryAddress" value="${(outstock.address)!}" readonly>
					</div>
				</div>
				<div class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						<div class="order-customer-info-title">
							客户类型
							<span class="require">*</span>
						</div>
						<input type="text" class="weui-input" id="customerTypeName" name="customerTypeName" value="${(outstock.customerTypeName)!}" readonly>
					</div>
				</div>
			</section>
			<section class="weui-panel weui-panel_access delivery-info">
				<div class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						发货时间
						<input type="text" class="weui-input" data-toggle='date' id="deliveryDate" name="deliveryDate" value="${(outstock.delivery_date)!}" readonly>
					</div>
				</div>
			</section>
			<section class="weui-panel weui-panel_access ft14">
				<div class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						<div>
							<input type="checkbox" id="receiveType" name="receiveType" value="0" class="weui-agree__checkbox"> 是否账期
						</div>
					</div>
				</div>
			</section>
			<section class="weui-panel weui-panel_access ft14 remark">
				<div class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						<textarea id="remark" name="remark" placeholder="备注说明（70字以内）"></textarea>
					</div>
				</div>
			</section>
			<form action="${CPATH}/refund/refundGood" method="post" id="form">
				<input type="hidden" name="outStockId" id="outStockId" value="${(outstock.id)!}">
				<div class="weui-cells__title black">商品明细</div>
				<div id="productList">
					<#list salesOutstockDetail as list>
					<div class="weui-panel weui-panel_access goods-detail">
						<input type="hidden" name="sellProductId" id="sellProductId" value="${(list.sell_product_id)!}">
						<input type="hidden" id="productCount" value="${(list.product_count-list.refundCount)!}">
						<input type="hidden" id="convert" value="${(list.convert_relate)!}">
						<nobr>
							<p class="product_name" id="productName">
								${(list.custom_name)!} 
							</p>
						</nobr>
						<div class="product_unit">
							规格：<span id="valueName">${(list.valueName)!}</span>
						</div>
						<div class="product_bUnit">
							<input type="hidden" class="max" value="${((list.product_count-list.refundCount)/list.convert_relate)?int}">
							<span class="price" id="bigPriceSpan">￥${(list.product_price)!}</span>
							<span class="unit" id="bigUnitSpan">&nbsp;/&nbsp;${(list.big_unit)!}</span>
							<#if list.is_composite == 0>
							<div class="spinner">
							<div class="operate fl">
								<i class="icon-minus2"></i>
							</div>
									<input name="bNum" type="number" class="fl" value="${((list.product_count-list.refundCount)/list.convert_relate)?int}" id="bNum">
							<div class="operate fl">
								<i class="icon-plus2"></i>
							</div>				        		
							</div>
							<#else>
							<div class="spinner">
								<input name="bNum" type="number" class="fl bo" value="${((list.product_count-list.refundCount)/list.convert_relate)?int}" id="bNum" readonly>
							</div>	
							</#if> 
						</div>
						<div class="product_mUnit">
							<input type="hidden" class="max" value="${((list.product_count-list.refundCount) % list.convert_relate)!0}">
							<span class="price" id="smallPriceSpan">￥${((list.product_price/list.convert_relate)!)?string("0.##")}</span>
							<span class="unit" id="smallUnitSpan">&nbsp;/&nbsp;${(list.small_unit)!}</span>
							<#if list.is_composite == 0>
							<div class="spinner">
							<div class="operate fl">
								<i class="icon-minus2"></i>
							</div>
									<input name="sNum" type="number" class="fl" value="${((list.product_count-list.refundCount) % list.convert_relate)!0}" id="sNum">
							<div class="operate fl">
								<i class="icon-plus2"></i>
							</div>
							</div>
							<#else>
							<div class="spinner">
									<input name="sNum" type="number" class="fl bo" value="${((list.product_count-list.refundCount) % list.convert_relate)!0}" id="sNum" readonly>
							</div>							
							</#if>
						</div>
						<hr />
						<div class="gift" id="gift">
							<div>
								<input type="checkbox" name="add-gift" id="addGift" class="weui-agree__checkbox" <#if list.is_gift == 1>checked</#if> disabled>
								<span>赠品</span>
							</div>
							<#if list.is_gift == 1>
							<input type="hidden" name="isGift" value="1">
							<#else>
							<input type="hidden" name="isGift" value="0">
							</#if>
						</div>
					</div>
					</#list>
				</div>
				<div class="weui-cells__title black">已退货明细</div>
				<div id="productList">
					<#list salesRefundDetail as list>
					<div class="weui-panel weui-panel_access goods-detail">
						<nobr>
							<p class="product_name" id="productName">
								${(list.custom_name)!} 
							</p>
						</nobr>
						<div class="product_unit">
							规格：<span id="valueName">${(list.valueName)!}</span>
						</div>
						<div class="product_bUnit">
							<span class="price" id="bigPriceSpan">￥${(list.product_price)!}</span>
							<span class="unit" id="bigUnitSpan">&nbsp;/&nbsp;${(list.big_unit)!}</span>
							<div class="spinner">
								<input type="number" min="0" class="fl" id="bigNum" value="${(list.reject_product_count/list.convert_relate)?int}" disable>
							</div>
						</div>
						<div class="product_mUnit">
							<span class="price" id="smallPriceSpan">￥${((list.product_price/list.convert_relate)!)?string("0.##")}</span>
							<span class="unit" id="smallUnitSpan">&nbsp;/&nbsp;${(list.small_unit)!}</span>
							<div class="spinner">
								<input type="number" min="0" class="fl" id="smallNum" value="${(list.reject_product_count % list.convert_relate)!0}" disable>
							</div>
						</div>
						<hr />
						<div class="gift" id="gift">
							<div>
								<input type="checkbox" name="add-gift" id="addGift" class="weui-agree__checkbox" <#if list.is_gift == 1>checked</#if> disabled>
								<span>赠品</span>
							</div>
						</div>
					</div>
					</#list>
				</div>
			</form>			
		</main>
		<div class="hidden-menu">
			<ul>
				<li><a href="${CPATH}/">首页<img src="${CTPATH}/images/home.png" alt=""></a></li>
				<li><a onClick="getback()">返回<img src="${CTPATH}/images/goback.png" alt=""></a></li>
			</ul>
			<img src="${CTPATH}/images/add.png" alt="" id="button" class="fr">
		</div>
		<div class="layer"></div>
		<footer class="weui-footer weui-footer_fixed-bottom weui-flex">
			<button onclick="doSubmit()" class="place-order red-button width-100">提交订单</button>
		</footer>
    </div>
</div>
</@layout>