<#include "_inc/_layout.html"/>
<#macro title>业务员销售报表</#macro>
<#macro css>
	.weui-panel__hd {
		font-size: .8rem;
	}

	a,a:hover,a:focus {
	   color: #337ab7;
	   text-decoration:none;
	}

    .report {
        font-size: 0.7rem;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    bottom: 50px;
	    overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .report .weui-panel__hd.pro:after {
        content:none;
    }
     
    p { 
    	margin:0
		}
		
		.weui-tabbar {
			position: fixed;
		}

		.overview-title span {
			bottom: 0;
		}

		.weui-flex__item {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}     
</#macro>

<#macro css_import>
<link rel="stylesheet" href="${CTPATH}/css/normalize.css">
<link rel="stylesheet" href="${CPATH}/static/bootstrap/css/bootstrap.min.css">
</#macro>
<#macro script_import>
<script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
</#macro>  
<#macro script>
  $(function () {
  
    $(".end-date").calendar();
    $(".end-date").val($.today());
    $(".begin-date").calendar();
    $(".begin-date").val($.today());
    $("#dayTag").val("today");
    $("#orderTag").val("productCount");
    $("#typeTag").val("order");
    $("#receiveType").val("all");
    var startDate = $.today();
	var endDate = $.today() + ' 23:59:59';  
	var params = {
		"dayTag":  'today',
		"startDate": startDate,
		"endDate" : endDate,
		"typeTag": $("#typeTag").val(),
		"receiveType": $("#receiveType").val()
	}  
 	orderAmount(params);
 	refundCount(params);
 	orderStatus(params);
 	customerCount(params);
 	productCount(params);
  })
  
    function orderAmount(params) {
		Utils.ajax('${CPATH}/report/orderAmountMenu', params, 
			function(data){
				$("#productCount").html(data.productCount+"件/");
				$("#totalCount").html(data.orderCount+"笔");
				$("#totalAmount").html(data.totalAmount+"元");
			}
		);    	
    }
    
    function refundCount(params) {
		Utils.ajax('${CPATH}/report/refundCount', params, 
			function(data){
				$("#refundAmount").html(data.totalAmount);
				$("#refundCount").html(data.totalCount);
			}
		);    	
    }    
    
    function orderStatus(params) {
        var orderStatus = document.getElementById('orderStatus');
        var orderStatusChart = echarts.init(orderStatus);
        orderStatusChart.showLoading();
		Utils.ajax('${CPATH}/report/orderTypeCount', params, 
			function(data){
				orderStatusChart.hideLoading();
	            var crSeriesData = [];
	            var legendData = [];
	            var length = data.length;
	            if (length == 0) {
	                crSeriesData.push({
	                    name: '暂无数据',
	                    value: 0
	                });	            	
	            }	
	            for(var i = 0; i < length; i++){
	            	legendData.push(data[i].status)
	                crSeriesData.push({
	                    name: data[i].status,
	                    value: data[i].count
	                });
	            }
				option = {
				    tooltip: {
				        trigger: 'item',
				        formatter: "{a} <br/>{b}: {c}笔 ({d}%)"
				    },
				    legend: {
				        orient: 'horizontal',
				        data:legendData,
				    },
				    series: [
				        {
				            name:'数据来源',
				            type:'pie',
				            radius: ['0', '60%'],
				            avoidLabelOverlap: false,
				            selectedMode: 'single',
				            label: {
				                normal: {
				                    position: 'inner'
				                }
				            },
				            labelLine: {
				                normal: {
				                    show: false
				                }
				            },
				            data:crSeriesData
				        }
				    ]
				};
	            orderStatusChart.resize();
	            orderStatusChart.setOption(option,true);
			}
		);    	
    }
    
    var unit = '件';
    function customerCount(params) {
    	$.showLoading();
		Utils.ajax('${CPATH}/report/customerCountMenu', params, 
			function(data){
				$.hideLoading();
	            var length = data.length;
	            var $tbody = $("#customerCount tbody");
	            $tbody.empty();
	            $tbody.append("<tr><th width='60%' style='text-align:center'>客户</th><th width='20%' style='padding: 8px 0;text-align:center'>数量(件)</th><th width='20%' style='padding: 8px 0;text-align:center'>金额(元)</th></tr>");
	            for(var i = 0; i < length; i++){
	            	var fun = "getProduct('" + data[i].customerId + "'" + "," + "'" + data[i].customer_name + "')";
	                $tbody.append("<tr onclick=" + fun +"><td><a href=\"javascript:void(0);\">" + data[i].customer_name + "</a></td><td class='t-r'>" + (data[i].productCount).toFixed(2) + "</td><td class='t-r'>" + formatNumber(data[i].totalAmount) + "</td></tr>");
	            }			
			}
		);     
    }
    
    function productCount(params) {
    	$.showLoading();
		Utils.ajax('${CPATH}/report/productCountMenu', params, 
			function(data){
				$.hideLoading();
	            var length = data.length;
	            var $tbody = $("#productCanve tbody");
	            $tbody.empty();
	            $tbody.append("<tr><th width='60%' style='text-align:center'>产品</th><th width='20%' style='padding: 8px 0;text-align:center'>数量(件)</th><th width='20%' style='padding: 8px 0;text-align:center'>金额(元)</th></tr>");
	            for(var i = 0; i < length; i++){
	                $tbody.append("<tr><td>" + data[i].custom_name + "</td><td class='t-r'>" + (data[i].productCount).toFixed(2) + "</td><td class='t-r'>" + formatNumber(data[i].totalAmount) + "</td></tr>");
	            }				
			}
		);    	
    }
    
    function getProduct(customerId, name) {
    	$(".productName").html(name + "商品销售统计");
		var params = {
			"dayTag":  $("#dayTag").val(),
			"startDate": $("#startDay").val(),
			"endDate" : $("#endDay").val(),
			"customerId": customerId,
			"typeTag": $("#typeTag").val(),
			"receiveType": $("#receiveType").val()
			
		}
    	productCount(params);
    }
    
    function urlSelect(params, type){
    	if (type == 'day') {
		 	orderAmount(params);
		 	refundCount(params);
		 	orderStatus(params);
		 	customerCount(params);
		 	productCount(params);
		} else {
		 	customerCount(params);
		 	productCount(params);
		}
    }
    
    function getUnit(orderTag) {
	    if (orderTag == 'productCount') {
	   		unit = '件';
	    } else if (orderTag == 'totalAmount') {
	   		unit = '元';
	    } else {
	   		unit = '笔';
	    }
    }    
    
    function startDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).val(),
			"endDate": $(obj).parent().find('#endDay').val() + ' 23:59:59',
			"typeTag": $("#typeTag").val(),
			"receiveType": $("#receiveType").val()
		}
		$("#dayTag").val("");
		urlSelect(params,type); 
    }
    
    function endDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).parent().find('#startDay').val(),
			"endDate": $(obj).val() + ' 23:59:59',
			"typeTag": $("#typeTag").val(),
			"receiveType": $("#receiveType").val()
		}
		$("#dayTag").val("");
		urlSelect(params,type); 
    }    
    
 	function dayTagSelect(obj,type) {
      $.actions({
        actions: [{
          text: "今日",
          onClick: function () {
			var params = {
				"dayTag": 'today',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}
			urlSelect(params,type); 
            $(obj).find(".dayTagText").text('今日')
            $("#dayTag").val("today");
          }
        }, {
          text: "昨日",
          onClick: function () {
			var params = {
				"dayTag": 'yesterday',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}
          	urlSelect(params,type);
            $(obj).find(".dayTagText").text('昨日')
            $("#dayTag").val("yesterday");
          }
        }, {
          text: "本周",
          onClick: function () {
			var params = {
				"dayTag": 'week',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}
			urlSelect(params,type);   
          	$(obj).find(".dayTagText").text('本周')
          	$("#dayTag").val("week");
          }
        }, {
          text: "上周",
          onClick: function () {
			var params = {
				"dayTag": 'lastweek',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}
          urlSelect(params,type);
          $(obj).find(".dayTagText").text('上周')
          $("#dayTag").val("lastweek");
          }
        }, {
          text: "本月",
          onClick: function () {
			var params = {
				"dayTag": 'month',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}     
			urlSelect(params,type);    
         	$(obj).find(".dayTagText").text('本月')
         	$("#dayTag").val("month");
          }
        }, {
          text: "上月",
          onClick: function () {
			var params = {
				"dayTag": 'lastmonth',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}         
			urlSelect(params,type);
          	$(obj).find(".dayTagText").text('上月')
          	$("#dayTag").val("lastmonth");
          }
        }]
      }); 	
 	}
 	
 	function orderTagSelect(obj,type) {
      $.actions({
        actions: [{
          text: "件数",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',
				"orderTag": 'productCount',
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}
			urlSelect(params,type); 
			getUnit("productCount");
            $(obj).find(".orderTagText").text('件数')
            $("#orderTag").val("productCount");
          }
        }, {
          text: "金额",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',		
				"orderTag": 'totalAmount',
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}
          	urlSelect(params,type);
          	getUnit("totalAmount");
            $(obj).find(".orderTagText").text('金额')
            $("#orderTag").val("totalAmount");
          }
        }, {
          text: "笔数",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',		
				"orderTag": 'orderCount',
				"typeTag": $("#typeTag").val(),
				"receiveType": $("#receiveType").val()
			}
			urlSelect(params,type);   
			getUnit("orderCount");
          	$(obj).find(".orderTagText").text('笔数')
          	$("#orderTag").val("orderCount");
          }
        }]
      }); 	
 	}
 	
 	function typeSelect(obj,type) {
      $.actions({
        actions: [{
          text: "已下单",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',
				"orderTag": $("#orderTag").val(),
				"typeTag": 'order',
				"receiveType": $("#receiveType").val()
			}
			urlSelect(params,type); 
            $(obj).find(".typeText").text('已下单')
            $("#typeTag").val("order");
          }
        }, {
          text: "已打印",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',			
				"orderTag": $("#orderTag").val(),
				"print" : 'true',
				"typeTag": 'print',
				"receiveType": $("#receiveType").val()
			}
          	urlSelect(params,type);
            $(obj).find(".typeText").text('已打印')
            $("#typeTag").val("print");
          }
        }, {
          text: "已出库",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',		
				"orderTag": $("#orderTag").val(),
				"typeTag": 'outStock',
				"receiveType": $("#receiveType").val()
			}
			urlSelect(params,type);   
          	$(obj).find(".typeText").text('已出库')
          	$("#typeTag").val("outStock");
          }
        }]
      });
 	}  	
 	
	function cusDetail(param) {
		var tag = $("#dayTag").val();
		var startDate = $("#startDay").val();
		var endDate = $("#endDay").val();		
        window.location.href = "${CPATH}/report/customerDetail?dayTag=" + tag + "&startDate=" + startDate + "&endDate=" + endDate; 
	}
	
	function proDetail(param) {
		var tag = $("#dayTag").val();
		var startDate = $("#startDay").val();
		var endDate = $("#endDay").val();		
        window.location.href = "${CPATH}/report/productDetail?dayTag=" + tag + "&startDate=" + startDate + "&endDate=" + endDate; 
	}	
 	
 	function receiveSelect(obj,type) {
      $.actions({
        actions: [{
          text: "全部",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": 'all'
			}
			urlSelect(params,type); 
            $(obj).find(".receiveText").text('全部')
            $("#receiveType").val("all");
          }
        }, {
          text: "账期",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',			
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": '0'
			}
          	urlSelect(params,type);
            $(obj).find(".receiveText").text('账期')
            $("#receiveType").val("0");
          }
        }, {
          text: "现结",
          onClick: function () {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val() + ' 23:59:59',		
				"orderTag": $("#orderTag").val(),
				"typeTag": $("#typeTag").val(),
				"receiveType": '1'
			}
			urlSelect(params,type);   
          	$(obj).find(".receiveText").text('现结')
          	$("#receiveType").val("1");
          }
        }]
      });
 	}  	
</#macro>
<@layout>
	<div class="weui-content">
		<div class="report">
			<div class="weui-panel weui-panel_access report-header">
				<div class="weui-panel__hd">
					<span class="overview-hd-title">销售报表</span>
					<div>
						<span class="briefly" onclick="dayTagSelect(this,'day')">
							<p class="dayTagText">今日</p>
							<i class="icon-angle-down"></i>
						</span>
<!-- 						<span class="briefly" onclick="orderTagSelect(this,'order')"> -->
<!-- 							<p class="orderTagText">件数</p> -->
<!-- 							<i class="icon-angle-down"></i> -->
<!-- 						</span> -->
						<span class="briefly" onclick="typeSelect(this,'day')" style="width: 3.5rem;">
							<p class="typeText">已下单</p>
							<i class="icon-angle-down"></i>
						</span>
						<input type="hidden" id="dayTag">
						<input type="hidden" id="orderTag">
						<input type="hidden" id="typeTag">
						<input type="hidden" id="receiveType">
						<input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'day')" readonly="">
						<span class="overview-hd-segmenting fr" style="width: unset;">-</span>
						<input class="weui-input begin-date fr t-r" type="text" id="startDay" onchange="startDaySelect(this,'day')" readonly="" >
					</div>
				</div>
				<div class="weui-panel__bd">
					<div class="weui-flex overview-block">
						<div class="weui-flex__item border-right-1px">
							<div class="overview-title">
								<img src="${CTPATH}/images/order.png">
								<span>订单总数</span>
							</div>
							<div class="t-c">
								<strong id="productCount"></strong>
								<small id="totalCount"></small>
							</div>
						</div>
						<div class="weui-flex__item">
							<div class="overview-title">
								<img src="${CTPATH}/images/money.png">
								<span>订单金额</span>
							</div>
							<div class="t-c">
								<strong id="totalAmount"></strong>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="weui-panel weui-panel_access">
				<div class="weui-panel__hd pro t-c">
					<span class="briefly" onclick="receiveSelect(this,'day')" style= "position: absolute; left: 0.5rem;">
						<p class="receiveText">全部</p>
						<i class="icon-angle-down"></i>
					</span>
					<span class="ft16 t-c">客户订单统计</span>
					
					<!--<div>
					<span class="briefly" onclick="dayTagSelect(this,'customer')">
					<p class="dayTagText">今日</p>
						<i class="icon-angle-down"></i>
					</span> <input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'customer')" readonly="">
					<span class="overview-hd-segmenting fr"> - </span> <input
						class="weui-input begin-date fr" type="text" id="startDay" onchange="startDaySelect(this,'customer')" readonly="">
				</div>  -->
				</div>
				<div class="weui-cells weui-cells_form mg-0">
					<div class="weui-cell" style="padding: 0">
						<table class="table table-striped table-bordered mg-0" id="customerCount">
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
				<!-- 			<a class="report-detail" onClick="cusDetail()">详情></a>		 -->
			</div>
			<div class="weui-panel weui-panel_access">
				<div class="weui-panel__hd pro t-c productName">
					商品销售统计
					<!--<div>
					<span class="briefly" onclick="dayTagSelect(this,'product')">
					<p class="dayTagText">今日</p>
						<i class="icon-angle-down"></i>
					</span> <input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'product')" readonly="">
					<span class="overview-hd-segmenting fr"> - </span> <input
						class="weui-input begin-date fr" type="text" id="startDay" onchange="startDaySelect(this,'product')" readonly="">
				</div>-->
				</div>
				<div class="weui-cells weui-cells_form mg-0">
					<div class="weui-cell" style="padding: 0">
						<table class="table table-striped table-bordered mg-0" id="productCanve">
							<tbody>

							</tbody>
						</table>
					</div>
					<!-- 				<a class="report-detail" onClick="proDetail()">详情></a> -->
				</div>
			</div>
			<div class="weui-panel weui-panel_access margin-0">
				<div class="weui-panel__hd t-c">
					订单完成统计
				</div>
				<div class="weui-panel__bd report-area border-top-1px">
					<div class="ft14">
						<div id="orderStatus" style="height: 300px;"></div>
					</div>
				</div>
			</div>
			<div class="weui-panel weui-panel_access">
				<div class="weui-panel__hd t-c">
					退货统计
					<!--<div>
				<span class="briefly" onclick="dayTagSelect(this,'refund')">
				<p class="dayTagText">今日</p>
					<i class="icon-angle-down"></i>
				</span> <input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'refund')" readonly="">
				<span class="overview-hd-segmenting fr"> - </span> <input
					class="weui-input begin-date fr" type="text" id="startDay" onchange="startDaySelect(this,'refund')" readonly="">
			</div>-->
				</div>
				<div class="weui-panel__bd report-area border-top-1px">
					<div class="weui-media-box ft14">
						<div class="weui-flex t-c">
							<div class="weui-flex__item border-right-1px">
								<p class="ft16">退货金额（元）</p>
								<p class="ft24 orange" id="refundAmount"></p>
							</div>
							<div class="weui-flex__item">
								<p class="ft16">退货数量（笔）</p>
								<p class="ft24 orange" id="refundCount"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<#include "_inc/_footer_nav.html" />
	</div>
</@layout>