<#include "_inc/_layout.html"/>
<#macro title>产品报表</#macro>
<#macro css_import>
<link rel="stylesheet" href="${CTPATH}/css/normalize.css">
</#macro>
<#macro script_import>
<script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
</#macro>
<#macro css>
	.weui-media-box:before {
		content: none;
	}
</#macro>
<#macro script>
	$(function () {
		var params = {
			"dayTag":  '${(dayTag)!'today'}',
			"startDate": '${(startDate)!}',
			"endDate" : '${(endDate)!}'
		}
		
		productAmount(params);
		productAndRank(params);
		
		$(document).on("change", "#productType", function() {
			var params = {
				"productType":  $("#productType").data('values'),
				"dayTag": $("#time").data('values')
			}
			productAmount(params);	
			productAndRank(params);
		}).on("change", "#time", function() {
			var params = {
				"productType":  $("#productType").data('values'),
				"dayTag": $("#time").data('values')
			}
			productAmount(params);	
			productAndRank(params);
		});	
  	})
  	
	$("#time").select({
	  title: "今日",
	  items: [{
	       title: "今日", value: "today"
	       },{
	       title: "昨日", value: "yesterday"
	       },{
	       title: "本周", value: "week"
	       },{
	       title: "上周", value: "lastweek"
	       },{
	       title: "本月", value: "month"
	       },{
	       title: "上月", value: "lastmonth"
	       }]
	});
	  	
	$("#productType").select({
	  title: "选择客户类型",
	  items: ${productTypeList!}
	});
	
    function productAmount(params) {
		Utils.ajax('${CPATH}/report/productAmount', params, 
			function(data){
				$("#productCount").html((data.productCount).toFixed(2)+"件");
				$("#orderCount").html(data.orderCount+"笔");
				$("#totalAmount").html(data.totalAmount+"元");
			}
		);    	
    }	
	
    function productAndRank(params) {
        var productCount = document.getElementById('productCanve');
        var productCountChart = echarts.init(productCanve);
        productCountChart.showLoading();  
		Utils.ajax('${CPATH}/report/productCount', params, 
			function(data){
				productCountChart.hideLoading(); 
				$("#productRank").empty();
				var rank = $("#productRank");			
	            var crSeriesData = [];
	            var legendData = [];
	            var length = data.length;
	            var high = 65 * length + 100;
	            if (high < 300) {
	            	$("#productCanve").height(300);
	            } else {
	            	$("#productCanve").height(high);
	            }	            
	            if (length == 0) {
	            	$("#productCanve").height(300);
	                crSeriesData.push({
	                    name: '暂无数据',
	                    value: 0
	                });	            	
	            }
                
	            for(var i = 0; i < length; i++){
	            	j = i + 1;
	            	legendData.push(data[i].custom_name)
	            	rank.append("<div class='weui-media-box ft14'><div class='rank-detail'><span class='sequence'>"+j+"</span><img src='${CTPATH}/images/jp.jpg'><div class='rank-box'><div class='good-name'>"+data[i].custom_name+"</div><div class='good-total'><span class='orange'>￥"+data[i].totalAmount+"</span><span class='gray ft14'>/"+data[i].orderCount+"笔("+(data[i].productCount).toFixed(2)+")件</span></div></div></div></div>");
	                crSeriesData.push({
	                    name: data[i].custom_name,
	                    value: data[i].totalAmount
	                });
	            }
				option = {
				    tooltip: {
				        trigger: 'item',
				        formatter: "{a} <br/>{b}: {c}元 ({d}%)"
				    },
				    legend: {
				        orient: 'horizontal',
				        x: 'left',
				        data:legendData
				    },
				    series: [
				        {
				            name:'数据来源',
				            type:'pie',
				            radius: ['40%', '60%'],
				            avoidLabelOverlap: false,
				            label: {
				                normal: {
				                    show: false,
				                    position: 'center'
				                },
				                emphasis: {
				                    show: true,
				                    textStyle: {
				                        fontSize: '10',
				                        fontWeight: 'bold'
				                    }
				                }
				            },
				            labelLine: {
				                normal: {
				                    show: false
				                }
				            },
				            data:crSeriesData
				        }
				    ]
				};
	            productCountChart.resize();
	            productCountChart.setOption(option,true);
			}
		);    	
    }
        	
</#macro>

<@layout>
<div class="weui-content">
    <div class="head-search select-area weui-flex__item">
        <div class="weui-flex width-100">
            <div class="weui-flex__item">
                <input type="text" id="productType" placeholder="品牌" class="weui-input" readonly>
                <i class="icon-sort-desc"></i>
            </div>
            <div class="weui-flex__item">
                <input type="text" id="time" placeholder="今日" class="weui-input" value="${(dayText)!'今日'}" data-values="${(dayTag)!'today'}" readonly>
                <i class="icon-sort-desc"></i>
            </div>
        </div>
    </div>
    <div class="weui-panel weui-panel_access margin-0">
        <div class="weui-panel__bd report-area">
            <div class="weui-media-box ft14">
                <div class="weui-flex t-c">
                    <div class="weui-flex__item border-right-1px">
                        <p class="ft16">订单金额</p>
                        <p class="ft16 orange" id="totalAmount"></p>
                    </div>
                    <div class="weui-flex__item">
                        <p class="ft16">订单量
                            <span class="ft16 orange" id="orderCount"></span>
                        </p>
                        <p class="ft16">商品量
                            <span class="ft16 orange" id="productCount"></span>
                        </p>
                    </div>
                </div>
                <div id="productCanve" style="height: 300px;">
                
                </div>
            </div>
        </div>
    </div>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
            <span class="overview-hd-title">商品销售排行</span>
        </div>
        <div class="weui-panel__bd" id="productRank">
        </div>
    </div>
</div>
<#include "_inc/_goback.html" />
</@layout>