<#include "_inc/_layout.html"/>
<#macro title>业务员拜访轨迹</#macro>
<#macro css>
    html{height:100%}
    body{height:100%;margin:0px;padding:0px}
</#macro>

<#macro css_import>

</#macro>
<#macro script_import>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ec4VbDTTjjuEGtVGzSvPwwQtvnvWFeGY"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</#macro>
<#macro script>

    var map = new BMap.Map("container");
    var point = new BMap.Point(114.35, 30.53);//坐标点
    map.centerAndZoom(point, 15);
    map.enableScrollWheelZoom(true);

    function ComplexCustomOverlay(point,index){
        this._point = point;
        this._index=index;
    }

    ComplexCustomOverlay.prototype = new BMap.Overlay();

    ComplexCustomOverlay.prototype.initialize = function(map){
        this._map = map;
        var span=this._span=document.createElement("span");

        $(span).css({
            'position':'absolute',
            'zIndex':BMap.Overlay.getZIndex(this._point.lat),
            'display':'block',
            'width':'26px',
            'color':'#FFF',
            'text-align':'center',
            'font-size':'12px',
            'point-events':'none'
        });

        this._span.innerHTML=this._index;
        map.getPanes().labelPane.appendChild(span);
        return span;
    }

    ComplexCustomOverlay.prototype.draw = function(){
        var map = this._map;
        var pixel = map.pointToOverlayPixel(this._point);
        this._span.style.left = pixel.x - 14+'px';
        this._span.style.top  = pixel.y - 24+'px';
    }

    $(function() {
        var visitList = JSON.parse('${(visitList)!}')
        var pointArray = [];
        for(var i = 1; i <= visitList.length; i++)
        {
            var point = new BMap.Point(visitList[i-1].columns.lng + (i-1)*0.01, visitList[i-1].columns.lat + (i-1)*0.01);
            pointArray.push(point);
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
            var myCompOverlay = new ComplexCustomOverlay(point,i);
            map.addOverlay(myCompOverlay);
        }
        var polyline = new BMap.Polyline(pointArray,{strokeColor:"blue", strokeWeight:2, strokeOpacity:0.7});
        map.addOverlay(polyline);
    })

</#macro>
<@layout>
<div id="container" style="height: 100%">

</div>
</@layout>