<#include "_inc/_layout.html"/>
<#macro title>客户报表</#macro>
<#macro css_import>
<link rel="stylesheet" href="${CTPATH}/css/normalize.css">
</#macro>
<#macro script_import>
<script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
</#macro> 

<#macro script>
	$(function () {
		var params = {
			"dayTag":  'today'
		}	
		orderAmount(params);
		customerCountAndRank(params);
		
		$(document).on("change", "#customeType", function() {
			var params = {
				"customerType":  $("#customeType").data('values'),
				"dayTag": $("#time").data('values')
			}			
			orderAmount(params);
			customerCountAndRank(params);
		}).on("change", "#time", function() {
			var params = {
				"customerType":  $("#customeType").data('values'),
				"dayTag": $("#time").data('values')
			}		
			orderAmount(params);
			customerCountAndRank(params);
		});	
  	})
  	
	$("#time").select({
	  title: "今日",
	  items: [{
	       title: "今日", value: "today"
	       },{
	       title: "昨日", value: "yesterday"
	       },{
	       title: "本周", value: "week"
	       },{
	       title: "上周", value: "lastweek"
	       },{
	       title: "本月", value: "month"
	       },{
	       title: "上月", value: "lastmonth"
	       }]
	});
	  	
	$("#customeType").select({
	  title: "选择客户类型",
	  items: ${customerTypes!}
	});
	
    function orderAmount(params) {
		Utils.ajax('${CPATH}/report/orderAmount', params, 
			function(data){
				$("#productCount").html(data.productCount+"件");
				$("#totalCount").html(data.orderCount+"笔");
				$("#totalAmount").html(data.totalAmount+"元");
			}
		);    	
    }
    
    function customerCountAndRank(params) {
		Utils.ajax('${CPATH}/report/customerCount', params, 
			function(data){
				$("#customerRank").empty();
				var rank = $("#customerRank");
	            var crSeriesData = [];
	            var legendData = [];
	            var length = data.length;
	            $("#customerCount").height(45 * length + 100);
	            if (length == 0) {
	            	$("#customerCount").height(300);
	                crSeriesData.push({
	                    name: '暂无数据',
	                    value: 0
	                });	            	
	            }	
	            for(var i = 0; i < length; i++){
	            	legendData.push(data[i].customer_name)
	            	rank.append("<div class='ft16'><p>"+data[i].customer_name+"</p><p><span class='orange'>￥"+data[i].totalAmount+"</span><span class='gray ft14'>"+data[i].orderCount+"笔/"+data[i].productCount+"件</span></p></div>");
	                crSeriesData.push({
	                    name: data[i].customer_name,
	                    value: data[i].totalAmount
	                });
	            }
	            var customerCount = document.getElementById('customerCount');
	            var customerCountChart = echarts.init(customerCount);
				option = {
				    tooltip: {
				        trigger: 'item',
				        formatter: "{a} <br/>{b}: {c}元 ({d}%)"
				    },
				    legend: {
				        orient: 'horizontal',
				        top: '15',
				        data:legendData,
				    },
				    series: [
				        {
				            name:'数据来源',
				            type:'pie',
				            radius: ['40%', '60%'],
				            avoidLabelOverlap: false,
				            label: {
				                normal: {
				                    show: false,
				                    position: 'center'
				                },
				                emphasis: {
				                    show: true,
				                    textStyle: {
				                        fontSize: '15',
				                        fontWeight: 'bold'
				                    }
				                }
				            },
				            labelLine: {
				                normal: {
				                    show: false
				                }
				            },
				            data:crSeriesData
				        }
				    ]
				};
	            customerCountChart.resize();
	            customerCountChart.setOption(option,true);
			}
		);     
    }
        	
</#macro>

<@layout>
<div class="weui-content">
  <div class="head-search select-area weui-flex__item">
    <div class="weui-flex width-100">
      <div class="weui-flex__item">
        <input type="text" id="customeType" placeholder="客户类型" class="weui-input" readonly>
        <i class="icon-sort-desc"></i>
      </div>
      <div class="weui-flex__item">
        <input type="text" id="time" placeholder="今日" class="weui-input" readonly>
        <i class="icon-sort-desc"></i>
      </div>
    </div>
  </div>
  <div class="weui-panel weui-panel_access margin-0">
    <div class="weui-panel__bd report-area">
      <div class="weui-media-box ft14">
        <div class="weui-flex t-c">
          <div class="weui-flex__item border-right-1px">
            <p class="ft16">订单金额</p>
            <p class="ft16 orange" id="totalAmount"></p>
          </div>
          <div class="weui-flex__item">
            <p class="ft16">订单量
              <span class="ft16 orange" id="totalCount"></span>
            </p>
            <p class="ft16">商品量
              <span class="ft16 orange" id="productCount"></span>
            </p>
          </div>
        </div>
        <div id="customerCount" style="height: 300px;">

		</div>
      </div>
    </div>
  </div>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">
      <span class="overview-hd-title">客户订货排行</span>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box ft14" id="customerRank">
      </div>
    </div>
  </div>
</div>
<#include "_inc/_goback.html" />
</@layout>