<#include "_inc/_layout.html"/>
<#macro title>直营商报表</#macro>
<#macro css>
    .report {
        font-size: 0.7rem;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    bottom: 50px;
	    overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .report .weui-panel__hd:after {
        left: 0;
        height: 0;
    }
</#macro>

<#macro css_import>
<link rel="stylesheet" href="${CTPATH}/css/normalize.css">
</#macro>
<#macro script_import>
<script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
</#macro>  
<#macro script>
  $(function () {
  
    $(".end-date").calendar();
    $(".begin-date").calendar();
   	$(".begin-date").val("${(startDate)!}");
   	$(".end-date").val("${(endDate)!}");
    $("#dayTag").val("${(dayTag)!}");
    
    <#if dayTag??>
	    <#if dayTag == 'today'>
	    	$(".dayTagText").text('今日')
	    <#elseif dayTag == 'yesterday'>
	    	$(".dayTagText").text('昨日')
	    <#elseif dayTag == 'week'>
	    	$(".dayTagText").text('本周')
	    <#elseif dayTag == 'lastweek'>
	    	$(".dayTagText").text('上周')
	    <#elseif dayTag == 'month'>
	    	$(".dayTagText").text('本月')
	    <#else>
	    	$(".dayTagText").text('上月')
	    </#if>
    </#if>
	var params = {
		"dayTag":  '${(dayTag)!}',
		"startDate": '${(startDate)!}',
		"endDate" : '${(endDate)!}',
		"sellerId": '${(sellerId)!}'
	}
	var params2 = {
		"dayTag":  '${(dayTag)!}',
		"startDate": '${(startDate)!}',
		"endDate" : '${(endDate)!}',
		"sellerId": '${(sellerId)!}',
		"isGift": 'true'
	}	  
 	orderAmount(params);
 	userCount(params);
 	giftCount(params2);
  })
  
    function orderAmount(params) {
		Utils.ajax('${CPATH}/report/sellerOrderAmount', params, 
			function(data){
				$("#productCount").html(data.productCount+"件/");
				$("#totalCount").html(data.orderCount+"笔");
				$("#totalAmount").html(data.totalAmount+"元");
			}
		);    	
    }
    
    var salesObj = [];
    function userCount(params) {
    	var salesIndent = document.getElementById('userCount');
    	var salesIndentChart = echarts.init(salesIndent);
    	salesIndentChart.showLoading();
		Utils.ajax('${CPATH}/report/getUserRank', params, 
			function(data){
				salesIndentChart.hideLoading();
		        var yData = [];
		        var seriesData = [];
		        for (var i = 0; i < data.length; i++) {
		           yData.push(data[i].realname);
		           seriesData.push(data[i].productCount);
		           salesObj[data[i].realname] = data[i].id;
		       	}
		
				option = {
				    title: {
				        text: '业务员',
				    },				
				    tooltip: {
				        trigger: 'axis',
				        axisPointer: {
				            type: 'shadow'
				        }
				    },
				    legend: {
				        data: yData.reverse(),
				        x: 'left'
				    },
				    grid: {
				        bottom: '3%',
				        containLabel: true
				    },
				    xAxis: {
				    	show : false,
				        type: 'value',
				        boundaryGap: [0, 0.01]
				    },
				    yAxis: {
				        type: 'category',
				        data: yData
				    },
				    series: [
		            {
		                type:'bar',
		                barWidth: 15,
		                data:seriesData.reverse(),
		                label:{
		                    normal:{
		                        show:true,
		                        position:'right',
		                        formatter: '{c}件'
		                    }
		                }
		
		            }
				    ]
				};
		
		        salesIndentChart.resize();
		        salesIndentChart.setOption(option, true);
		        salesIndentChart.on('click',salesClick);
		    }    		
		);    	
    }
    
    function giftCount(params) {
    	var salesIndent = document.getElementById('giftCount');
    	var salesIndentChart = echarts.init(salesIndent);
    	salesIndentChart.showLoading();
		Utils.ajax('${CPATH}/report/getGiftCountByUser', params, 
			function(data){
				salesIndentChart.hideLoading();
		        var yData = [];
		        var seriesData = [];
		        for (var i = 0; i < data.length; i++) {
		           yData.push(data[i].realname);
		           seriesData.push(data[i].productCount);
		       	}
		
				option = {
				    title: {
				        text: '业务员',
				    },				
				    tooltip: {
				        trigger: 'axis',
				        axisPointer: {
				            type: 'shadow'
				        }
				    },
				    legend: {
				        data: yData,
				        x: 'left'
				    },
				    grid: {
				        bottom: '3%',
				        containLabel: true
				    },
				    xAxis: {
				        type: 'value',
				        boundaryGap: [0, 0.01]
				    },
				    yAxis: {
				        type: 'category',
				        data: yData
				    },
				    series: [
		            {
		                type:'bar',
		                barWidth: 15,
		                data:seriesData,
		                label:{
		                    normal:{
		                        show:true,
		                        position:'right',
		                        formatter: '{c}件'
		                    }
		                }
		
		            }
				    ]
				};
		
		        salesIndentChart.resize();
		        salesIndentChart.setOption(option, true);
		        salesIndentChart.on('click',salesClick);
		    }    		
		);    	
    }
    
	function salesClick(param) {
		var tag = $("#dayTag").val();
		var startDate = $("#startDay").val();
		var endDate = $("#endDay").val();		
	    if (typeof param.seriesIndex != 'undefined') {
	        window.location.href = "${(CPATH)}/report/userReportDetail?userId=" + salesObj[param.name] + "&userName=" + param.name + "&dayTag=" + tag + "&startDate=" + startDate + "&endDate=" + endDate; 
	    }
	}    
    
    function urlSelect(params, params2, type){
<!--     	if (type == 'order') { -->
<!-- 			orderAmount(params); -->
<!-- 		} else { -->
<!-- 			productCount(params); -->
<!-- 			giftCount(params2); -->
<!-- 		} -->
	 	orderAmount(params);
	 	userCount(params);
	 	giftCount(params2);
    }
    
    function startDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).val(),
			"endDate": $(obj).parent().find('#endDay').val() + ' 23:59:59',
			"sellerId": '${(sellerId)!}'
		}
		var params2 = {
    		"startDate": $(obj).val(),
			"endDate": $(obj).parent().find('#endDay').val() + ' 23:59:59',
			"sellerId": '${(sellerId)!}',
			"isGift": 'true'
		}		
		urlSelect(params,params2,type); 
    }
    
    function endDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).parent().find('#startDay').val(),
			"endDate": $(obj).val() + ' 23:59:59',
			"sellerId": '${(sellerId)!}'
		}
		var params2 = {
    		"startDate": $(obj).parent().find('#startDay').val(),
			"endDate": $(obj).val() + ' 23:59:59',
			"sellerId": '${(sellerId)!}',
			"isGift": 'true'
		}		
		urlSelect(params,params2,type); 
    }    
    
 	function dayTagSelect(obj,type) {
      $.actions({
        actions: [{
          text: "今日",
          onClick: function () {
			var params = {
				"dayTag": 'today',
				"sellerId": '${(sellerId)!}'
			}
			var params2 = {
				"dayTag": 'today',
				"sellerId": '${(sellerId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type); 
            $(obj).find(".dayTagText").text('今日')
            $("#dayTag").val("today");
          }
        }, {
          text: "昨日",
          onClick: function () {
			var params = {
				"dayTag": 'yesterday',
				"sellerId": '${(sellerId)!}'
			}
			var params2 = {
				"dayTag": 'yesterday',
				"sellerId": '${(sellerId)!}',
				"isGift": 'true'
			}			
          	urlSelect(params,params2,type); 
            $(obj).find(".dayTagText").text('昨日')
            $("#dayTag").val("yesterday");
          }
        }, {
          text: "本周",
          onClick: function () {
			var params = {
				"dayTag": 'week',
				"sellerId": '${(sellerId)!}'
			}
			var params2 = {
				"dayTag": 'week',
				"sellerId": '${(sellerId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type); 			
          	$(obj).find(".dayTagText").text('本周')
          	$("#dayTag").val("week");
          }
        }, {
          text: "上周",
          onClick: function () {
			var params = {
				"dayTag": 'lastweek',
				"sellerId": '${(sellerId)!}'
			}
			var params2 = {
				"dayTag": 'lastweek',
				"sellerId": '${(sellerId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type); 
          $(obj).find(".dayTagText").text('上周')
          $("#dayTag").val("lastweek");
          }
        }, {
          text: "本月",
          onClick: function () {
			var params = {
				"dayTag": 'month',
				"sellerId": '${(sellerId)!}'
			}     
			var params2 = {
				"dayTag": 'month',
				"sellerId": '${(sellerId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type);     
         	$(obj).find(".dayTagText").text('本月')
         	$("#dayTag").val("month");
          }
        }, {
          text: "上月",
          onClick: function () {
			var params = {
				"dayTag": 'lastmonth',
				"sellerId": '${(sellerId)!}'
			}         
			var params2 = {
				"dayTag": 'lastmonth',
				"sellerId": '${(sellerId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type); 			
          	$(obj).find(".dayTagText").text('上月')
          	$("#dayTag").val("lastmonth");
          }
        }]
      }); 	
 	}  
</#macro>
<@layout>
	<div class="weui-content">
	<div class="report">
		<div class="weui-panel weui-panel_access report-header">
			<div class="weui-panel__hd">
				<span class="overview-hd-title">${sellerName!}销售简报</span> <span class="briefly" onclick="dayTagSelect(this,'order')">
					<p class="dayTagText">今日</p>
					<i class="icon-angle-down"></i>
				</span>
				<input type="hidden" id="dayTag">
				<input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'order')" readonly="">
				<span class="overview-hd-segmenting fr"> - </span> 
				<input class="weui-input begin-date fr" type="text" id="startDay" onchange="startDaySelect(this,'order')" readonly="">
			</div>
			<div class="weui-panel__bd">
				<div class="weui-flex overview-block">
					<div class="weui-flex__item">
						<div class="overview-title">
							<img src="${CTPATH}/images/order.png"> <span>订单总数</span>
						</div>
						<div class="t-c">
							<strong id="productCount"></strong> <small id="totalCount"></small>
						</div>
					</div>
					<div class="weui-flex__item">
						<div class="overview-title">
							<img src="${CTPATH}/images/money.png"> <span>订单金额</span>
						</div>
						<div class="t-c">
							<strong id="totalAmount"></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__hd">
				<span class="overview-hd-title">业务员统计</span>
			</div>
			<div class="weui-panel__bd report-area">
				<div class="weui-media-box ft14">
					<div id="userCount" style="height: 300px;">
						
					</div>
				</div>
			</div>
		</div>
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__hd">
				<span class="overview-hd-title">赠品统计</span> 
			</div>
			<div class="weui-panel__bd report-area">
				<div class="weui-media-box ft14">
					<div id="giftCount" style="height: 300px;">
						
					</div>
				</div>
			</div>
		</div>		
		</div>
		<#include "_inc/_footer_nav.html" />
	</div>
</@layout>