<#include "_inc/_layout.html"/>
<#macro css> </#macro>
<#macro script_import>
	<script type='text/javascript' src="${CTPATH}/js/shopping-cart.js"></script>
</#macro>  
<#macro script>
$(function() {
  $(document).on("touchstart", ".icon-trash-o", function() {
    var _this = $(this);
    $.confirm("确认删除商品？", function() {
      var $el = _this.parents(".common");
      if($el.length > 0){
        $el.find("#bigNum").val(0);
        $el.find("#smallNum").val(0);
      	var product = getProduct($el);
      	cart.changeProduct(product);
      }else{
        var $co = _this.parents(".composition");
        if($co.length > 0){
          $co.find("#compositionNum").val(0);
          var composition = getComposition($co);
          cart.changeComposition(composition);
        }
      }
      _this.parents(".weui-panel").remove();
      total();
    }, function() {
    })
  }).on("touchstart", "#placeOrder", function () {
      save();
  }).on("touchstart", "#addGoods", function () {
	  historyUtils.back();
  }).on("touchend", ".operate:first-child", function () { //减少商品数量
      productChange($(this));
  }).on("touchend", ".operate:last-child", function () { //增加商品数量
      productChange($(this));
  }).on('touchend', '#confirm-input', function () {
      var val = parseFloat($currentInput.val());
      if(val < 0 || val == ""){
        $currentInput.val(0);
      }else{
        $currentInput.val(val);
      }
  
      var $productDetail = $currentInput.parent().parent();
      var convert = $productDetail.find("#convert").val();
      var id = $currentInput.attr('id');
 
      if(id == 'bigPrice'){
        var bPrice = parseFloat($productDetail.find("#bigPriceSpan").text().replace("￥", ""));
        var bigPrice = $currentInput.val();
		if(bigPrice < bPrice){
			$currentInput.val(bPrice);
			toastr.warning('价格不能小于标准价');
			return;
		}
		$productDetail.find("#smallPrice").val((bigPrice/convert).toFixed(2));
      } else if(id == 'smallPrice'){
        var sPrice = parseFloat($productDetail.find("#smallPriceSpan").text().replace("￥", ""));
        var smallPrice = $currentInput.val();
		if(smallPrice < sPrice){
			$currentInput.val(sPrice);
			toastr.warning('价格不能小于标准价');
			return;
		}
		$productDetail.find("#bigPrice").val((smallPrice*convert).toFixed(2));
      } else if(id == 'compositionPrice'){
        var cPrice = parseFloat($productDetail.find("#compositionPriceSpan").text().replace("￥", ""));
        var compositionPrice = $currentInput.val();
		if(compositionPrice < cPrice){
			$currentInput.val(cPrice);
			toastr.warning('价格不能小于标准价');
			return;
		}
      }
      
      productChange($currentInput);
  });
  
  $main.empty();
  initProduct();
  initProductComposition();
  total();
  
});

var sellerProductInfoMap = ${sellerProductInfoMap!};
var sellerProductItems = ${sellerProductItems!};
var newHtml = $(".common").eq(0).html();
var $main = $("main");

function initProduct(){
	var productList = getItemBykey("productList");

	$.each(productList, function(index, el) {
			$main.append("<div class='weui-panel weui-panel_access common'>" + newHtml + "</div>");
			var $newProductDetail = $main.find(".common:last");
			$newProductDetail.find("#productName").text(el.productName);
			$newProductDetail.find("#valueName").text(el.valueName);
	
			$newProductDetail.find("#bigPriceSpan").text(el.bigPriceSpan);
			$newProductDetail.find("#smallPriceSpan").text(el.smallPriceSpan);
			$newProductDetail.find("#bigUnitSpan").text(el.bigUnitSpan);
			$newProductDetail.find("#smallUnitSpan").text(el.smallUnitSpan);
	
			$newProductDetail.find("#bigPrice").val(el.bigPrice);
			$newProductDetail.find("#smallPrice").val(el.smallPrice);
			$newProductDetail.find("#bigUnit").val(el.bigUnit);
			$newProductDetail.find("#smallUnit").val(el.smallUnit);
			$newProductDetail.find("#sellProductId").val(el.sellProductId);
			$newProductDetail.find("#productId").val(el.productId);
			$newProductDetail.find("#convert").val(el.convert);
			
			$newProductDetail.find("#bigNum").val(el.bigNum);
			$newProductDetail.find("#smallNum").val(el.smallNum);
	
			//是否赠品
			var $isGift = $newProductDetail.find("#isGift");
			var $addGift = $newProductDetail.find("#addGift");
			
			if(el.isGift == 1) {
				$isGift.attr('checked','checked');
				$addGift.attr('disabled', 'true');
			}
			
			$isGift.change(function() {
				if($isGift.is(':checked')) {
					if($addGift.is(':checked')) {
						$addGift.trigger('change');
					}
					$addGift[0].checked = false;
					$addGift.attr('disabled', 'true');
				} else {
					$addGift.removeAttr('disabled');
				}
				productChange($isGift);
			});
			

			//添加赠品
			$newProductDetail.find("#giftProduct").select({
				title: "选择商品",
				items: sellerProductItems,
				onChange: function(obj){
					var $gift = $(this)[0].$input.parent().parent().parent();
					var product = sellerProductInfoMap[obj.values].columns;

					selectGift($gift, product)
				}
			});

			//默认商品
			$newProductDetail.find("#isDefault").change(function() {
				var $this = $(this);
				var $gift = $this.parent().parent().parent();
				var $giftProduct = $gift.find("#giftProduct");

				if($this.is(':checked')) {
					var sellProductId = $gift.parent().find("#sellProductId").val();
					var product = sellerProductInfoMap[sellProductId].columns;
					
					$giftProduct.val(product.custom_name);
					$giftProduct.attr('data-values', product.sell_product_id);
					$giftProduct.attr('disabled', 'true');

					selectGift($gift, product);
				}else{
					$giftProduct.removeAttr('disabled');
				}
			
			});

			//赠品
			var sub = el.subProduct[0];
			if(sub.sellProductId != ""){
				$newProductDetail.find("#addGift").attr("checked",'true').trigger("change");

				//默认
				if($newProductDetail.find("#sellProductId").val() == sub.sellProductId){
					$newProductDetail.find("#isDefault").attr("checked","true");
					$newProductDetail.find("#giftProduct").attr('disabled', 'true');
				}

				$newProductDetail.find("#giftProduct").val(sub.productName);
				$newProductDetail.find("#giftSellProductId").val(sub.sellProductId);
				$newProductDetail.find("#giftProductId").val(sub.productId);
				$newProductDetail.find("#giftConvert").val(sub.convert);
				$newProductDetail.find("#giftBigPrice").val(sub.bigPrice);
				
				var $giftUnitName = $newProductDetail.find("#giftUnitName");

				initGiftUnitName($giftUnitName, sellerProductInfoMap[sub.sellProductId].columns);

				//数量
				if(sub.bigNum > 0 && sub.bigUnit){
					$newProductDetail.find("#giftNum").val(sub.bigNum);
					$giftUnitName.val(sub.bigUnitSpan);
					$giftUnitName.attr('data-values', "bigUnit");
					$newProductDetail.find("#giftUnit").val("bigUnit");
				}else{
					$newProductDetail.find("#giftNum").val(sub.smallNum);
					$giftUnitName.val(sub.smallUnitSpan);
					$giftUnitName.attr('data-values', "smallUnit");
					$newProductDetail.find("#giftUnit").val("smallUnit");
				}
			}
	});
}

function selectGift($gift, product){

	$gift.find("#giftSellProductId").val(product.sell_product_id);
	$gift.find("#giftProductId").val(product.product_id);
	$gift.find("#giftConvert").val(product.convert_relate);
	$gift.find("#giftBigPrice").val(product.price);
	
	var $giftUnitName = $gift.find("#giftUnitName");
	initGiftUnitName($giftUnitName, product);

	//赋初始值
	$giftUnitName.val(product.big_unit);
	$giftUnitName.attr('data-values', "bigUnit");
	$gift.find("#giftUnit").val("bigUnit");
	
	productChange($gift);
}

function initGiftUnitName(obj, product) {
	obj.select({
				title: "单位", 
				items: [{title: product.big_unit, value: "bigUnit"}, 
						{title: product.small_unit, value: "smallUnit"}],
				onChange : function(data) {
						var $gift = $(this)[0].$input.parent().parent().parent();
						$gift.find("#giftUnit").val(data.values);

						productChange($gift);
				}
			});
}

var compositionHtml = $(".composition").eq(0).html();
function initProductComposition(){
	var compositionList = getItemBykey("compositionList");

	$.each(compositionList, function(index, el) {
		$main.append("<div class='weui-panel weui-panel_access composition'>" + compositionHtml + "</div>");
		var $newProductDetail = $main.find(".composition:last");
		$newProductDetail.find("#compositionName").text(el.compositionName);

		$newProductDetail.find("#compositionPriceSpan").text(el.compositionPriceSpan);

		$newProductDetail.find("#compositionPrice").val(el.compositionPrice);
		$newProductDetail.find("#compositionId").val(el.compositionId);
		
		$newProductDetail.find("#compositionNum").val(el.compositionNum);

		$newProductDetail.find("#compositionValueName").text(el.compositionValueName);
	});
}


function total(){
	var products = $(".common");
	var total = 0;
	$.each(products, function(index, el) {
		if($(el).find("#isGift").is(':checked') == false) {
			total += $(el).find("#bigNum").val() * $(el).find("#bigPrice").val();
			total += $(el).find("#smallNum").val() * $(el).find("#smallPrice").val();
		}
	});
	
	var compositions = $(".composition");
	$.each(compositions, function(index, el) {
		total += $(el).find("#compositionNum").val() * $(el).find("#compositionPrice").val();
	});
	$("#totalNum").text("共" + (products.length + compositions.length) + "款,合计:" + total + "元")

} 

function productChange(obj){
      var $el = obj.parents(".common");
      if($el.length > 0){
      	var product = getProduct($el);
      	cart.changeProduct(product);
      }else{
        var $co = obj.parents(".composition");
        if($co.length > 0){
          var composition = getComposition($co);
          cart.changeComposition(composition);
        }
      }
      
      total();
}

function getProduct($el){
	var isGift = $el.find("#isGift").is(':checked') == true ? 1 : 0;
	
	var productNameGift = "";
	var valueNameGift = "";
				
	var bigPriceSpanGift = "";
	var smallPriceSpanGift = "";
	var bigUnitSpanGift = "";
	var smallUnitSpanGift = "";
	var stockGift = "";

	var bigPriceGift = "";
	var smallPriceGift = "";
	var bigUnitGift = "";
	var smallUnitGift = "";
	var sellProductIdGift = "";
	var productIdGift = "";
	var convertGift = "";

	var bigNumGift = "";
	var smallNumGift = "";
	
	//赠品
	var flag = $el.find("#addGift").is(':checked');
	if(isGift == 0 && flag){

		var giftNum = $el.find("#giftNum").val();
		var giftUnitName = $el.find("#giftUnitName").val();
		var giftUnit = $el.find("#giftUnit").val();
		if(giftUnit == "bigUnit"){
			bigUnitSpanGift = giftUnitName;
			bigUnitGift = giftUnit;
			bigNumGift = giftNum;
		} else {
			smallUnitSpanGift = giftUnitName;
			smallUnitGift = giftUnit;
			smallNumGift = giftNum;
		}
		
		productNameGift = $el.find("#giftProduct").val();
		bigPriceGift = $el.find("#giftBigPrice").val();
		sellProductIdGift = $el.find("#giftSellProductId").val();
		productIdGift = $el.find("#giftProductId").val();
		convertGift = $el.find("#giftConvert").val();
	}
	
	
	return product = {
		productName : $el.find("#productName").text(),
		valueName : $el.find("#valueName").text(),
		
		bigPriceSpan : $el.find("#bigPriceSpan").text(),
		smallPriceSpan : $el.find("#smallPriceSpan").text(),
		bigUnitSpan : $el.find("#bigUnitSpan").text(),
		smallUnitSpan : $el.find("#smallUnitSpan").text(),
		stock : $el.find("#stock").text(),
		
		bigPrice : $el.find("#bigPrice").val(),
		smallPrice : $el.find("#smallPrice").val(),
		bigUnit : $el.find("#bigUnit").val(),
		smallUnit : $el.find("#smallUnit").val(),
		sellProductId : $el.find("#sellProductId").val(),
		productId : $el.find("#productId").val(),
		convert : $el.find("#convert").val(),

		bigNum : $el.find("#bigNum").val(),
		smallNum : $el.find("#smallNum").val(),
		isGift : isGift,
		
		subProduct : [{
			productName : productNameGift,
			valueName : valueNameGift,
					
			bigPriceSpan : bigPriceSpanGift,
			smallPriceSpan : smallPriceSpanGift,
			bigUnitSpan : bigUnitSpanGift,
			smallUnitSpan : smallUnitSpanGift,
			stock : stockGift,
			
			bigPrice : bigPriceGift,
			smallPrice : smallPriceGift,
			bigUnit : bigUnitGift,
			smallUnit : smallUnitGift,
			sellProductId : sellProductIdGift,
			productId : productIdGift,
			convert : convertGift,
	
			bigNum : bigNumGift,
			smallNum : smallNumGift,
			isGift : 1
		}]
	}
}

function getComposition($el){
	return composition = {
		compositionName : $el.find("#compositionName").text(),
		
		compositionPriceSpan : $el.find("#compositionPriceSpan").text(),
		stock : $el.find("#stock").text(),
		
		compositionPrice : $el.find("#compositionPrice").val(),
		compositionId : $el.find("#compositionId").val(),

		compositionNum : $el.find("#compositionNum").val(),
		
		compositionValueName : $el.find("#compositionValueName").text()
	}
}

function save(){
	var productList = getItemBykey("productList") == undefined ? [] : getItemBykey("productList");
	var compositionList = getItemBykey("compositionList") == undefined ? [] : getItemBykey("compositionList");

	if(productList.length == 0 && compositionList.length == 0) {
		toastr.warning("你的购物车内没有商品!"); 
		return;
	}
	window.location.href = '${CPATH}/product/order';
}
</#macro>

<@layout>
<div class="weui-content">
	<div id="shopping-cart">
		<main>
			<div class="weui-panel weui-panel_access common" style="display: none">
				<input type="hidden" id="sellProductId" value="">
				<input type="hidden" id="productId" value="">
				<input type="hidden" id="convert" value="">
				<div class="product_name" id="productName">
					35度中国劲酒_125ml_1*24
					<!-- <span class="gift-tag">赠品</span> -->
				</div>
				<div class="product_unit">
					规格：<span id="valueName">125ml</span>
					<span class="fr no-bg">是否赠品</span>
					<input type="checkbox" name="isGift" id="isGift" value="1" class="fr">
				</div>
				<div class="product_bUnit">
					<span class="price" id="bigPriceSpan">￥725</span>
					<span class="unit" id="bigUnitSpan">&nbsp;/&nbsp;件</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl" id="bigNum" >
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
					<input type="number" class="street-value bigPrice" id="bigPrice" value="720" >
				</div>
				<div class="product_mUnit">
					<span class="price" id="smallPriceSpan" >￥30</span>
					<span class="unit" id="smallUnitSpan" >&nbsp;/&nbsp;瓶</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl" id="smallNum" >
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
					<input type="number" class="street-value smallPrice" id="smallPrice" value="30" >
					<i class="icon-trash-o fr ft30 gray"></i>
				</div>
				<hr />
				<div class="gift" id="gift">
					<input type="hidden" id="giftSellProductId" value="">
					<input type="hidden" id="giftProductId" value="">
					<input type="hidden" id="giftConvert" value="">
					<input type="hidden" id="giftBigPrice" value="" >
					<div>
						<input type="checkbox" name="add-gift" id="addGift">
						<span>添加赠品</span>
					</div>
					<div style="display:none" class="select-area">
						<div class="goods">
							<span>商品</span>
							<input type="text" class="choose-good weui-input" placeholder="选择商品" id="giftProduct" readonly>
							<i class="icon-sort-desc"></i>
							<input type="checkbox" name="default-goods"  id="isDefault">
							<span>默认商品</span>
						</div>
						<div class="number">
							<span>数量</span>
							<div class="spinner">
								<div class="operate fl">
									<i class="icon-minus2"></i>
								</div>
								<input type="number" min="0" value="1" class="fl" id="giftNum" readyOnly>
								<div class="operate fl">
									<i class="icon-plus2"></i>
								</div>
							</div>
							<input type="hidden" name="giftUnit" id="giftUnit">
							<input type="text" class="choose-unit weui-input" placeholder="单位" id="giftUnitName" readonly>
							<i class="icon-sort-desc"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="weui-panel weui-panel_access composition" style="display: none">
				<input type="hidden" id="compositionId" value="">
				<div class="product_name" id="compositionName">
					35度中国劲酒_125ml_1*24
				</div>
				<div class="product_unit">
					规格：<span id="compositionValueName">125ml</span>
				</div>
				<div class="product_bUnit">
					<span class="price" id="compositionPriceSpan">￥720</span>
					<div class="spinner">
						<div class="operate fl">
							<i class="icon-minus2"></i>
						</div>
						<input type="number" min="0" value="0" class="fl" id="compositionNum" >
						<div class="operate fl">
							<i class="icon-plus2"></i>
						</div>
					</div>
					<input type="number" class="street-value" id="compositionPrice" value="720" >
					<i class="icon-trash-o fr ft30 gray"></i>
				</div>
			</div>
		</main>
		<#include "_inc/_goback.html" />
		<footer class="weui-footer weui-footer_fixed-bottom weui-flex">
			<p class="total bg-white weui-flex__item" id="totalNum">共2款，总数10件</p>
			<button id="addGoods" class="place-order yellow-button white">添加商品</button>
			<button id="placeOrder" class="place-order red-button white">下单</button>
		</footer>
	</div>
</div>
</@layout>
