<#include "_inc/_layout.html"/>
<#macro css> </#macro>

<#macro script>
$(function() {
  $(document).on("touchstart", ".icon-trash-o", function() {
    var _this = $(this);
    $.confirm("确认删除商品？", function() {
      _this.parents(".weui-panel").remove();
      total();
    }, function() {
    })
  }).on("touchstart", "#placeOrder", function () {
      save();
  }).on("touchend", ".operate:first-child", function () { //减少商品数量
      total();
  }).on("touchend", ".operate:last-child", function () { //增加商品数量
      total();
  }).on("change", "#bigPrice", function () { //改小价格
      total();
  }).on("change", "#smallPrice", function () { //改大价格
      total();
  });
  
  initProduct();
  total();
  
});

var newHtml = $(".weui-panel").eq(0).html();
var $main = $("main");

function initProduct(){
	var productList = getItemBykey("productList");
	$main.empty();
	$.each(productList, function(index, el) {
		$main.append("<div class='weui-panel weui-panel_access'>" + newHtml + "</div>");
		var $newProductDetail = $main.find(".weui-panel:last");
		$newProductDetail.find("#productName").text(el.productName);
		$newProductDetail.find("#valueName").text(el.valueName);

		$newProductDetail.find("#bigPriceSpan").text(el.bigPriceSpan);
		$newProductDetail.find("#smallPriceSpan").text(el.smallPriceSpan);
		$newProductDetail.find("#bigUnitSpan").text(el.bigUnitSpan);
		$newProductDetail.find("#smallUnitSpan").text(el.smallUnitSpan);

		$newProductDetail.find("#bigPrice").val(el.bigPrice);
		$newProductDetail.find("#smallPrice").val(el.smallPrice);
		$newProductDetail.find("#bigUnit").val(el.bigUnit);
		$newProductDetail.find("#smallUnit").val(el.smallUnit);
		$newProductDetail.find("#sellProductId").val(el.sellProductId);
		$newProductDetail.find("#productId").val(el.productId);
		$newProductDetail.find("#convert").val(el.convert);
		
		$newProductDetail.find("#bigNum").val(el.bigNum);
		$newProductDetail.find("#smallNum").val(el.smallNum);

	});
}

function total(){
	var products = $(".weui-panel");
	var total = 0;
	$.each(products, function(index, el) {
		total += $(el).find("#bigNum").val() * $(el).find("#bigPrice").val();
		total += $(el).find("#smallNum").val() * $(el).find("#smallPrice").val();
	});
	$("#totalNum").text("共" + products.length + "款,合计:" + total + "元")

} 

function save(){
	var productList = [];
	var $product = $(".weui-panel");
	$.each($product, function(index, el) {
		$el = $(el);
		var sellProductId = $el.find("#sellProductId").val();
		var bigNum = $el.find("#bigNum").val();
		var smallNum = $el.find("#smallNum").val();
		
		if(bigNum != 0 || smallNum != 0){
			productList.push({
				productName : $el.find("#productName").text(),
				valueName : $el.find("#valueName").text(),
				
				bigPriceSpan : $el.find("#bigPriceSpan").text(),
				smallPriceSpan : $el.find("#smallPriceSpan").text(),
				bigUnitSpan : $el.find("#bigUnitSpan").text(),
				smallUnitSpan : $el.find("#smallUnitSpan").text(),
				stock : $el.find("#stock").text(),
				
				bigPrice : $el.find("#bigPrice").val(),
				smallPrice : $el.find("#smallPrice").val(),
				bigUnit : $el.find("#bigUnit").val(),
				smallUnit : $el.find("#smallUnit").val(),
				sellProductId : sellProductId,
				productId : $el.find("#productId").val(),
				convert : $el.find("#convert").val(),

				bigNum : bigNum,
				smallNum : smallNum
			});
		}
	});
	
	setItemBykey("productList",productList);
	if(productList.length == 0) {
		toastr.warning("你的购物车内没有商品!"); 
		return;
	}
	window.location.href = '${CPATH}/product/order';
}
</#macro>

<@layout>
<body id="shopping-cart">
	<main>
		<div class="weui-panel weui-panel_access">
			<input type="hidden" id="sellProductId" value="">
			<input type="hidden" id="productId" value="">
			<input type="hidden" id="convert" value="">
			<div class="product_name" id="productName">
				35度中国劲酒_125ml_1*24
<!--         <span class="gift-tag">赠品</span> -->
			</div>
			<div class="product_unit">
				规格：<span id="valueName">125ml</span>
			</div>
			<div class="product_bUnit">
				<span class="price" id="bigPriceSpan">￥725</span>
				<span class="unit" id="bigUnitSpan">&nbsp;/&nbsp;件</span>
				<div class="spinner">
					<div class="operate fl">
						<i class="icon-minus2"></i>
					</div>
					<input type="number" min="0" value="0" class="fl" id="bigNum" >
					<div class="operate fl">
						<i class="icon-plus2"></i>
					</div>
				</div>
				<input type="number" class="street-value" id="bigPrice" value="720" >
			</div>
			<div class="product_mUnit">
				<span class="price" id="smallPriceSpan" >￥30</span>
				<span class="unit" id="smallUnitSpan" >&nbsp;/&nbsp;瓶</span>
				<div class="spinner">
					<div class="operate fl">
						<i class="icon-minus2"></i>
					</div>
					<input type="number" min="0" value="0" class="fl" id="smallNum" >
					<div class="operate fl">
						<i class="icon-plus2"></i>
					</div>
				</div>
				<input type="number" class="street-value" id="smallPrice" value="30" >
				<i class="icon-trash-o fr ft30 gray"></i>
			</div>
			<hr />
			<div class="gift">
				<div>
					<input type="checkbox" name="add-gift">
					<span>添加赠品</span>
				</div>
				<div style="display:none" class="select-area">
					<div class="goods">
						<span>商品</span>
						<input type="text" class="choose-good weui-input" readonly placeholder="选择商品">
						<i class="icon-sort-desc"></i>
						<input type="checkbox" name="default-goods">
						<span>默认商品</span>
					</div>
					<div class="number">
						<span>数量</span>
						<div class="spinner">
							<div class="operate fl">
								<i class="icon-minus2"></i>
							</div>
							<input type="number" min="0" value="0" class="fl" >
							<div class="operate fl">
								<i class="icon-plus2"></i>
							</div>
						</div>
						<input type="text" class="choose-unit weui-input" readonly placeholder="单位">
						<i class="icon-sort-desc"></i>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div class="hidden-menu">
		<ul>
			<li>
				<a href="${CPATH}/product/index">
				首页
				<i class="icon-home blue"></i>
				</a>
			</li>
			<li>
				<a class="goback">
				上一页
				<i class="icon-undo green"></i>
				</a>
			</li>
		</ul>
		<i class="icon-menu-open orange fr" id="button"></i>
	</div>
	<div class="layer"></div>
	<footer class="weui-footer weui-footer_fixed-bottom">
		<p class="total bg-white" id="totalNum">共2款，总数10件</p>
		<button id="placeOrder" class="place-order bg-blue white">下单</button>
	</footer>
</body>
</@layout>
