<div class="weui-tabbar">
    <a href="${CPATH}/index.html" id="tab1" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <i class="icon-home"></i>
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="${CPATH}/product.html" id="tab2" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <i class="icon-shopping-cart"></i>
        </div>
        <p class="weui-tabbar__label">产品</p>
    </a>
    <a href="${CPATH}/customer.html" id="tab3" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <i class="icon-users"></i>
        </div>
        <p class="weui-tabbar__label">客户</p>
    </a>
    <a href="${CPATH}/statistics.html" id="tab4" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <i class="icon-pie-chart"></i>
        </div>
        <p class="weui-tabbar__label">统计</p>
    </a>
    <a href="${CPATH}/my.html" id="tab5" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <i class="icon-user"></i>
        </div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>