<#include "_inc/_layout.html"/>

<#macro css>
    #customer-audit {
	    background: #f3f5f7;
	    height: inherit;
	}
	main{
		top: 0!important;
	}
</#macro>
<#macro script_import>
	<script src="${CPATH}/static/layer_mobile/layer.js"></script>
</#macro>
<#macro script>
	$(function() {
	    $("#region").select({
	        title: "选择客户区域",
	        items: ["全部", "总部-默认区域"]
	    });
	    $("#customer-type").select({
	        title: "选择客户类型",
	        items: ["全部", "团购直销", "商超"]
	    });
	    $("#if-order").select({
	        title: "是否下单",
	        items: ["全部", "是", "否"]
	    });
	});

	function doReject(url){

		layer.open({
			type: 2,
			content: '保存中...'
		});
		$.get(url ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/customer'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
				layer.closeAll();
			}
		)
	};

	function doSubmit(url) {
		layer.open({
			type: 2,
			content: '保存中...'
		});
		$.get(url ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/customer'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
				layer.closeAll();
			}
		)
	};

</#macro> 

<@layout>

<div id="customer-audit">
    <main>
        <#if todoList ??>
        <#list todoList as customer>
		<div class="weui-panel weui-panel_access">
			<div class="weui-cell weui-cell_access">
			    <a href="${CPATH}/customer/review?id=${customer.id}&taskId=${customer.taskId!}&assignee=${customer.assignee}"> 
				<div class="weui-cell__bd ft16">
					<p class="customer_name">${(customer.customer_name)!}</p>
					<div class="ft14 gray">
						<p>联系人：${(customer.contact)!} / ${(customer.mobile)!}</p>
						<p>客户类型：终端</p>
						<p>配送地址：${(customer.prov_name)!} ${(customer.city_name)!} ${(customer.country_name)!} ${(customer.address)!}</p>
						<p>
							<i class="icon-map-pin ft16 green"></i>&nbsp;&nbsp; ${(customer.location)!}
						</p>
					</div>
				</div>
				</a>
			</div>
			<div class="weui-cell weui-cell_access">
				<a class="weui-cell__bd weui-cell_link" href="${CPATH}/customer/review?id=${customer.id}&taskId=${customer.taskId!}&assignee=${customer.assignee}">变更详情</a>
				<span class="weui-cell__ft">${(customer.createTime?string('yyyy-MM-dd HH:mm'))!}</span>
			</div>
			<div class="weui-cell weui-cell_access">
				<div class="operate-btn width-100 ft14">
					<div class="button white-button fl" onclick="doReject('${CPATH}/customer/complete?id=${(customer.id)!}&taskId=${(customer.taskId)}&status=0')">拒绝</div>
					<div class="button red-button fr" onclick="doSubmit('${CPATH}/customer/complete?id=${(customer.id)!}&taskId=${(customer.taskId)}&status=1')">同意</div>
				</div>
			</div>
		</div>
		</#list>
			<#else>
				<div class="weui-loadmore weui-loadmore_line">
					<span class="weui-loadmore__tips">暂无数据</span>
				</div>
		</#if>
	</main>
    <#include "_inc/_goback.html" />
</div>
</@layout>