<#include "_inc/_layout.html"/>
<#macro title>我的待办(客户审核)</#macro>
<#macro css>
    #customer-audit {
	    background: #f3f5f7;
	    height: inherit;
	}
	main{
		top: 0!important;
		bottom: 2.25rem;
	}
	
    .weui-navbar__item.weui-bar__item--on {
        color: #ea6f5a;
        font-weight: bold;
        background-color: #fff;
    }
    
    .weui-navbar__item.weui-bar__item--on:before {
        content: "";
        width: 80px;
        height: 3px;
        background: #ea6f5a;
        position: absolute;
        left: 50%;
        margin-left: -40px;
        bottom: -1px;
        z-index: 10;
    }
    
    .weui-navbar:after {
        border-bottom: 0;
    }
    
    .weui-navbar__item:after {
        border-right: 0;
    }
</#macro>
<#macro script_import>
</#macro>
<#macro script>

	var pageNumber = 2;
	var pageSize = 10;
	var loading = false;

	var $endNode = null;
	var $loadmore = $(".weui-loadmore");

	var paramData = function() {
		return  {
			"pageNumber": pageNumber,
			"pageSize": pageSize,
		};
	}

	$(".infinite").infinite().on("infinite", function() {
		var self = this;
		$endNode = $(".weui-panel_access:last");
		$loadmore = $(self).find(".weui-loadmore");
		if ($loadmore) $loadmore.show();
		if (loading) return ;
		loading = true;

		$.ajax({
			type: "post",
			url: "${CPATH}/todo/historyAuditRefresh",
			data: paramData(),
			dataType: "json",
			success:function(data) {
				if ($loadmore) $loadmore.show();
				if (data.totalPage >= pageNumber) {
					$endNode.after(data.html);
				}
				if (data.totalPage == pageNumber) {
					$(".infinite").destroyInfinite();
					$loadmore.hide();
				}
				pageNumber++;
				loading = false;
			}
		});
	});

	function doReject(url){

		Utils.openLoadingWin('处理中...');
		$.get(url ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/customer'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
				Utils.closeLoadingWin();
			}
		)
	};

	function doSubmit(url) {
		Utils.openLoadingWin('处理中...');
		$.get(url ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/customer'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
				layer.closeAll();
			}
		)
	};

</#macro> 

<@layout>

<div class="weui-content">
    <div class="weui-tab">
        <div class="weui-navbar">
            <a class="weui-navbar__item weui-bar__item--on" href="#tab1" type="todo">待审</a>
            <a class="weui-navbar__item" href="#tab2" type="done">已审 </a>
        </div>
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                <main class="infinite">
			        <#if todoList ??>
			        <#list todoList as customer>
			        <div class="weui-panel weui-panel_access">
			            <div class="weui-cell weui-cell_access">
			                <a href="${CPATH}/customer/review?id=${customer.id}&taskId=${customer.taskId!}&assignee=${customer.assignee}"> 
			                <div class="weui-cell__bd ft16">
			                    <p class="customer_name">${(customer.customer_name)!}</p>
			                    <div class="ft14 gray">
			                        <p>联系人：${(customer.contact)!} / ${(customer.mobile)!}</p>
			                        <p>客户类型：${(customer.customerType)!}</p>
			                        <p>配送地址：${(customer.prov_name)!} ${(customer.city_name)!} ${(customer.country_name)!} ${(customer.address)!}</p>
			                        <p>
			                            <i class="icon-map-pin ft16 green"></i> ${(customer.location)!}
			                        </p>
			                    </div>
			                </div>
			                </a>
			            </div>
			            <div class="weui-cell weui-cell_access">
			                <a class="weui-cell__bd weui-cell_link" href="${CPATH}/customer/review?id=${customer.id}&taskId=${customer.taskId!}&assignee=${customer.assignee}">变更详情</a>
			                <span class="weui-cell__ft">${(customer.createTime?string('yyyy-MM-dd HH:mm'))!}</span>
			            </div>
			            <div class="weui-cell weui-cell_access">
			                <div class="operate-btn width-100 ft14">
			                    <div class="button white-button fl" onclick="doReject('${CPATH}/customer/complete?id=${(customer.id)!}&taskId=${(customer.taskId)}&status=0')">拒绝</div>
			                    <div class="button red-button fr" onclick="doSubmit('${CPATH}/customer/complete?id=${(customer.id)!}&taskId=${(customer.taskId)}&status=1')">同意</div>
			                </div>
			            </div>
			        </div>
			        </#list>
			        <#else>
		            <div class="weui-loadmore weui-loadmore_line">
		                <span class="weui-loadmore__tips">暂无数据</span>
		            </div>
			        </#if>
			    </main>
            </div>
            <div id="tab2" class="weui-tab__bd-item weui-tab__bd-item">
                <main class="infinite">
                    <#if historyList ??>
                    <#list historyList.list as customer>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-cell weui-cell_access">
                            <div class="weui-cell__bd ft16">
                                <p class="customer_name">${(customer.customer_name)!}</p>
                                <div class="ft14 gray">
                                    <p>联系人：${(customer.contact)!} / ${(customer.mobile)!}</p>
                                    <p>客户类型：${(customer.customerType)!}</p>
                                    <p>配送地址：${(customer.prov_name)!} ${(customer.city_name)!} ${(customer.country_name)!} ${(customer.address)!}</p>
                                    <p>
                                        <i class="icon-map-pin ft16 green"></i>&nbsp;&nbsp; ${(customer.location)!}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="weui-cell weui-cell_access">
			                <a class="weui-cell__bd weui-cell_link" href="${CPATH}/customer/detail?id=${customer.id}">变更详情</a>
			                <span class="weui-cell__ft">${(customer.createTime?string('yyyy-MM-dd HH:mm'))!}</span>
			            </div>
                    </div>
                    </#list>
                    </#if>
					<#if historyList??>
						<#if historyList.totalRow = 0>
							<div class="weui-loadmore weui-loadmore_line">
								<span class="weui-loadmore__tips">暂无数据</span>
							</div>
							<#elseif historyList.totalRow &gt; 10>
								<div class="weui-loadmore">
									<i class="weui-loading"></i>
									<span class="weui-loadmore__tips">正在加载</span>
								</div>
						</#if>
					</#if>
                </main>
            </div>
        </div>
    </div>    
    <#include "_inc/_goback_bottom.html" />
</div>
</@layout>