<#include "_inc/_layout.html"/>

<#macro css> </#macro>
<#macro script_import>
	<script src="${CPATH}/static/layer_mobile/layer.js"></script>
</#macro>
<#macro script>
	$(function() {

	});

	function doReject(url){

		layer.open({
			type: 2,
			content: '保存中...'
		});
		$.get(url ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/order'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
				layer.closeAll();
			}
		)
	};

	function doSubmit(url) {
		layer.open({
			type: 2,
			content: '保存中...'
		});
		$.get(url ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/order'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
				layer.closeAll();
			}
		)
	};

</#macro> 

<@layout>

<div id="customer-audit">
    <main style="top:12px">
        <#if todoList ??>
	        <#list todoList as order>
				<div class="weui-panel weui-panel_access">
					<div class="weui-cell weui-cell_access">
					    <a href="${CPATH}/customer/review?id=${order.id}&taskId=${order.taskId!}&assignee=${order.assignee}"> 
						<div class="weui-cell__bd ft14">
							<#if order.receive_type == 0>
								<span class="tag">账期</span>
							</#if>
							<span >${(order.customer_name)!}</span>
							<div class="ft12 gray">
								<p>订单号：${(order.order_sn)!}</p>
								<p>
									联系人：<span>${(order.ccontact)!} / ${(order.cmobile)!}</span>
									<span class="fr">${(order.customerTypeName)!}</span>
								</p>
								<p>
									金额：￥<span>${(order.total_amount)!}</span>
									<span class="fr" id="date">时间：${(order.create_date)!}</span>
								</p>
							</div>
						</div>
						</a>
					</div>
					<div class="weui-cell weui-cell_access">
						<a class="weui-cell__bd" style="color: gray" href="${CPATH}/customer/review?id=${order.id}&taskId=${order.taskId!}&assignee=${order.assignee}">订单详情</a>
						<span class="weui-cell__ft"></span>
					</div>
					<div class="weui-cell weui-cell_access">
						<div class="weui-flex space-between width-100 ft14">
							<div class="button white-button" onclick="doReject('${CPATH}/order/complete?id=${(order.id)!}&taskId=${(order.taskId)&pass=0')">拒绝</div>
							<div class="button blue-button" onclick="doSubmit('${CPATH}/order/complete?id=${(order.id)!}&taskId=${(order.taskId)}&pass=1')">同意</div>
						</div>
					</div>
				</div>
			</#list>
		</#if>
	</main>
    <#include "_inc/_goback.html" />
</div>
</@layout>