<#include "_inc/_layout.html"/>
<#macro title>我的待办(客户拜访)</#macro>
<#macro css>
	main{
		top: 0!important;
	}
</#macro>
<#macro script_import>
	<script src="${CPATH}/static/layer_mobile/layer.js"></script>
</#macro>
<#macro script>

	function doReject(url){

		layer.open({
			type: 2,
			content: '保存中...'
		});
		$.get(url ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/visit'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
				layer.closeAll();
			}
		)
	};

	function doSubmit(url) {
		layer.open({
			type: 2,
			content: '保存中...'
		});
		$.get(url ,
			function(res){
				if (res.errorCode == 0) {
					$.confirm({
						title: res.message,
						text: '返回列表页？',
						onOK: function () {
							location.href = '${CPATH}/todo/visit'
						},
						onCancel: function () {
							$.closeModal();
						}
					});
				} else {
					$.alert(res.message);
				}
				layer.closeAll();
			}
		)
	};

</#macro> 

<@layout>

<div class="weui-content">
<div id="customer-audit">
    <main>
        <#if page ??> <#list page.list as bean>
		<div class="weui-panel weui-panel_access">
			<div class="weui-cell weui-cell_access">
			    <a href="${CPATH}/customerVisit/review?id=${bean.id}&taskId=${bean.taskId!}&assignee=${bean.assignee}"> 
				<div class="weui-cell__bd">
					<p class="ft16">${(bean.customer_name)!}</p>
					<div class="ft14 gray">
						<p>联系人：${(bean.contact)!} / ${(bean.mobile)!}</p>
						<p>客户类型：终端</p>
						<p>配送地址：${(bean.prov_name)!} ${(bean.city_name)!} ${(bean.country_name)!} ${(bean.address)!}</p>
						<p><i class="icon-map-pin ft16 green"></i> ${(bean.location)!}</p>
					</div>
				</div>
				</a>
			</div>
			<div class="weui-cell weui-cell_access">
				<a class="weui-cell__bd weui-cell_link" href="${CPATH}/customerVisit/review?id=${bean.id}&taskId=${bean.taskId!}&assignee=${bean.assignee}">客户拜访详情</a>
				<span class="weui-cell__ft">${(bean.createTime?string('yyyy-MM-dd HH:mm'))!}</span>
			</div>
			<div class="weui-cell">
				<div class="operate-btn width-100 ft14">
					<div class="button white-button fl" onclick="doReject('${CPATH}/customerVisit/complete?id=${(bean.id)!}&taskId=${(bean.taskId)}&status=0')">拒绝</div>
					<div class="button red-button fr" onclick="doSubmit('${CPATH}/customerVisit/complete?id=${(bean.id)!}&taskId=${(bean.taskId)}&status=1')">同意</div>
				</div>
			</div>
		</div>
		</#list> </#if>
		<#if (page.totalRow = 0)>
        <div class="weui-loadmore weui-loadmore_line">
            <span class="weui-loadmore__tips">暂无数据</span>
        </div>
        <#elseif (page.totalRow > page.pageSize)>
        <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        </#if> 
	</main>
    <#include "_inc/_goback.html" />
</div>
</div>
</@layout>