<#include "_inc/_layout.html"/>
<#macro title>选择用户</#macro>
<#macro css>
    .weui-content {
        background: #fff;
    }

    .weui-panel__hd {
        font-size: 1rem;
        color: #ea6f5a;
    }
    
    .weui-cell {
        padding: .75rem;
        font-size: .8rem;
    }
</#macro>

<#macro script>
    var mobile = '${(session._logined_user.mobile)!}';
    var openid = '${(session._logined_user.wechat_open_id)!}';
    var callback = function(res) {
        if (res.errorCode == 0) {
            location.href = '${CPATH}/';
        }
    }
    
    function doChange(sellerId) {
        var url = "${CPATH}/user/change";
        Utils.ajax(url, {'mobile': mobile, 'openid': openid, 'sellerId': sellerId}, callback);
    }
    
</#macro>

<@layout>
    <div class="weui-content">
        <div class="weui-panel">
            <div class="weui-panel__hd"><i class="icon-user"></i> 选择工作身份</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <#if (session.sellerList) ??>
                        <#list (session.sellerList) as bean>
                        <a class="weui-cell weui-cell_access" href="javascript:void(0);" onclick="doChange('${(bean.seller_id)!}');">
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>${(bean.seller_name)!}</p>
                            </div>
                            <span class="weui-cell__ft"></span>
                        </a>
                        </#list>
                        </#if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</@layout>