<#include "_inc/_layout.html"/>
<#macro title>业务员报表</#macro>
<#macro css>
	a {
	   color: #337ab7;
	   text-decoration:none;
	}
	
    .report {
        font-size: 0.7rem;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    bottom: 50px;
	    overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .report .weui-panel__hd:after {
        left: 0;
        height: 0;
    }
    
    .report .weui-panel__hd.pro:after {
        content:none;
    } 
        
    p { 
    	margin:0
		}
		
		.weui-tabbar {
			position: fixed;
		}

		.overview-title span {
			bottom: 0;
		}

		.weui-flex__item {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}    
</#macro>

<#macro css_import>
<link rel="stylesheet" href="${CTPATH}/css/normalize.css">
<link rel="stylesheet" href="${CPATH}/static/bootstrap/css/bootstrap.min.css">
</#macro>
<#macro script_import>
<script type='text/javascript' src="${CTPATH}/js/echarts.min.js"></script>
</#macro>  
<#macro script>
  $(function () {
  
    $(".end-date").calendar();
    $(".begin-date").calendar();
   	$(".begin-date").val("${(startDate)!}");
   	$(".end-date").val("${(endDate)!}");
    $("#dayTag").val("${(dayTag)!}");
    
    <#if dayTag??>
	    <#if dayTag == 'today'>
	    	$(".dayTagText").text('今日')
	    <#elseif dayTag == 'yesterday'>
	    	$(".dayTagText").text('昨日')
	    <#elseif dayTag == 'week'>
	    	$(".dayTagText").text('本周')
	    <#elseif dayTag == 'lastweek'>
	    	$(".dayTagText").text('上周')
	    <#elseif dayTag == 'month'>
	    	$(".dayTagText").text('本月')
	    <#else>
	    	$(".dayTagText").text('上月')
	    </#if>
    </#if>
<!--     var startDate = $.today(); -->
<!-- 	var endDate = $.today() + ' 23:59:59';   -->
	var params = {
		"dayTag":  '${(dayTag)!}',
		"startDate": '${(startDate)!}',
		"endDate" : '${(endDate)!}',
		"userId": '${(userId)!}'
	}
	var params2 = {
		"dayTag":  '${(dayTag)!}',
		"startDate": '${(startDate)!}',
		"endDate" : '${(endDate)!}',
		"userId": '${(userId)!}',
		"isGift": 'true'
	}	  
 	orderAmount(params);
 	productCount(params);
 	giftCount(params2);
 	customerCount(params);
  })
  
  	var customerObj = [];
    function customerCount(params) {
    	$.showLoading();
		Utils.ajax('${CPATH}/report/customerCount', params, 
			function(data){
				$.hideLoading();
	            var length = data.length;
	            var $tbody = $("#customerCount tbody");
	            $tbody.empty();
	            $tbody.append("<tr><th width='60%' style='text-align:center'>客户名</th><th width='20%' style='padding: 8px 0;text-align:center'>数量(件)</th><th width='20%' style='padding: 8px 0;text-align:center'>金额(元)</th></tr>");
	            for(var i = 0; i < length; i++){
	            	var fun = "getProduct('" + data[i].customerId + "')";
	                $tbody.append("<tr onclick=" + fun +"><td><a href=\"javascript:void(0);\">" + data[i].customer_name + "</a></td><td class='t-r'>" + (data[i].productCount).toFixed(2) + "</td><td class='t-r'>" + formatNumber(data[i].totalAmount) + "</td></tr>");
	            }				
			}
		);     
    }
    
	function userClick(param) {
	    if (typeof param.seriesIndex != 'undefined') {
			var params = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val(),
				"userId": '${(userId)!}',
				"customerId": customerObj[param.name]
			}
			var params2 = {
				"dayTag":  $("#dayTag").val(),
				"startDate": $("#startDay").val(),
				"endDate" : $("#endDay").val(),
				"userId": '${(userId)!}',
				"customerId": customerObj[param.name],
				"isGift": 'true'
			}			
	    	productCount(params);
	    	giftCount(params2);
	    }
	}    
  
    function orderAmount(params) {
		Utils.ajax('${CPATH}/report/orderAmount', params, 
			function(data){
				$("#productCount").html(data.productCount+"件/");
				$("#totalCount").html(data.orderCount+"笔");
				$("#totalAmount").html(data.totalAmount+"元");
			}
		);    	
    }
    
    function productCount(params) {
    	$.showLoading();
		Utils.ajax('${CPATH}/report/productCount', params, 
			function(data){
				$.hideLoading();
	            var length = data.length;
	            var $tbody = $("#userCount tbody");
	            $tbody.empty();
	            $tbody.append("<tr><th width='60%' style='text-align:center'>产品</th><th width='20%' style='padding: 8px 0;text-align:center'>数量(件)</th><th width='20%' style='padding: 8px 0;text-align:center'>金额(元)</th></tr>");
	            for(var i = 0; i < length; i++){
	                $tbody.append("<tr><td>" + data[i].custom_name + "</td><td class='t-r'>" + (data[i].productCount).toFixed(2) + "</td><td class='t-r'>" + formatNumber(data[i].totalAmount) + "</td></tr>");
	            }			
		    }   		
		);    	
    }
    
    function giftCount(params) {
		$.showLoading();   
		Utils.ajax('${CPATH}/report/productCount', params, 
			function(data){
				$.hideLoading();
	            var length = data.length;
	            var $tbody = $("#giftCount tbody");
	            $tbody.empty();
	            $tbody.append("<tr><th width='60%' style='text-align:center'>产品</th><th width='20%' style='padding: 8px 0;text-align:center'>数量(件)</th><th width='20%' style='padding: 8px 0;text-align:center'>金额(元)</th></tr>");
	            for(var i = 0; i < length; i++){
	                $tbody.append("<tr><td>" + data[i].custom_name + "</td><td class='t-r'>" + (data[i].productCount).toFixed(2) + "</td><td class='t-r'>" + formatNumber(data[i].totalAmount) + "</td></tr>");
	            }				
		    }   		
		);    	
    }    
    
    function urlSelect(params, params2, type){
    	orderAmount(params);
    	productCount(params);
    	giftCount(params2);
    	customerCount(params);
<!--     	if (type == 'order') { -->
<!-- 			orderAmount(params); -->
<!-- 		} else { -->
<!-- 			productCount(params); -->
<!-- 			giftCount(params2); -->
<!-- 		} -->
    }
    
    function getProduct(customerId) {
		var params = {
			"dayTag":  $("#dayTag").val(),
			"startDate": $("#startDay").val(),
			"endDate" : $("#endDay").val() + ' 23:59:59',
			"userId": '${(userId)!}',
			"customerId": customerId
		}
		var params2 = {
			"dayTag":  $("#dayTag").val(),
    		"startDate": $("#startDay").val(),
			"endDate": $("#endDay").val() + ' 23:59:59',
			"userId": '${(userId)!}',
			"customerId": customerId,
			"isGift": 'true'
		}					
    	productCount(params);
    	giftCount(params2);
    }    
    
    function startDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).val(),
			"endDate": $(obj).parent().find('#endDay').val() + ' 23:59:59',
			"userId": '${(userId)!}'
		}
		var params2 = {
    		"startDate": $(obj).val(),
			"endDate": $(obj).parent().find('#endDay').val() + ' 23:59:59',
			"userId": '${(userId)!}',
			"isGift": 'true'
		}		
		urlSelect(params,params2,type); 
    }
    
    function endDaySelect(obj,type) {
		var params = {
    		"startDate": $(obj).parent().find('#startDay').val(),
			"endDate": $(obj).val() + ' 23:59:59',
			"userId": '${(userId)!}'
		}
		var params2 = {
    		"startDate": $(obj).parent().find('#startDay').val(),
			"endDate": $(obj).val() + ' 23:59:59',
			"userId": '${(userId)!}',
			"isGift": 'true'
		}		
		urlSelect(params,params2,type); 
    }    
    
 	function dayTagSelect(obj,type) {
      $.actions({
        actions: [{
          text: "今日",
          onClick: function () {
			var params = {
				"dayTag": 'today',
				"userId": '${(userId)!}'
			}
			var params2 = {
				"dayTag": 'today',
				"userId": '${(userId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type); 
            $(obj).find(".dayTagText").text('今日')
            $("#dayTag").val("today");
          }
        }, {
          text: "昨日",
          onClick: function () {
			var params = {
				"dayTag": 'yesterday',
				"userId": '${(userId)!}'
			}
			var params2 = {
				"dayTag": 'yesterday',
				"userId": '${(userId)!}',
				"isGift": 'true'
			}			
          	urlSelect(params,params2,type); 
            $(obj).find(".dayTagText").text('昨日')
            $("#dayTag").val("yesterday");
          }
        }, {
          text: "本周",
          onClick: function () {
			var params = {
				"dayTag": 'week',
				"userId": '${(userId)!}'
			}
			var params2 = {
				"dayTag": 'week',
				"userId": '${(userId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type); 			
          	$(obj).find(".dayTagText").text('本周')
          	$("#dayTag").val("week");
          }
        }, {
          text: "上周",
          onClick: function () {
			var params = {
				"dayTag": 'lastweek',
				"userId": '${(userId)!}'
			}
			var params2 = {
				"dayTag": 'lastweek',
				"userId": '${(userId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type); 
          $(obj).find(".dayTagText").text('上周')
          $("#dayTag").val("lastweek");
          }
        }, {
          text: "本月",
          onClick: function () {
			var params = {
				"dayTag": 'month',
				"userId": '${(userId)!}'
			}     
			var params2 = {
				"dayTag": 'month',
				"userId": '${(userId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type);     
         	$(obj).find(".dayTagText").text('本月')
         	$("#dayTag").val("month");
          }
        }, {
          text: "上月",
          onClick: function () {
			var params = {
				"dayTag": 'lastmonth',
				"userId": '${(userId)!}'
			}         
			var params2 = {
				"dayTag": 'lastmonth',
				"userId": '${(userId)!}',
				"isGift": 'true'
			}			
			urlSelect(params,params2,type); 			
          	$(obj).find(".dayTagText").text('上月')
          	$("#dayTag").val("lastmonth");
          }
        }]
      }); 	
 	}  
</#macro>
<@layout>
	<div class="weui-content">
		<div class="report">
			<div class="weui-panel weui-panel_access report-header">
				<div class="weui-panel__hd">
					<span class="overview-hd-title">${userName!}销售简报</span>
					<span class="briefly" onclick="dayTagSelect(this,'order')">
						<p class="dayTagText">今日</p>
						<i class="icon-angle-down"></i>
					</span>
					<input type="hidden" id="dayTag">
					<input class="weui-input end-date fr" type="text" id="endDay" onchange="endDaySelect(this,'order')" readonly="">
					<span class="overview-hd-segmenting fr"> - </span>
					<input class="weui-input begin-date fr" type="text" id="startDay" onchange="startDaySelect(this,'order')" readonly="">
				</div>
				<div class="weui-panel__bd">
					<div class="weui-flex overview-block">
						<div class="weui-flex__item">
							<div class="overview-title">
								<img src="${CTPATH}/images/order.png">
								<span>订单总数</span>
							</div>
							<div class="t-c">
								<strong id="productCount"></strong>
								<small id="totalCount"></small>
							</div>
						</div>
						<div class="weui-flex__item">
							<div class="overview-title">
								<img src="${CTPATH}/images/money.png">
								<span>订单金额</span>
							</div>
							<div class="t-c">
								<strong id="totalAmount"></strong>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="weui-panel weui-panel_access">
				<div class="weui-panel__hd t-c ft16">
					客户统计
				</div>
				<div class="weui-cells weui-cells_form mg-0">
					<div class="weui-cell" style="padding: 0">
						<table class="table table-striped table-bordered mg-0" id="customerCount">
							<tbody>

							</tbody>
						</table>
					</div>
				</div>				
			</div>
			<div class="weui-panel weui-panel_access">
				<div class="weui-panel__hd pro ft16 t-c">
					产品统计
				</div>
				<div class="weui-cells weui-cells_form mg-0">
					<div class="weui-cell" style="padding: 0">
						<table class="table table-striped table-bordered mg-0" id="userCount">
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="weui-panel weui-panel_access">
				<div class="weui-panel__hd t-c ft16">
					赠品统计
				</div>
				<div class="weui-cells weui-cells_form mg-0">
					<div class="weui-cell" style="padding: 0">
						<table class="table table-striped table-bordered mg-0" id="giftCount">
							<tbody>

							</tbody>
						</table>
					</div>
				</div>				
			</div>
		</div>
		<#include "_inc/_footer_nav.html" />
	</div>
</@layout>