<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<link rel="stylesheet" href="${CTPATH}/css/normalize.css">
	<link rel="stylesheet" href="${CTPATH}/css/weui.min.css">
	<link rel="stylesheet" href="${CTPATH}/css/jquery-weui.min.css">
	<link rel="stylesheet" href="${CTPATH}/css/icomoon.css">
	<link rel="stylesheet" href="${CTPATH}/css/unlock.css">
    <title>用户登录</title>
</head>

<body>
	<header>
		<h3><center>协同云平台</center></h3>
		<h4><center>用户登录</center></h4>
	</header>
	<form action="${CPATH}/user/login" method="post" id="form">
		<main>
			<div class="input-area">
				<div>
					<i class="icon-mobile"></i>
					<input type="text" name="username" id="phone" maxlength="11" placeholder="用户名">
					<i class="icon-times-circle"></i>
					<!-- <div id="get-code">获取验证码</div> -->
				</div>
				<div>
					<i class="icon-lock"></i>
					<input type="password" name="password" id="code" placeholder="密码" maxlength="6">
					<i class="icon-times-circle"></i>
				</div>
			</div>
			<button id="bind">登录</button>
		</main>
	</form>
</body>
<script src="${CTPATH}/js/jquery-3.2.1.min.js"></script>
<script src="${CTPATH}/js/jquery-weui.min.js"></script>
<script src="${CTPATH}/js/fastclick.js"></script>
<script src="${CTPATH}/js/comm.js"></script>
<!-- <script src="${CTPATH}/js/vconsole.min.js"></script> -->
<script>
	$(function() { 
		
		var isSend = false;
		
		var $bind = $('#bind');
	    var $form = $('#form')
		
		FastClick.attach(document.body);
		
		var param = function() {
	        return {
	            mobile: $mobile.val(),
	            code: $code.val()
	        }
	    }
		
	    function sendSms() {
	        var url = "${CPATH}/smsCode/send";
	        Utils.ajax(url, param(), null);
	    }
	    
	    function checkMobile(mobile) {
	    	var url = "${CPATH}/user/checkMobile";
	    	Utils.ajax(url, {'mobile': mobile}, mobileCallback);
	    }
	    
	    $bind.on('click', function() {
	    	$form.ajaxSubmit({
                type: "post", 
                dataType: "json", 
                success: function(data) {
                    if (data.errorCode == 0) {
                        window.location.href = "/";
                    } else {
                        alert(data.message);
                    }
                },
                error: function() {
                    alert("信息提交错误");
                }
            });
        });
        
	    var callback = function(res) {
	        if (res.errorCode == 0) {
	        	location.href = "/";
	        }
	    }
	    
	    var mobileCallback = function(res) {
	    	if (res.errorCode != 0) {
	    		$.toptip(res.message, 'error');
	    	}
	    }
		
	})
</script>

</html>