<#include "_inc/_layout.html"/>

<#macro title>用户中心</#macro>

<#macro css> </#macro>

<#macro script>
$(function() {
    $(document).on('touchend', '#service_btn', function() {
        layer.open({
			type: 1,
			title: ['消息提示',
			'border-bottom: 1px solid #eee;height:2rem;line-height:2rem'
			],
			content: '<img src="${CTPATH}/images/qrcode.png" />' +
			  '<p class="t-c ft16">服务电话：<a href="tel:027-8888888" class="blue">027-8888888</a></p>',
			anim: 'scale',
			className: 'service',
			btn: '关闭'
		});
    });
});
</#macro> 

<@layout>
<article id="my">
	<header class="user-box">
		<div class="user-info">
			<p class="seller ft16">${(session.sellerName)!}</p>
			<p class="name">${(session._logined_user.realname)!}</p>
			<p class="mobile">${(session._logined_user.mobile)!}</p>
			<a href="${CPATH}/user/config" class="change-seller">
				<span><i class="icon-cog ft20 white"></i></span>
			</a>
		</div>
		<div class="user-avatar">
			<img src="${(session._logined_user.avatar)!'${CTPATH}/images/avatar.png'}">
		</div> 
		<div class="user-statistics">
			<div class="weui-flex">
			<div class="weui-flex__item">
				<h4>订单数</h4>
				<p>${totalOrderCount!0}</p>
			</div>
			<div class="weui-flex__item"></div>
			<div class="weui-flex__item">
				<h4>客户数</h4>
				<p>${totalCustomerCount!0}</p>
			</div>
			</div>
		</div>
	</header>
	<div>
		<div class="weui-cells__title">我的待办</div>
		<div class="weui-grids">
			<a href="${CPATH}/todo/customer" class="weui-grid js_grid">
			    <span class="weui-badge empty-badge">&nbsp;</span>
				<div class="weui-grid__icon">
					<i class="icon-user" style="color: #9c89b9"></i>
				</div>
				<p class="weui-grid__label">客户审核</p>
			</a>
			<a href="${CPATH}/todo/order" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-file-text" style="color: #19c594"></i>
				</div>
				<p class="weui-grid__label">订单审核</p>
			</a>
			<a href="${CPATH}/todo/visit" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-suitcase" style="color: #f7b55d;"></i>
				</div>
				<p class="weui-grid__label">拜访审核</p>
			</a>
		</div>
		<div class="weui-cells__title">我的订单</div>
		<div class="weui-grids">
			<a href="${CPATH}/order/myOrder" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-file" style="color: #9c89b9"></i>
				</div>
				<p class="weui-grid__label">我的订单</p>
			</a>
			<a href="${CPATH}/refund/myRefund" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-check-square-o" style="color: #19c594"></i>
				</div>
				<p class="weui-grid__label">退货订单</p>
			</a>
			<a class="weui-grid js_grid" href="${CPATH}/refund/index">
				<div class="weui-grid__icon">
					<i class="icon-paper" style="color: #f7b55d;"></i>
				</div>
				<p class="weui-grid__label">申请退货</p>
			</a>
			<a class="weui-grid js_grid" href="${CPATH}/inventory/inventory" >
				<div class="weui-grid__icon">
					<i class="icon-database" style="color: #f1745e;"></i>
				</div>
				<p class="weui-grid__label">库存详情</p>
			</a>
		</div>
		<!-- <div class="weui-cells__title">营销活动</div>
		<div class="weui-grids">
			<a href="./activityList.html" class="weui-grid js_grid"> <span
				class="weui-badge empty-badge">&nbsp;</span>
				<div class="weui-grid__icon">
					<i class="icon-file-text blue"></i>
				</div>
				<p class="weui-grid__label">活动列表</p>
			</a> <a href="./applicationRecord.html" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-table" style="color: #ffa042"></i>
				</div>
				<p class="weui-grid__label">申请记录</p>
			</a> <a href="./feeApplication.html" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-tasks" style="color: #19c594;"></i>
				</div>
				<p class="weui-grid__label">费用申请</p>
			</a> <a href="./feeAuditList.html" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-exchange" style="color: #f1745e;"></i>
				</div>
				<p class="weui-grid__label">费用审批</p>
			</a> <a class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-envelope-o" style="color: #5F97F4;"></i>
				</div>
				<p class="weui-grid__label">结案</p>
			</a> <a class="weui-grid js_grid"> <span
				class="weui-badge left-top-tag">NEW</span>
				<div class="weui-grid__icon">
					<i class="icon-air-play" style="color: #9C89B9;"></i>
				</div>
				<p class="weui-grid__label">费用核销</p>
			</a> <a class="weui-grid js_grid"> <span
				class="weui-badge left-top-tag">NEW</span>
				<div class="weui-grid__icon">
					<i class="icon-list-alt" style="color: #f7b55d;"></i>
				</div>
				<p class="weui-grid__label">签到</p>
			</a>
		</div> -->
		<div class="weui-cells__title">客户拜访</div>
		<div class="weui-grids">
			<a href="${(CPATH)}/customerVisit" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-building" style="color: #9c89b9"></i>
				</div>
				<p class="weui-grid__label">拜访记录</p>
			</a> 
			<a href="${CPATH}/customerVisit/edit" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-plane" style="color: #19c594"></i>
				</div>
				<p class="weui-grid__label">新增拜访</p>
			</a>
		</div>
		<div class="weui-cells__title">售后服务</div>
		<div class="weui-grids">
			<a id="service_btn" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-phone-square" style="color: #9c89b9"></i>
				</div>
				<p class="weui-grid__label">服务热线</p>
			</a>
			<a href="${CPATH}/feedback" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-comment" style="color: #19c594"></i>
				</div>
				<p class="weui-grid__label">意见反馈</p>
			</a>
		</div>
	</div>
</article>
<#include "_inc/_footer_nav.html" />
</@layout>
