<#include "_inc/_layout.html"/>

<#macro title>用户中心</#macro>

<#macro css> </#macro>

<#macro script>
$(function() {
    $(document).on('click', '#service_btn', function() {
        layer.open({
			type: 1,
			title: ['消息提示',
			'border-bottom: 1px solid #eee;height:2rem;line-height:2rem'
			],
			content: '<img src="${CTPATH}/images/qrcode.png" />' +
			  '<p class="t-c ft16">服务电话：<a href="tel:027-8888888" class="blue">027-8888888</a></p>',
			anim: 'scale',
			className: 'service',
			btn: '关闭'
		});
    });
});
</#macro> 

<@layout>
<article id="my">
	<header class="user-box">
		<div class="user-info">
			<p class="seller ft16"> ${(session.sellerName)!}
			<a href="${CPATH}/user/config" class="change-seller">
				设置
			</a>
			</p>
			<div class="user-avatar">
				<img src="${(session._logined_user.avatar)!'${CTPATH}/images/avatar.png'}">
			</div>
			<p class="name">${(session._logined_user.realname)!}</p>
			<p class="mobile">${(session._logined_user.mobile)!}</p>
		</div>
	</header>
	
	<div>
		<@shiro.hasPermission name="/admin/salesOrder/check,/admin/sellerCustomer/audit,/admin/customerVisit/audit,/admin/activityApply/check">
		<div class="weui-cells__title">我的待办</div>
		<div class="weui-grids">
			<@shiro.hasPermission name="/admin/salesOrder/check">
			<a href="${CPATH}/todo/order" class="weui-grid js_grid">
				<#if (orderTotal??) && (orderTotal != 0)>
				<span class="weui-badge full-badge">${orderTotal!0}</span></#if>
				<div class="weui-grid__icon">
					<i class="icon-calendar-check-o"></i>
				</div>
				<p class="weui-grid__label">订单审核</p>
			</a>
			</@shiro.hasPermission>
			<@shiro.hasPermission name="/admin/sellerCustomer/audit">
			<a href="${CPATH}/todo/customer" class="weui-grid js_grid">
				<#if (customerTotal??) && (customerTotal != 0)>
			    <span class="weui-badge full-badge">${customerTotal!0}</span></#if>
				<div class="weui-grid__icon">
					<i class="icon-user"></i>
				</div>
				<p class="weui-grid__label">客户审核</p>
			</a>
			</@shiro.hasPermission>
			<@shiro.hasPermission name="/admin/customerVisit/audit">
			<a href="${CPATH}/todo/visit" class="weui-grid js_grid">
				<#if (customerVisitTotal??) && (customerVisitTotal != 0)>
				<span class="weui-badge full-badge">${customerVisitTotal!0}</span></#if>
				<div class="weui-grid__icon">
					<i class="icon-suitcase"></i>
				</div>
				<p class="weui-grid__label">拜访审核</p>
			</a>
			</@shiro.hasPermission>
			<@shiro.hasPermission name="/admin/activityApply/check">
			 <a href="${CPATH}/todo/activityApply" class="weui-grid js_grid">
				 <#if (activityApplyTotal??) && (activityApplyTotal !=0)>
				 <span class="weui-badge full-badge">${(activityApplyTotal)!}</span></#if>
				<div class="weui-grid__icon">
					<i class="icon-check-square-o"></i>
				</div>
				<p class="weui-grid__label">活动审核</p>
			</a>
			</@shiro.hasPermission>
		</div>
		</@shiro.hasPermission>
		
		<@shiro.hasPermission name="/admin/salesOrder,/admin/salesRefund,/admin/salesRefund/check,/admin/plans,/admin/report/inventoryDetail">
		<div class="weui-cells__title">我的订单</div>
		<div class="weui-grids">
			<@shiro.hasPermission name="/admin/salesOrder">
			<a href="${CPATH}/order/myOrder" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-file"></i>
				</div>
				<p class="weui-grid__label">我的订单</p>
			</a>
			</@shiro.hasPermission>
			
			<@shiro.hasPermission name="/admin/salesRefund">
			<a href="${CPATH}/refund/myRefund" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-exchange"></i>
				</div>
				<p class="weui-grid__label">退货订单</p>
			</a>
			</@shiro.hasPermission>
			
			<@shiro.hasPermission name="/admin/salesRefund/add">
			<a class="weui-grid js_grid" href="${CPATH}/refund/index">
				<div class="weui-grid__icon">
					<i class="icon-paper"></i>
				</div>
				<p class="weui-grid__label">申请退货</p>
			</a>
			</@shiro.hasPermission>
		</div>
		</@shiro.hasPermission>
		
		<@shiro.hasPermission name="/admin/plans">
		<div class="weui-cells__title">工作计划</div>
		<div class="weui-grids">
			<@shiro.hasPermission name="/admin/plans">
			<a href="${CPATH}/plans/myPlans" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-tasks"></i>
				</div>
				<p class="weui-grid__label">销售计划</p>
			</a>
			</@shiro.hasPermission>
		</div>
		</@shiro.hasPermission>
		
		<@shiro.hasPermission name="/admin/activityApply/add,/admin/activityApply">
		<div class="weui-cells__title">营销活动</div>
		<div class="weui-grids">
			<@shiro.hasPermission name="/admin/activityApply/add">
			<a href="${CPATH}/activity" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-tasks"></i>
				</div>
				<p class="weui-grid__label">活动申请</p>
			</a>
			</@shiro.hasPermission>
			<@shiro.hasPermission name="/admin/activityApply">
			<a href="${CPATH}/activity/applyList" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-table"></i>
				</div>
				<p class="weui-grid__label">申请记录</p>
			</a>
			</@shiro.hasPermission>
		</div>
		</@shiro.hasPermission>
			<!--
			 <a class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-envelope-o"></i>
				</div>
				<p class="weui-grid__label">结案</p>
			</a> <a class="weui-grid js_grid"> <span
				class="weui-badge left-top-tag">NEW</span>
				<div class="weui-grid__icon">
					<i class="icon-air-play"></i>
				</div>
				<p class="weui-grid__label">费用核销</p>
			</a> <a class="weui-grid js_grid"> <span
				class="weui-badge left-top-tag">NEW</span>
				<div class="weui-grid__icon">
					<i class="icon-list-alt"></i>
				</div>
				<p class="weui-grid__label">签到</p>
			</a>
		</div> -->
		<@shiro.hasPermission name="/admin/customerVisit,/admin/customerVisit/add,/admin/customerVisit/trajector">
		<div class="weui-cells__title">客户拜访</div>
		<div class="weui-grids">
			<@shiro.hasPermission name="/admin/customerVisit/add">
				<a href="${CPATH}/customerVisit/edit" class="weui-grid js_grid">
					<div class="weui-grid__icon">
						<i class="icon-plane"></i>
					</div>
					<p class="weui-grid__label">新增拜访</p>
				</a>
			</@shiro.hasPermission>
			<@shiro.hasPermission name="/admin/customerVisit">
				<a href="${(CPATH)}/customerVisit" class="weui-grid js_grid">
					<div class="weui-grid__icon">
						<i class="icon-building"></i>
					</div>
					<p class="weui-grid__label">拜访记录</p>
				</a>
			</@shiro.hasPermission>
			<@shiro.hasPermission name="/admin/customerVisit/trajector">
				<a href="${CPATH}/customerVisit/trajectory" class="weui-grid js_grid">
					<div class="weui-grid__icon"><i class="icon-line-chart"></i></div>
					<p class="weui-grid__label">拜访轨迹</p>
				</a>
			</@shiro.hasPermission>
		</div>		
		</@shiro.hasPermission>
		
		<@shiro.hasPermission name="/admin/receivables">
		<div class="weui-cells__title">账务管理</div>
		<div class="weui-grids">
			<@shiro.hasPermission name="/admin/receivables">
			<a href="${CPATH}/receivables/index" class="weui-grid js_grid">
				<div class="weui-grid__icon relative">
					<i class="icon-cc-visa" style="position: absolute;left: 50%;transform: translateX(-50%);"></i>
				</div>
				<p class="weui-grid__label">收款管理</p>
			</a>
			</@shiro.hasPermission>			
		</div>
		</@shiro.hasPermission>
		
		<div class="weui-cells__title">售后服务</div>
		<div class="weui-grids">
			<a id="service_btn" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-phone-square"></i>
				</div>
				<p class="weui-grid__label">服务热线</p>
			</a>
			<a href="${CPATH}/feedback" class="weui-grid js_grid">
				<div class="weui-grid__icon">
					<i class="icon-comment"></i>
				</div>
				<p class="weui-grid__label">意见反馈</p>
			</a>
		</div>
	</div>
</article>
<#include "_inc/_footer_nav.html" />
</@layout>
